@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketMod;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketMod/App_LocalResources/")
@AddProcessData("resourcepath", "[Token:appthemeresx]")


@{
    var info = new SimplisityInfo();
    var articleLimpet = (ArticleLimpet)Model.List.First();
    if (articleLimpet.Info != null)
    {
        info = articleLimpet.Info;
    }
    var animate = "w3-animate-right";
    if (Model.GetSettingBool("stopanimate"))
    {
        animate = "";
    }
}

    <div class=''>

        <div class="w3-row w3-padding ">
            @if (Model.GetSettingInt("datatype") == 2)
            {
                <div class="w3-col m2 w3-button rocket-buttonbar w3-khaki simplisity_click" s-cmd="rocketmodedit_editarticle" s-fields='{"track":"true"}'>@ButtonText(ButtonTypes.back)</div>
            }
            <div class="w3-col m2 w3-button rocket-buttonbar w3-green langchangesave simplisity_click" s-cmd="rocketmodedit_savearticle" s-fields='{"articleid":"@info.ItemID"}' s-post="#datasection" s-list="@Model.GetSetting("s-list-csv")">@ButtonText(ButtonTypes.save)</div>
            <div class="w3-col m2 w3-button rocket-buttonbar w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete","","confirm")" s-cmd="rocketmodedit_deletearticle" s-fields='{"articleid":"@info.ItemID"}'>@ButtonText(ButtonTypes.delete)</div>
            @if (Model.GetSettingBool("saved"))
            {
                <i class='fas fa-save w3-right rocket-buttonbar simplisity_fadeout' style="font-size:24px"></i>
            }
        </div>


        <div id="datasection" class="">
            <!-- The Detail-->
            <div id="detailDisplay" class="w3-container">
                <div id="editform">
                    [Token:AppThemeFields]
                    @RenderRocketModFields(Model, info.PortalId, info.ModuleId, info, 1)
                </div>
            </div>
        </div>
        <div>
            @if (UserUtils.IsInRole("Administrator"))
            {
                <div class="w3-container">
                    <div class="w3-right">
                        @RenderTemplateInfo("XmlModelDisplay.cshtml", info)
                    </div>
                </div>
            }
            <i>ID: </i> @info.ItemID
        </div>

        @{
            var moduleParams = new ModuleParams(info.ModuleId);
        }

        @RenderImageSelect(moduleParams.SystemKey, moduleParams.ImageFolderRel)
        @RenderDocumentSelect(info.ModuleId)

</div>

<script>
    $(document).ready(function () {

    });
</script>


