@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketMod;
@using DNNrocketAPI.Componants;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "[Token:appthemeresx]")

@{
    var articleLimpetList = (ArticleLimpetList)Model.List.First();
}
<br />
<br />

<div class="w3-row w3-margin-top">

    @foreach (var info in articleLimpetList.DataList)
    {
        <div class="w3-row w3-padding ">
            <div class="w3-col m1">
                <a class="w3-button w3-blue" href="@DetailUrl(Model,info.ItemID,info.GetXmlProperty("genxml/lang/genxml/textbox/title"))">@ResourceKey("DNNrocket.edit")</a>
            </div>
            <div class="w3-col m11">
                [Token:List]
            </div>
        </div>
    }

</div>


