@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/Country/App_LocalResources/")

@{
    var info = (SimplisityInfo)Model.List.First();
}

<span class="w3-section simplisity_buttons" id="buttonsrequired" style="display:none;">
    <button class="w3-button w3-green w3-padding-8 simplisity_click" s-cmd="settingcountry_save" s-post=".countrydata" s-fields="theme:config-w3,template:CountrySettings.cshtml,systemprovider:businessdirectory,interfacekey:settingcountry">@ResourceKey("DNNrocket.cmdSaveButton")</button>
</span>


<div class="w3-container">

    <div class="w3-container">
        <h2>@ResourceKey("country.countrysettings")</h2>

        <div class="w3-row">
            <a href="javascript:void(0)" onclick="openSection(event, 'countrylist');">
                <div class="w3-col tablink w3-bottombar w3-hover-light-blue w3-padding w3-border-blue w3-light-blue " style="width:20%"><i class="fa fa-home"></i>&nbsp;@ResourceKey("country.country")</div>
            </a>
        </div>

        <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
        <div id="countrylist" class="w3-container w3-margin tabsection" style="display:block;">

            <div class="w3-row wrapperheight">
                <div class="w3-threequarter">
                    <b>@ResourceKey("country.selectcountry")</b>
                    <input class="w3-check  checkall" type="checkbox" value="ALL">
                    <div class="w3-row">
                        @{
                            var llist = DNNrocketUtils.GetCountryCodeList();
                        }
                        @foreach (var l in llist)
                        {
                            var checkvar = "";
                            if (false == true)
                            {
                                checkvar = "checked='checked'";
                            }
                        <div class="w3-col m4">
                            <input class="w3-check countrycheckbox" type="checkbox" @checkvar value="@l.Key" name="@l.Value">
                            <label>@l.Value</label>
                        </div>
                        }
                    </div>
                </div>
                <div class="w3-quarter countrydata">
                    <b>@ResourceKey("country.selectedcountries")</b>
                    <ul id="sortable" class="w3-ul w3-border w3-theme-l3"></ul>

                    <div>
                        @TextBox(info, "genxml/textbox/testingtxt")
                    </div>
                    <div>
                        @DropDownList(info, "genxml/dropdownlist/testddl", "1,2,3", "a,b,c")
                    </div>
                    <div>
                        @RadioButtonList(info, "genxml/radiobuttonlist/testrbl", "1,2,3", "a,b,c")
                    </div>
                    <div>
                        @TextArea(info, "genxml/textbox/testingta")
                    </div>
                    <div>
                        @CheckBox(info, "genxml/checkbox/testingcb","testcb")
                    </div>
                    <div>
                        @CheckBoxList(info, "genxml/radiobuttonlist/testrbl", "1,2,3", "a,b,c")
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>


<script type="text/javascript">

    $(document).ready(function () {

        $("#sortable").sortable();
        $("#sortable").disableSelection();

        $('.countrycheckbox').unbind('click');
        $('.countrycheckbox').click(function () {
            if ($(this).is(':checked')) {
                $('#sortable').append("<li class='countrylist' countrycode='" + $(this).val() + "'>" + $(this).attr('name') + "<input id='countrycode_" + $(this).val() + "' s-list='countrylist' type='hidden' value='" + $(this).val() + "' /><input id='countrycodelang_" + $(this).val() + "' s-list='countrylist' s-update='lang' type='hidden' value='" + $(this).val() + "' /></li>")                    
            }
            else {
                $('#sortable li[countrycode="' + $(this).val()  + '"]').remove();
            }
        });

        $('.checkall').unbind('click');
        $('.checkall').click(function () {
            if ($(this).is(':checked')) {
                $('.countrycheckbox').each(function (index) {
                    if ($(this).prop('checked') == false) {
                        $(this).trigger("click")
                    }
                });
            } else {
                $('.countrycheckbox').each(function (index) {
                if ($(this).prop('checked') == true) {
                        $(this).trigger("click")
                    }
                });
            }
        });        

    });



    function openSection(evt, sectionName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("tabsection");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-border-blue", "");
            tablinks[i].className = tablinks[i].className.replace(" w3-light-blue", "");
        }
        document.getElementById(sectionName).style.display = "block";
        evt.currentTarget.firstElementChild.className += " w3-border-blue";
        evt.currentTarget.firstElementChild.className += " w3-light-blue";
    }

</script>
