@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/resx/")

@{
    var imagecount = 0;
    var w3class = "";
}

@foreach (var i in Model.Datainfo.GetList("imagelist"))
{
    if (i.GetXmlProperty("genxml/hidden/imagepath") != "")
    {
        imagecount += 1;
    }
}
@if (imagecount == 2)
{
    w3class = "w3-half";
}
@if (imagecount == 3)
{
    w3class = "w3-third";
}
@if (imagecount >= 4)
{
    w3class = "w3-quarter";
}

<div class="w3-row w3-padding">
    @HtmlOf(Model.Datainfo.GetXmlProperty("genxml/lang/genxml/textbox/richtext"))
</div>

<div class="w3-row">
    @foreach (var i in Model.Datainfo.GetList("imagelist"))
    {
        var imagewidth = i.GetXmlPropertyInt("genxml/textbox/widthimagepath");
        var imageheight = i.GetXmlPropertyInt("genxml/textbox/heightimagepath");
        var imagealt = i.GetXmlPropertyInt("genxml/textbox/altimagepath");
        var imagepath = i.GetXmlProperty("genxml/hidden/imagepath");
        if (imagepath != "")
        {
            <div class="@w3class">
                <img src="/DesktopModules/DNNrocket/API/DNNrocketThumb.ashx?src=@imagepath&w=@imagewidth&h=@imageheight" alt="@imagealt" />
            </div>
        }
    }
</div>

