<div class='w3-row'>
	<div class='w3-col m3 w3-padding'>
		<label>44444444.Text</label>
		@ImageEditFul(info,"444444",140,140,"",False,0)
	</div>
	<div class='w3-col m1 w3-padding'>
		<label>@ResourceKey("HtmlContent.11.Text")</label>
		@TextBox(info,"genxml/textbox/11111"," class='w3-input w3-border' autocomplete='off' ","",False,0)
	</div>
	<div class='w3-col m1 w3-padding'>
		<label>@ResourceKey("HtmlContent.22.Text")</label>		&nbsp;@EditFlag()
		@TextBox(info,"genxml/textbox/222222"," class='w3-input w3-border' autocomplete='off' ","",True,0)
	</div>
	<div class='w3-col m1 w3-padding'>
		<label>3333333.Text</label>
		@TextBox(info,"genxml/textbox/3333"," class='w3-input w3-border' autocomplete='off' ","",False,0)
	</div>
</div>
