@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using DNNrocketAPI.Componants;
@using RocketForms.Componants;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketForms/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/API/App_LocalResources/")

@{
    var formData = (FormLimpet)Model.List.First();
    var info = new SimplisityInfo();
}

<h1>Form test 1</h1>

<div id="testform1_panel" class="simplisity_panel">


    <div id="testform1_datasection">

        <div class="w3-row w3-padding">
            <div class="w3-col m6">
                <label>Name</label>
                @TextBox(info, "genxml/textbox/name", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false)
            </div>
            <div class="w3-col m6 w3-padding">
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="w3-col m6">
                <label>Email</label>
                @TextBox(info, "genxml/textbox/email", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false)
            </div>
            <div class="w3-col m6 w3-padding">
            </div>
        </div>

        <div class="w3-row w3-padding">
            <div class="w3-col m6">
                <label>Test Field</label>
                @TextBox(info, "genxml/textbox/testfield", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false)
            </div>
            <div class="w3-col m6 w3-padding">
            </div>
        </div>

        <div class="w3-row w3-padding">
            <div class="w3-col m6">
                <label>Test Field2</label>
                @DropDownList(info, "genxml/dropdownlist/testfield2", "1,2,3,4", "a,b,c,d", "class='w3-input w3-border' ")
            </div>
            <div class="w3-col m6 w3-padding">
            </div>
        </div>

        <div class="w3-row w3-padding">
            <div class="w3-col m6">
                <label>Test Field3</label>
                @RadioButtonList(info, "genxml/radiobuttonlist/testfield3", "1,2,3,4", "a,b,c,d", "class='w3-input w3-border' ")
            </div>
            <div class="w3-col m6 w3-padding">
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="w3-col m6">
                <label>Test Field4</label>
                @TextArea(info, "genxml/textarea/test4", " class='w3-input w3-border' rows='4'")
            </div>
            <div class="w3-col m6 w3-padding">
            </div>
        </div>

    </div>

    <div class="w3-row w3-padding testform1_datareturn">
        <div class="w3-col m12 w3-button rocket-buttonbar w3-green simplisity_click " s-cmdurl="http://dev.rocket.com/Desktopmodules/dnnrocket/api/rocket/action" s-cmd="rocketforms_submitform" s-return=".testform1_datareturn" s-post="#testform1_datasection" s-fields='{"formid":"@formData.Info.ItemID"}'>@ButtonText(ButtonTypes.send)</div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#testform1_panel').activateSimplisityPanel()
    });
</script>


