@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using RocketMod;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocketModules/RocketMod/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocketModules/AppThemes/HtmlContent/resx/")

@{
    var moduleData = (ModuleData)Model.List.First();

}


<span class="w3-section simplisity_buttons">
    <a class="w3-button w3-pale-yellow w3-padding-8" onclick="location.reload();">@ResourceKey("DNNrocket.cmdCancelButton")</a>
    <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="rocketmod_add" s-fields="tabid:@(moduleData.TabId),moduleid:@(moduleData.ModuleId),selecteditemid:@moduleData.ItemId,interfacekey:edit">@ResourceKey("DNNrocket.cmdAddButton")</a>
    <button class="w3-button w3-green w3-padding-8 simplisity_langchange simplisity_click rocketmodsavebutton" s-cmd="rocketmod_save" s-fields="tabid:@(moduleData.TabId),moduleid:@(moduleData.ModuleId),selecteditemid:@moduleData.ItemId,interfacekey:edit" s-post="#datasection" s-list=".settingsdata">@ResourceKey("DNNrocket.cmdSaveButton")</button>
    <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="databin" s-return="#datalist" s-removelist=".settingsdata" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
</span>

<div id="datasection">

    <div class="w3-padding w3-rest">
        <h2>Data section</h2>
        <div class="w3-row">
            <div class="w3-padding w3-col m2">
                <label class="">@ResourceKey("RocketPayForm.ref")</label>
                @TextBox(moduleData.Data.Info, "genxml/textbox/href", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false)
            </div>
            <div class="w3-padding w3-col m9">
                <label class="">@ResourceKey("RocketPayForm.name")</label>&nbsp;@EditFlag()
                @TextBox(moduleData.Data.Info, "genxml/lang/genxml/textbox/hname", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", true)
            </div>
        </div>
    </div>

    <div>
        @TabSelectList(moduleData.Data.Info,"genxml/select/tabselected", " class='w3-input w3-border' ")
    </div>


    <ul id="datalist" class="w3-ul">

        @{
            var lp1 = 0;
        }
        @foreach (SimplisityInfo i in moduleData.List)
        {
            lp1 += 1;
            <li class="settingsdata w3-card w3-margin w3-display-container">
                <a href="javascript:void(0)" class="w3-display-topright"><i title="Remove" class="fas fa-arrows "></i></a>
                <a href="javascript:void(0)" class="w3-display-right simplisity_removelistitem" s-removelist=".settingsdata" s-recylebin="databin"><i title="Remove" class="fas fa-minus-square fa-fw fa-lg"></i></a>


                <div class="w3-row">
                    <div class="w3-col" style="width: 200px">

                        @ImageEdit(i, "genxml/hidden/imagerelpath", 100, 100, "", false, lp1)

                        <div class="w3-cell-bottom">
                            <br />
                        </div>
                    </div>
                    <div class="w3-padding w3-rest">
                        <div class="w3-row">
                            <div class="w3-padding w3-col m2">
                                <label class="">@ResourceKey("RocketPayForm.ref")</label>
                                @TextBox(i, "genxml/textbox/ref", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false, lp1)


                                @DocumentEdit(i,"document2", " class='w3-input w3-border' ", true,lp1)

                            </div>
                            <div class="w3-padding w3-col m9">
                                <label class="">@ResourceKey("RocketPayForm.name")</label>&nbsp;@EditFlag()
                                @TextBox(i, "genxml/lang/genxml/textbox/name", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", true, lp1)
                            </div>
                            <div class="w3-padding w3-col m1">
                                <button onclick="document.getElementById('modalPopup@(lp1)').style.display='block'" class="w3-button">
                                    <i>@ResourceKey("DNNrocket.cmdEditIcon")</i>
                                </button>
                            </div>
                        </div>
                        <div class="w3-row">


                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="modalPopup@(lp1)" class="w3-modal">
                    <div class="w3-modal-content" style="width:80%;height:80%">
                        <header class="w3-container w3-theme">
                            <span onclick="document.getElementById('modalPopup@(lp1)').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <button onclick="$('.rocketmodsavebutton').trigger('click');" class="w3-margin-top w3-margin-bottom w3-button w3-green modelsavebutton">@ResourceKey("DNNrocket.cmdSaveButton")</button>
                            <button onclick="location.reload();" class="w3-margin-top w3-margin-bottom w3-button w3-pale-yellow modelcancelbutton">@ResourceKey("DNNrocket.cmdCancelButton")</button>
                        </header>

                        <div class="w3-container ">
                            <div class="w3-container ">
                                @TextBox(i, "genxml/textbox/modeltest", " class='w3-input w3-border' autocomplete='off'", "", false, lp1)
                            </div>

                            @ImageEdit(i, "genxml/hidden/imagerelpath2", 150, 150, "", false, lp1)

                            @ImageEdit(i, "genxml/hidden/imagerelpath3", 200, 200, "", false, lp1)

                        </div>
                </div>

            </li>
        }
    </ul>

</div>

<script>
    $(document).ready(function () {
        $(':checkbox').attr('class', 'w3-check');

        $("#datalist").sortable();
        $("#datalist").disableSelection();

    });
</script>


