@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;


@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@RenderTemplate("editiframe.cshtml", "/DesktopModules/DNNrocket/rocketmod", "config-w3", Model)


@{
    var info = new SimplisityInfo();
    if (Model.List.Count > 0)
    {
        info = (SimplisityInfo)Model.List.First();
    }
}

<div class="w3-container rm-container">

    <h1>Hello New World Display!!!! </h1>
    <h1>@Model.GetSetting("addeditscript")</h1>
    <h2>
        @info.GetXmlProperty("genxml/textbox/ref")
    </h2>

    <div>
        <img src="@ThumbnailImageUrl(info.GetXmlProperty("genxml/hidden/imagerelpath"),200,200,"")" class="w3-round" alt="" />
    </div>

    <h3>
        @info.GetXmlProperty("genxml/lang/genxml/textbox/name")
    </h3>

    <h3>
        @info.GetXmlProperty("genxml/textbox/modeltest")
    </h3>

    <div class='w3-padding'>
        @HtmlOf(info.GetXmlProperty("genxml/textbox/ckeditor"))
    </div>

</div>

