@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;
@using RazorEngine.Text;


@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/resx/")

@RenderTemplate("editiframe.cshtml", "/DesktopModules/DNNrocket/rocketmod", "config-w3", Model)

<link rel="stylesheet" href="/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/css/htmlcontent2.css">


@{
    var info = new SimplisityInfo();
    if (Model.List.Count > 0)
    {
        info = (SimplisityInfo)Model.List.First();
    }

}

<div class="newspaper-wrapper newspaper-wrapper3col">


    @foreach (SimplisityInfo i in info.GetList("settingsdata"))
    {
        Model.Datainfo = i;
        var layout = i.GetXmlPropertyInt("genxml/hidden/layout");

        <div class="newspaper-wrapperdiv">

            @if (i.GetXmlProperty("genxml/lang/genxml/textbox/header") != "")
            {
                var headerstyle = i.GetXmlProperty("genxml/select/headerstyle");
                var hstart = "<" + headerstyle + ">";
                var hend = "</" + headerstyle + ">";
                @HtmlOf(hstart)@i.GetXmlProperty("genxml/lang/genxml/textbox/header")@HtmlOf(hend)
            }

            //------------------------------------------------------------

            <div class="newspaper-imgdivfloatleft">
                <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@i.GetXmlProperty("genxml/hidden/imagepath1")&w=150&h=0" alt="" />
            </div>

            @RenderTemplate("displaytext0.cshtml", "/DesktopModules/DNNrocket/AppThemes", "HtmlContent", Model)


            <div class="clearfix"></div>
        </div>
    }

</div>
