@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")

@{
    var sInfo = (SimplisityInfo)Model.List.First();
}



<input id="editlanguage" type="hidden" value="@sInfo.Lang" />
<input id="index" type="hidden" value="@sInfo.GetXmlPropertyInt("genxml/hidden/index").ToString()" />
<input id="systemprovider" type="hidden" value="systemapi" />

<input id="uilang1" type="hidden" value="@DNNrocketUtils.GetCurrentCulture()" />

<div id="plugins" class="">

    <div class="w3-card w3-light-grey w3-padding-large">

        <div class="w3-row-padding">
            <div class="w3-quarter">
                <label class="">@ResourceKey("system.ctrlkey")</label>
                @TextBox(sInfo, "genxml/textbox/ctrlkey", "class='w3-input w3-border' maxlength='50'")
            </div>
            <div class="w3-quarter">
                <label class="">@ResourceKey("system.systemname")</label>
                @TextBox(sInfo, "genxml/textbox/systemname", "class='w3-input w3-border' maxlength='50'")
            </div>
            <div class="w3-half">
                <label class="">@ResourceKey("system.adminurl")</label>
                @TextBox(sInfo, "genxml/textbox/adminurl", "class='w3-input w3-border' ", "")
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-half">
                <label class="">@ResourceKey("system.apiurl")</label>
                @TextBox(sInfo, "genxml/textbox/apiurl", "class='w3-input w3-border'  ", "")
            </div>
            <div class="w3-half">
                @if (sInfo.GetXmlProperty("genxml/textbox/adminurl") != "")
                {
                    <a class="w3-button w3-teal w3-padding-8 w3-margin-top" href="@sInfo.GetXmlProperty("genxml/textbox/adminurl")" target="_blank">@ResourceKey("DNNrocket.cmdAdminButton")</a>
                }
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-half">
                <label class="">@ResourceKey("system.licensekey")</label>
                @TextBox(sInfo, "genxml/textbox/licensekey", "class='w3-input w3-border' maxlength='250' ", "")
            </div>
            <div class="w3-half">
                <label class="">@ResourceKey("system.encryptkey")</label>
                @TextBox(sInfo, "genxml/textbox/encryptkey", "class='w3-input w3-border required' maxlength='250' ", "")
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-half">
                <label class="">@ResourceKey("system.debugmode")</label>
                @CheckBox(sInfo, "genxml/checkbox/debugmode", "")
            </div>
            <div class="w3-half">
            </div>
        </div>

        <div class="w3-row-padding w3-right-align">
            @sInfo.GUIDKey / @sInfo.ItemID
        </div>


    </div>
</div>

<span onclick="AccordianFunction('XML')" class="w3-button w3-block w3-left-align w3-pale-yellow w3-margin-top">
    <i class="w3-margin-right fas fa-caret-down"></i>XML
</span>

<div id="XML" class="w3-container-padding w3-hide w3-margin">
    <div class="w3-card-4 w3-padding w3-codespan">
        @sInfo.XMLData
    </div>
</div>

