@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using DNNrocketAPI;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")


<div class="w3-container">

    <div class="w3-row w3-padding">
        <div class="w3-col m2 w3-button w3-teal w3-margin-left simplisity_click" s-cmd="systemapi_adminaddnew" s-fields='{"theme":"config-w3","template":"Admin_SystemDetail.cshtml"}' s-return="#simplisity_startpanel">@ButtonText(ButtonTypes.add)</div>
    </div>

    <div class="w3-row-padding plugins w3-margin-top">

        <div class="w3-card">
            <header class="w3-container w3-blue">
                <h5>Rocket @ResourceKey("system.systems")</h5>
            </header>

            <table class="w3-table w3-table-all">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <td style="width:30px;"></td>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (SimplisityInfo nbi in Model.List)
                    {
                        <tr>
                            <td class="text-nowrap">@nbi.GetXmlProperty("genxml/textbox/systemname")</td>
                            <td class="text-nowrap">@nbi.GetXmlProperty("genxml/textbox/ctrlkey")</td>
                            <td style="width:30px;">@nbi.GetXmlProperty("genxml/textbox/sortorder")</td>
                            <td>
                                <a class="simplisity_click" s-cmd="systemapi_admin_getdetail" s-fields='{"track":"true","selecteditemid":"@nbi.ItemID","theme":"config-w3","template":"Admin_SystemDetail.cshtml"}' s-return="#simplisity_startpanel" href="javascript:void(0)">@ResourceKey("DNNrocket.edit", "", "Icon")</a>
                            </td><!-- editlink class added to show processing -->
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        // turn off the reload flag, which is set on adminsystem.html.
        // This flag tells the system to remember this command, if "track" param is true.
        simplisity_setParamField("reload", false);
    });


</script>
