@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using DNNrocketAPI.Componants;
@using RocketLicense.Componants;
@using DNNrocket.System;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")


@{
    var systemDataList = new SystemDataList();
    var list = systemDataList.GetSystemList();
}

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<link rel="stylesheet" href="/DesktopModules/DNNrocket/css/w3.css">
<link rel="stylesheet" href="/DesktopModules/DNNrocket/fa/css/all.min.css">
<script src="/DesktopModules/DNNrocket/js/jquery-3.3.1.min.js"></script>
<script src="/DesktopModules/DNNrocket/js/jquery-ui.min.js"></script>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<header class="w3-container ">
    <h2>@ResourceKey("system.systems")</h2>
</header>

<div id="datasection" class="w3-row w3-margin-top">

    <div class="w3-container w3-padding">

        @foreach (SimplisityInfo nbi in list)
        {
            var lp1 = 0;
            var adminurl = nbi.GetXmlProperty("genxml/textbox/adminurl");
            if (adminurl != "" && !adminurl.Contains("[")) // check for admin link without parameters (for modules)
            {
                lp1 += 1;
                var systemData = new SystemData(nbi.GetXmlProperty("genxml/textbox/ctrlkey"));
                <div class="w3-padding w3-col m2 w3-center w3-border w3-margin" style="background-color:@(systemData.Info.GetXmlProperty("genxml/textbox/colorhex"));">
                    <a href="@systemData.AdminUrl" class="" target="_blank" style="cursor:pointer;">
                        <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;height:24px;" class="w3-margin-bottom">
                            <b class=" w3-white w3-text-black w3-padding ">@systemData.SystemName</b>
                        </div>
                        <img src="@ThumbnailImageUrl(systemData.Logo,140,140)" style="width:60%;" class="w3-circle w3-hover-opacity" />
                    </a>
                </div>

            }
        }
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#updatelicensemodel').show();

    });
</script>
