@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using DNNrocketAPI.Componants;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")

@{
    var sInfo = (SimplisityInfo)Model.List.First();
}


<div class="w3-container">
    <div class="w3-margin">
        <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="systemapi_addsetting" s-fields='{"selecteditemid":"@sInfo.ItemID","theme":"config-w3","template":"Admin_SystemDetailSettings.cshtml","ajaxprovider":"systemapi"}' s-return="#settings">@ButtonText(ButtonTypes.add)</a>
        <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="settingsbin" s-return="#pluginsettings" s-removelist=".settingsdata" style="display: none;">@ButtonText(ButtonTypes.undo)</a>
    </div>

    <div class="w3-row w3-margin">

        <table id="pluginsettings" class="w3-table-all">

            <tr>
                <th class="w3-half">@ResourceKey("system.name")</th>
                <th class="w3-quarter">@ResourceKey("system.value")</th>
                <th style="width:20px;"></th>
            </tr>

            @{
                var lp3 = 0;
            }
            @foreach (var i in sInfo.GetList("settingsdata"))
            {
                lp3 += 1;

                <tr class="settingsdata">
                    <td class="w3-half">
                        @TextBox(i, "genxml/textbox/name", "class='w3-input w3-border' maxlength='250' ", "", false, lp3)
                    </td>
                    <td class="w3-quarter">
                        @TextBox(i, "genxml/textbox/value", "class='w3-input w3-border' maxlength='500' ", "", false, lp3)
                    </td>
                    <td style="width:20px;">
                        <a href="javascript:void(0)" class="simplisity_removetablerow" s-removelist=".settingsdata" s-recylebin="settingsbin"><i title="Remove" class="fas fa-minus-square fa-fw fa-lg"></i></a>
                    </td>
                </tr>

            }
        </table>

    </div>
</div>
