@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")

@{
    var sInfo = (SimplisityInfo)Model.List.First();
}

<input id="index" type="hidden" value="@sInfo.GetXmlPropertyInt("genxml/hidden/index").ToString()" />

<div id="plugins" class="">

    <div class="w3-card w3-light-grey w3-padding-large">

        <div class="w3-row-padding">
            <div class="w3-quarter">
                <label class="">@ResourceKey("system.ctrlkey")</label>
                @TextBox(sInfo, "genxml/textbox/ctrlkey", "class='w3-input w3-border' maxlength='50'")
            </div>
            <div class="w3-quarter">
                <label class="">@ResourceKey("system.systemname")</label>
                @TextBox(sInfo, "genxml/textbox/systemname", "class='w3-input w3-border' maxlength='50'")
            </div>
            <div class="w3-half">
                <label class="">@ResourceKey("system.adminurl")</label>
                @TextBox(sInfo, "genxml/textbox/adminurl", "class='w3-input w3-border' ", "")
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-half">
                <label class="">@ResourceKey("system.apiurl")</label>
                @TextBox(sInfo, "genxml/textbox/apiurl", "class='w3-input w3-border'  ", "")
            </div>
            <div class="w3-half">
                <label class="">@ResourceKey("system.defaultinterface")</label>
                @TextBox(sInfo, "genxml/textbox/defaultinterface", "class='w3-input w3-border' maxlength='350'")
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-half">
                <label class="">@ResourceKey("system.systemrelpath")</label>
                @TextBox(sInfo, "genxml/textbox/systemrelpath", "class='w3-input w3-border' maxlength='350'")
            </div>
            <div class="w3-half">
                <label class="">@ResourceKey("system.encryptkey")</label>
                @TextBox(sInfo, "genxml/textbox/encryptkey", "class='w3-input w3-border required' maxlength='250' ", "")
            </div>
        </div>

        <div class="w3-row-padding">
            <div class="w3-half">
                <label class="">@ResourceKey("system.ftproot")</label>
                @TextBox(sInfo, "genxml/textbox/ftproot", "class='w3-input w3-border' maxlength='350'", "appthemes")
            </div>
            <div class="w3-quarter">
                <br />
                @CheckBox(sInfo, "genxml/checkbox/debugmode", "&nbsp;" + ResourceKey("system.debugmode"))
            </div>
            <div class="w3-quarter">
                <br />
                @CheckBox(sInfo, "genxml/checkbox/proavailable", "&nbsp;" + ResourceKey("system.proavailable"))
            </div>
        </div>

        @if (sInfo.GetXmlProperty("genxml/textbox/adminurl") != "")
        {
            <div class="w3-row w3-padding">
                <a class="w3-button w3-teal w3-padding-8 w3-margin-top" href="@sInfo.GetXmlProperty("genxml/textbox/adminurl")" target="_blank">@ButtonText(ButtonTypes.admin)</a>
            </div>
        }

        <div class="w3-row-padding w3-right-align">
            @sInfo.GUIDKey / @sInfo.ItemID
        </div>


       </div>
</div>

<span onclick="AccordianFunction('XML')" class="w3-button w3-block w3-left-align w3-pale-yellow w3-margin-top">
    <i class="w3-margin-right fas fa-caret-down"></i>XML
</span>

<div id="XML" class="w3-container-padding w3-hide w3-margin">
    <div class="w3-card-4 w3-padding w3-codespan">
        @sInfo.XMLData
    </div>
</div>

