@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using RocketPortal.Components;
@using Simplisity;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")

@{
    var portalData = (PortalLimpet)Model.List.First();
    var info = new SimplisityInfo(portalData.Record);
    DNNrocketUtils.SetCurrentCulture(DNNrocketUtils.GetEditCulture());
    var enabledlanguages = DNNrocketUtils.GetCultureCodeList();

    var systemDataList = new SystemLimpetList();
    var systemList = systemDataList.GetSystemList();


    foreach (var systemData in portalData.SystemDataList.GetSystemActiveList())
    {
        AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/" + systemData.SystemKey + "/App_LocalResources/");
    }
    var appThemeSystem = new AppThemeSystemLimpet("rocketportal");

}

@RenderTemplate("Popups.cshtml", appThemeSystem, Model)

<div class="w3-row w3-padding">
    <div class="w3-col m10 w3-xxlarge">@portalData.EngineUrl</div>
    <div class="w3-col m2 w3-tiny w3-right w3-right-align">Id:&nbsp;@info.ItemID &nbsp; PortalId:&nbsp;@portalData.PortalId</div>
</div>


<div class="w3-row-padding w3-center w3-margin-top">

    @foreach (var systemData in portalData.SystemDataList.GetSystemActiveList())
    {
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:420px">
                <h3>@ResourceKey(systemData.SystemKey + "." + systemData.SystemKey)</h3>
                <span class="material-icons w3-margin-bottom w3-text-theme " style="font-size:120px">
                    @(systemData.Icon)
                </span>
                <p>@ResourceKey(systemData.SystemKey + ".text")&nbsp;</p>

                <div class="w3-row">

                    <a href="\@(systemData.SystemKey)" class="w3-button w3-block w3-margin-bottom w3-border w3-text-black">
                        <span class="material-icons w3-text-teal ">edit_note</span>
                        Admin
                    </a>
                    <a href="\@(systemData.SystemKey)" class="w3-button w3-block w3-margin-bottom w3-border w3-text-black">
                        <span class="material-icons w3-text-green ">auto_stories</span>
                        Documentation
                    </a>
                    <a href="\@(systemData.SystemKey)" class="w3-button w3-block w3-margin-bottom w3-border w3-text-black">
                        <span class="material-icons w3-text-green ">construction</span>
                        Upgrade
                    </a>

                </div>


            </div>
        </div>
    }

</div>

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
