@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources/")

@{
    var dataClientList = (DataClientLimpetList)Model.List.First();
    var systemDataList = new SystemLimpetList();
    var systemList = systemDataList.GetSystemActiveList();
}

<div id="portallist" class="">

    <div class="w3-bar searchdata">

        @HiddenField(new SimplisityInfo(), "genxml/hidden/page", " class='simplisity_sessionfield' s-update='ignore'", "1")

        <div class="w3-right " style=''>
            <div class="w3-bar">
                <span class="w3-bar-item w3-button clearsearch " style="display:none;" s-fields=''>@ButtonIcon(ButtonTypes.cancel)</span>
                @TextBox(new SimplisityInfo(), "genxml/textbox/searchtext", " style='height:40px;' class='w3-bar-item w3-input w3-border w3-light-grey simplisity_sessionfield actionentrykey' autocomplete='off' ")
                <span class="w3-bar-item w3-button w3-theme langchangesave simplisity_click dosearch" s-sessionfield='#searchtext,#page' s-cmd="dataclients_getlist" s-post=".searchdata" s-fields='{"track":"true"}'>@ButtonText(ButtonTypes.search)</span>
            </div>
        </div>
    </div>

    <div id="datalist" class="w3-container w3-margin-top">

        <table class="w3-table w3-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th style="width:64px;"></th>
                    <th style="width:64px;"></th>
                    <th style="width:64px;"></th>
                </tr>
            </thead>
            @foreach (DataClientLimpet dataClient in dataClientList.GetDataClientList())
            {
        <tr class="">
            <td>
                <b>
                    @dataClient.UrlWithProtocol
                </b>
                <div class="w3-tiny">
                    @dataClient.SiteKey
                </div>
            </td>
            <td>
                <span>@dataClient.ServiceData.Name</span>
            </td>
            <td>
                <b>
                    <span>@dataClient.ServiceData.EngineUrlWithProtocol</span>
                </b>
            </td>
            <td>
                <a href="@dataClient.UrlWithProtocol" target="_blank">
                    <span class="material-icons w3-button">
                        preview
                    </span>
                </a>
            </td>
            <td>
                @if (dataClient.Active)
                {
                    <span class="material-icons w3-button w3-text-green simplisity_click" s-cmd="dataclients_toggleactive" s-fields='{"portalid":"@(dataClient.PortalId)","sitekey":"@(dataClient.SiteKey)"}'>
                        toggle_on
                    </span>
                }
                else
                {
                    <span class="material-icons w3-button w3-text-red simplisity_click" s-cmd="dataclients_toggleactive" s-fields='{"portalid":"@(dataClient.PortalId)","sitekey":"@(dataClient.SiteKey)"}'>
                        toggle_off
                    </span>
                }
            </td>
            <td>
                <div class="w3-button simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete") ?" s-cmd="dataclients_delete" s-fields='{"portalid":"@(dataClient.PortalId)","sitekey":"@(dataClient.SiteKey)"}'>
                    @ButtonIcon(ButtonTypes.delete)
                </div>
            </td>
        </tr>
            }
        </table>

    </div>
</div>


<script>
    $(document).ready(function () {

        // turn off the reload flag
        simplisity_setParamField("reload", false)

        $('.clearsearch ').unbind("click");
        $('.clearsearch ').click(function () {
            $('#searchtext').val('');
            $('.clearsearch').hide();
            $('.dosearch').trigger('click');
            return false; // prevent the button click from happening
        });

        if ($('#searchtext').val() !== '') {
            //$('.dosearch').hide();
            $('.clearsearch').show();
        }

        $('.actionentrykey').unbind('keypress');
        $('.actionentrykey').on('keypress', function (e) {
            if (e.keyCode == 13) {
                $('.dosearch').trigger('click');
                return false; // prevent the button click from happening
            }
        });

        $('.actionentrykey').focus();

        // move cursor to end of line
        var tmpStr = $('.actionentrykey').val();
        $('.actionentrykey').val('');
        $('.actionentrykey').val(tmpStr);

    });

</script>


