@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>
@using RocketPortal.Components;
@using Simplisity;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources/")

@{
    var systemGlobalData = (SystemGlobalData)Model.List.First();
    var info = systemGlobalData.Info;
}


<div id="globalsettings">

    <div class="w3-bar">
        <span class="w3-padding w3-button w3-theme-action simplisity_click" s-cmd="global_globalsave" s-post="#globalsettings">@ButtonText(ButtonTypes.save)</span>

        <span class="w3-padding w3-button w3-theme-light simplisity_confirmclick" s-confirm="@ResourceKey("RP.validate")?" s-cmd="portal_validate">
            <span class="material-icons">
                verified
            </span>&nbsp;@ResourceKey("RP.validate")</span>

    </div>

    <div class="w3-row">


        <div class="w3-row">
            <div class="w3-half w3-padding">
                <label><b>@ResourceKey("DNNrocket.name")</b></label>
                @TextBox(info, "genxml/textbox/name", " class='w3-input w3-border' autocomplete='off' ")
            </div>
            <div class="w3-quarter w3-padding">
                <label><b>@ResourceKey("RP.rootdomain")</b></label>
                @TextBox(info, "genxml/textbox/rootdomain", " class='w3-input w3-border' autocomplete='off' placeholder='mydomain.com' ")
            </div>
            <div class="w3-quarter w3-padding">
                <label><b>Logo Razor Template</b></label>
                @TextBox(info, "genxml/textbox/logotemplate", " class='w3-input w3-border' autocomplete='off' ","Logo.cshtml")
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-half w3-padding">
                <div class="w3-row">
                    <div class="w3-third">
                        <label class=""><b>@ResourceKey("RP.imagetype")</b></label>
                        @DropDownList(info, "genxml/select/imagetype", "png,jpg", "png,jpg", "class='w3-input w3-border' style='width:96px'", "png")
                    </div>
                    <div class="w3-third">
                        @CheckBox(info, "genxml/checkbox/precompilerazoradmin", " Precompile Razor Admin", "class='w3-check'", true)
                    </div>
                    <div class="w3-third">
                        @CheckBox(info, "genxml/checkbox/precompilerazor", " Precompile Razor", "class='w3-check'", true)
                    </div>
                </div>
            </div>
            <div class="w3-half w3-padding">
                <label><b>Scheduler</b></label><br />
                @if (systemGlobalData.SchedulerIsInstalled)
                {
                    <span class="w3-button w3-theme-action simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.uninstall")?" s-cmd="global_uninstallscheduler">@ResourceKey("DNNrocket.uninstall")</span>
                }
                else
                {
                    <span class="w3-button w3-theme-action simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.install")?" s-cmd="global_installscheduler">@ResourceKey("DNNrocket.install")</span>
                }

                <label class="">@ResourceKey("DNNrocket.installed"):</label>
                @if (systemGlobalData.SchedulerIsInstalled)
                {
                    <span class="w3-text-green">
                        @ButtonIcon(ButtonTypes.ok)
                    </span>
                }
                else
                {
                    <span class="w3-text-red">
                        @ButtonIcon(ButtonTypes.fail)
                    </span>
                }
                <label>@ResourceKey("DNNrocket.enabled"):</label>
                @if (systemGlobalData.SchedulerIsEnabled)
                {
                    <span class="w3-text-green">
                        @ButtonIcon(ButtonTypes.ok)
                    </span>
                }
                else
                {
                    <span class="w3-text-red">
                        @ButtonIcon(ButtonTypes.fail)
                    </span>
                }
            </div>
        </div>

        @if (UserUtils.IsSuperUser())
        {
            <div class="w3-row">
                <div class="w3-third w3-padding">
                    <label>DeepL API URL</label>
                    @TextBox(info, "genxml/textbox/deeplurl", " class='w3-input w3-border' autocomplete='off' ","https://api-free.deepl.com/v2/translate")
                </div>
                <div class="w3-third w3-padding">
                    <label>DeepL AuthKey</label>
                    @TextBox(info, "genxml/textbox/deeplauthkey", " class='w3-input w3-border' autocomplete='off' ")
                </div>
                <div class="w3-third w3-padding">
                </div>
            </div>


            <div class="w3-row">
                <div class="w3-third w3-padding">
                    <div class="w3-button" onclick="rpadmin.CopyTextToClipboard($('#accesscode'))">
                        <b>@ResourceKey("RP.accesscode")</b>&nbsp;<span id="iconaccesscode" class=" action-clipboardicon">@ButtonIcon(ButtonTypes.copy)</span></div>
                    <div id="accesscode" class="w3-padding w3-light-grey w3-border" style="width:100%;word-wrap:break-word;">@(systemGlobalData.AccessCode)</div>
                </div>
                <div class="w3-third w3-padding">
                    <div class="w3-button" onclick="rpadmin.CopyTextToClipboard($('#accesspassword'))"><b>@ResourceKey("RP.accesspassword")</b>&nbsp;<span id="iconaccesspassword" class=" action-clipboardicon">@ButtonIcon(ButtonTypes.copy)</span></div>
                    <div id="accesspassword" class="w3-padding w3-light-grey w3-border" style="width:100%;word-wrap:break-word;">@(systemGlobalData.AccessPassword)</div>
                </div>
                <div class="w3-third w3-padding">
                    <div style="height:40px;">&nbsp;</div>
                    <div class="w3-button simplisity_confirmclick" s-confirm="@ResourceKey("RP.resetsecurity","","Confirm")" s-cmd="global_resetaccesscodes">
                        <b>@ResourceKey("RP.resetsecurity")</b>&nbsp;<span>@ButtonIcon(ButtonTypes.reset)</span>
                    </div>
                </div>

            </div>

            <div class="w3-row w3-padding">
                <label>Client Codes</label>
                @TextArea(info, "genxml/textbox/clientcodes", " class='w3-input w3-border action_tageditor' ")
            </div>

            <div id="actionprovider" class="w3-row w3-padding">
                <div class="w3-row">

                    <div class="w3-row">
                        <div class="w3-large"><b>@ResourceKey("RP.actionprovider")</b></div>
                    </div>

                    <div class="w3-row">
                        <div class="w3-row">
                            @ResourceKey("RP.actionprovider", "", "Help")
                        </div>
                        <div id="actionproviderdata" class="w3-row">
                            <div class="w3-third w3-padding">
                                <label>@ResourceKey("RP.assembly")</label>
                                @TextBox(info, "genxml/actionassembly", "class='w3-input w3-border' ", "")
                            </div>
                            <div class="w3-twothird w3-padding">
                                <label>@ResourceKey("RP.namespaceclass")</label>
                                @TextBox(info, "genxml/actionnamespaceclass", "class='w3-input w3-border'  ", "")
                            </div>
                            <div class="w3-row w3-padding">
                                <label>Data Params</label>
                                @TextBox(info, "genxml/actiondata", "class='w3-input w3-border'  ", "")
                            </div>
                        </div>
                        <div class="w3-row w3-padding">
                            <div class="w3-button w3-green simplisity_confirmclick" s-confirm="Execute ?" s-cmd="portal_actionprovider" s-post="#actionproviderdata" s-return="#completedmodelmsgreturn" s-fields='{"portalid":"@(info.PortalId)"}'>@ButtonText(ButtonTypes.ok)</div>
                        </div>
                    </div>

                </div>
            </div>

        }

    </div>

        <div class="w3-row w3-tiny w3-right">
            ItemId: @info.ItemID
        </div>


    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            selectMenu('global');

            $('.action_tageditor').tagEditor({
                delimiter: ', ', /* space and comma */
                removeDuplicates: true,
                forceLowercase: false,
            });
            $('.tag-editor').height(60)

        });

    </script>
