@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>
@using RocketPortal.Components;
@using Simplisity;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources/")

@{
    var systemGlobalData = (SystemGlobalData)Model.List.First();
    var info = systemGlobalData.Info;
}


<div id="globalsettings">

    <div class="w3-bar">
        <span class="w3-padding w3-button w3-theme-action simplisity_click" s-cmd="global_globalsave" s-post="#globalsettings">@ButtonText(ButtonTypes.save)</span>

        <span class="w3-padding w3-button w3-theme-light simplisity_confirmclick" s-confirm="@ResourceKey("RP.validate")?" s-cmd="portal_validate">
            <span class="material-icons">
                verified
            </span>&nbsp;@ResourceKey("RP.validate")</span>

    </div>

    <div class="w3-row">


        <div class="w3-row">
            <div class="w3-half w3-padding">
                <label><b>@ResourceKey("DNNrocket.name")</b></label>
                @TextBox(info, "genxml/textbox/name", " class='w3-input w3-border' autocomplete='off' ")
            </div>
            <div class="w3-half w3-padding">
                <label><b>@ResourceKey("RP.rootdomain")</b></label>
                @TextBox(info, "genxml/textbox/rootdomain", " class='w3-input w3-border' autocomplete='off' placeholder='toasted.site' ")
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-half w3-padding">
                <div class="w3-row">
                    <div class="w3-third">
                        <label class=""><b>@ResourceKey("RP.imagetype")</b></label>
                        @DropDownList(info, "genxml/select/imagetype", "png,jpg", "png,jpg", "class='w3-input w3-border' style='width:96px'", "png")
                    </div>
                    <div class="w3-third">
                        @CheckBox(info, "genxml/checkbox/precompilerazoradmin", " Precompile Razor Admin", "class='w3-check'", true)
                    </div>
                    <div class="w3-third">
                        @CheckBox(info, "genxml/checkbox/precompilerazor", " Precompile Razor", "class='w3-check'", true)
                    </div>
                </div>
            </div>
            <div class="w3-half w3-padding">
                <label><b>Scheduler</b></label><br />
                @if (systemGlobalData.SchedulerIsInstalled)
                {
                    <span class="w3-button w3-theme-action simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.uninstall")?" s-cmd="global_uninstallscheduler">@ResourceKey("DNNrocket.uninstall")</span>
                }
                else
                {
                    <span class="w3-button w3-theme-action simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.install")?" s-cmd="global_installscheduler">@ResourceKey("DNNrocket.install")</span>
                }

                <label class="">@ResourceKey("DNNrocket.installed"):</label>
                @if (systemGlobalData.SchedulerIsInstalled)
                {
                    <span class="w3-text-green">
                        @ButtonIcon(ButtonTypes.ok)
                    </span>
                }
                else
                {
                    <span class="w3-text-red">
                        @ButtonIcon(ButtonTypes.fail)
                    </span>
                }
                <label>@ResourceKey("DNNrocket.enabled"):</label>
                @if (systemGlobalData.SchedulerIsEnabled)
                {
                    <span class="w3-text-green">
                        @ButtonIcon(ButtonTypes.ok)
                    </span>
                }
                else
                {
                    <span class="w3-text-red">
                        @ButtonIcon(ButtonTypes.fail)
                    </span>
                }
            </div>
        </div>

        @if (UserUtils.IsSuperUser())
        {
            <div id="actionprovider" class="w3-row w3-padding">
                <div class="w3-row">

                    <div class="w3-row">
                        <div class="w3-large"><b>@ResourceKey("RP.actionprovider")</b></div>
                    </div>

                    <div class="w3-row">
                        <div class="w3-row">
                            @ResourceKey("RP.actionprovider", "", "Help")
                        </div>
                        <div id="actionproviderdata" class="w3-row">
                            <div class="w3-third w3-padding">
                                <label>@ResourceKey("RP.assembly")</label>
                                @TextBox(info, "genxml/actionassembly", "class='w3-input w3-border' ", "")
                            </div>
                            <div class="w3-twothird w3-padding">
                                <label>@ResourceKey("RP.namespaceclass")</label>
                                @TextBox(info, "genxml/actionnamespaceclass", "class='w3-input w3-border'  ", "")
                            </div>
                            <div class="w3-row w3-padding">
                                <label>Data Params</label>
                                @TextBox(info, "genxml/actiondata", "class='w3-input w3-border'  ", "")
                            </div>
                        </div>
                        <div class="w3-row w3-padding">
                            <div class="w3-button w3-green simplisity_confirmclick" s-confirm="Execute ?" s-cmd="portal_actionprovider" s-post="#actionproviderdata" s-return="#completedmodelmsgreturn" s-fields='{"portalid":"@(info.PortalId)"}'>@ButtonText(ButtonTypes.ok)</div>
                        </div>
                    </div>

                </div>
            </div>

        }

    </div>

        <div class="w3-row w3-tiny w3-right">
            ItemId: @info.ItemID
        </div>


    </div>

    <script type="text/javascript">

        $(document).ready(function () {
        });

    </script>
