@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using RocketPortal.Components;
@using Simplisity;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources/")

@{
    var portalData = (PortalLimpet)Model.List.First();
    var info = new SimplisityInfo(portalData.Record);
    var enabledlanguages = DNNrocketUtils.GetCultureCodeList();

    var appThemeSystem = (AppThemeDNNrocketLimpet)Model.GetDataObject("appthemesystem");
    var edittextbox = "disabled";
    if (UserUtils.IsSuperUser())
    {
        edittextbox = "";
    }
}

<div id="portaltab" class=" a-portaldata">

    <div id="a-showsetupbuttons">
        <div id="a-portalbuttons" class="w3-bar">
            <span class="w3-button simplisity_click" s-cmd="dashboard_get">@ButtonIcon(ButtonTypes.back)</span>
            <span class="w3-padding w3-button w3-theme-action simplisity_click" s-cmd="portal_save" s-post=".a-portaldata" s-fields='{"portalid":"@portalData.PortalId"}'>@ButtonText(ButtonTypes.save)</span>
            <a href="/sysadmin/rocketapptheme" target="_blank" class="w3-button" style="text-decoration:none;">
                <span class="material-icons">
                    movie_edit
                </span>
                @ResourceKey("RP.editapptheme")
            </a>

            @if (CacheUtils.GetCache("securitylock", "security") != null)
            {
                <span class="w3-padding w3-button simplisity_confirmclick" title="@ResourceKey("RP.resetsecurity")" s-confirm="@ResourceKey("RP.resetsecurity") ?" s-cmd="portal_resetsecurity" s-fields='{"portalid":"@(portalData.PortalId)"}'>
                    @ButtonIcon(ButtonTypes.reset) &nbsp; @ResourceKey("RP.resetsecurity")
                </span>
            }
            @if (portalData.PortalId > 0)
            {
                <span class="w3-padding w3-button w3-red w3-right" onclick="$('#portaltab').hide();$('#deleteportaltab').show();">@ButtonText(ButtonTypes.delete)</span>
            }
        </div>

    </div>

    <div class="w3-row w3-padding">
        <div class="w3-col m10 w3-xlarge">
            @if (portalData.EngineUrl != "")
            {
                <a href="@(portalData.EngineUrlWithProtocol)" target="_blank">@ButtonIcon(ButtonTypes.home)</a>
                <span>&nbsp;@(portalData.EngineUrl)</span>
            }
        </div>
        <div class="w3-col m2 w3-tiny w3-right w3-right-align w3-hide-small">Id:&nbsp;@info.ItemID &nbsp; PortalId:&nbsp;@portalData.PortalId</div>
    </div>

    @HiddenField(info, "genxml/config/securitykey")
    @HiddenField(info, "genxml/config/securitykeyedit")
    @HiddenField(info, "genxml/portaltype")

    <div class="w3-row w3-border-bottom">
        <div onclick="selectmenu('generaldata');" class="w3-col m3 w3-hover-light-grey w3-center">
            <div class="a-generaldata mitem w3-bottombar w3-border-black w3-large w3-padding">
                @ResourceKey("RP.general")
            </div>
        </div>
        <div onclick="selectmenu('systemdata');" class="w3-col m3 w3-hover-light-grey w3-center">
            <div class="a-systemdata mitem w3-bottombar w3-large w3-padding">
                @ResourceKey("DNNrocket.systems")
            </div>
        </div>
        <div onclick="selectmenu('languagesdata');" class="w3-col m3 w3-hover-light-grey w3-center">
            <div class="a-languagesdata mitem w3-bottombar w3-large w3-padding">
                @ResourceKey("RP.languages")
            </div>
        </div>
        <div onclick="selectmenu('managerdata');" class="w3-col m3 w3-hover-light-grey w3-center">
            <div class="a-managerdata mitem w3-bottombar w3-large w3-padding">
                @ResourceKey("DNNrocket.managers")
            </div>
        </div>
    </div>

    <div id="generaldata" class="w3-row w3-padding">
            <div class="w3-row w3-padding">
                <label><b>@ResourceKey("RP.name")</b></label>
                @TextBox(info, "genxml/textbox/name", " class='w3-input w3-border' autocomplete='off' ")
            </div>

            <div class="w3-row">
                <div class="w3-col m2 w3-padding" style="width:120px;">
                    <label class=""><b>@ResourceKey("RP.protocol")</b></label>
                    @DropDownList(info, "genxml/select/protocol", "https://,http://", "https://,http://", "class='w3-input w3-border'")
                </div>
                <div class="w3-rest w3-padding">
                    <label><b>@ResourceKey("RP.serviceurl")</b></label>
                    @TextBox(info, "genxml/textbox/engineurl", " class='w3-input w3-border' " + edittextbox + " autocomplete='off' ")
                </div>
            </div>

            <div class="w3-row w3-padding">
                <label class=""><b>@ResourceKey("DNNrocket.colortheme") (Admin)</b></label>
                @FileSelectList(info, "genxml/select/colortheme", DNNrocketUtils.MapPath("/DesktopModules/DNNrocket/API/Themes/config-w3/1.0/css"), "class='w3-input w3-border'")
            </div>

            <div class="w3-row w3-padding">
                <i>@ResourceKey("RP.securitycode", "", "Help")</i>
                <br />
                <div class="w3-button" onclick="rpadmin.CopyTextToClipboard($('#secretcode'))"><b>@ResourceKey("RP.securitycode")</b>&nbsp;<span id="iconsecretcode" class=" action-clipboardicon">@ButtonIcon(ButtonTypes.copy)</span></div>
            <span class="w3-button w3-padding w3-pale-red simplisity_confirmclick" s-cmd="portal_resetcodes" s-fields='{"portalid":"@portalData.PortalId"}' s-confirm="@ResourceKey("RP.resetwebservicecode","","Confirm")" title="@ResourceKey("RP.resetwebservicecode")">@ButtonIcon(ButtonTypes.refresh)</span>
                <div id="secretcode" class="w3-padding w3-light-grey w3-border" style="width:100%;word-wrap:break-word;">@(portalData.RemoteBase64Params())</div>
            </div>

            @if (UserUtils.IsSuperUser())
            {
                <div class="w3-row w3-padding">
                    <label><b>Roles</b></label><br />
                    <span class="w3-button w3-theme-action simplisity_confirmclick" s-confirm="Install Default Roles?" s-cmd="global_defaultroles" s-post="#globalsettings">Create Default Roles</span>
                    <label class="">@ResourceKey("DNNrocket.installed"):</label>
                    @if (DNNrocketUtils.DefaultRoleExist(portalData.PortalId))
                    {
                        <span class="w3-text-green">
                            @ButtonIcon(ButtonTypes.ok)
                        </span>
                    }
                    else
                    {
                        <span class="w3-text-red">
                            @ButtonIcon(ButtonTypes.fail)
                        </span>
                    }
                </div>
            }
    </div>

    <div id="systemdata" class="w3-row w3-padding" style="display:none;">
        @RenderTemplate("PortalSystems.cshtml", appThemeSystem, Model)
    </div>


    <div id="languagesdata" class="w3-row w3-padding" style="display:none;">
        @RenderTemplate("PortalLanguages.cshtml", appThemeSystem, Model)
    </div>

    <div id="managerdata" class="w3-row w3-padding" style="display:none;">
        @RenderTemplate("PortalUsers.cshtml", appThemeSystem, Model)
    </div>

    <div id="setupdata" class="w3-row w3-padding">

    </div>



</div>

    <div id="deleteportaltab" class="" style="display:none;">
        <div class="w3-bar">
            <span class="w3-button" onclick="$('#deleteportaltab').hide();$('#portaltab').show();">@ButtonIcon(ButtonTypes.back)</span>
        </div>

        <div class="w3-row">

            <div class="w3-quarter">
                &nbsp;
            </div>
            <div class="w3-half">

                <div class="w3-panel w3-red w3-margin">
                    <h2>@ResourceKey("DNNrocket.danger")</h2>
                    <p>@ResourceKey("RP.deleteportal", "", "Msg")</p>
                </div>
                <div class="w3-container w3-margin-top">
                    <div class="w3-half w3-xlarge">
                        <input value="@GeneralUtils.GetRandomKey(6)" id="confirmation1" class="w3-right w3-input w3-border w3-center" disabled autocomplete="off" s-update="ignore" type="text" style="width:200px;" />
                    </div>
                    <div class="w3-half w3-xlarge">
                        <input value="" id="confirmation2" class="w3-input w3-border" autocomplete="off" s-update="ignore" type="text" maxlength="6" style="width:200px;" />
                    </div>
                </div>

                <div class="w3-row w3-center w3-padding">
                    <span id="deleteportalbutton" class="w3-padding w3-button w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete") ?" s-cmd="portal_delete" s-fields='{"portalid":"@portalData.PortalId"}' style="display:none;">@ButtonText(ButtonTypes.delete)</span>
                </div>
            </div>
            <div class="w3-quarter">
                &nbsp;
            </div>
        </div>

        <script>
            $(document).ready(function () {

                $('#confirmation2').keyup(function (e) {
                    if ($('#confirmation1').val() == $('#confirmation2').val()) {
                        $('#deleteportalbutton').show();
                    }
                });
                $('#confirmation2').on('keypress', function (e) {
                    if (e.keyCode == 13) {
                        return false; // prevent the button click from happening
                    }
                });
                var s = simplisity_getCookieValue("rocketportal_tabselector")	
                selectmenu(s);
            });
        </script>

    </div>

    <script>

        function selectmenu(selector) {
            if (selector != null && typeof(selector) != 'undefined' && selector != '')
            {
                $('#generaldata').hide();
                $('#managerdata').hide();
                $('#systemdata').hide();
                $('#languagesdata').hide();
                $('#setupdata').hide();
                $('#actionprovider').hide();            

                $('#a-portalbuttons').show();
                $('#a-setupbuttons').hide();


                $('.mitem').removeClass('w3-border-black');
                $('.a-' + selector).addClass('w3-border-black');
                $('#' + selector).show();

                simplisity_setCookieValue("rocketportal_tabselector",selector)	
            }
        }

    </script>
