@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
@using System.IO;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources/")

@{
    var portalList = (PortalLimpetList)Model.List.First();
    var websiteBuild = (WebsiteBuild)Model.GetDataObject("websitebuild");
}

<div id="portallist" class="">

    <div class="w3-bar searchdata">

        @HiddenField(new SimplisityInfo(), "genxml/hidden/page", " class='simplisity_sessionfield' s-update='ignore'", "1")

        <button type="button" class="w3-button w3-theme-action" onclick="$('#portallist').hide();$('#portaldetaildata').show();">@ButtonText(ButtonTypes.add)</button>
        <button class="w3-button simplisity_click" title="Clear All Cache" s-cmd="dashboard_clearallcache" s-post="" s-reload="true">@ButtonIcon(ButtonTypes.refresh)</button>

        <div class="w3-right w3-hide-small w3-margin-left" style="width: 100px">
            @DropDownList(new SimplisityInfo(), "genxml/hidden/pagesize", "8,16,32,64,128", "8,16,32,64,128", "class='w3-input w3-border w3-light-grey simplisity_sessionfield simplisity_change ' s-sessionfield='#searchtext,#pagesize,#orderbyref,#page' s-cmd='portal_list' s-post='.searchdata' s-fields='{\"track\":\"true\"}'  title='" + @ResourceKey("DNNrocket.pagesize") + "'", "32")
        </div>

        <div class="w3-right " style=''>
            <div class="w3-bar">
                <span class="w3-bar-item w3-button clearsearch " style="display:none;" s-fields=''>@ButtonIcon(ButtonTypes.cancel)</span>
                @TextBox(new SimplisityInfo(), "genxml/textbox/searchtext", " style='height:40px;' class='w3-bar-item w3-input w3-border w3-light-grey simplisity_sessionfield actionentrykey' autocomplete='off' ")
                <span class="w3-bar-item w3-button w3-theme langchangesave simplisity_click dosearch" s-sessionfield='#searchtext,#pagesize,#orderbyref,#page' s-cmd="portal_list" s-post=".searchdata" s-fields='{"track":"true"}'>@ButtonText(ButtonTypes.search)</span>
            </div>
        </div>
    </div>

    <div id="datalist" class="w3-container w3-margin-top">

        <table class="w3-table w3-bordered w3-hoverable">
            <thead>
                <tr>
                    <th>@ResourceKey("RP.name")</th>
                    <th>@ResourceKey("RP.serviceurl")</th>
                </tr>
            </thead>
            @foreach (PortalLimpet portalData in portalList.GetPortalList())
            {
                if (portalData.PortalId > 0)
                {
                    <tr class="simplisity_click" s-cmd="portal_detail" s-fields='{"portalid":"@portalData.PortalId","track":"false"}' style="cursor:pointer;">
                        <td><b>@portalData.Name</b></td>
                        <td>
                            @portalData.EngineUrl
                        </td>
                    </tr>
                }
            }
        </table>

    </div>
</div>

<div id="portaldetaildata" style="display:none;">
    <div class="w3-row w3-padding">
        <div class="w3-button" onclick="$('#portaldetaildata').hide();$('#portallist').show();">@ButtonIcon(ButtonTypes.back)</div>
    </div>

    <div class="w3-quarter w3-padding">
        &nbsp;
    </div>
    <div class="w3-half w3-padding">
        @{
            var info = new SimplisityInfo();
        }
        @HiddenField(info, "genxml/hidden/buildconfig", "", "0_CDS.xml")
        <div class="w3-row w3-padding">
            <label><b>@ResourceKey("RP.name")</b></label>
            @TextBox(info, "genxml/textbox/name", " class='w3-input w3-border' autocomplete='off' ")
        </div>

        <div class="w3-row">
            <div class="w3-col m2 w3-padding" style="width:120px;">
                <label class=""><b>@ResourceKey("RP.protocol")</b></label>
                <div class='w3-input w3-border w3-light-grey'>https://</div>
            </div>
            <div class="w3-rest w3-padding">
                <label><b>@ResourceKey("RP.serviceurl")</b></label>
                @TextBox(info, "genxml/textbox/engineurl", " class='w3-input w3-border' autocomplete='off' ")
            </div>
        </div>

        <div class="w3-row w3-center">
            <div class="w3-button w3-center w3-dark-grey simplisity_click" s-cmd="portal_create" s-post="#portaldetaildata" s-reload="false">@ButtonText(ButtonTypes.create)</div>
        </div>

    </div>
    <div class="w3-quarter w3-padding">
        &nbsp;
    </div>


</div>

<script>
    $(document).ready(function () {
        $('.displayportallist').show();

        selectMenu('dashboard')

        // turn off the reload flag
        simplisity_setParamField("reload", false);

        $('.clearsearch ').unbind("click");
        $('.clearsearch ').click(function () {
            $('#searchtext').val('');
            $('.clearsearch').hide();
            $('.dosearch').trigger('click');
            return false; // prevent the button click from happening
        });

        if ($('#searchtext').val() !== '') {
            $('.clearsearch').show();
        }

        $('.actionentrykey').unbind('keypress');
        $('.actionentrykey').on('keypress', function (e) {
            if (e.keyCode == 13) {
                $('.dosearch').trigger('click');
                return false; // prevent the button click from happening
            }
        });

        $('.actionentrykey').focus();

        // move cursor to end of line
        var tmpStr = $('.actionentrykey').val();
        $('.actionentrykey').val('');
        $('.actionentrykey').val(tmpStr);

        $('.w3-radio').unbind("click");
        $('.w3-radio').click(function () {
            $('#createbutton').show();
        });

    });

</script>


