@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>
@using RocketPortal.Components;
@using DNNrocketAPI.Components;
@using Simplisity;
 
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources/")

@{
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var info = new SimplisityInfo(portalData.Record);
    var systemDataList = new SystemLimpetList();
    var systemList = systemDataList.GetSystemActiveList();
    var appThemeSystem = (AppThemeDNNrocketLimpet)Model.GetDataObject("appthemesystem");
}
<!--inject-->
<div class="w3-row w3-margin-top">

    <table class="w3-table w3-bordered ">
        <thead>
            <tr>
                <th style="width:32px;"></th>
                <th style="width:32px;">@ResourceKey("DNNrocket.setup")</th>
            </tr>
        </thead>

        @foreach (var systemData in systemList)
        {
            <tr>
                <td style="vertical-align: middle;">
                    @systemData.SystemName
                </td>
                <td style="vertical-align: middle;">
                    <div class="w3-button simplisity_click" s-after="showsystempopup" s-cmd="rocketsystem_edit" s-return=".systempopup" s-fields='{"portalid":"@portalData.PortalId","systemkey":"@systemData.SystemKey","portalsystems":"true"}'>
                        @ButtonIcon(ButtonTypes.setup)
                    </div>
                </td>
            </tr>
        }
    </table>

</div>

<script>

    function showsystempopup()
    {
        $('#systemmodal').show()
    }

</script>
                            