@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>
@using RocketPortal.Components;
@using DNNrocketAPI.Components;
@using Simplisity;
 
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources/")

@{
    var portalData = (PortalLimpet)Model.List.First();
    var info = new SimplisityInfo(portalData.Record);
    var systemDataList = new SystemLimpetList();
    var systemList = systemDataList.GetSystemActiveList();
    var appThemeSystem = (AppThemeDNNrocketLimpet)Model.GetDataObject("appthemesystem");
}

<div class="w3-row w3-margin-top">

    <table class="w3-table w3-bordered ">
        <thead>
            <tr>
                <th style="width:32px;"></th>
                <th style="width:32px;">@ResourceKey("DNNrocket.setup")</th>
            </tr>
        </thead>

        @foreach (var systemData in systemList)
        {
            <tr>
                <td style="vertical-align: middle;">
                    @CheckBox(info, "genxml/systems/" + systemData.SystemKey, "&nbsp;" + systemData.SystemName, " class='w3-check simplisity_click' s-cmd='portal_togglesystem' s-fields='{\"portalid\":\"" + portalData.PortalId + "\",\"systemkeyref\":\"" + systemData.SystemKey + "\"}' ")
                </td>
                <td style="vertical-align: middle;">
                    @if (info.GetXmlPropertyBool("genxml/systems/" + systemData.SystemKey))
                    {
                        var rCol = "w3-text-green";
                        if (!info.GetXmlPropertyBool("genxml/systems/" + systemData.SystemKey + "setup"))
                        {
                            rCol = "w3-text-red";
                        }
                        <div class="w3-button @(rCol) simplisity_click" s-after="showsystempopup" s-cmd="rocketsystem_edit" s-return=".systempopup" s-fields='{"portalid":"@portalData.PortalId","systemkey":"@systemData.SystemKey"}'>
                            @ButtonIcon(ButtonTypes.setup)
                        </div>
                    }
                    else
                    {
                        <div class="w3-button w3-text-grey">
                            @ButtonIcon(ButtonTypes.setup)
                        </div>
                    }
                </td>
            </tr>


        }
    </table>

</div>

@RenderTemplate("popups.cshtml", appThemeSystem, Model, true)

<script>

    function showsystempopup()
    {
        $('#systemmodal').show()
    }

</script>
                            