@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
@using Simplisity;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources")

@{
    var systemGloablData = new SystemGlobalData();
    var systemData = new SystemLimpet("rocketportal");
    var sessionParams = Model.SessionParamsData;
    var enabledlanguages = DNNrocketUtils.GetCultureCodeList();

}

@functions
{
    public IEncodedString GetInterfaceLink(SystemLimpet systemData, RocketInterface rinterface, bool submenu)
    {
        var rtn = "";
        if (rinterface.IsOnMenu)
        {
            var securityData = new SecurityLimpet(PortalUtils.GetPortalId(), systemData.SystemKey,rinterface,-1,-1);
            if (securityData.HasSecurityAccess(rinterface.DefaultCommand))
            {
                var interfaceName = DNNrocketUtils.GetResourceString(systemData.SystemRelPath + "/App_LocalResources", "SideMenu." + rinterface.InterfaceKey, "Text", DNNrocketUtils.GetCurrentCulture());
                if (interfaceName == "")
                {
                    interfaceName = rinterface.InterfaceKey;
                }
                if (submenu)
                {
                    rtn = "<button class='w3-bar-item w3-button w3-margin-left  simplisity_click' s-cmd='" + rinterface.DefaultCommand + "' s-fields='{\"track\":\"true\"}'><strong>" + interfaceName + "</strong></a>";
                }
                else
                {
                    rtn = "<button class='w3-bar-item w3-button w3-padding-16 simplisity_click' s-cmd='" + rinterface.DefaultCommand + "'  s-fields='{\"track\":\"true\"}'><strong><span class='material-icons'>" + rinterface.InterfaceIcon + "</span>&nbsp;" + interfaceName + "</strong></a>";
                }
            }
        }
        return new RawString(rtn);
    }
}

<nav class="w3-sidebar w3-collapse w3-card w3-theme-l4" style="width:280px;" id="mySidebar">
    <div class="w3-container w3-large" style="height:56px;">&nbsp;</div>
    <div class="w3-bar-block ">
        @{
            var groupList = systemData.GetGroups();
            groupList.Add("", ""); // add empty for root level.
        }

        @foreach (var g in groupList)
        {
            var groupref = g.Key;
            var groupicon = g.Value;
            var interfacelist = systemData.GetGroupInterfaceList(groupref);
            if (interfacelist.Count > 0)
            {
                if (groupref == "")
                {
                    // ROOT clickable
                    foreach (var r in interfacelist)
                    {
                        @GetInterfaceLink(systemData, r, false)
                    }
                }
                else
                {

                    var groupName = DNNrocketUtils.GetResourceString(systemData.SystemRelPath + "/App_LocalResources", "SideMenu." + groupref, "Text", DNNrocketUtils.GetCurrentCulture());
                    if (groupName == "")
                    {
                        groupName = groupref;
                    }

                    <div class="w3-bar-item w3-button w3-padding-16 groupmenu" groupref="@groupref"><strong><span class='material-icons'>@groupicon</span>&nbsp;@groupName</strong><span class="material-icons w3-right">expand_more</span></div>

                    <!-- SubMenu  -->
                    <div class="w3-bar-block" id="submenu@(groupref)" style="display:none;padding-bottom:16px;">
                        @foreach (var r in interfacelist)
                        {
                            @GetInterfaceLink(systemData, r, true)
                        }
                    </div>
                }
            }
        }

    </div>

    <!-- Admin Menu -->
    <div class="w3-bottom w3-theme-l5" style="width:280px;">
        <div class="w3-bar-block ">
            <button type="button" class="w3-bar-item w3-button w3-padding-16  w3-center" id="adminbtn"><span class="material-icons">more_horiz</span></button>
        </div>
        <div class="w3-bar-block w3-section" style="display:none;" id="adminmenu">
            <div class="w3-row w3-padding">
                @foreach (var l in enabledlanguages)
                {
                    var selectedcolor = "w3-theme-l5";
                    if (sessionParams.CultureCode == l)
                    {
                        selectedcolor = "w3-theme-l3";
                    }
                    <button type="button" href="javascript:void(0);" class="w3-button w3-round @(selectedcolor) " onclick="simplisity_setSessionField('culturecode', '@(l)'); location.reload();"><img src="/DesktopModules/DNNrocket/API/images/flags/16/@(l).png" class="w3-round" /></button>
                }
            </div>
        </div>
    </div>

</nav>


<script>

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}



$(document).ready(function () {
    $('#simplisity_startpanel').show();
    $('#a-displaywrapper').show();

    // Toggle Search
    $("#searchbtn").click(function () {
        $('#searchbar').slideToggle();
    });

    // Toggle SubMenu
    $(".groupmenu").click(function () {
        var groupref = $(this).attr('groupref');
        $('#submenu' + groupref).slideToggle();
    });

    // Toggle Admin Menu
    $("#adminbtn").click(function () {
        $('#adminmenu').slideToggle();
    });

    simplisity_setSessionField('culturecode', '@sessionParams.CultureCode')
    simplisity_setSessionField('culturecodeedit', '@sessionParams.CultureCodeEdit')

});
</script>


