@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using RocketMod;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocketModules/RocketMod/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/v1/resx/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")

@{
    var moduleData = (ModuleData)Model.List.First();

}


<span class="w3-section simplisity_buttons">
    <a class="w3-button w3-pale-yellow w3-padding-8" onclick="location.reload();">@ResourceKey("DNNrocket.cmdCancelButton")</a>
    <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="rocketmod_add" s-fields="tabid:@(moduleData.TabId),moduleid:@(moduleData.ModuleId),selecteditemid:@moduleData.ItemId,interfacekey:edit">@ResourceKey("DNNrocket.cmdAddButton")</a>
    <button class="w3-button w3-green w3-padding-8 simplisity_langchange simplisity_click rocketmodsavebutton" s-cmd="rocketmod_save" s-fields="tabid:@(moduleData.TabId),moduleid:@(moduleData.ModuleId),selecteditemid:@moduleData.ItemId,interfacekey:edit" s-post="#datasection" s-list=".settingsdata">@ResourceKey("DNNrocket.cmdSaveButton")</button>
    <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="databin" s-return="#datalist" s-removelist=".settingsdata" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
</span>

<div id="datasection">

    <div class="w3-padding w3-row">
        <!-- Ensure head section does NOT have the same field id (xpath) as the list -->
    </div>

    <ul id="datalist" class="w3-ul">

        @{
            var lp1 = 0;
        }
        @foreach (SimplisityInfo i in moduleData.List)
        {
            lp1 += 1;
            <li class="settingsdata w3-card w3-margin w3-display-container">

                <div class="listrow">
                    <button id="deletebutton@(lp1)" onclick="" class="w3-button w3-display-topright simplisity_removelistitem" s-removelist=".settingsdata" s-recylebin="databin">
                        <i title="Remove" class="fas fa-minus-square fa-fw fa-lg"></i>
                    </button>
                    <button id="editbutton@(lp1)" onclick="dnnrocket_showdetail(@(lp1))" class="w3-button w3-display-topleft editbutton">
                        <i class="fas fa-edit"></i>
                    </button>

                    <div class="w3-row">
                        <div class="w3-col " style="width: 50px;">
                            <span>&nbsp;</span>
                        </div>
                        <div class="w3-col " style="width: 100px;">
                            @if (i.GetXmlProperty("genxml/hidden/imagepath1") != "")
                            {
                                <img src="@ThumbnailImageUrl(i.GetXmlProperty("genxml/hidden/imagepath1"),75,75)" />
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                        </div>
                        <div class="w3-rest">
                            <div class="w3-threequarter w3-padding">
                                <label class="">@ResourceKey("HtmlContent.title")</label>&nbsp;@EditFlag()
                                @TextBox(i, "genxml/lang/genxml/textbox/header", " class='w3-input w3-border' autocomplete='off'", "", true, lp1)
                            </div>
                            <div class="w3-quarter w3-padding">
                                <label class="">@ResourceKey("HtmlContent.style")</label>
                                @DropDownList(i, "genxml/select/headerstyle", "H1,H2,H3,H4", "H1,H2,H3,H4", " class='w3-input w3-border' style='width:100px;' ", "H1", false, lp1)
                            </div>
                        </div>
                        <div class="w3-col " style="width: 50px;">
                            <span>&nbsp;</span>
                        </div>
                    </div>
                </div>


                <!-- The Detail-->
                <div id="detailDisplay@(lp1)" class="w3-container" style="display:none;">
                    <div class="" style="">

                        <div class="w3-container ">

                            <div class="w3-row w3-margin">
                                <div class="">
                                    @RadioButtonList(i, "genxml/hidden/layout", "0,1,2,3,4,5,6,7,8", "<img src='/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/img/Newspaper0.png' style='width:24px;' />,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/img/Newspaper1.png' style='width:24px;'/>,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/img/Newspaper2.png' style='width:24px;'/>,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/img/Newspaper3.png' style='width:24px;'/>,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/img/Newspaper4.png' style='width:24px;'/>,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/img/Newspaper5.png' style='width:24px;'/>,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/img/Newspaper6.png' style='width:24px;'/>,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/img/Newspaper7.png' style='width:24px;'/>,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/img/Newspaper8.png' style='width:24px;'/>", "class=''", "0", "", false, lp1)
                                </div>
                            </div>

                            <div class="w3-row w3-padding">
                                @CKEditor(i, "genxml/lang/genxml/textbox/richtext", "", "", true, lp1)
                            </div>
                            <div class="w3-row">
                                <div class="w3-half">
                                    @ImageEditFull(i, "imagepath1", 100, 100, "", false, lp1)
                                </div>
                                <div class="w3-half">
                                    @ImageEditFull(i, "imagepath2", 100, 100, "", false, lp1)
                                </div>
                            </div>
                            <div class="w3-row">
                                <div class="w3-half">
                                    @ImageEditFull(i, "imagepath3", 100, 100, "", false, lp1)
                                </div>
                                <div class="w3-half">
                                    @ImageEditFull(i, "imagepath4", 100, 100, "", false, lp1)
                                </div>
                            </div>

                            <div class="w3-row w3-padding">
                                <div class="w3-container ">
                                    <div class="w3-col m8">
                                        <label class="">@ResourceKey("HtmlContent.document")</label>&nbsp;@EditFlag()
                                        @DocumentEdit(i, "document1", " class='w3-input w3-border' ", true, lp1)
                                    </div>
                                    <div class="w3-col m2 w3-padding">
                                        <label class="">@ResourceKey("HtmlContent.justify")</label>
                                        @RadioButtonList(i, "genxml/hidden/layoutdocument1", "0,1,2", "<i class='fas fa-align-left'></i>,<i class='fas fa-align-center'></i>,<i class='fas fa-align-right'></i>", "class=''", "0", "", false, lp1)
                                    </div>
                                </div>
                            </div>

                            <div class="w3-row w3-padding">
                                <div class="w3-container">
                                    <div class="w3-col m8">
                                        <label class="">@ResourceKey("HtmlContent.internallink")</label>
                                        @TabSelectListOnTabId(i, "genxml/select/internallink1", " class='w3-input w3-border' ", true, false, lp1)
                                    </div>
                                    <div class="w3-col m2 w3-padding">
                                        <label class="">@ResourceKey("HtmlContent.justify")</label>
                                        @RadioButtonList(i, "genxml/hidden/layoutinternallink1", "0,1,2", "<i class='fas fa-align-left'></i>,<i class='fas fa-align-center'></i>,<i class='fas fa-align-right'></i>", "class=''", "0", "", false, lp1)
                                    </div>
                                    <div class="w3-col m2 w3-padding">
                                        <label class="">@ResourceKey("HtmlContent.blank")</label><br />
                                        @CheckBox(i, "genxml/checkbox/blankinternallink1", "", "", false, false, lp1)
                                    </div>
                                </div>
                            </div>

                            <div class="w3-row w3-padding">
                                <div class="w3-container">
                                    <div class="w3-col m8">
                                        <label class="">@ResourceKey("HtmlContent.externallink")</label>
                                        @TextBox(i, "genxml/textbox/externallink1", " class='w3-input w3-border' autocomplete='off'", "", true, lp1)
                                    </div>
                                    <div class="w3-col m2 w3-padding">
                                        <label class="">@ResourceKey("HtmlContent.justify")</label>
                                        @RadioButtonList(i, "genxml/hidden/layoutexternallink1", "0,1,2", "<i class='fas fa-align-left'></i>,<i class='fas fa-align-center'></i>,<i class='fas fa-align-right'></i>", "class=''", "0", "", false, lp1)
                                    </div>
                                    <div class="w3-col m2 w3-padding">
                                        <label class="">@ResourceKey("HtmlContent.blank")</label><br />
                                        @CheckBox(i, "genxml/checkbox/blankexternallink1", "", "", false, false, lp1)
                                    </div>
                                </div>
                            </div>

                            <div class="w3-row w3-padding">
                                <button onclick="dnnrocket_hidedetail(@(lp1))" class="w3-button w3-display-bottomleft">
                                    <i class="fas fa-caret-up"></i>
                                </button>

                            </div>


                        </div>
                        </div>
                </div>


            </li>

        }
    </ul>

</div>

@RenderDocumentSelect(Model, true, false, moduleData.configData.DocumentFolder)
@RenderImageSelect(Model,640, true, false, moduleData.configData.ImageFolder)

<script>
    $(document).ready(function () {
        $(':checkbox').attr('class', 'w3-check');

        $("#datalist").sortable();
        $("#datalist").disableSelection();

    });


    function dnnrocket_showdetail(row) {
        $('#detailDisplay' + row).show();
        $("#datalist").sortable("option", "disabled", true);
        $('#editbutton' + row).html('<i class="fas fa-caret-up"></i>');
        $('#editbutton' + row).attr('onclick', 'dnnrocket_hidedetail(' + row + ')');
        $('#editbutton' + row).addClass('detailopen');
    }

    function dnnrocket_hidedetail(row) {
        $('#detailDisplay' + row).hide();
        $('#editbutton' + row).html('<i class="fas fa-edit"></i>');
        $('#editbutton' + row).attr('onclick', 'dnnrocket_showdetail(' + row + ')');
        $('#editbutton' + row).removeClass('detailopen');

        var activatesort = true;
        $('.editbutton').each(function (index) {
            if ($(this).hasClass('detailopen')) {
                activatesort = false;
            }
        });
        if (activatesort) {
            $("#datalist").sortable("option", "disabled", false);
        }

    }

</script>


