@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;
@using RazorEngine.Text;


@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/resx/")

@RenderTemplate("editiframe.cshtml", "/DesktopModules/DNNrocket/rocketmod", "config-w3", Model)

<link rel="stylesheet" href="/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/css/htmlcontent2.css">
<link rel="stylesheet" href="/DesktopModules/DNNrocket/css/w3.css">


@{
    var info = new SimplisityInfo();
    if (Model.List.Count > 0)
    {
        info = (SimplisityInfo)Model.List.First();
    }

}

<div class="w3-display-container">

    @foreach (SimplisityInfo i in info.GetList("settingsdata"))
    {
        Model.Datainfo = i;
        var layout = i.GetXmlPropertyInt("genxml/hidden/layout");
        var layouttemplate = "displaytext" + layout + ".cshtml";

        if (i.GetXmlProperty("genxml/lang/genxml/textbox/header") != "")
        {
            var headerstyle = i.GetXmlProperty("genxml/select/headerstyle");
            var hstart = "<" + headerstyle + ">";
            var hend = "</" + headerstyle + ">";
            @HtmlOf(hstart)@i.GetXmlProperty("genxml/lang/genxml/textbox/header")@HtmlOf(hend)
        }

        @RenderTemplate(layouttemplate, "/DesktopModules/DNNrocket/AppThemes", "HtmlContent", Model)


        @

        <div style="clear: both;"></div>
    }

</div>
