@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;
@using RazorEngine.Text;


@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/resx/")

@RenderTemplate("editiframe.cshtml", "/DesktopModules/DNNrocket/rocketmod", "config-w3", Model)

<link rel="stylesheet" href="/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/css/htmlcontent2.css">
<link rel="stylesheet" href="/DesktopModules/DNNrocket/css/w3.css">


@{
    var info = new SimplisityInfo();
    if (Model.List.Count > 0)
    {
        info = (SimplisityInfo)Model.List.First();
    }
    var lp1 = 0;
}

<div class="w3-display-container">


    @foreach (SimplisityInfo i in info.GetList("settingsdata"))
    {
        i.SetXmlProperty("genxml/rowindex", lp1.ToString());
        i.SetXmlProperty("genxml/rowitemid", info.ItemID.ToString());
        Model.Datainfo = i;
        var layout = i.GetXmlPropertyInt("genxml/hidden/layout");
        var layouttemplate = "displaytext" + layout + ".cshtml";

        if (i.GetXmlProperty("genxml/lang/genxml/textbox/header") != "")
        {
            var headerstyle = i.GetXmlProperty("genxml/select/headerstyle");
            var hstart = "<" + headerstyle + ">";
            var hend = "</" + headerstyle + ">";
            @HtmlOf(hstart)@i.GetXmlProperty("genxml/lang/genxml/textbox/header")@HtmlOf(hend)
        }

        @RenderTemplate(layouttemplate, "/DesktopModules/DNNrocket/AppThemes", "HtmlContent", Model)

        if (i.GetXmlProperty("genxml/lang/genxml/hidden/document1") != "")
        {
            var justify = "w3-left-align";
            if (i.GetXmlPropertyInt("genxml/hidden/layoutdocument1") == 1)
            {
                justify = "w3-center";
            }
            if (i.GetXmlPropertyInt("genxml/hidden/layoutdocument1") == 2)
            {
                justify = "w3-right-align";
            }

            <div class="w3-row @justify">
                @DownloadDocument(info.ItemID, @lp1, "document1",i.GetXmlProperty("genxml/textbox/namedocument1"))
            </div>
        }

        if (i.GetXmlProperty("genxml/select/internallink1") != "")
        {
            var justify = "w3-left-align";
            if (i.GetXmlPropertyInt("genxml/hidden/layoutinternallink1") == 1)
            {
                justify = "w3-center";
            }
            if (i.GetXmlPropertyInt("genxml/hidden/layoutinternallink1") == 2)
            {
                justify = "w3-right-align";
            }

            var openInNewWindow = false;
            if (i.GetXmlPropertyBool("genxml/checkbox/blankinternallink1"))
            {
                openInNewWindow = true;
            }
            <div class="w3-row @justify">
                @LinkPageURL(info, "genxml/select/internallink1")
            </div>
        }

        if (i.GetXmlProperty("genxml/textbox/externallink1") != "")
        {
            var justify = "w3-left-align";
            if (i.GetXmlPropertyInt("genxml/hidden/layoutexternallink1") == 1)
            {
                justify = "w3-center";
            }

            if (i.GetXmlPropertyInt("genxml/hidden/layoutexternallink1") == 2)
            {
                justify = "w3-right-align";
            }

            var openInNewWindow = false;
            if (i.GetXmlPropertyBool("genxml/checkbox/blankexternallink1"))
            {
                openInNewWindow = true;
            }
            <div class="w3-row @justify">
                @LinkURL(info, "genxml/textbox/externallink1",openInNewWindow)
            </div>
        }


        <div style="clear: both;" class="w3-margin"></div>
        

        lp1 += 1;
    }


</div>
