@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using DNNrocketAPI.Componants;
@using DNNrocket.AppThemes;
@using System.IO;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")


@{
    var menunumber = ".menu" + Model.GetSetting("menunumber");
}


<div class="w3-row">
    <div class="w3-col w3-bottombar w3-hover-theme w3-padding menu1 " onclick="openSection(event, 'menu1');" style="width:12%;cursor: pointer"><i class="fab fa-readme"></i>&nbsp;@ResourceKey("AppThemes.dashboard")</div>
    <div class="w3-col w3-bottombar w3-hover-theme w3-padding menu2 " onclick="openSection(event, 'menu2');" style="width:12%;cursor: pointer"><i class="fab fa-readme"></i>&nbsp;@ResourceKey("AppThemes.fields")</div>
    <div class="w3-col w3-bottombar w3-hover-theme w3-padding menu3 " onclick="openSection(event, 'menu3');" style="width:12%;cursor: pointer"><i class="fab fa-readme"></i>&nbsp;@ResourceKey("AppThemes.editor")</div>
    <div class="w3-col w3-bottombar w3-hover-theme w3-padding menu4 " onclick="openSection(event, 'menu4');" style="width:12%;cursor: pointer"><i class="fab fa-readme"></i>&nbsp;@ResourceKey("AppThemes.images")</div>
    <div class="w3-col w3-bottombar w3-hover-theme w3-padding menu5 " onclick="openSection(event, 'menu5');" style="width:12%;cursor: pointer"><i class="fab fa-readme"></i>&nbsp;@ResourceKey("AppThemes.resx")</div>
    <div class="w3-col w3-bottombar w3-hover-theme w3-padding menu6 " onclick="openSection(event, 'menu6');" style="width:12%;cursor: pointer"><i class="fab fa-readme"></i>&nbsp;@ResourceKey("AppThemes.css")</div>
    <div class="w3-col w3-bottombar w3-hover-theme w3-padding menu7 " onclick="openSection(event, 'menu7');" style="width:12%;cursor: pointer"><i class="fab fa-readme"></i>&nbsp;@ResourceKey("AppThemes.js")</div>
</div>


<div id="menu1" class="w3-container w3-margin tabsection" style="display:block;">
    @RenderTemplate("dashboard.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes\\Admin", "config-w3", Model, "1.0")
</div>

<div id="menu2" class="w3-container tabsection" style="display:none">
    @RenderTemplate("fieldeditor.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes\\Admin", "config-w3", Model, "1.0")
</div>

<div id="provtypes" class="w3-container tabsection" style="display:none">
    @RenderTemplate("editor.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes\\Admin", "config-w3", Model, "1.0")
</div>

<div id="Interface" class="w3-container tabsection" style="display:none">
    @RenderTemplate("images.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes\\Admin", "config-w3", Model, "1.0")
</div>

<div id="parameters" class="w3-container tabsection" style="display:none">
    @RenderTemplate("resx.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes\\Admin", "config-w3", Model, "1.0")
</div>

<div id="settings" class="w3-container tabsection" style="display:none">
    @RenderTemplate("editorcss.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes\\Admin", "config-w3", Model, "1.0")
</div>

<div id="settings" class="w3-container tabsection" style="display:none">
    @RenderTemplate("editorjs.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes\\Admin", "config-w3", Model, "1.0")
</div>




<script>
    $(document).ready(function () {
        $('.menu1').addClass("w3-theme");
        $('.menu1').addClass("w3-border-black");
    });


    function openSection(evt, sectionName) {

        var i, x, tablinks;
        x = document.getElementsByClassName("tabsection");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-border-blue", "");
            tablinks[i].className = tablinks[i].className.replace(" w3-light-blue", "");
        }
        document.getElementById(sectionName).style.display = "block";
        evt.currentTarget.firstElementChild.className += " w3-border-blue";
        evt.currentTarget.firstElementChild.className += " w3-light-blue";
    }

</script>
