@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using DNNrocketAPI.Componants;
@using DNNrocket.AppThemes;
@using System.IO;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")


@{
    var appThemeData = (AppThemeData)Model.List.First();
}


<div class="w3-row tabmenu">
    <div class="w3-col w3-bottombar w3-hover-theme w3-padding tablink menu1 " onclick="openSection(event, 'menu1');" style="width:12%;cursor: pointer"><i class="fab fa-readme"></i>&nbsp;@ResourceKey("AppThemes.dashboard")</div>
    <div class="w3-col w3-bottombar w3-hover-theme w3-padding tablink menu2 " onclick="openSection(event, 'menu2');" style="width:12%;cursor: pointer"><i class="fab fa-readme"></i>&nbsp;@ResourceKey("AppThemes.fields")</div>
    <div class="w3-col w3-bottombar w3-hover-theme w3-padding tablink menu3 " onclick="openSection(event, 'menu3');" style="width:12%;cursor: pointer"><i class="fab fa-readme"></i>&nbsp;@ResourceKey("AppThemes.editor")</div>
    <div class="w3-col w3-bottombar w3-hover-theme w3-padding tablink menu4 " onclick="openSection(event, 'menu4');" style="width:12%;cursor: pointer"><i class="fab fa-readme"></i>&nbsp;@ResourceKey("AppThemes.images")</div>
    <div class="w3-col w3-bottombar w3-hover-theme w3-padding tablink menu5 " onclick="openSection(event, 'menu5');" style="width:12%;cursor: pointer"><i class="fab fa-readme"></i>&nbsp;@ResourceKey("AppThemes.resx")</div>
    <div class="w3-col w3-bottombar w3-hover-theme w3-padding tablink menu6 " onclick="openSection(event, 'menu6');" style="width:12%;cursor: pointer"><i class="fab fa-readme"></i>&nbsp;@ResourceKey("AppThemes.css")</div>
    <div class="w3-col w3-bottombar w3-hover-theme w3-padding tablink menu7 " onclick="openSection(event, 'menu7');" style="width:12%;cursor: pointer"><i class="fab fa-readme"></i>&nbsp;@ResourceKey("AppThemes.js")</div>
</div>

<div id="apptheme_datasection">

    <div id="menu1" class="w3-container w3-margin tabsection" style="display:block;">
        @RenderTemplate("details.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes\\Admin", "config-w3", Model, "1.0")
    </div>

    <div id="menu2" class="w3-container tabsection" style="display:none">
        @RenderTemplate("fieldeditor.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes\\Admin", "config-w3", Model, "1.0")
    </div>

    <div id="menu3" class="w3-container tabsection" style="display:none">
        <!--
        RenderTemplate("editor.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes\\Admin", "config-w3", Model, "1.0")

        -->
    </div>

    <div id="menu4" class="w3-container tabsection" style="display:none">
        <!--
        RenderTemplate("images.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes\\Admin", "config-w3", Model, "1.0")

        -->
    </div>

    <div id="menu5" class="w3-container tabsection" style="display:none">
        <!--
        RenderTemplate("resx.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes\\Admin", "config-w3", Model, "1.0")

        -->
    </div>

    <div id="menu6" class="w3-container tabsection" style="display:none">
        <!--
        RenderTemplate("editorcss.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes\\Admin", "config-w3", Model, "1.0")

        -->
    </div>

    <div id="menu7" class="w3-container tabsection" style="display:none">
        <!--
        RenderTemplate("editorjs.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes\\Admin", "config-w3", Model, "1.0")
        -->
    </div>

</div>



<script>
    $(document).ready(function () {

        $('.simplisity_buttonpanel').empty();

        menuname = simplisity_getCookieValue('apptheme_menuname');
        if (typeof menuname === 'undefined' || menuname === '') {
            menuname = 'menu1';
        }

        @if (appThemeData.AppName != "")
        {
            @:$('.' + menuname).trigger("click");

            @:$('.' + menuname).addClass("w3-theme");
            @:$('.' + menuname).addClass("w3-border-black");
        }
    });

    function menu_buttons(menuname) {
        $('.menu_buttons').each(function (index) {
            $(this).hide();
            $(this).appendTo('.simplisity_buttonpanel');
        });

        simplisity_setCookieValue('apptheme_menuname', menuname);
        $('.' + menuname + '_buttons').show();
    }


    function openSection(evt, sectionName) {

        var i, x, tablinks;
        x = document.getElementsByClassName("tabsection");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-theme", "");
            tablinks[i].className = tablinks[i].className.replace(" w3-border-black", "");
        }
        document.getElementById(sectionName).style.display = "block";

        $(evt.currentTarget).addClass("w3-theme");
        $(evt.currentTarget).addClass("w3-border-black");

        menu_buttons(sectionName);

    }



</script>
