@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using System.Linq
@using DNNrocket.AppThemes;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")

@{
    var appThemeData = (AppThemeData)Model.List.First();
}

<span class="w3-section simplisity_buttons">
    <span class="w3-button w3-green w3-padding-8 simplisity_langchange simplisity_click editorsavebutton" s-cmd="rocketapptheme_save" s-before="copyeditorcontent" s-fields="theme:@Model.GetSetting("theme"),interfacekey:editor" s-post="#editorpanel">@ResourceKey("DNNrocket.cmdSaveButton")</span>
    <label>@appThemeData.AppName  (@appThemeData.AppThemeVersionFolder):  &nbsp;@ResourceKey("Appthemes.systemlevel")</label>
</span>

@{
    Model.Settings.Remove("menunumber");
    Model.Settings.Remove("parentitemid");
    Model.Settings.Add("menunumber", "3");
    Model.Settings.Add("parentitemid", appThemeData.CurrentInfo.ItemID.ToString());
}


<div id="templatereturn" style="display:none;"></div>

<div id="editorpanel">

    @HiddenField(appThemeData.CurrentInfo, "genxml/hidden/editorcode", "", "")
    @HiddenField(appThemeData.CurrentInfo, "genxml/hidden/filefolder", "", "default")

    <div class="w3-row w3-padding ">
        <div class="w3-col m2 w3-padding">
            @FileSelectList(appThemeData.CurrentInfo, "genxml/select/templatename", appThemeData.AppThemeFolderMapPath + "\\htmlContent\\1.0\\default", " class=' templateselect w3-input w3-border simplisity_change' s-return='#templatereturn' s-post='#editorpanel' s-cmd='rocketapptheme_gettemplate' s-fields='interfacekey:editor'  ", false)
        </div>
        <div class="w3-col m6 w3-padding">
            <a class="w3-button w3-teal w3-padding-8">Snippits</a>
            <a class="w3-button w3-teal w3-padding-8" onclick="showFieldSelect();">Fields</a>
        </div>
    </div>

    <div id="editorwrapper" class="w3-row  w3-padding" style="overflow: scroll;">

    </div>

</div>




<style>
    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
    }
</style>

<script>

    var myCodeMirror;

    $(document).ready(function () {

        // load view.cshtml
        $('#templatename').val('view.cshtml');
        //$('#templatename').trigger('change');

        $('#razoreditor').unbind("keyup");
        $("#razoreditor").keyup(function (event) {
            if (event.which == 13) {
                $('#razoreditor').height($('#razoreditor').prop('scrollHeight'));
            }
        });

        $('#templatereturn').unbind("change");
        $("#templatereturn").change(function (event) {

            $("#razoreditor").remove();
            $(".CodeMirror").remove();

            var newHeight = $(window).height() - 160;
            $('#editorwrapper').css("height", newHeight);;

            var textArea = $('<textarea id="razoreditor" style="w3-input w3-border" spellcheck="false" />');
            $('#editorwrapper').append(textArea);

            myCodeMirror = CodeMirror.fromTextArea(document.getElementById("razoreditor"), {
                lineNumbers: false,
                mode: "htmlmixed"
            });
            myCodeMirror.setValue(simplisity_decode($(this).text()));
        });


    });

    function copyeditorcontent() {
        $('#editorcode').val(simplisity_encode(myCodeMirror.getValue()));
    }

</script>