@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using DNNrocket.AppThemes;
@using System.IO;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")


@{
    var appThemeData = (AppThemeData)Model.List.First();

    var flagurl32 = "/DesktopModules/DNNrocket/API/images/flags/32/" + appThemeData.AppCultureCode + ".png";
    if (!File.Exists(DNNrocketUtils.MapPath(flagurl32)))
    {
        flagurl32 = "/DesktopModules/DNNrocket/API/images/flags/32/none.png";
    }

}


<span class="w3-section menu2_buttons menu_buttons">
    <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="rocketapptheme_addfield" s-fields="interfacekey:dashboard">@ResourceKey("DNNrocket.cmdAddButton")</a>
    <span class="w3-button w3-green w3-padding-8 simplisity_click" s-cmd="rocketapptheme_save" s-fields="interfacekey:dashboard" s-post="#apptheme_datasection" s-list=".fielddata,.resxdata">@ResourceKey("DNNrocket.cmdSaveButton")</span>
    <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="fieldbin" s-return="#fielddatalist" s-removelist=".fielddata" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
</span>


<div class="w3-right w3-padding">
    <b>@appThemeData.AppCultureCode</b>&nbsp;<img class='' src='@flagurl32' alt='' />
</div>

<div class="w3-row section_fieldeditor">

    @RenderTemplate("FieldEditorBody.cshtml", "/DesktopModules/DNNrocket/AppThemes/Admin", "config-w3", Model)

</div>
