@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using System.IO;
@using DNNrocket.AppThemes;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{

    var flagurl = "/DesktopModules/DNNrocket/API/images/flags/16/" + DNNrocketUtils.GetEditCulture() + ".png";
    if (!File.Exists(DNNrocketUtils.MapPath(flagurl)))
    {
        flagurl = "/DesktopModules/DNNrocket/API/images/flags/16/none.png";
    }

}

    <div id="fielddatasection" class="w3-container">

        <ul id="fielddatalist" class="w3-ul">

            @{
                var lp3 = 0;
            }
            @foreach (SimplisityInfo i in Model.List)
            {
                lp3 += 1;

                var settingsdataclassselect = "dictionarydata" + lp3;
                var imagesizeclass = "imagesize" + lp3;

            <li class="fielddata w3-card w3-margin-bottom w3-display-container @settingsdataclassselect ">

                <div class="w3-container">

                    <!-- Required to sort items in list -->
                    @SortableList(i, lp3)

                    <span id="deletebutton@(lp3)" onclick="" class="w3-button w3-display-topright simplisity_removelistitem" s-removelist=".settingsdata" s-recylebin="settingsbin">
                        <i title="Remove" class="fas fa-minus-square fa-fw fa-lg"></i>
                    </span>

                    <span id="editbutton@(lp3)" row="@(lp3)" class="w3-button w3-display-topleft editbutton">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span id="editbuttonclosedown@(lp3)" row="@(lp3)" class="w3-button w3-display-topleft editbuttonclose" style="display:none;">
                        <i class="fas fa-caret-down"></i>
                    </span>

                    <div class="w3-col m2 w3-padding">
                        <label class="">@ResourceKey("system.name")</label>
                        @TextBox(i, "genxml/textbox/name", "class='w3-input w3-border alphanumeric notstartnumeric' maxlength='250' autocomplete='off' s-datatype='xpath' required ", "", false, lp3)
                    </div>
                    <div class="w3-col m2 w3-padding">
                        <label class="">@ResourceKey("DNNrocket.label")</label>&nbsp;<img class='' src='@flagurl' alt='' />
                        @TextBox(i, "genxml/lang/genxml/textbox/label", "class='w3-input w3-border ' maxlength='500' autocomplete='off'  ", "", true, lp3)
                    </div>
                    <div class="w3-col m2 w3-padding">
                        <label class="">@ResourceKey("DNNrocket.type")</label>
                        @DropDownList(i, "genxml/select/type", "TextBox,CheckBox,DropDown,RadioList,checkboxlist,Image,ImageFull,internalpage,Document,RichText", "TextBox,CheckBox,DropDown,RadioList,CheckBoxList,Image Edit,Full Image Edit,Internal Page,Document,RichText", " class='w3-input w3-border inputtypefield' row='" + lp3 + "' ", "TextBox", false, lp3)
                    </div>
                    <div class="w3-col m1 w3-padding">
                        <label class="">@ResourceKey("DNNrocket.size")</label>
                        @DropDownList(i, "genxml/select/size", "1,2,3,4,5,6,7,8,9,10,11,12", "1,2,3,4,5,6,7,8,9,10,11,12", "class='w3-input w3-border'", "", false, lp3)
                    </div>
                    <div class="w3-col m2 w3-padding">
                        <label class="">@ResourceKey("DNNrocket.localized")</label><br />
                        @CheckBox(i, "genxml/checkbox/localized", "", " class='localize' row='" + lp3 + "' ", false, false, lp3)
                    </div>
                </div>

                <!-- The Detail-->
                <div id="detailDisplay@(lp3)" class="w3-container" style="display:none;">

                    <div class="w3-row">
                        <div class="w3-half w3-padding defaulttextbox">
                            <span class="defaulttextbox@(lp3)">
                                <label class="">@ResourceKey("DNNrocket.defaultvalue")</label>
                                @TextBox(i, "genxml/textbox/defaultvalue", " class='w3-input w3-border' autocomplete='off'", "", false, lp3)
                            </span>
                            <span class="allowempty@(lp3)" style="display:none;">
                                <label class="">@ResourceKey("DNNrocket.allowempty")</label><br />
                                @CheckBox(i, "genxml/checkbox/allowempty", "", " class='' row='" + lp3 + "' ", false, false, lp3)
                            </span>
                            <div class=" w3-col m5 @imagesizeclass" style="display:none;">
                                <label class="">@ResourceKey("DNNrocket.width")</label>
                                @TextBox(i, "genxml/textbox/width", "class='w3-input w3-border' autocomplete='off' ", "140", false, lp3)
                            </div>
                            <div class=" w3-col m1 @imagesizeclass" style="display:none;">
                                &nbsp;
                            </div>
                            <div class=" w3-col m5  @imagesizeclass" style="display:none;">
                                <label class="">@ResourceKey("DNNrocket.height")</label>
                                @TextBox(i, "genxml/textbox/height", "class='w3-input w3-border' autocomplete='off' ", "140", false, lp3)
                            </div>
                        </div>
                        <div class="w3-half w3-padding">
                            <label class="">@ResourceKey("DNNrocket.attributes")</label>
                            @TextBox(i, "genxml/textbox/attributes", " class='w3-input w3-border' autocomplete='off'", " class='w3-input w3-border' autocomplete='off' ", false, lp3)
                        </div>
                    </div>

                    <div id="dictionarydisplay@(lp3)" class="w3-row " style="display:none;">
                        <div class="w3-container">
                            <div class="w3-display-container ">
                                <div row="@(lp3)" class=" addvaluekey w3-circle w3-display-left w3-margin ">@ResourceKey("DNNrocket.cmdAddIcon")</div>

                                @HiddenField(i, "genxml/hidden/dictionarykey", " class='dictionarykeyvalue' row='" + lp3 + "' ", "", false, lp3)
                                @HiddenField(i, "genxml/lang/genxml/hidden/dictionaryvalue", "", "", true, lp3)

                                @{
                                    var selectlistclass = "dictionarylist" + lp3;
                                }

                                <div class="w3-col m4 w3-center">
                                    Key
                                </div>
                                <div class="w3-col m8 w3-center">
                                    Value&nbsp;<img class='' src='@flagurl' alt='' />
                                </div>
                            </div>
                        </div>
                        <div class="w3-container">
                            <div class=" ">
                                <ul class=" @selectlistclass w3-ul w3-padding" row="@lp3"></ul>
                            </div>
                        </div>
                    </div>


                    <div class="w3-row w3-padding">
                        <a id="editbuttoncloseup@(lp3)" row="@(lp3)" class="w3-button w3-display-bottomleft editbuttonclose" style="display:none;">
                            <i class="fas fa-caret-up"></i>
                        </a>
                    </div>


                </div>


            </li>

            }

        </ul>

    </div>

<script>
    $(document).ready(function () {
        $(':checkbox').addClass('w3-check');

        $("#fielddatalist").sortable();
        $("#fielddatalist").disableSelection();

        $('.addvaluekey').unbind("click");
        $('.addvaluekey').click(function () {
            var row = $(this).attr('row');
            dnnrocket_addtextli(row,'','');
        });

        $('.dictionarykeyvalue').each(function (index) {
            var row = $(this).attr('row');
            dnnrocket_popdictionary(row);
        });

        $('.inputtypefield').unbind("change");
        $('.inputtypefield').change(function () {

            var row = $(this).attr('row');
            $('#dictionarydisplay' + row).hide();
            $('.imagesize' + row).hide();
            $('.allowempty' + row).hide();
            $('.defaulttextbox' + row).show();

            if (($(this).val().toLowerCase() === 'dropdown') || ($(this).val().toLowerCase() === 'radiolist') || ($(this).val().toLowerCase() === 'checkboxlist')) {
                $('#dictionarydisplay' + row).show();
            }

            if (($(this).val().toLowerCase() === 'image') || ($(this).val().toLowerCase() === 'imagefull')) {
                $('#attributes_' + row).val("");
                $('.imagesize' + row).show();
                $('.defaulttextbox' + row).hide();
            }

            if (($(this).val().toLowerCase() === 'internalpage')) {
                $('.allowempty' + row).show();
                $('.defaulttextbox' + row).hide();
            }

            if (($(this).val().toLowerCase() === 'textbox')) {
                $('#attributes_' + row).val(" class='w3-input w3-border' autocomplete='off' ");
            }

            if (($(this).val().toLowerCase() === 'document')) {
                $('#attributes_' + row).val(" class='w3-input w3-border' autocomplete='off' ");
                $('.defaulttextbox' + row).hide();
            }

            if (($(this).val().toLowerCase() === 'checkbox')) {
                $('#attributes_' + row).val(" class='w3-check' ");
            }

            if (($(this).val().toLowerCase() === 'dropdown') || ($(this).val().toLowerCase() === 'internalpage')) {
                $('#attributes_' + row).val("class='w3-select w3-border' ");
            }

            if (($(this).val().toLowerCase() === 'radiolist')) {
                $('#attributes_' + row).val("class='w3-input w3-border' ");
            }

            if (($(this).val().toLowerCase() === 'checkbox')) {
                $('#attributes_' + row).val("class='w3-check' ");
            }

            if (($(this).val().toLowerCase() === 'checkboxlist')) {
                $('#attributes_' + row).val("class='w3-input w3-border' ");
            }


        });

        $('.editbutton').unbind("click");
        $('.editbutton').click(function () {
            var row = $(this).attr('row');
            dnnrocket_showdetail(row);
        });

        $('.editbuttonclose').unbind("click");
        $('.editbuttonclose').click(function () {
            var row = $(this).attr('row');
            dnnrocket_hidedetail(row);
        });



    });

    function dnnrocket_showdetail(row) {
        $('#detailDisplay' + row).show();
        $("#fielddatalist").sortable("option", "disabled", true);
        $('#editbutton' + row).hide();
        $('#editbuttoncloseup' + row).show();
        $('#editbuttonclosedown' + row).show();
        $('#editbutton' + row).addClass('detailopen');
    }

    function dnnrocket_hidedetail(row) {
        $('#detailDisplay' + row).hide();

        $('#editbutton' + row).show();
        $('#editbuttoncloseup' + row).hide();
        $('#editbuttonclosedown' + row).hide();
        $('#editbutton' + row).removeClass('detailopen');

        var activatesort = true;
        $('.editbutton').each(function (index) {
            if ($(this).hasClass('detailopen')) {
                activatesort = false;
            }
        });
        if (activatesort) {
            $("#fielddatalist").sortable("option", "disabled", false);
        }
    }


    function dnnrocket_addtextli(index, key, value) {

        if (typeof value === 'undefined') {
            value = '';
        }

        var addtext = '';
        addtext += '<li class="dictionarydata' + index + ' w3-card w3-margin-bottom w3-display-container"> ';
        addtext += ' <div class="w3-row">';
        addtext += '		<div class="w3-col w3-padding m4">';
        addtext += '			<input value="' + key + '" row="' + index + '" value="" class=" dictionaryInput dictionaryKey' + index + ' w3-input w3-border" autocomplete="off" type="text">';
        addtext += '		</div>';
        addtext += '		<div class="w3-col w3-padding m7">';
        addtext += '			<input value="' + value + '" id="dictionaryvalue' + index + '" row="' + index + '" value="" class=" dictionaryInput dictionaryValue' + index + ' w3-input w3-border" autocomplete="off" type="text">';
        addtext += '		</div>';
        addtext += '		<div class="w3-col w3-padding m1">';
        addtext += '		<span class="hidedictionary w3-button w3-transparent" row="' + index + '" >&times;</span>';
        addtext += '		</div>';
        addtext += '	</div>';
        addtext += '</li>';

        $('.dictionarylist' + index).append(addtext);

        $('.dictionarylist' + index).sortable({
            stop: function (event, ui) {
                var row = $(this).attr('row');
                dnnrocket_savedictionary(row);
            }
        });
        $('.dictionarylist' + index).disableSelection();


        $('.dictionaryInput').unbind("change");
        $('.dictionaryInput').change(function () {
            var row = $(this).attr('row');
            dnnrocket_savedictionary(row);
        });

        $('.hidedictionary').unbind("click");
        $('.hidedictionary').click(function () {
            this.parentElement.parentElement.parentElement.style.display = 'none';
            var row = $(this).attr('row');
            dnnrocket_savedictionary(row);
        });

    }


    function dnnrocket_savedictionary(row) {
        var keyList = '';
        var valueList = '';
        $('.dictionaryKey' + row).each(function (index) {
            if ($(this).is(':visible')) {
                keyList += $(this).val().replace(",", ".") + ',';
            }
        });
        keyList = keyList.slice(0, -1);

        $('.dictionaryValue' + row).each(function (index) {
            if ($(this).is(':visible')) {
                valueList += $(this).val().replace(",", ".") + ',';
            }
        });
        valueList = valueList.slice(0, -1);

        $('#dictionarykey_' + row).val(keyList);
        $('#dictionaryvalue_' + row).val(valueList);

    }

    function dnnrocket_popdictionary(row) {

        var keyList = $('#dictionarykey_' + row).val().split(',');
        var valueList = $('#dictionaryvalue_' + row).val().split(',');

        var arrayLength = keyList.length;
        for (var i = 0; i < arrayLength; i++) {
            var key = keyList[i];
            if (key !== '') {
                var value = valueList[i];
                dnnrocket_addtextli(row, key, value)
            }
        }

        $('#dictionarydisplay' + row).hide();
        $('.imagesize' + row).hide();
        $('.allowempty' + row).hide();
        $('.defaulttextbox' + row).show();

        if (($('#type_' + row).val().toLowerCase() === 'dropdown') || ($('#type_' + row).val().toLowerCase() === 'radiolist') || ($('#type_' + row).val().toLowerCase() === 'checkboxlist')) {
            $('#dictionarydisplay' + row).show();
        }

        if (($('#type_' + row).val().toLowerCase() === 'image') || ($('#type_' + row).val().toLowerCase() === 'imagefull')) {
            $('.imagesize' + row).show();
            $('.defaulttextbox' + row).hide();
        }

        if (($('#type_' + row).val().toLowerCase() === 'internalpage')) {
            $('.allowempty' + row).show();
            $('.defaulttextbox' + row).hide();
        }
        if (($('#type_' + row).val().toLowerCase() === 'document')) {
            $('.defaulttextbox' + row).hide();
        }


    }

    function validateform() {

        jQuery.validator.addMethod("alphanumeric", function (value, element) {
            return this.optional(element) || /^[a-zA-Z0-9]+$/.test(value);
        }, '@ResourceKey("RocketMod.alphanumeric","", "Error")');

        jQuery.validator.addMethod("notnumeric", function (value, element) {
            return this.optional(element) || !$.isNumeric(value);
        }, '@ResourceKey("RocketMod.alphanumeric", "", "Error")');

        jQuery.validator.addMethod("notstartnumeric", function (value, element) {
            return this.optional(element) || !$.isNumeric(value.substring(0, 1));
        }, '@ResourceKey("RocketMod.alphanumeric", "", "Error")');


        $("#fielddatasection input[type=text]").each(function () {
            if (!$(this).valid()) {
                $(this).css({ 'background-color': '#ffe6e6' });
                $('.activatevalidation').attr('s-stop', 'stop')
            }
        });
    }

</script>

