@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using DNNrocket.AppThemes;
@using System.IO;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{
    var settingsData = new SettingsData(0, 0, DNNrocketUtils.GetEditCulture());
    if (Model.List.Count > 0)
    {
        settingsData = (SettingsData)Model.List.First();
    }

    var appThemeData = new AppThemeData(DNNrocketUtils.GetCurrentUserId(), "/DesktopModules/DNNrocket/AppThemes");

    var flagurl32 = "/DesktopModules/DNNrocket/API/images/flags/32/" + appThemeData.AppCultureCode + ".png";
    if (!File.Exists(DNNrocketUtils.MapPath(flagurl32)))
    {
        flagurl32 = "/DesktopModules/DNNrocket/API/images/flags/32/none.png";
    }

}

<span class="w3-section simplisity_buttons">
    <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="rocketapptheme_dashboard" s-track="true" s-fields="interfacekey:dashboard">@ResourceKey("DNNrocket.cmdBackButton")</a>
    <a class="w3-button w3-pale-yellow w3-padding-8" onclick="location.reload();">@ResourceKey("DNNrocket.cmdCancelButton")</a>
    <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="rocketsettings_add" s-fields="tabid:-1,moduleid:-1,parentitemid:@settingsData.Info.ParentItemId,selecteditemid:@settingsData.Info.ItemID,interfacekey:fieldeditor">@ResourceKey("DNNrocket.cmdAddButton")</a>

    <span class="w3-button w3-green w3-padding-8 simplisity_click simplisity_langchange " s-after="SaveToMetaXml" s-before="validateform" s-cmd="rocketsettings_save" s-fields="tabid:-1,moduleid:-1,parentitemid:@settingsData.Info.ParentItemId,selecteditemid:@settingsData.Info.ItemID,interfacekey:fieldeditor" s-post="" s-list=".settingsdata">@ResourceKey("DNNrocket.cmdSaveButton")</span>

    <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="settingsbin" s-return="#datalist" s-removelist=".settingsdata" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
</span>

<div class="w3-right w3-padding">
    <b>@appThemeData.AppCultureCode</b>&nbsp;<img class='' src='@flagurl32' alt='' />
</div>

@RenderTemplate("FieldEditorBody.cshtml", "/DesktopModules/DNNrocket/AppThemes/Admin", "config-w3", Model)


<span id="rocketapptheme_savemeta" s-cmd="rocketapptheme_savemeta" s-fields="tabid:-1,moduleid:-1,parentitemid:@settingsData.Info.ParentItemId,interfacekey:dashboard" style="display:none;"></span>

<script>
    function SaveToMetaXml() {
        simplisity_callserver($('#rocketapptheme_savemeta'), '/DesktopModules/DNNrocket/API/api.ashx', '#rocketapptheme_savemeta', false)
    }
</script>