@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/TestForm/App_LocalResources/")

@{
    var info = (SimplisityInfo)Model.List.First();
}

<h1>@ResourceKey("testform.testformlist")</h1>


<span class="w3-section">
    <button class="w3-button w3-green w3-padding-8 simplisity_click" s-cmd="testform_add" s-return="#testformlist" s-fields="theme:config-w3,template:TestFormList.cshtml,systemprovider:businessdirectory,interfacekey:testform,listname:testlist">@ResourceKey("DNNrocket.cmdAddButton")</button>
    <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="testlistbin" s-return="#sortlist1" s-removelist=".testlist" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
</span>

<ul id="sortlist1" class="w3-ul">
    @{
        var lp = 1;
    }
    @foreach (var i in info.GetList("testlist"))
    {

        <li class="testlist w3-card w3-margin w3-display-container">

            <div class="w3-row w3-margin">
                <div class="w3-threequarter">
                    <div>
                        <label>Text Input (Standard)</label>
                        <!-- We use the "row" paramater on the razor token to get a unique id for each row.  This MUST be added-->
                        @TextBox(i, "genxml/textbox/list1txt", "class='w3-input w3-border' maxlength='50' type='text' ", "Razor Token Input Text",false,lp)
                    </div>
                    <div>
                        @EditFlag()&nbsp;<label>Text Input (Localized)</label>
                        @TextBox(i, "genxml/textbox/list1txtlang", "class='w3-input w3-border' maxlength='50' type='text'", "Localized Razor Token Input Text",true,lp)
                    </div>
                </div>
                <div class="w3-rest">
                    <a href="javascript:void(0)" class="simplisity_removelistitem w3-display-topright" s-removelist=".testlist" s-recylebin="testlistbin"><i title="Remove" class="fa fa-arrows "></i></a>
                    <a href="javascript:void(0)" class="simplisity_removelistitem w3-display-right " s-removelist=".testlist" s-recylebin="testlistbin"><i title="Remove" class="fa fa-minus-square fa-fw fa-lg"></i></a>
                </div>
            </div>
        </li>

        lp += 1;
    }
</ul>

