@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/TestForm/App_LocalResources/")

@{
    var info = (SimplisityInfo)Model.List.First();
}

<h1>@ResourceKey("testform.testformlist") Docs</h1>

<span class="w3-section">
    <button class="w3-button w3-teal w3-padding-8 fileuploadaction" onclick="$('#docfileupload').trigger('click')" >@ResourceKey("DNNrocket.cmdUploadButton")</button>
    <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="testlistdocbin" s-return="#sortlistdoc" s-removelist=".testlistdoc" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
</span>

<div class="w3-panel w3-white w3-rest" style="border-style:dotted">
    <input id="docfileupload" class="simplisity_fileupload" s-cmd="testform_adddoc" s-cmdurl="/desktopmodules/dnnrocket/api/api.ashx" s-return="#TestFormDocs" s-fields="theme:config-w3,template:TestFormDocs.cshtml,interfacekey:testform,listname:testlistdoc" type="file" name="files[]" multiple style="display:none;">
    <p><i>@ResourceKey("DNNrocket.dropimage")...</i></p>
</div>


<ul id="sortlistdoc" class="w3-ul">
    @{
        var lp = 1;
    }
    @foreach (var i in info.GetList("testlistdoc"))
    {

        <li class="testlistdoc w3-card w3-margin w3-display-container">

            <!-- The images fields on upload are populated, we need to inject them here so they get posted back on update and are not lost. -->
            @InjectHiddenFieldData(i)

            <div class="w3-row w3-margin">
                <div class="w3-quarter">
                    <b>@i.GetXmlProperty("genxml/hidden/docrelpath")</b>
                </div>

                <div class="w3-threequarter">
                    <div>
                        <label>Name (Standard)</label>
                        <!-- We use the "row" paramater on the razor token to get a unique id for each row.  This MUST be added-->
                        @TextBox(i, "genxml/textbox/filename", "class='w3-input w3-border' maxlength='50' type='text' ", "FileName", false, lp)
                    </div>
                    <div>
                        @EditFlag()&nbsp;<label>Name (Localized)</label>
                        @TextBox(i, "genxml/textbox/filename", "class='w3-input w3-border' maxlength='50' type='text'", "Localized FileName", true, lp)
                    </div>
                    <div>
                        @EditFlag()&nbsp;<label>Alt</label>
                        @TextBox(i, "genxml/textbox/alt", "class='w3-input w3-border' maxlength='50' type='text'", "Alt", true, lp)
                    </div>
                </div>
                    <div class="w3-col" style="100px">
                        <a href="javascript:void(0)" class="simplisity_removelistitem w3-display-right " s-removelist=".testlistdoc" s-recylebin="testlistdocbin"><i title="Remove" class="fa fa-minus-square fa-fw fa-lg"></i></a>
                    </div>
                </div>
</li>

        lp += 1;
    }
</ul>

