@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/resx/")

@{
    var imagewidth = Model.Datainfo.GetXmlPropertyInt("genxml/textbox/widthimagepath1");
    var imageheight = Model.Datainfo.GetXmlPropertyInt("genxml/textbox/heightimagepath1");
    var imagealt = Model.Datainfo.GetXmlPropertyInt("genxml/textbox/altimagepath1");
    var imagepath = Model.Datainfo.GetXmlProperty("genxml/hidden/imagepath1");
    var imagewidth2 = Model.Datainfo.GetXmlPropertyInt("genxml/textbox/widthimagepath2");
    var imageheight2 = Model.Datainfo.GetXmlPropertyInt("genxml/textbox/heightimagepath2");
    var imagealt2 = Model.Datainfo.GetXmlPropertyInt("genxml/textbox/altimagepath2");
    var imagepath2 = Model.Datainfo.GetXmlProperty("genxml/hidden/imagepath2");
}

<div class="w3-row">

    @if (imagepath != "")
    {
        <div class="w3-padding" style="float: left">
            <img src="/DesktopModules/DNNrocket/API/DNNrocketThumb.ashx?src=@imagepath&w=@imagewidth&h=@imageheight" alt="@imagealt" />
        </div>
    }
    @if (imagepath2 != "")
    {
        <div class="w3-padding" style="float: right">
            <img src="/DesktopModules/DNNrocket/API/DNNrocketThumb.ashx?src=@imagepath2&w=@imagewidth2&h=@imageheight2" alt="@imagealt2" />
        </div>
    }

    <div class="w3-padding">
        @HtmlOf(Model.Datainfo.GetXmlProperty("genxml/lang/genxml/textbox/richtext"))
    </div>

</div>
