@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Tools/App_LocalResources/")

@{
    var systemGlobalData = new SystemGlobalData();
    var webSiteData = new WebSiteData(false);
}

<div id="configdata" class="w3-container simplisity_panel">

    <div class="w3-panel">
        @RenderTemplate("CreateAccountInject.cshtml", "\\DesktopModules\\DNNrocket\\api", "config-w3", Model, "1.0", true)
    </div>

    <div class="w3-row w3-padding">
        <h2>@ResourceKey("RocketTools.companykey")</h2>
        <div class="w3-container">
            <i>
                @ResourceKey("RocketTools.companykey", "", "Help")
            </i>
        </div>
        <div class="w3-row w3-margin-top">
            <div id="accountkey" class="w3-col m9">
                @TextBox(webSiteData.Info, "genxml/companykey", "class='w3-input w3-border'")
            </div>
            <div class="w3-col m2">
                <div class="w3-button w3-green w3-right nextbuttonmodule simplisity_click" s-cmd="rocketaccount_savecompanykey" s-return="" s-fields='' s-post="#accountkey">@ButtonText(ButtonTypes.save)</div>
            </div>
        </div>
    </div>


</div>

<div id="datasourcelist">
</div>

<script>

    $(document).ready(function () {


    });

</script>
