@inherits Rocket.Tools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Tools/App_LocalResources/")


<h1>Module Clones</h1>
<p>@ResourceKey("RocketTools.moduleclone","","Help")</p>

<div class="w3-row">

    <div class="w3-third w3-padding tabselect">
        <div class="w3-panel w3-theme-d2 w3-padding" style="height:52px;">
            <b class="w3-large">@ResourceKey("DNNrocket.page")</b>
        </div>
        @TabSelectList(new SimplisityInfo(), "genxml/fromtabid", " class=' w3-input w3-border simplisity_change' s-cmd='rocketclones_getmodules' s-return='.moduledatasection' s-post='.tabselect' ")
    </div>
    <div class="w3-twothird" id="updatesection">
        <div class="w3-half w3-padding">
            <div class="w3-panel w3-theme-d2 w3-padding" style="height:52px;">
                <b class="w3-large">@ResourceKey("DNNrocket.modules")</b>
                <div class="w3-button w3-green w3-right nextbuttonmodule simplisity_click" style="display:none;" s-cmd="rocketclones_getdestination" s-return=".topagedatasection" s-fields='' s-post="#updatesection">@ResourceKey("DNNrocket.next")&nbsp;<i class="fas fa-caret-right"></i></div>
            </div>
            <div class="w3-row moduledatasection">

            </div>
        </div>
        <div class="w3-half w3-padding">
            <div class="w3-panel w3-theme-d2 w3-padding" style="height:52px;">
                <b class="w3-large">@ResourceKey("RocketTools.topage")</b>
                <div class="w3-button w3-green w3-right rocketclonesbutton simplisity_confirmclick" s-confirm="@ResourceKey("RocketTools.clone","","Confirm")" style="display:none;" s-cmd="rocketclones_clone" s-fields='' s-post="#updatesection"><i class="fas fa-save"></i>&nbsp;@ResourceKey("DNNrocket.clone")</div>
            </div>
            <div class="w3-row topagedatasection">

            </div>
        </div>
    </div>

</div>



<script>

    $(document).ready(function () {

        simplisity_setParamField('pageref', CreateGuid());

    });

    function CreateGuid() {
        function _p8(s) {
            var p = (Math.random().toString(16) + "000000000").substr(2, 8);
            return s ? "-" + p.substr(0, 4) + "-" + p.substr(4, 4) : p;
        }
        return _p8() + _p8(true) + _p8(true) + _p8();
    }


</script>

