@inherits Rocket.Tools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Tools/App_LocalResources/")


<h1>@ResourceKey("RocketTools.rocketlang")</h1>
<p>@ResourceKey("RocketTools.rocketlang", "", "Help")</p>

<div class="w3-row w3-margin-bottom langaugeselection">
    <div class="w3-third w3-padding">
        <div class="w3-panel w3-theme-d2 w3-padding" style="height:52px;">
            <b class="w3-large">@ResourceKey("DNNrocket.system")</b>
        </div>
        <div class="hummingbird-treeview well h-scroll-large">
            <ul id="modulelistdata" class="hummingbird-base">

                @{
                    var systemData = new DNNrocketAPI.SystemData();
                    var list = systemData.GetSystemList();
                    foreach (var sk in list)
                    {
                        <li>
                            <label>
                                <input id='sk.GUIDKey' class="systemcheckbox" systemid='@sk.ItemID' s-xpath="genxml/checkbox/systemid@(sk.ItemID)" s-update="save" type="checkbox">
                                @sk.GetXmlProperty("genxml/textbox/systemname")
                            </label>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>

        <div class="w3-third w3-padding">
            <div class="w3-panel w3-theme-d2 w3-padding" style="height:52px;">
                <b class="w3-large">@ResourceKey("RocketTools.copylanguage")</b>
            </div>
            @DropDownLanguageList(new SimplisityInfo(), "genxml/copylanguage", "class='w3-input w3-border' ")
        </div>

        <div class="w3-third w3-padding">
            <div class="w3-panel w3-theme-d2 w3-padding" style="height:52px;">
                <b class="w3-large">@ResourceKey("RocketTools.destinationlanguage")</b>
            </div>
            @DropDownLanguageList(new SimplisityInfo(), "genxml/destinationlanguage", "class='w3-input w3-border' ")
        </div>

    </div>

<div class="w3-row w3-center w3-padding w3-margin-bottom">
    <div class="w3-col m3" >&nbsp;</div>
    <div class="w3-button w3-col m6 w3-green w3-small simplisity_confirmclick" s-confirm="@ResourceKey("RocketTools.applyroles","","Confirm")" s-cmd="rocketroles_applyroles" s-fields='' s-post="#updatesection"><i class="fas fa-save"></i>&nbsp;@ResourceKey("RocketTools.applyroles")</div>
    <div class="w3-col m3" >&nbsp;</div>
</div>


<div class="w3-row w3-padding">
    <div class="w3-panel w3-theme-d2 w3-padding" style="height:52px;">
        <b class="w3-large">@ResourceKey("DNNrocket.history")</b>
        <div class="w3-button w3-green w3-right rocketclonesbutton simplisity_confirmclick" s-confirm="@ResourceKey("RocketTools.clone","","Confirm")" style="display:none;" s-cmd="rocketclones_clone" s-fields='' s-post="#updatesection"><i class="fas fa-save"></i>&nbsp;@ResourceKey("DNNrocket.clone")</div>
    </div>
    <div class="w3-row historydatasection">

    </div>
</div>




<script>

    $(document).ready(function () {

        simplisity_setParamField('pageref', CreateGuid());

    });

    function CreateGuid() {
        function _p8(s) {
            var p = (Math.random().toString(16) + "000000000").substr(2, 8);
            return s ? "-" + p.substr(0, 4) + "-" + p.substr(4, 4) : p;
        }
        return _p8() + _p8(true) + _p8(true) + _p8();
    }


</script>

