@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using DNNrocketAPI.Componants;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")

@{
}

<span class="w3-section simplisity_buttons">
    <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="rocketapptheme_builder" s-fields="interfacekey:builder">@ResourceKey("DNNrocket.cmdBackButton")</a>
</span>


<div class="w3-container">


            <div class="w3-container">
                <div class="w3-padding">

                        @foreach (AppTheme apptheme in Model.List)
                        {
                    <div class="w3-row-padding">
                        <div class="w3-col" style="width:100px;">
                            <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=/DesktopModules/DNNrocket/api/images/noimage2.png&w=100&h=100" alt="" />
                        </div>
                        <div class="w3-col m2">
                            @apptheme.AppName
                        </div>
                        <span class="w3-button w3-theme simplisity_click" s-cmd="" s-fields="apptheme:@apptheme.AppName,interfacekey:builder">@apptheme.AppName</span>
                    </div>
                        }         
                </div>
            </div>

</div>

<script>

    $(document).ready(function () {

    });

</script>