@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using DNNrocketAPI.Componants;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")

@{
}

    <span class="w3-section simplisity_buttons">
        <a class="w3-button w3-teal w3-padding-8" onclick="location.reload();">@ResourceKey("DNNrocket.cmdBackButton")</a>
        <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="rocketapptheme_dashboard" s-fields="interfacekey:dashboard">@ResourceKey("DNNrocket.cmdBackButton")</a>
    </span>


<div class="w3-container">


    <div class="w3-container">
        <h2>@ResourceKey("AppThemes.selectapptheme")</h2>

        <div id="searchsection" class="w3-row">
            <div class="w3-half">
                @if (Model.GetSetting("actiontype").ToLower() == "new")
                {
                    <p>@ResourceKey("AppThemes.selectappthememsgnew")</p>
                }
                @if (Model.GetSetting("actiontype").ToLower() == "version")
                {
                    <p>@ResourceKey("AppThemes.selectappthememsgversion")</p>
                }
                @if (Model.GetSetting("actiontype").ToLower() == "edit")
                {
                    <p>@ResourceKey("AppThemes.selectappthememsgedit")</p>
                }
            </div>
            <div class="w3-half">
                <div class="w3-twothird">
                    &nbsp;
                </div>
                <div class="w3-third">
                    <label>Search</label>
                    @TextBox(Model.HeaderData, "genxml/textbox/searchtext", "class='w3-input w3-border' autocomplete='off'")
                </div>

            </div>
        </div>
        <br/>
        <ul id="appthemelist" class="w3-ul w3-card-4">

            @if (Model.GetSetting("actiontype").ToLower() == "new")
            {
                <li class="w3-bar" appthemename="blank">
                    <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right simplisity_click " s-cmd="rocketapptheme_selecttheme" s-post="" s-fields="apptheme:blank,interfacekey:dashboard" ><i class="fas fa-check"></i></span>
                    <img class="w3-bar-item w3-hide-small" src="/DesktopModules/DNNrocket/API/DNNrocketThumb.ashx?src=/DesktopModules/DNNrocket/api/images/noimage2.png&w=100&h=100" alt="" />

                    <div class="w3-bar-item" style="width:70%">
                        <span class="w3-large">
                            BLANK
                        </span><br>
                        <span>This is a blank appTheme and will allow you to create a new AppTheme from a clear base.</span>
                    </div>
                </li>
            }


            @foreach (AppTheme apptheme in Model.List)
            {

        <li class="w3-bar" appthemename="@(apptheme.AppName)">
            <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right simplisity_click " s-cmd="rocketapptheme_selecttheme" s-post="" s-fields="apptheme:@(apptheme.AppName),interfacekey:dashboard"><i class="fas fa-check"></i></span>

            @if (apptheme.Logo == "")
            {
                <img class="w3-bar-item w3-hide-small" src="@ThumbnailImageUrl("/DesktopModules/DNNrocket/api/images/noimage2.png",100,100)" alt="" />
                            }
            else
            {
                <img class="w3-bar-item w3-border w3-border-theme w3-hide-small" onclick="document.getElementById('modal@(apptheme.AppName)').style.display='block'" src="@ThumbnailImageUrl(apptheme.Logo,100,100)" alt="" style="cursor: pointer" />

                <div id="modal@(apptheme.AppName)" class="w3-modal w3-animate-zoom w3-center" onclick="this.style.display='none'">
                    <img class="w3-modal-content" src="@ThumbnailImageUrl(apptheme.Logo,800,-1)" alt="" />
                </div>
            }

            <div class="w3-bar-item" style="width:70%">
                <span class="w3-large">
                    @apptheme.AppName
                </span><br>
                <span>@apptheme.Summary</span>
            </div>

        </li>

            }

        </ul>
    </div>

</div>

<script>

    $(document).ready(function () {

$('#searchtext').keyup(function(){
   var valThis = $(this).val().toLowerCase();
    $('#appthemelist>li').each(function(){
     var text = $(this).attr('appthemename').toLowerCase();
        (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();         
   });
});

    });


</script>