@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using DNNrocketAPI.Componants;
@using DNNrocket.AppThemes;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")

@{
    var appThemeData = (AppThemeData)Model.List.First();
}

<span class="w3-section simplisity_buttons">
</span>


<div class="w3-container">


    <div id="selectappthemename" class="w3-modal">

        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-theme-d3">
                <h2>@ResourceKey("AppThemes.entername")</h2>
            </header>
            <div class="w3-container w3-padding">
                <div>
                    <div class="w3-tooltip">
                        <label>Name</label>
                        <div class="w3-text">A car is a..sdjnckdsj j kasj j asj xkasjsxkljasksx  akjx lkasjsxlkjas lsxj lkasjx lkajlkx kasjxl kxjal kjxs a sxjlakjsx lkjalksxj laksjx ja lskxj lakj xslkaj.</div>
                    </div>
                    <label>@ResourceKey("AppThemes.name")</label>
                    @TextBox(appThemeData.Info, "genxml/textbox/name", "w3-input w3-border")
                </div>
            </div>
        </div>

    </div>



</div>

<script>

    $(document).ready(function () {

        $('#selectappthemename').show();

    });

    function hideconfigpopup() {
        $('#selectappthemename').hide();
    }

</script>