@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;
@using RocketMod;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{
    var info = (SimplisityInfo)Model.List.First();
    var systemRelPath = "/DesktopModules/DNNrocket/AppThemes";
    var systemMapPath = DNNrocketUtils.MapPath("/DesktopModules/DNNrocket/AppThemes");
    var appthemeversion = "v1";
}

<span class="w3-section simplisity_buttons">
    <button class="w3-button w3-green w3-padding-8 simplisity_langchange simplisity_click editorsavebutton" s-cmd="rocketapptheme_save" s-before="copyeditorcontent" s-fields="theme:@Model.GetSetting("theme"),interfacekey:editor" s-post="#editorpanel">@ResourceKey("DNNrocket.cmdSaveButton")</button>
</span>


<div id="templatereturn" style="display:none;"></div>

<div id="editorpanel">

    @HiddenField(info, "genxml/hidden/systemrelpath", "", systemRelPath)
    @HiddenField(info, "genxml/hidden/appthemeversion", "", appthemeversion)
    @HiddenField(info, "genxml/hidden/apptheme", "", "HtmlContent")
    @HiddenField(info, "genxml/hidden/themelevel", "", "portal")
    @HiddenField(info, "genxml/hidden/moduleref", "", "")
    @HiddenField(info, "genxml/hidden/editorcode", "", "")    


    <div class="w3-row w3-padding ">
        <div class="w3-col m3">
            <label>Template</label>
            @FileSelectList(info, "genxml/select/templatename", systemMapPath + "/Themes/HtmlContent/v1/default", "class=' templateselect w3-input w3-border simplisity_change' s-return='#templatereturn' s-post='#editorpanel' s-cmd='rocketapptheme_gettemplate' s-fields='interfacekey:editor'  ")
        </div>
    </div>

    <div id="editorwrapper" class="w3-row  w3-padding">

    </div>

</div>


<script>

    var myCodeMirror;

    $(document).ready(function () {

        $('#razoreditor').height($('#razoreditor').prop('scrollHeight'));

        $('#razoreditor').unbind("keyup");
        $("#razoreditor").keyup(function (event) {
            if (event.which == 13) {
                $('#razoreditor').height($('#razoreditor').prop('scrollHeight'));
            }
        });

        $('#templatereturn').unbind("change");
        $("#templatereturn").change(function (event) {

            $("#razoreditor").remove();
            $(".CodeMirror").remove();

            var textArea = $('<textarea id="razoreditor" style="w3-input w3-border" spellcheck="false" />');
            $('#editorwrapper').append(textArea);

            myCodeMirror = CodeMirror.fromTextArea(document.getElementById("razoreditor"), {
                lineNumbers: false,
                mode: "htmlmixed"
            });
            myCodeMirror.setSize("100%", "100%");
            myCodeMirror.setValue(simplisity_decode($(this).text()));
        });


    });

    function copyeditorcontent() {
        $('#editorcode').val(simplisity_encode(myCodeMirror.getValue()));
    }

</script>