@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using DNNrocket.AppThemes;
@using System.IO;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")

@{
    var settingsData = new SettingsData(0, 0, "");
    if (Model.List.Count > 0)
    {
        settingsData = (SettingsData)Model.List.First();
    }

    var appThemeData = new AppThemeData(DNNrocketUtils.GetCurrentUserId(), "/DesktopModules/DNNrocket/AppThemes");

    var flagurl = "/DesktopModules/DNNrocket/API/images/flags/16/" + appThemeData.AppCultureCode + ".png";
    if (!File.Exists(DNNrocketUtils.MapPath(flagurl)))
    {
        flagurl = "/DesktopModules/DNNrocket/API/images/flags/16/none.png";
    }

}

    <span class="w3-section simplisity_buttons">
        <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="rocketapptheme_dashboard" s-track="true" s-fields="interfacekey:dashboard">@ResourceKey("DNNrocket.cmdBackButton")</a>
        <a class="w3-button w3-pale-yellow w3-padding-8" onclick="location.reload();">@ResourceKey("DNNrocket.cmdCancelButton")</a>
        <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="rocketsettings_add" s-fields="tabid:-1,moduleid:-1,parentitemid:@settingsData.Info.ParentItemId,selecteditemid:@settingsData.Info.ItemID,interfacekey:resx">@ResourceKey("DNNrocket.cmdAddButton")</a>
        <span class="w3-button w3-green w3-padding-8 simplisity_click" s-cmd="rocketsettings_save" s-fields="tabid:-1,moduleid:-1,parentitemid:@settingsData.Info.ParentItemId,selecteditemid:@settingsData.Info.ItemID,interfacekey:resx" s-post="#datasection" s-list=".settingsdata">@ResourceKey("DNNrocket.cmdSaveButton")</span>
        <span class="w3-button w3-red w3-padding-8 simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.cmdDelete","","confirm")" s-cmd="rocketsettings_delete" s-fields="tabid:-1,moduleid:-1,parentitemid:@settingsData.Info.ParentItemId,selecteditemid:@settingsData.Info.ItemID,interfacekey:resx">@ResourceKey("DNNrocket.cmdDeleteButton")</span>
        <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="settingsbin" s-return="#pluginsettings" s-removelist=".settingsdata" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
    </span>

    <div id="datasection" class="w3-container">

        <input id="appculturecode" value="@appThemeData.AppCultureCode" type="hidden" />

        <div class="w3-row w3-margin">

            <div class="w3-padding">
                <span class="w3-button w3-blue w3-padding-8 simplisity_click " s-cmd="rocketapptheme_selectculturecode" s-post="" s-fields="interfacekey:culturecode"><i class="fas fa-globe" /></span>
                <b>@appThemeData.AppCultureCode</b>
            </div>

            <table id="pluginsettings" class="w3-table-all">

                <tr>
                    <th class="w3-quarter">@ResourceKey("system.name")&nbsp;(*.*)</th>
                    <th class="w3-twothird">@ResourceKey("system.value")&nbsp;<img class='' src='@flagurl' alt='' /></th>
                    <th style="width:20px;"></th>
                </tr>

                @{
                    var lp3 = 0;
                }
                @foreach (var i in settingsData.List)
                {
                    lp3 += 1;

                    <tr class="settingsdata">
                        <td class="w3-quarter">
                            @TextBox(i, "genxml/textbox/name", "class='w3-input w3-border' maxlength='250' autocomplete='off' ", "", false, lp3)
                        </td>
                        <td class="w3-twothird">
                            @TextBox(i, "genxml/textbox/value", "class='w3-input w3-border' maxlength='500' autocomplete='off' ", "", false, lp3)
                        </td>
                        <td style="width:20px;">
                            <a href="javascript:void(0)" class="simplisity_removetablerow" s-removelist=".settingsdata" s-recylebin="settingsbin"><i title="Remove" class="fas fa-minus-square fa-fw fa-lg"></i></a>
                        </td>
                    </tr>

                }
            </table>

        </div>
    </div>
