@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")


<div id="rocketimageselect" class="w3-modal">
    <div class="w3-modal-content" style="width: 96%;height: 96%;overflow-y:scroll;">
        <header class="w3-container w3-theme-d5" style="width: 100%">
            <span onclick="document.getElementById('rocketimageselect').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h4>Images</h4>
        </header>
        <br />
        <div class="w3-container">

            <span class="w3-section">
                <button class="w3-button w3-teal w3-padding-8 fileuploadaction" onclick="$('#imagefileupload').trigger('click')">@ResourceKey("DNNrocket.cmdUploadButton")</button>
                <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="testlist2bin" s-return="#sortlist2" s-removelist=".testlist2" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
            </span>

            <div class="w3-panel w3-white w3-rest" style="border-style:dotted">
                <input id="imagefileupload" class="simplisity_fileupload" s-cmd="imageselect_addimage" s-cmdurl="/desktopmodules/dnnrocket/api/api.ashx" s-return="#reocketimageselectlist1" s-fields="theme:config-w3,template:imagelist.cshtml,systemprovider:dnnrocket,interfacekey:imageupload" type="file" name="files[]" multiple style="display:none;">
                <p><i>@ResourceKey("DNNrocket.dropimage")...</i></p>
            </div>

            <div id="reocketimageselectlist1">

            </div>

            <div id="reocketimageselectlist" class="w3-container">
                <div class="">


                    @{
                        var imageRows = new List<List<string>>();
                        var imageItems = new List<string>();
                        var lp = 1;
                        foreach (string i in Model.List)
                        {
                            imageItems.Add(i);
                            if ((lp % 6) == 0)
                            {
                                imageRows.Add(imageItems);
                                imageItems = new List<string>();
                            }
                            lp += 1;
                        }

                        lp = 1;
                        foreach (List<string> imageRow in imageRows)
                        {
                            <div class="w3-row">
                                @foreach (string imageName in imageRow)
                                {
                                    <div class="w3-col m2" selectorcount="@(lp)">
                                        <div class="overlayicons"><span class="glyphicon glyphicon-ok-sign fileselector@(lp) allow1selection" style="display:none;"></span></div>
                                        <img src="@ThumbnailImageUrl(DNNrocketUtils.HomeRelDirectory() + "/images/" + imageName,150,150)" class="w3-border w3-padding" style="width:100%" />
                                    </div>
                                    lp += 1;
                                }
                            </div>
                        }

                    }
                </div>

            </div>

        </div>
    </div>
</div>
