@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using Rocket.AppThemes.Componants;
@using System.IO;
@using DNNrocketAPI.Componants;
@using RocketMod.Componants;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")

@{
    var appThemeMod = (AppThemeModule)Model.List.First();
    var info = new SimplisityInfo(appThemeMod.AppTheme.Record);
    var record = appThemeMod.AppTheme.Record;
}
@{
    var dataDic = new Dictionary<string, string>();
    foreach (string i in appThemeMod.AppTheme.VersionList)
    {
        dataDic.Add(i, i);
    }

    var templateLP = 1;
    var templatedatalist = record.GetRecordList("templatelist");
    var cssLP = 1;
    var cssdatalist = record.GetRecordList("csslist");
    var jsLP = 1;
    var jsdatalist = record.GetRecordList("jslist");


    var savelists = ".templatelist,.csslist,.jslist,";
}


    <div id="detailsection">

        <div class="w3-container">

            <div class="w3-display-container">
                <div class="w3-col m2" style="width:140px">
                    <img src="@ThumbnailImageUrl(appThemeMod.AppTheme.Logo,140,140)" alt="" style="width:60%;" class="w3-circle w3-hover-opacity w3-margin-bottom">
                </div>
                <div class="w3-col m8">
                    <h2>@(appThemeMod.AppTheme.AppThemeFolder)&nbsp;v@(appThemeMod.AppTheme.AppVersionFolder)&nbsp;<span class="validationfail w3-margin-left " style="display:none;"><i class='fas fa-exclamation-triangle' style='font-size:24px;color:red;'></i></span></h2>
                </div>
            </div>

            <div id="appthemedetails">


                <div id="editorsave" style="display:none;">
                    @HiddenField(info, "genxml/hidden/selectedsystemkey", "", appThemeMod.AppTheme.SystemKey)
                    <input id="editorfilenamesave" type="hidden" value="" />
                    <input id="editorcodesave" type="hidden" value="" />
                    <input id="editorfileext" type="hidden" value="" />
                </div>
            </div>


            <div class="w3-container">
                <div class="w3-row w3-padding" ">
                    <div class="w3-container w3-theme w3-padding">
                        <label>@ResourceKey("AppThemes.templates")</label>
                    </div>
                    <div class="w3-container ">
                        <ul class="w3-ul">
                            @foreach (var templateDict in appThemeMod.AppTheme.GetTemplatesRazor())
                            {
                                var bcolor = "";
                                if (appThemeMod.IsModuleLevelTemplate(templateDict.Key))
                                {
                                    bcolor = "w3-pale-green";
                                }
                                <li class="w3-col m4 w3-display-container w3-padding w3-border-0 ">
                                    <div class="w3-row w3-display-container w3-padding  w3-card @bcolor">
                                        <i class="fas fa-edit simplisity_click" s-cmd="rocketmodapptheme_geteditor" s-fields='{"filename":"@templateDict.Key","appthemefolder":"@appThemeMod.AppTheme.AppThemeFolder","appversionfolder":"@appThemeMod.AppTheme.AppVersionFolder"}' style="cursor:pointer;"></i>
                                        &nbsp;
                                        @templateDict.Key
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="w3-row w3-padding">
                    <div class="w3-container w3-theme w3-padding">
                        <label>@ResourceKey("AppThemes.css")</label>
                    </div>
                    <div class="w3-container">
                        <ul class="w3-ul">
                            @foreach (var templateDict in appThemeMod.AppTheme.GetTemplatesCSS())
                            {
                                var bcolor = "";
                                if (appThemeMod.IsModuleLevelTemplate(templateDict.Key))
                                {
                                    bcolor = "w3-pale-green";
                                }
                                <li class="w3-col m4 w3-display-container w3-padding w3-border-0 ">
                                    <div class="w3-row w3-display-container w3-padding  w3-card @bcolor">
                                        <i class="fas fa-edit simplisity_click" s-cmd="rocketmodapptheme_geteditor" s-fields='{"filename":"@templateDict.Key","appthemefolder":"@appThemeMod.AppTheme.AppThemeFolder","appversionfolder":"@appThemeMod.AppTheme.AppVersionFolder"}' style="cursor:pointer;"></i>
                                        &nbsp;
                                        @templateDict.Key
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>


                <div class="w3-row w3-padding">
                    <div class="w3-container w3-theme w3-padding">
                        <label>@ResourceKey("AppThemes.javascript")</label>
                    </div>
                    <div class="w3-container">
                        <ul class="w3-ul">
                            @foreach (var templateDict in appThemeMod.AppTheme.GetTemplatesJS())
                            {
                                var bcolor = "";
                                if (appThemeMod.IsModuleLevelTemplate(templateDict.Key))
                                {
                                    bcolor = "w3-pale-green";
                                }
                                <li class="w3-col m4 w3-display-container w3-padding w3-border-0 ">
                                    <div class="w3-row w3-display-container w3-padding  w3-card @bcolor">
                                        <i class="fas fa-edit simplisity_click" s-cmd="rocketmodapptheme_geteditor" s-fields='{"filename":"@templateDict.Key","appthemefolder":"@appThemeMod.AppTheme.AppThemeFolder","appversionfolder":"@appThemeMod.AppTheme.AppVersionFolder"}' style="cursor:pointer;"></i>
                                        &nbsp;
                                        @templateDict.Key
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="w3-right">
    <i>ID: </i> @info.ItemID
</div>


<script>

    $(document).ready(function () {

        $('input[type=radio][name=themetyperadio]').unbind("change");
        $('input[type=radio][name=themetyperadio]').change(function () {
            if (this.value === '2') {
                $('.listtemplatedata').show();
                $('.regenerateeditlist').show();
            }
            else {
                $('.listtemplatedata').hide();
                $('.regenerateeditlist').hide();
            }
        });

        if ($('input[type=radio][name=themetyperadio]:checked').val() === '2') {
            $('.listtemplatedata').show();
            $('.regenerateeditlist').show();
        }
        else {
            $('.listtemplatedata').hide();
            $('.regenerateeditlist').hide();
        }


    });

    function changeversionaction() {
        var newversion = $('.changeversionclass').val();
        $('.changeversionclass').attr('s-fields', '{"appthemefolder":"@appThemeMod.AppTheme.AppThemeFolder","appversionfolder":"' + newversion + '"}');
    }


    function languageChange() {
        $('.langchangesave').trigger("click");
    }

    function selectlanguage() {
        $('#languageselector').show();
        $('#searchtext').focus();
    }

    function searchFunction() {
        var filter = $('#searchtext').val().toUpperCase();
        $('.searchlanguagebutton ').each(function (i, obj) {
            txtValue = $(this).attr('alt');
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                $(this).parent().show();
            } else {
                $(this).parent().hide();
            }
        });
    }


</script>