@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketMod.Componants;
@using DNNrocketAPI.Componants;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketMod/App_LocalResources/")

@{
    var info = new SimplisityInfo();

    var moduleParams = (ModuleParams)Model.List.First();

    var articleData = (ArticleLimpet)Model.GetDataObject("articledata"); ;
    if (articleData.Info != null)
    {
        info = articleData.Info;
    }

}

<div id="articleedit" class="w3-display-container">
    <div id="articleeditcontent" class='w3-animate-opacity '>

        @if (moduleParams.AppTheme.IsListDetail)
        {
            <div class="w3-row w3-padding">
                <div class="w3-col m2 w3-button rocket-buttonbar w3-green simplisity_click savearticlebutton langchangesave" s-cmd="rocketmodedit_savearticle" s-post="#articledatasection" s-fields='{"articleid":"@articleData.ArticleId"}'>@ButtonText(ButtonTypes.save)</div>
                @if (Model.GetSettingBool("saved"))
                {
                    <i class='fas fa-save w3-right simplisity_fadeout' style="font-size:24px"></i>
                }

            </div>

            <div id="articledatasection" class="">

                @HtmlOf(RenderRazorUtils.RazorRender(Model, moduleParams.AppTheme.GetTemplate("Edit.cshtml"), true))

                <div class='w3-row w3-padding'>
                    <div class="w3-padding">
                        <div class="w3-button w3-teal simplisity_click" s-before="showpopup" s-cmd="rocketmodedit_editrow" s-return=".articleroweditarea" s-fields='{"articleid":"@info.ItemID","articlerowref":""}'><i class='fas fa-plus-circle'></i></div>
                        <span class="w3-xlarge">&nbsp;@ResourceKey("DNNrocket.content")</span>
                    </div>
                    <ul id="articlerowlistdata" class="w3-ul w3-hoverable " style="border-bottom: none;">
                        @foreach (var articleRowData in articleData.GetArticleRows())
                        {
                            <li class="categorylist w3-row simplisity_click" rowref="@articleRowData.ArticleRowRef" s-before="showpopup" s-cmd="rocketmodedit_editrow" s-return=".articleroweditarea" s-fields='{"articleid":"@articleData.ArticleId","articlerowref":"@articleRowData.Info.GetXmlProperty("genxml/hidden/articlerowref")","track":"false"}'>
                                <div class="w3-rest w3-card " style="cursor: pointer;">
                                    <div class="w3-bar w3-card " style="">
                                        <div class="w3-bar-item">
                                            @articleRowData.Title
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>

            </div>

            <div>
                @if (UserUtils.IsInRole("Administrator"))
                {
                    <div class="w3-container">
                        <div class="w3-right">
                            @RenderTemplateInfo("XmlModelDisplay.cshtml", info)
                        </div>
                    </div>
                }
                <i>ID: </i> @info.ItemID <i> GuidKey:</i> @info.GUIDKey
            </div>


            <div id="id01" class="w3-modal ">
                <div class="articlemodel w3-modal-content w3-animate-opacity" style="width:95%;">
                    <div class="w3-display-middle articleprocess" style="display:none;">
                        <i class="fa fa-3x fas fa-spinner w3-spin"></i>
                    </div>
                    <div class="w3-container articleroweditarea">
                    </div>
                </div>
            </div>

        }
        else
        {
            <h1>Single</h1>
        }


    </div>

</div>


<script>
    $(document).ready(function () {

        var startPosition = function (e, ui) {
            simplisity_setParamField("sourcerowref", ui.item.attr('rowref'));
        };

        var stopPosition = function (e, ui) {
            if (typeof ui.item.prev().attr('rowref') === 'undefined' || ui.item.prev().attr('rowref') === null || ui.item.prev().attr('rowref') === '') {
                simplisity_setParamField("destrowref", '');
            }
            else {
                simplisity_setParamField("destrowref", ui.item.prev().attr('rowref'));
            }
                simplisity_setParamField("articleid",'@(articleData.ArticleId)');
            $('#simplisity_startpanel').getSimplisity('/Desktopmodules/dnnrocket/api/rocket/action', 'rocketmodedit_moverow', '', '');
        };


         $("#articlerowlistdata").sortable({
            start: startPosition,
            beforeStop: stopPosition,
        });
        $("#articlerowlistdata").disableSelection();


    });

    function languageChange() {
        $('.langchangesave').trigger("click");
    }
    function showpopup() {
        $('#id01').show();
    }


</script>



