@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketMod.Componants;
@using DNNrocketAPI.Componants;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@{
    var info = new SimplisityInfo();
    var articleRowData = (ArticleRowLimpet)Model.List.First();
    if (articleRowData.Info != null)
    {
        info = articleRowData.Info;
    }
    var moduleParams = (ModuleParams)Model.GetDataObject("moduleparams");
}

<div id="articleeditrow" class='w3-display-container w3-animate-opacity simplisity_panel'>

    <div id="articleeditrowcontent" class=''>

        <div class="w3-row w3-padding">
            <div class="w3-col m2 w3-button rocket-buttonbar w3-khaki simplisity_click" s-cmd="rocketmodedit_editarticle" s-fields='{"articleid":"@articleRowData.ArticleId","track":"false"}'>@ButtonText(ButtonTypes.back)</div>
            <div class="w3-col m2 w3-button rocket-buttonbar w3-green savearticlerowbutton simplisity_click" s-list=".@articleRowData.ImageListName,.@articleRowData.DocumentListName,.@articleRowData.LinkListName" s-cmd="rocketmodedit_updaterow" s-post="#articlerowdatasection" s-return=".articleroweditarea" s-fields='{"articleid":"@articleRowData.ArticleId","articlerowref":"@articleRowData.ArticleRowRef"}'>@ButtonText(ButtonTypes.save)</div>

            @if (articleRowData.ArticleRowRef != "")
            {
                <div class="w3-col m2 w3-button rocket-buttonbar w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete","","confirm")" s-cmd="rocketmodedit_deleterow" s-fields='{"articleid":"@articleRowData.ArticleId","articlerowref":"@articleRowData.ArticleRowRef"}'>@ButtonText(ButtonTypes.delete)</div>
            }


            @if (Model.GetSettingBool("saved"))
            {
                <i class='fas fa-save w3-right simplisity_fadeout' style="font-size:24px"></i>
            }

        </div>

        <div id="articlerowdatasection" class="">

            @HiddenField(info, "genxml/hidden/articlerowref", "", GeneralUtils.GetGuidKey())
            <!-- The Detail-->
            <div id="detailDisplay" class="w3-container">

                @HtmlOf(RenderRazorUtils.RazorRender(Model, moduleParams.AppTheme.GetTemplate("EditRow.cshtml"), true));

            </div>

        </div>

    </div>

</div>


<script>

    $(document).ready(function () {

    });


</script>



