@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using Simplisity;
@using RocketMod.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketMod/App_LocalResources/")

@{
    var imgLP = 0;
    var moduleParams = (ModuleParams)Model.List.First();
    var articleRowData = (ArticleRowLimpet)Model.GetDataObject("articlerow"); ;
    var datalist = articleRowData.GetImageList();
    var globalSettings = new SystemGlobalData();
}

<div class="w3-row imagelistdatasection">

    <div class="w3-container">
        <div class="w3-button rocket-buttonbar w3-teal w3-padding-8" onclick="$('#articleimageselect').show();"><i class='fas fa-plus-circle'></i></div>
        <div class="w3-button rocket-buttonbar w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="imagelistbin" s-return="#imagelistdata" s-removelist=".imagelist" style="display: none;"><i class="fas fa-undo fa-fw fa-lg"></i></div>
    </div>

    <ul id="imagelistdata" class="w3-ul">

        @foreach (var imgInfo in datalist)
        {
            imgLP += 1;
            var articleImage = new ArticleImage(imgInfo, "");

            <li class="@articleRowData.ImageListName w3-half w3-display-container w3-padding w3-border-0">

                @SortableListIndex(imgInfo, imgLP)

                <div class="w3-display-container w3-padding w3-card">
                    <div class="w3-row">
                        <span id="deletebutton@(imgLP)" onclick="" class="w3-button w3-display-topright simplisity_removelistitem" s-removelist=".imagelist" s-recylebin="imagelistbin">
                            <i title="Remove" class="fas fa-minus-square fa-fw fa-lg"></i>
                        </span>
                        <div class="w3-col m2 w3-padding" style="width:100px;">
                            @if (articleImage.RelPath != "")
                            {
                                <img src="@ThumbnailImageUrl(articleImage.RelPath, 80, 80)" style="height:80px;width:80px;" class="w3-circle" />
                            }
                            else
                            {
                                <img src="@ThumbnailImageUrl("/DesktopModules/DNNrocket/api/images/noimage2.png", 80, 80)" style="height:80px;width:80px;" class="w3-circle" />
                            }
                        </div>
                        <div class="w3-col m8 w3-padding">
                            @TextBox(imgInfo, "genxml/lang/genxml/textbox/imagealt", "class='w3-input w3-border w3-margin-top' MaxLength='200'", "", true, imgLP)
                            @HiddenField(imgInfo, "genxml/hidden/imagepath", "", "", false, imgLP)
                        </div>
                    </div>
                </div>
            </li>

        }
    </ul>

</div>

<script>
    $(document).ready(function () {
        $("#imagelistdata").sortable();
        $("#imagelistdata").disableSelection();
    });
</script>
