@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Components;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Tools/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{ 
    var backupidentical = (string)CacheUtils.GetCache("backupidentical");
}

    <div class="w3-row w3-padding">
        <div class="w3-row w3-padding ">
            <div class="w3-col m2 w3-button w3-blue simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.backup") ?" s-cmd="backup_dobackup" s-fields=''><i class="fas fa-backup"></i>&nbsp;@ResourceKey("DNNrocket.backup")</div>
        </div>
        <div class="w3-row w3-padding w3-small w3-light-grey">
            @ResourceKey("RocketMod.backup", "", "Help")
        </div>

        @if (backupidentical != "" && GeneralUtils.IsDate(backupidentical, DNNrocketUtils.GetCurrentCulture()))
        {
    <div class="w3-row w3-padding w3-text-blue">@ResourceKey("RocketMod.lastbackupidentical")&nbsp;:&nbsp;@Convert.ToDateTime(backupidentical).ToShortDateString() @Convert.ToDateTime(backupidentical).ToShortTimeString()</div>
        }

        <div class="w3-panel w3-theme-d2 w3-padding" style="height:52px;">
            <b class="w3-large">@ResourceKey("DNNrocket.backupdata")</b>
            <div class="w3-button w3-right w3-padding simplisity_confirmclick" title="@ResourceKey("DNNrocket.delete")" s-confirm="@ResourceKey("RocketTools.deletebackupall", "", "Confirm")" s-cmd="backup_deletebackupall" s-fields=''><i class="fas fa-trash-alt"></i></div>
        </div>
        <div class="w3-row historydatasection">

            <table class="w3-table w3-bordered">
                <tr>
                    <th style="width:200px;">@ResourceKey("DNNrocket.date")</th>
                    <th>@ResourceKey("DNNrocket.systemkey")</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

                @{
                    var BackUpDataList = new BackUpDataList("rocketmod" + Model.ModuleId, Model.GetSetting("searchpattern"));
                    var lp = 1;
                    foreach (var moduleFolder in BackUpDataList.SystemKeyFolderList)
                    {
                        foreach (var BackUpData in BackUpDataList.GetBackUpList(moduleFolder))
                        {
                            <tr>
                                <td>
                                    @BackUpData.BackUpDate.ToString("yyyy-MM-dd HH:mm:ss")
                                </td>
                                <td>@moduleFolder</td>
                                <td style="width:74px;">
                                    <div class="w3-button w3-padding savebutton@(lp) simplisity_click" style="display:none;" title="@ResourceKey("DNNrocket.save")" s-post=".backuptext@(lp)" s-cmd="backup_save" s-fields='{"filemappath":"@GeneralUtils.EnCode(BackUpData.FileMapPath)"}'><i class="fas fa-save"></i></div>
                                </td>
                                <td class="backuptext@(lp)">@TextBox(BackUpData.Info, "backup/backuptext", "class='w3-input w3-border backuptextbox ' idx='" + lp + "' maxlength='500' autocomplete='off' ", "", false, lp)</td>
                                <td style="width:74px;">
                                    <a class="w3-button w3-padding simplisity_filedownload" title="@ResourceKey("DNNrocket.download")" s-cmd="backup_downloadbackup" s-fields='{"filemappath":"@GeneralUtils.EnCode(BackUpData.FileMapPath)"}'><i class="fas fa-download"></i></a>
                                </td>
                                <td style="width:74px;">
                                    <div class="w3-button w3-padding w3-text-green simplisity_confirmclick" title="@ResourceKey("DNNrocket.restore")" s-confirm="@ResourceKey("RocketTools.restorebackup", "", "Confirm")" s-cmd="backup_restorebackup" s-fields='{"filemappath":"@GeneralUtils.EnCode(BackUpData.FileMapPath)"}'><i class="fas fa-recycle"></i></div>
                                </td>
                                <td style="width:74px;">
                                    <div class="w3-button w3-padding w3-text-red simplisity_confirmclick" title="@ResourceKey("DNNrocket.delete")" s-confirm="@ResourceKey("RocketTools.deletebackup", "", "Confirm")" s-cmd="backup_deletebackup" s-fields='{"filemappath":"@GeneralUtils.EnCode(BackUpData.FileMapPath)"}'><i class="fas fa-trash-alt"></i></div>
                                </td>
                            </tr>
                            lp += 1;
                        }
                    }
                }
            </table>

        </div>
    </div>


<script>

    $(document).ready(function () {

        $(".backuptextbox").keypress(function () {
            var idx = $(this).attr('idx');
            $('.savebutton' + idx).show();
        });

    });

</script>

