@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;
@using RocketMod;
@using RocketMod.Componants;
@using RocketSettings;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{
    var moduleParams = (ModuleParams)Model.List.First();
    var configinfo = new SimplisityInfo(moduleParams.Record);
    var dataModuleParams = new ModuleParams(moduleParams.DataSourceModId, moduleParams.SystemKey);
    var systemGlobalData = new SystemGlobalData();
    var systemInfoData = new SystemInfoData(moduleParams.SystemKey);
    Model.SetSetting("licensetype", moduleParams.SystemKey);
    var licenseData = new LicenseData(moduleParams.SystemKey, DNNrocketUtils.SiteGuid());
}



<div class="w3-row w3-padding">
    <div class="w3-col m2 w3-button w3-green w3-padding-8 langchangesave simplisity_click rocketmodsavebutton" s-cmd="rocketmodedit_saveconfig" s-fields='{"tabid":"@(Model.GetSetting("tabid"))","moduleid":"@(Model.ModuleId)","selecteditemid":"@configinfo.ItemID","interfacekey":"dashboard"}' s-post="#configdata">@ButtonText(ButtonTypes.save)</div>
    @ButtonGap()
<div class="w3-col m6 w3-dropdown-hover">
    <div class="w3-button">@ResourceKey("DNNrocket.more")...</div>
    <div class="w3-dropdown-content w3-bar-block w3-card">
        <div class="w3-bar-item w3-button w3-blue w3-padding-8 simplisity_click" s-cmd="rocketmodedit_datasourcelist" s-return="#datasourcelist" s-fields='{"moduleid":"@(Model.ModuleId)"}'><i class="fas fa-share-alt-square fa-fw fa-lg"></i>@ResourceKey("RocketMod.datasource")</div>
        <div class="w3-bar-item w3-button w3-red w3-padding-8 simplisity_confirmclick" s-after="reloadpage" s-confirm="@ResourceKey("RocketMod.resetmsg")" s-cmd="rocketmodedit_reset" s-fields='{"tabid":"@(Model.GetSetting("tabid"))","moduleid":"@(Model.ModuleId)","interfacekey":"rocketmod"}'>@ResourceKey("RocketMod.resetconfig")</div>
        <div class="w3-bar-item w3-button w3-red w3-padding-8 simplisity_confirmclick" s-confirm="@ResourceKey("RocketMod.resetdatamsg")" s-cmd="rocketmodedit_resetdata" s-fields='{"tabid":"@(Model.GetSetting("tabid"))","moduleid":"@(Model.ModuleId)","interfacekey":"rocketmod"}'>@ResourceKey("RocketMod.resetdata")</div>
    </div>
    @if (systemInfoData.DebugMode)
    {
<b class="w3-text-red">&nbsp;@ResourceKey("DNNrocket.system")&nbsp;@ResourceKey("DNNrocket.debugmode"):&nbsp;@ResourceKey("DNNrocket.on")&nbsp;</b>
    }
    @if (Model.GetSettingBool("saved"))
    {
        <i class='fas fa-save simplisity_fadeout' style="font-size:24px"></i>
    }
</div>
    <div class="w3-right">
        @if (moduleParams.ShareData != "0" && !moduleParams.DataSourceExternal)
        {
            var sharecolor = "teal";
            if (moduleParams.ShareData == "2")
            {
                sharecolor = "red";
            }
            <i class='fas fa-share-alt-square sharedataicon' style='font-size:36px;color:@(sharecolor)'></i>
        }

    </div>

</div>

<h1>@ResourceKey("RocketMod.config")</h1>

<div id="configdata" class="w3-container simplisity_panel">

    <div class="w3-row">
        <div class="w3-col m2 w3-margin-top " style="width:120px;height:120px;">
            <img src="@ThumbnailImageUrl(moduleParams.AppThemeLogo,120,120,"", systemGlobalData.PngImage)" class="w3-circle" />
        </div>
        <div class="w3-col m5">
            <div class="w3-row">
                <div class="w3-col m9 w3-padding">
                    <label>@ResourceKey("RocketMod.name")</label>
                    @TextBox(configinfo, "genxml/hidden/name", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false)
                </div>
                <div class="w3-col m3 w3-padding">
                    <label>@ResourceKey("RocketMod.version")</label>
                    @FolderSelectList(configinfo, "genxml/hidden/appthemeversion", moduleParams.AppThemeFolderMapPath, "class='w3-input w3-border'", false, false)
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col m6 w3-padding">
                    <label>@ResourceKey("RocketMod.imagefolder")</label>
                    @TextBox(configinfo, "genxml/hidden/imagefolder", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "images", false)
                </div>
                <div class="w3-col m6 w3-padding">
                    <label>@ResourceKey("RocketMod.documentfolder")</label>
                    @TextBox(configinfo, "genxml/hidden/documentfolder", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "docs", false)
                </div>
            </div>

        </div>
        <div class="w3-col m4">
            <div class="w3-row">
                <div class="w3-col m12 w3-padding">
                    @if (!moduleParams.DataSourceExternal)
                    {
                        <label>@ResourceKey("RocketMod.sharedata")</label><br />
                        @RadioButtonList(configinfo, "genxml/hidden/sharedata", "0,1,2", ResourceKey("RocketMod.sharedataoptions").ToString(), " class='sharedataaction' ", "1", "")
                    }
                    else
                    {
                        <div class="w3-col m3 w3-padding w3-margin" style="width:80px;height:80px;">
                            <br />
                            <img src="@ThumbnailImageUrl(dataModuleParams.AppThemeLogo,80,80)" class="w3-circle" />
                        </div>
                        <div class="w3-col m8 w3-margin w3-padding">
                            <table class="">
                                <tr>
                                    <td>@ResourceKey("RocketMod.datasource"):</td>
                                    <td><b>@HtmlOf(dataModuleParams.Name)</b></td>
                                </tr>
                                <tr>
                                    <td>@ResourceKey("RocketMod.ref"):</td>
                                    <td><b>@moduleParams.DataSourceModRef</b></td>
                                </tr>
                                <tr>
                                    <td>ModuleId:</td>
                                    <td><b>@(moduleParams.DataSourceModId)</b></td>
                                </tr>
                                <tr>
                                    <td>AppTheme:</td>
                                    <td><b>@dataModuleParams.AppThemeFolder</b></td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>

    <div class="w3-row w3-padding">
        <div class="w3-col m6 w3-padding">
            <label>@ResourceKey("RocketMod.notes")</label>
            @TextArea(configinfo, "genxml/hidden/appthemenotes", "class='w3-input w3-border' rows=5 ", "", false)
        </div>
        <div class="w3-col m6  w3-padding w3-margin-top">
            <div class="w3-col m6 w3-padding">
                @CheckBox(configinfo, "genxml/hidden/disbalecache", "", "class='w3-check'", false)
                <label>@ResourceKey("RocketMod.disablecache")</label>
            </div>
            <div class="w3-col m6 w3-padding " style="display:none;">
                @CheckBox(configinfo, "genxml/hidden/exportresourcefiles", "", "class='w3-check'", false)
                <label>@ResourceKey("RocketMod.exportresourcefiles")</label>
            </div>
            <div class="w3-col m12 w3-padding">
                <label>@ResourceKey("DNNrocket.sitekey")</label>
                <div class="w3-border w3-padding  w3-light-grey">@DNNrocketUtils.SiteGuid()</div>
            </div>
        </div>
    </div>

    @if (licenseData.Exists)
    {

        if (licenseData.ExpireDate < DateTime.Now)
        {
            <h2>Inclusive Upgrade Expired</h2>
        }

    }
    else
    {

    }

    <div class="w3-panel w3-purple">
        <div class="w3-row">
            <div class="w3-col m3">
                <h2>@ResourceKey("DNNrocket.prolicense")</h2>
            </div>
            <div class="w3-col m7 w3-padding">
                @ResourceKey("DNNrocket.domainurl"):&nbsp;@licenseData.DomainUrl<br />
                @ResourceKey("DNNrocket.certificatekey"):&nbsp;@licenseData.CertificateKey<br />
            </div>
            <div class="w3-col m2 w3-padding" id="varifycertificatekey">
                <div class="w3-button w3-blue simplisity_click" s-post="" s-return="#varifycertificatekey" s-cmd="systemapi_licensevarify" s-fields='{"sitekey":"@DNNrocketUtils.SiteGuid()","systemkey":"@licenseData.SystemKey"}' s-track="false"><i class="fas fa-check"></i>&nbsp;@ResourceKey("DNNrocket.checkkey")</div>
            </div>
        </div>
    </div>


    @RenderTemplate("LicenseInject.cshtml", "\\DesktopModules\\DNNrocket\\api", "config-w3", Model, "1.0", true)

    <div class="w3-panel w3-panel">
        @RenderTemplate("CreateAccountInject.cshtml", "\\DesktopModules\\DNNrocket\\api", "config-w3", Model, "1.0", true)
    </div>


    <div class="w3-container w3-border w3-margin-top">
        <div class="w3-col m3 w3-padding">
            ItemId:&nbsp;<b>@configinfo.ItemID</b>
        </div>
        <div class="w3-col m3 w3-padding">
            @ResourceKey("RocketMod.apptheme"):&nbsp;<b>@moduleParams.AppThemeFolder</b>
        </div>
        <div class="w3-col m2 w3-padding">
            ModuleId:&nbsp;<b>@configinfo.ModuleId</b>
        </div>
        <div class="w3-col m3 w3-padding">
            @ResourceKey("RocketMod.ref"):&nbsp;<b>@moduleParams.ModuleRef</b>
        </div>
    </div>


</div>

<div id="datasourcelist">
</div>

<script>

    $(document).ready(function () {

        $('.sharedataaction').unbind('change');
        $('.sharedataaction').change(function () {
            if ($('input[name=sharedataradio]:checked').val() === '0') {
                $('.sharedataicon').hide();
            }
            if ($('input[name=sharedataradio]:checked').val() === '1') {
                $('.sharedataicon').show();
                $('.sharedataicon').css('color', 'teal')
            }
            if ($('input[name=sharedataradio]:checked').val() === '2') {
                $('.sharedataicon').show();
                $('.sharedataicon').css('color', 'red')
            }
        });

    });

    function reloadpage() {
        location.reload();
    }

</script>
