@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;
@using RocketMod;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{
    var moduleParams = (ModuleParams)Model.List.First();
    var configinfo = new SimplisityInfo(moduleParams.Record);
}


    <div class="w3-row w3-padding">
        <div class="w3-col m2 w3-button w3-green w3-padding-8 simplisity_langchange simplisity_click rocketmodsavebutton" s-cmd="rocketmod_saveconfig" s-fields='{"tabid":"@(Model.GetSetting("tabid"))","moduleid":"@(Model.ModuleId)","selecteditemid":"@configinfo.ItemID","interfacekey":"dashboard"}' s-post="#configdata">@ResourceKey("DNNrocket.cmdSaveButton")</div>
        @ButtonGap()
        <div class="w3-col m2 w3-button w3-red w3-padding-8 simplisity_confirmclick" s-after="reloadpage" s-confirm="@ResourceKey("RocketMod.resetmsg")" s-cmd="rocketmod_reset" s-fields='{"tabid":"@(Model.GetSetting("tabid"))","moduleid":"@(Model.ModuleId)","interfacekey":"rocketmod"}'>@ResourceKey("RocketMod.cmdResetButton")</div>
        @ButtonGap()
        <div class="w3-col m2 w3-button w3-red w3-padding-8 simplisity_confirmclick" s-confirm="@ResourceKey("RocketMod.resetdatamsg")" s-cmd="rocketmod_resetdata" s-fields='{"tabid":"@(Model.GetSetting("tabid"))","moduleid":"@(Model.ModuleId)","interfacekey":"rocketmod"}'>@ResourceKey("RocketMod.cmdResetDataButton")</div>
        @if (Model.GetSettingBool("saved"))
        {
            <i class='fas fa-save w3-right simplisity_fadeout' style="font-size:24px"></i>
        }
    </div>

<div id="configdata" class="w3-container simplisity_panel">

    <div class="w3-container">
        <h1>@ResourceKey("RocketMod.config")</h1>

        <table class="w3-table w3-responsive">
            <tr>
                <td class="w3-right-align"><b>@ResourceKey("RocketMod.name"):</b></td>
                <td>
                    @TextBox(configinfo, "genxml/hidden/name", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false)
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="w3-right-align "><b>@ResourceKey("RocketMod.ref"):</b></td>
                <td>ItemId: @configinfo.ItemID &nbsp; ModuleId: @moduleParams.ModuleId &nbsp; Ref: @moduleParams.ModuleRef</td>
                <td></td>
            </tr>
            <tr>
                <td class="w3-right-align"><b>@ResourceKey("RocketMod.apptheme"):</b></td>
                <td>@moduleParams.AppThemeFolder</td>
                <td></td>
            </tr>
            <tr>
                <td class="w3-right-align"><b>@ResourceKey("RocketMod.appthemeversion"):</b></td>
                <td>@FolderSelectList(configinfo, "genxml/hidden/appthemeversion", moduleParams.AppThemeFolderMapPath, "class='w3-input w3-border'", false, false)</td>
                <td></td>
            </tr>
            <tr>
                <td class="w3-right-align"><b>@ResourceKey("RocketMod.datasource"):</b></td>
                <td>@DataSourceList(configinfo, moduleParams.SystemId, "genxml/hidden/datamoduleid", "class='w3-input w3-border'", true, false)</td>
                <td></td>
            </tr>
            <tr>
                <td class="w3-right-align"><b>@ResourceKey("RocketMod.imagefolder"):</b></td>
                <td>
                    @TextBox(configinfo, "genxml/hidden/imagefolder", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "images", false)
                </td>
                <td>@DNNrocketUtils.HomeDNNrocketRelDirectory()/@configinfo.GetXmlProperty("genxml/hidden/imagefolder")</td>
            </tr>
            <tr>
                <td class="w3-right-align"><b>@ResourceKey("RocketMod.documentfolder"):</b></td>
                <td>
                    @TextBox(configinfo, "genxml/hidden/documentfolder", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "docs", false)
                </td>
                <td>@DNNrocketUtils.HomeDNNrocketRelDirectory()/@configinfo.GetXmlProperty("genxml/hidden/documentfolder")</td>
            </tr>
        </table>

    </div>


</div>

<script>

    $(document).ready(function () {

    });

    function reloadpage() {
        location.reload();
    }

</script>