@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;

@using RocketMod;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketMod/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Documents/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{
    //NOTE: This template is designed to have 1 imagelist on the template.
    // If more than 1 image list is required, a new template is required.
    var articleData = (ArticleLimpet)Model.List.First();
    var docLP = 1;
    var datalist = articleData.GetDocuments();
    var info = articleData.Info;
}

@DocumentUploadButton(Model)

<div class="w3-row documentlistdatasection">

    <ul id="documentlistdata" class="w3-ul">

        @foreach (var articleDoc in datalist)
        {
            <li class="documentlist w3-half w3-display-container w3-padding w3-border-0">
                @SortableListIndex(articleDoc.Info, docLP)

                <div class="w3-display-container w3-padding w3-card">
                    <div class="w3-row">
                        <div class="w3-col m8">
                            <label class="">@ResourceKey("HtmlContent.document")</label>&nbsp;@EditFlag()
                        </div>
                        <div class="w3-col w3-padding" style="width:160px">
                            <label class="">@ResourceKey("HtmlContent.justify")</label>
                            @RadioButtonList(articleDoc.Info, "genxml/hidden/layout", "0,1,2", "<i class='fas fa-align-left'></i>,<i class='fas fa-align-center'></i>,<i class='fas fa-align-right'></i>", "class=''", "0", "", false, docLP)
                        </div>
                        <div class="simplisity_removelistitem w3-right" s-removelist=".documentlist" s-recylebin="documentlistbin" style="cursor: pointer;">
                            <i title="@ResourceKey("DNNrocket.delete")" class=" fas fa-minus-square fa-fw fa-lg"></i>
                        </div>
                    </div>
                </div>
            </li>
            docLP += 1;
        }
    </ul>

</div>

<script>
    $(document).ready(function () {
        $("#documentlistdata").sortable();
        $("#documentlistdata").disableSelection();
    });
</script>
