@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@if (Model.GetSettingBool("addeditscript"))
{


    <div id="rocketmodmodel_@(Model.ModuleId)" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-grey " style="width: 90%;height: 90%;">
            <span onclick="location.reload();" class="w3-button w3-right closeiframe">@ResourceKey("DNNrocket.cmdCloseButton")</span>
            <div class="w3-row" style="height: 100%">
                <iframe id="rocketmodIframe_@(Model.ModuleId)" style="width: 100%; height: 100%;">@ResourceKey("RocketMod.iframesupport")</iframe>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function () {
        sessionStorage.RocketModReturn = window.location.href;
    });

        function rocketmodeditiframe_@(Model.ModuleId)() {
            simplisity_setCookieValue('editlang', '@(DNNrocketUtils.GetCurrentCulture())');
            $('#rocketmodmodel_@(Model.ModuleId)').show();
            $('.actionMenu').hide();
            hidePersonaBar();
            document.getElementById('rocketmodIframe_@(Model.ModuleId)').src = "/desktopmodules/dnnrocket/RocketMod/admin.html?tabid=@(Model.GetSetting("tabid"))&moduleid=@(Model.ModuleId)&editmode=1"
        }

    function hidePersonaBar() {
        $('.personalBarContainer').hide();
        $('.editBarFrameContainer').hide();
    }
    function showPersonaBar() {
        $('.personalBarContainer').hide();
        $('.editBarFrameContainer').hide();
    }

    </script>

}
