@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Componants;
@using Simplisity;

@using RocketMod;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketMod/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{

    //NOTE: This template is designed to have 1 imagelist on the template.
    // If more than 1 image list is required, a new template is required.

    var articleData = (ArticleLimpet)Model.List.First();
    var imgLP = 0;
    var datalist = articleData.GetImages();
    var info = articleData.Info;
}

@if (!Model.GetSettingBool("hideheading"))
{
    <div class="w3-container w3-theme w3-padding">
        <label>@ResourceKey("DNNrocket.images")</label>
    </div>
}

@ImageUploadButton(Model)

<div class="w3-row imagelistdatasection">

    <ul id="imagelistdata" class="w3-ul">

        @foreach (var articleImage in datalist)
        {
            imgLP += 1;

            <li class="imagelist w3-display-container w3-padding w3-border-0">

                @SortableListIndex(articleImage.Info, imgLP)

                <div class="w3-display-container w3-padding w3-card">
                    <div class="w3-row">
                        <span id="deletebutton@(imgLP)" onclick="" class="w3-button w3-display-topright simplisity_removelistitem" s-removelist=".imagelist" s-recylebin="imagelistbin">
                            <i title="Remove" class="fas fa-minus-square fa-fw fa-lg"></i>
                        </span>
                        <div class="w3-col m2 w3-padding-small" style="width:100px;">
                            @HiddenField(articleImage.Info, "genxml/hidden/imagepath", "", "", false, imgLP)
                            @if (articleImage.RelPath != "")
                            {
                                <img src="@ThumbnailImageUrl(articleImage.RelPath, 80, 80)" style="height:80px;width:80px;" class="w3-circle" />
                            }
                            else
                            {
                                <img src="@ThumbnailImageUrl("/DesktopModules/DNNrocket/api/images/noimage2.png", 80, 80)" style="height:80px;width:80px;" class="w3-circle" />
                            }
                        </div>
                        <div class="w3-col m4 w3-padding-small">
                            <label>@EditFlag()&nbsp;@ResourceKey("Rocket_Slider.name")</label>
                            @TextBox(articleImage.Info, "genxml/lang/genxml/textbox/name", "class='w3-input w3-border' MaxLength='200'", "", true, imgLP)
                        </div>
                        <div class="w3-col m4 w3-padding-small">
                            <label>@EditFlag()&nbsp;@ResourceKey("Rocket_Slider.imagealt")</label>
                            @TextBox(articleImage.Info, "genxml/lang/genxml/textbox/imagealt", "class='w3-input w3-border' MaxLength='200'", "", true, imgLP)
                        </div>
                        <div class='w3-col m2 w3-padding-small'>
                        </div>
                    </div>

                </div>
            </li>

        }
    </ul>


</div>

<script>
        $(document).ready(function () {
            $("#imagelistdata").sortable();
            $("#imagelistdata").disableSelection();
        });
</script>
