@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using RocketMod;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketPayForm/App_LocalResources/")

@{
    var moduleData = (ModuleData)Model.List.First();
}

<div class="w3-container">

    @RenderTemplate("edit.cshtml", "/DesktopModules/DNNrocket/AppThemes/", moduleData.configData.ConfigInfo.GetXmlProperty("genxml/hidden/apptheme"), Model)

</div>

<div id="dnnrocket_documentselectwrapper">
    @RenderDocumentSelect(Model, true, false, moduleData.configData.DocumentFolder)
</div>
