@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Componants;
@using Simplisity;
@using RocketSettings;
@using RocketMod;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketMod/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{
    var i = new SimplisityInfo();
    var articleData = (ArticleData)Model.List.First();
    if (articleData.Info != null)
    {
        i = articleData.Info;
    }
    var imgLP = 0;

    var imgfieldname = Model.GetSetting("imgfieldname");

    var datalist = i.GetList("imagelist" + imgfieldname);
    var globalSettings = new SystemGlobalData();

}

    <div class="w3-container w3-theme w3-padding">
        <label>@ResourceKey("DNNrocket.images")</label>
    </div>

    <div class="w3-row imagelistdatasection">

        <div class="w3-container">
            <div class="w3-col w3-padding" style="width:160px;">
                <div class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="edit_addimage" s-fields='{"selecteditemid":"@i.ItemID","imgfieldname":"@(imgfieldname)"}'><i class='fas fa-plus-circle'></i></div>
                <div class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="imagelist@(imgfieldname)bin" s-return="#imagelistdata@(imgfieldname)" s-removelist=".imagelist@(imgfieldname)" style="display: none;"><i title="" class="fas fa-undo fa-fw fa-lg"></i></div>
            </div>
        </div>

        <ul id="imagelistdata@(imgfieldname)" class="w3-ul">

            @foreach (var imgInfo in datalist)
            {
                imgLP += 1;

                var settingsdataclassselect = "dictionarydata" + imgLP;
                var imagesizeclass = "imagesize" + imgLP;

            <li class="imagelist@(imgfieldname) w3-half w3-display-container w3-padding w3-border-0">

                @SortableListIndex(imgInfo, imgLP)

                <div class="w3-display-container w3-padding w3-card">
                    <div class="w3-row">
                        <span id="deletebutton@(imgLP)" onclick="" class="w3-button w3-display-topright simplisity_removelistitem" s-removelist=".imagelist@(imgfieldname)" s-recylebin="imagelist@(imgfieldname)bin">
                            <i title="Remove" class="fas fa-minus-square fa-fw fa-lg"></i>
                        </span>
                        <div class="w3-col w3-padding">
                            @ImageEditFull(imgInfo, imgfieldname, 100, 100, "", false, imgLP,"", globalSettings.PngImage)
                        </div>
                    </div>
                 </div>
            </li>

                }
            </ul>

    </div>

    <script>
        $(document).ready(function () {
            $("#imagelistdata@(imgfieldname)").sortable();
            $("#imagelistdata@(imgfieldname)").disableSelection();
        });
    </script>
