@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using System.IO;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{
    var settingsData = (SettingsData)Model.List.First();
}

@{
    // activate auto versioning
    var FieldEditorMapPath = DNNrocketUtils.MapPath("/DesktopModules/DNNrocket/AppThemes/Themes/config-w3/1.0/js/FieldEditor.js");
    var FieldEditorAutoVersion = File.GetLastWriteTime(FieldEditorMapPath).Ticks;
}
<script src="/DesktopModules/DNNrocket/AppThemes/Themes/config-w3/1.0/js/FieldEditor.js?v=@(FieldEditorAutoVersion)"></script>


<div class="w3-row w3-padding">
    <a class="w3-col m2 w3-button w3-teal simplisity_click" s-cmd="rocketmodfields_add" s-fields=''>@ButtonText(ButtonTypes.add)</a>
    @ButtonGap()
    <span class="w3-col m2 w3-button w3-green simplisity_click langchangesave" s-before="validateform" s-cmd="rocketmodfields_save" s-fields='' s-post="" s-list=".fielddata">@ButtonText(ButtonTypes.save)</span>
    @if (Model.GetSettingBool("saved"))
    {
        <i class='fas fa-save w3-right simplisity_fadeout' style="font-size:24px"></i>
    }
</div>

<div class="w3-row section_fieldeditor">
    @{
        var m = new SimplisityRazor();
        var l = new List<object>();
        foreach (object i in settingsData.List)
        {
            l.Add(i);
        }
        m.List = l;
        m.ModuleId = Model.ModuleId;
        m.SetSetting("dictionarylocalized", "true");
        m.SetSetting("listname", "fielddata");
    }

    @RenderTemplate("FieldEditorBody.cshtml", "/DesktopModules/DNNrocket/AppThemes", "config-w3", m, "1.0", true)

</div>


<script>
    $(document).ready(function () {

    });

    function languageChange() {
        $('.langchangesave').trigger("click");
    }

</script>
