@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using Rocket.AppThemes.Components;
@using DNNrocketAPI.Components;
@using RocketMod.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")


@{
    var appThemeDataList = (AppThemeDataList)Model.List.First();
    var systemData2 = new SystemLimpet(appThemeDataList.SelectedSystemKey);
}

<div class="w3-container">

    <div id="selectapptheme" class="w3-modal">

        <div class="w3-modal-content w3-animate-top w3-card-4 postdatasection" style="width:80%">
            <header class="w3-container w3-theme-d3">
                <h2>@ResourceKey("RocketMod.selectapptheme")</h2>
            </header>
            <div class="w3-container appthemeselectionarea">

                @if (Model.GetSettingInt("moduleid") == 0)
                {
                    <div class="w3-red w3-panel">
                        <p>@ResourceKey("RocketMod.nomoduleid")</p>
                    </div>
                    <div s-after='returnclick' s-cmd='admin_return' s-return='.menureturn' class=' w3-margin w3-bar-item w3-button w3-theme w3-hover-theme rocket-buttonbar simplisity_click'>@ButtonText(ButtonTypes.back)</div>
                }
                else
                {

            <div id="datasection" class="w3-row w3-margin-top">

                @if (appThemeDataList.List.Count == 0)
                {

                    <div class="w3-margin downloadappthemes w3-center">
                        <b class="">@ResourceKey("DNNrocket.nolocalappthemes")</b>
                    </div>
                    <div class="w3-margin  w3-center">
                        <div class="w3-button rocket-buttonbar w3-padding simplisity_click w3-green startbutton" s-before="startdownload" s-cmd="rocketapptheme_downloadallpublic" s-reload="true" s-return=".appthemeselectionarea" s-fields='{"systemkey":"dnnrocketapptheme","interfacekey":"onlinepubliclist","selectedsystemkey":"dnnrocketmodule"}'><i class='fas fa-download'></i>&nbsp;@ResourceKey("DNNrocket.downloadallappthemes")</div>
                        <div class=" w3-light-grey w3-margin">
                            <div id="progressBarDownload" class="w3-container w3-green" style="height:24px;width:1%;display:none;"></div>
                        </div>
                    </div>

                    <div class="w3-container  w3-margin  bottombuttons">
                        <div s-after='returnclick' s-cmd='admin_return' s-return='.menureturn' class='w3-col m2 w3-button rocket-buttonbar w3-theme w3-hover-theme simplisity_click'>@ButtonText(ButtonTypes.back)</div>

                        <a href="/Desktopmodules/dnnrocket/AppThemes/admin.html?selectedsystemkey=dnnrocketmodule" class="w3-right w3-button rocket-buttonbar w3-col m2 w3-theme w3-hover-theme" target="_blank"><i class='fas fa-download'></i>&nbsp;@ResourceKey("DNNrocket.appthemeadmin")</a>
                    </div>


                }
                else
                {

                    <div class="w3-row">
                        <div s-after='returnclick' s-cmd='admin_return' s-return='.menureturn' class='w3-col m2 w3-button w3-theme w3-hover-theme rocket-buttonbar simplisity_click'>@ButtonText(ButtonTypes.back)</div>
                    </div>
                    <div class="w3-row w3-card searchdata w3-margin-top">

                        <div class="">
                            <div class="w3-row w3-padding">
                                <input class="w3-input w3-border w3-light-grey w3-padding" autocomplete="off" type="text" placeholder="@ResourceKey("Appthemes.searchapptheme")..." id="searchtext" onkeyup="searchFunction()">
                            </div>
                        </div>

                    </div>


                    <div id="datalist" class="w3-container">
                        @{
                            var lp1 = 0;
                        }
                        @foreach (AppTheme appTheme in appThemeDataList.List)
                        {
                            lp1 += 1;

                            <div class="w3-col l3 m4 w3-padding searchdiv datalistitem " style="">
                                <div title="@appTheme.AppThemeName" class="w3-row w3-border "  onclick="showdetail('@(appTheme.AppThemeFolder)');" appthemefolder="@appTheme.AppThemeFolder" style="cursor:pointer;">

                                    <div class="w3-col m10 w3-padding ">
                                        <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;height:24px;">
                                            <b class="w3-left w3-text-blue ">@appTheme.AppThemePrefix</b>
                                            <b class="w3-right">@appTheme.LatestVersionFolder</b>
                                        </div>
                                        <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;height:24px;">
                                            <b>@appTheme.AppThemeName</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>


                    <hr />

                }

            </div>

                    <div id="datasection2" class="w3-row w3-margin-top" style="display:none;">
                        <div class="w3-row w3-padding">
                            <div class="w3-col m2 w3-button w3-khaki rocket-buttonbar" onclick="showselect();">@ButtonText(ButtonTypes.back)</div>
                            
                            <div class="w3-col m2 w3-button w3-green w3-padding-8 rocket-buttonbar saveappthemeconfig" s-cmd="rocketmodedit_saveappthemeconfig" s-before="hideselectapptheme" s-after="settingreturn" s-post=".postdatasection" s-return="#settingsection">@ButtonText(ButtonTypes.next)</div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-col m12">
                                <div class="w3-row">
                                    <div class="w3-col m12">
                                        <label>@ResourceKey("RocketMod.name")</label>
                                        @TextBox(new SimplisityInfo(), "genxml/hidden/name", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false)
                                    </div>
                                    <div class="w3-col m12">
                                        <label>@ResourceKey("RocketMod.imagefolder")</label>
                                        @TextBox(new SimplisityInfo(), "genxml/hidden/imagefolder", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "images", false)
                                    </div>
                                    <div class="w3-col m12">
                                        <label>@ResourceKey("RocketMod.documentfolder")</label>
                                        @TextBox(new SimplisityInfo(), "genxml/hidden/documentfolder", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "docs", false)
                                    </div>
                                    <div class="w3-col m12">
                                    </div>
                                    <div class="w3-col m12">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>


                    <div id="datasection3" class="w3-row" style="display:none;">
                        <div class="w3-row w3-padding">
                            <div class="w3-col m2 w3-button rocket-buttonbar w3-khaki" onclick="showdetail(simplisity_getParamField('appthemefolder'));">@ButtonText(ButtonTypes.back)</div>
                            
                            <div class="w3-col m2 w3-button rocket-buttonbar w3-green w3-padding-8 simplisity_click" s-before="hidesettings" s-cmd="rocketmodedit_saveappthemesetting" s-post="#settingsection">@ButtonText(ButtonTypes.save)</div>
                        </div>
                        <div id="settingsection">
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#datalist").disableSelection();

        $('.saveappthemeconfig').unbind('click');
        $('.saveappthemeconfig').click(function () {
            simplisity_callserver(this);
        });

        $('#selectapptheme').show();

    });

    function hideselectapptheme() {
        $('#selectapptheme').hide();
    }    
    function showselectapptheme() {
        $('#selectapptheme').show();
    }    

    function hidesettings() {
        $('#selectapptheme').hide();
        $('#datasection3').hide();
    }

    function showdetail(appThemeFolder) {
        simplisity_setParamField("appthemefolder", appThemeFolder)
        $('.appthemedisplay').empty();
        $('.appthemedisplay_' + appThemeFolder).clone().appendTo('.appthemedisplay');
        $('#name').val(appThemeFolder);
        $('#datasection').hide();
        $('#datasection2').show();
        $('#datasection3').hide();
    }
    function showselect() {
        $('#datasection').show();
        $('#datasection2').hide();
        $('#datasection3').hide();
    }

    function settingreturn() {
        if ($('#settingsection').text() === '') {
            location.reload();
        } else {
            $('#datasection2').hide();
            $('#datasection3').show();
            showselectapptheme();
        }
    }


    function searchFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("searchtext");
        filter = input.value.toUpperCase();
        ul = document.getElementById("datalist");
        li = $('.searchdiv');
        for (i = 0; i < li.length; i++) {
            txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function moveprogressbarupload() {
        var elem = document.getElementById("progressBarDownload");
        var width = 1;
        progressbarid = setInterval(frame, 50);
        function frame() {
            if (width >= 100) {
                width = 1;
            } else {
                width++;
                elem.style.width = width + '%';
            }
        }
    }

    function startdownload() {
        moveprogressbarupload();
        $('#progressBarDownload').show();
        $('.bottombuttons').hide();
        $('.startbutton').hide();
    }

</script>
