@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")

@{
    var settingsData = (SettingsData)Model.List.First();
}

<span class="w3-section simplisity_buttons">
    <a class="w3-button w3-pale-yellow w3-padding-8" onclick="location.reload();">@ResourceKey("DNNrocket.cmdCancelButton")</a>
    <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="rocketmodsettings_add" s-fields='{"selecteditemid":"@settingsData.Info.ItemID"}'>@ResourceKey("DNNrocket.cmdAddButton")</a>
    <span class="w3-button w3-green w3-padding-8 simplisity_click simplisity_langchange" s-cmd="rocketmodsettings_save" s-fields='{"selecteditemid":"@settingsData.Info.ItemID"}' s-post="#rocketmodsettingsdata" s-list=".rocketmodsettings">@ResourceKey("DNNrocket.cmdSaveButton")</span>
    <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="rocketmodsettingsbin" s-return="#rocketmodsettingsdata" s-removelist=".rocketmodsettings" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
</span>


<div class="w3-container">

    <ul id="rocketmodsettingsdata" class="w3-ul">

        @{
            var lp3 = 0;
        }
        @foreach (var i in settingsData.List)
        {
            lp3 += 1;


        <li class="rocketmodsettings w3-card w3-margin w3-display-container">

            <!-- We need "recordkey" hidden fields so language list on the record can be updated/sorted in sync -->
            @HiddenField(i, "genxml/key1", "", "", false, lp3)
            @HiddenField(i, "genxml/lang/genxml/key2", "", "", true, lp3)

            <div class="w3-container">
                <div class="w3-col m2 w3-padding">
                    <label class="">@ResourceKey("system.name")</label>
                    @TextBox(i, "genxml/textbox/name", "class='w3-input w3-border' maxlength='250' autocomplete='off' ", "", false, lp3)
                </div>
                <div class="w3-col m8 w3-padding">
                    <div class=' notlocalizedfield@(lp3)'>
                        <label class="">@ResourceKey("system.value")</label>
                        @TextBox(i, "genxml/textbox/value", "class='w3-input w3-border' maxlength='500' autocomplete='off' ", "", false, lp3)
                    </div>
                    <div style='display:none;' class=' localizedfield@(lp3)'>
                        <label class="">@ResourceKey("system.value")</label>&nbsp;@EditFlag()
                        @TextBox(i, "genxml/lang/genxml/textbox/valuelang", "class='w3-input w3-border' maxlength='500' autocomplete='off' ", "", true, lp3)
                    </div>
                </div>
                <div class="w3-col m2 w3-padding">
                    <br />
                    <label class="">@ResourceKey("DNNrocket.localized")</label>
                    @CheckBox(i, "genxml/checkbox/localized", "", " class='localize' row='" + lp3 + "' ", false, false, lp3)
                </div>
                <div class="w3-right">
                    <a href="javascript:void(0)" class="simplisity_removelistitem" s-removelist=".rocketmodsettings" s-recylebin="rocketmodsettingsbin"><i title="Remove" class="fas fa-minus-square fa-fw fa-lg"></i></a>
                </div>
            </div>
        </li>

        }

    </ul>

</div>

<script>
    $(document).ready(function () {
        $(':checkbox').addClass('w3-check');

        $("#pluginsettings").sortable();
        $("#pluginsettings").disableSelection();

        dnnrocket_checklocalization();

        $('.localize').unbind("click");
        $('.localize').click(function () {
            if ($(this).is(':checked')) {
                $('.notlocalizedfield' + $(this).attr('row')).hide();
                $('.localizedfield' + $(this).attr('row')).show();
            }
            else {
                $('.notlocalizedfield' + $(this).attr('row')).show();
                $('.localizedfield' + $(this).attr('row')).hide();
            }
        });



    });

    function dnnrocket_checklocalization() {
        $('.localize').each(function (index) {
            if ($(this).is(':checked')) {
                $('.notlocalizedfield' + $(this).attr('row')).hide();
                $('.localizedfield' + $(this).attr('row')).show();
            }
            else {
                $('.notlocalizedfield' + $(this).attr('row')).show();
                $('.localizedfield' + $(this).attr('row')).hide();
            }
        });
    }

</script>


