@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using DNNrocketAPI.Components;
@using RocketMod;
@using RocketMod.Componants;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")

@{
    var settingsData = (SettingsData)Model.List.First();
    var appThemeMod = new AppThemeModule(Model.ModuleId, "dnnrocketmodule");
}

<div class="w3-row w3-padding">
    <span class="w3-col m2 w3-button w3-green w3-padding-8 simplisity_click langchangesave" s-cmd="rocketmodsettings_save" s-fields='{"articleid":"@settingsData.Info.ItemID"}' s-post="#settingsdata" s-list=".rocketmodsettings">@ButtonText(ButtonTypes.save)</span>
</div>

<div id="settingsdata">
    @{
        var l = new List<object>();
        l.Add(settingsData);
        var m = new SimplisityRazor(l, Model.Settings);
        var razorTempl = appThemeMod.GetTemplateRazor("settings.cshtml");
    }
    @RenderTemplate(razorTempl, m, true)

</div>

<div class="w3-container">

    <div class="w3-container w3-theme w3-padding">
        <label>@ResourceKey("DNNrocket.settings")</label>
    </div>

    <div class="w3-row w3-padding">
        <div class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="rocketmodsettings_add" s-fields='{"articleid":"@settingsData.Info.ItemID"}'><i class='fas fa-plus-circle'></i></div>
        <div class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="rocketmodsettingsbin" s-return="#rocketmodsettingsdata" s-removelist=".rocketmodsettings" style="display: none;"><i title="" class="fas fa-undo fa-fw fa-lg"></i></div>
    </div>

    <div class="w3-row w3-margin">

        @{
            var lp3 = 0;
        }

        <table id="rocketmodsettingsdata" class="w3-table-all">

            <tr class="w3-hide-small">
                <th class="w3-col m2">
                    <label class="">@ResourceKey("system.ref")</label>
                </th>
                <th class="w3-col m5">
                    <div style='' class=' notlocalizedfieldlabel'>
                        @ResourceKey("system.value")
                    </div>
                    <div style='display:none;' class=' localizedfieldlabel'>
                        @ResourceKey("system.value")
                    </div>
                </th>
                <th class="w3-col m1" style="width:60px;"></th>
                <th class="w3-col m2">
                    <label class="">@ResourceKey("DNNrocket.localized")</label>
                </th>
                <th style="width:20px;"></th>
            </tr>

            @foreach (var i in settingsData.List)
            {
                lp3 += 1;

                <tr class="rocketmodsettings">
                    <td class="w3-col m2">
                        <!-- Required to sort items in list -->
                        @SortableListIndex(i, lp3)

                        @TextBox(i, "genxml/textbox/name", "class='w3-input w3-border settingreftextbox' maxlength='250' autocomplete='off' ", "", false, lp3)
                    </td>
                    <td class="w3-col m5">
                        <div style='display:none;' class=' notlocalizedfield@(lp3)'>
                            @TextBox(i, "genxml/textbox/value", "class='w3-input w3-border' maxlength='500' autocomplete='off' ", "", false, lp3)
                        </div>
                        <div style='display:none;' class=' localizedfield@(lp3)'>
                            @TextBox(i, "genxml/lang/genxml/textbox/valuelang", "class='w3-input w3-border' maxlength='500' autocomplete='off' ", "", true, lp3)
                        </div>
                    </td>
                    <td class="w3-col m1" style="width:60px;">
                        <div style='display:none;' class="localizedfieldflag@(lp3)">
                            @EditFlag()
                        </div>
                    </td>
                    <td class="w3-col m2">
                        @CheckBox(i, "genxml/checkbox/localized", "", " class='localize' row='" + lp3 + "' ", false, false, lp3)
                    </td>
                    <td class="" style="width:20px;">
                        <a href="javascript:void(0)" class="simplisity_removetablerow" s-removelist=".rocketmodsettings" s-recylebin="rocketmodsettingsbin"><i title="Remove" class="fas fa-minus-square fa-fw fa-lg"></i></a>
                    </td>
                </tr>

            }
        </table>

    </div>

</div>

<div class="w3-right">
    <i>ID: </i> @settingsData.Info.ItemID
</div>

<script>
    $(document).ready(function () {
        $(':checkbox').addClass('w3-check');


        dnnrocket_checklocalization();

        $('.settingreftextbox').each(function (index) {
            if ($(this).val() !== '') {
                $(this).prop('disabled', 'true')
            }
        });

        $('.localize').unbind("click");
        $('.localize').click(function () {
            if ($(this).is(':checked')) {
                $('.notlocalizedfield' + $(this).attr('row')).hide();
                $('.localizedfield' + $(this).attr('row')).show();
                $('.notlocalizedfieldlabel').hide();
                $('.localizedfieldlabel').show();
                $('.localizedfieldflag' + $(this).attr('row')).show();
            }
            else {
                $('.notlocalizedfield' + $(this).attr('row')).show();
                $('.localizedfield' + $(this).attr('row')).hide();
                $('.notlocalizedfieldlabel').show();
                $('.localizedfieldlabel').hide();
                $('.localizedfieldflag' + $(this).attr('row')).hide();
            }
        });



    });

    function languageChange() {
        $('.langchangesave').trigger("click");
    }

    function dnnrocket_checklocalization() {
        $('.localize').each(function (index) {
            if ($(this).is(':checked')) {
                $('.notlocalizedfield' + $(this).attr('row')).hide();
                $('.localizedfield' + $(this).attr('row')).show();
                $('.localizedfieldflag' + $(this).attr('row')).show();
            }
            else {
                $('.notlocalizedfield' + $(this).attr('row')).show();
                $('.localizedfield' + $(this).attr('row')).hide();
                $('.localizedfieldflag' + $(this).attr('row')).hide();
            }
        });
    }

</script>


