@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>

@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;



@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketMod/App_LocalResources/")


@{
    var username = UserUtils.GetCurrentUserName();
    var sidemenu = (SideMenu)Model.List.First();
    var systemInfoData = new SystemInfoData(sidemenu.SystemKey);

    var menuOut = "";
    // get action interfaces. (no group)
    var lp = 0;
    var interfacelist = sidemenu.GetInterfaces("");
    if (interfacelist.Count() > 0)
    {
        foreach (var i in interfacelist)
        {
            if (i.GetXmlPropertyBool("genxml/checkbox/onmenu"))
            {
                var defaulttheme = i.GetXmlProperty("genxml/textbox/defaulttheme");
                var defaulttemplate = i.GetXmlProperty("genxml/textbox/defaulttemplate");
                var defaultcommand = i.GetXmlProperty("genxml/textbox/defaultcommand");
                var interfacekey = i.GetXmlProperty("genxml/textbox/interfacekey");
                var interfaceicon = i.GetXmlProperty("genxml/textbox/interfaceicon");
                var interfaceName = ResourceKey("RocketMod." + interfacekey).ToString();
                if (interfaceName == "")
                {
                    interfaceName = systemInfoData.GetSetting(interfacekey + "MenuName");
                    if (interfaceName == "")
                    {
                        interfaceName = interfacekey;
                    }
                }
                menuOut += "<div class='w3-bar-item w3-button w3-padding simplisity_menulink' s-before='sidebarloader' s-after='sidemenuchange' s-track='true' s-cmd='" + defaultcommand + "' s-fields='{\"theme\":\"" + defaulttheme + "\",\"template\":\"" + defaulttemplate + "\",\"systemprovider\":\"" + sidemenu.SystemKey + "\",\"interfacekey\":\"" + interfacekey + "\"}' ><i class='" + interfaceicon + "' style='width:20px;'></i>&nbsp;" + interfaceName + "</div>";
            }
        }
        lp += 1;
    }


    // get sub group interfaces
    lp = 0;
    foreach (SimplisityRecord g in sidemenu.GetGroups())
    {
        var groupref = g.GetXmlProperty("genxml/textbox/groupref");
        var groupicon = g.GetXmlProperty("genxml/textbox/groupicon");
        interfacelist = sidemenu.GetInterfaces(groupref);
        if (interfacelist.Count() > 0)
        {
            menuOut += "<div class='w3-bar-item w3-button w3-padding menuaccordian' actionid='" + groupref + "'><i class='w3-left " + groupicon + "' style='width:30px;'></i>" + ResourceKey("RocketMod." + groupref) + "&nbsp;<i class='fas fa-caret-down'></i></div>";
            menuOut += "<div id='" + groupref + "' class='w3-hide'>";
            foreach (var i in interfacelist)
            {
                var defaulttheme = i.GetXmlProperty("genxml/textbox/defaulttheme");
                var defaulttemplate = i.GetXmlProperty("genxml/textbox/defaulttemplate");
                var defaultcommand = i.GetXmlProperty("genxml/textbox/defaultcommand");
                var interfacekey = i.GetXmlProperty("genxml/textbox/interfacekey");
                var interfaceicon = i.GetXmlProperty("genxml/textbox/interfaceicon");
                var interfaceName = ResourceKey("RocketMod." + interfacekey).ToString();
                if (interfaceName == "")
                {
                    interfaceName = systemInfoData.GetSetting(interfacekey + "MenuName");
                    if (interfaceName == "")
                    {
                        interfaceName = interfacekey;
                    }
                }
                menuOut += "<div class='w3-bar-item w3-button w3-padding simplisity_menulink ' s-before='sidebarloader' s-after='sidemenuchange' s-track='true' s-cmd='" + defaultcommand + "' s-fields='{\"theme\":\"" + defaulttheme + "\",\"template\":\"" + defaulttemplate + "\",\"systemprovider\":\"" + sidemenu.SystemKey + "\",\"interfacekey\":\"" + interfacekey + "\"}' ><i class='w3-center " + interfaceicon + "' style='width:40px;'></i>" + interfaceName + "</div>";
            }
            menuOut += "</div>";
            lp += 1;
        }
    }
}

<div class="w3-row w3-padding-small w3-white w3-border-bottom">
    <img src="/DesktopModules/DNNrocket/RocketMod/Themes/config-w3/1.0/img/rocketmod.png" style="" class="">
    <button class="w3-hide-large w3-button w3-right" onclick="w3_close()" style="cursor:pointer" title=""><i class='fas fa-caret-left' style='font-size:36px'></i></button>
</div>

<div class="w3-bar-block w3-theme">

    @RenderTemplate("LanguageSelect.cshtml", "\\DesktopModules\\DNNrocket\\Country", "config-w3", Model, "1.0", systemInfoData.DebugMode)

    <div class="w3-overlay w3-white w3-animate-fading " style="display:none;" id="sidebar_loader"><i class="fa fa-spinner fa-spin w3-display-middle " style="font-size:48px"></i></div>

    <div class="w3-margin-top w3-margin-bottom">
        @HtmlOf(menuOut)
    </div>
    @if (DNNrocketUtils.IsSuperUser())
    {
        <a class="w3-bar-item w3-button w3-padding w3-theme " href="/desktopmodules/dnnrocket/adminsystem.html" target="_blank"><i title="System" class='fas fa-chess' style='width:20px;'></i>&nbsp;System</a>
    }
    <div onclick="returnclick();" class="w3-bar-item w3-button w3-theme w3-hover-theme">@ResourceKey("DNNrocket.cmdReturnButton")</div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('.menuaccordian').unbind('click');
        $('.menuaccordian').click(function () {
            var actionid = $(this).attr("actionid")
            if ($('#' + actionid).hasClass('w3-show')) {
                $('#' + actionid).addClass('w3-hide');
                $('#' + actionid).removeClass('w3-show');
                $(this).removeClass('w3-theme-d3');
            }
            else {
                $('#' + actionid).addClass('w3-show');
                $('#' + actionid).removeClass('w3-hide');
                $(this).addClass('w3-theme-d3');
            }
        });

        $(window).resize(function () {
            if ($('#simplisity_fullloader').is(':visible')) {
                $('#mySidebar').width($('#mySidebar').parent().width());
            }
        });

        sidemenuchange();

    });

    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
        }
        $('#mySidebar').width($('#mySidebar').parent().width());
        $('#simplisity_fullloader').show();
    }

    // Close the sidebar with the close button
    function w3_close() {
        if ($('#simplisity_fullloader').is(':visible')) {
            mySidebar.style.display = 'none';
            $('#mySidebar').width(270)
            $('#simplisity_fullloader').hide();
        }
    }

    function sidebarloader() {
        $('#sidebar_loader').show();
    }

    function sidemenuchange() {
        $('.simplisity_menulink').removeClass('w3-white');
        $('.simplisity_menulink').removeClass('w3-text-blue-grey');
        var index = simplisity_getCookieValue('s-lastmenuindex');
        $('.simplisity_menulink[s-index=' + index + ']').addClass('w3-white');
        $('.simplisity_menulink[s-index=' + index + ']').addClass('w3-text-blue-grey');
        w3_close();
        $('#sidebar_loader').hide();
    }

    function returnclick() {
        $('#simplisity_loader').show();
        var returnurl = simplisity_getCookieValue('rocketmod_return');
        if (typeof returnurl === 'undefined' || returnurl === '') {
            window.history.back();
        }
        else {
            window.location = returnurl;
        }
    }

</script>
