@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>

@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;



@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")


@{
    var username = UserUtils.GetCurrentUserName();
    var sidemenu = (SideMenu)Model.List.First();

    var menuOut = "";
    // get action interfaces. (no group)
    var lp = 0;
    var interfacelist = sidemenu.GetInterfaces("");
    if (interfacelist.Count() > 0)
    {
        foreach (var i in interfacelist)
        {
            if (i.GetXmlPropertyBool("genxml/checkbox/onmenu"))
            {
                var defaulttheme = i.GetXmlProperty("genxml/textbox/defaulttheme");
                var defaulttemplate = i.GetXmlProperty("genxml/textbox/defaulttemplate");
                var defaultcommand = i.GetXmlProperty("genxml/textbox/defaultcommand");
                var interfacekey = i.GetXmlProperty("genxml/textbox/interfacekey");
                var interfaceicon = i.GetXmlProperty("genxml/textbox/interfaceicon");
                var interfaceName = ResourceKey("RocketCommerce." + interfacekey).ToString();
                if (interfaceName == "")
                {
                    interfaceName = interfacekey;
                }
                menuOut += "<div class='w3-bar-item w3-button w3-theme-l5 w3-hover-theme simplisity_menulink' s-after='sidemenuchange' s-track='true' s-cmd='" + defaultcommand + "' s-fields='{\"theme\":\"" + defaulttheme + "\",\"template\":\"" + defaulttemplate + "\",\"systemprovider\":\"" + sidemenu.SystemKey + "\",\"interfacekey\":\"" + interfacekey + "\"}' ><i class='w3-center " + interfaceicon + "' style='width:40px;'></i>" + interfaceName + "</div>";
            }
        }
        lp += 1;
    }


    // get sub group interfaces
    lp = 0;
    foreach (SimplisityRecord g in sidemenu.GetGroups())
    {
        var groupref = g.GetXmlProperty("genxml/textbox/groupref");
        var groupicon = g.GetXmlProperty("genxml/textbox/groupicon");
        interfacelist = sidemenu.GetInterfaces(groupref);
        if (interfacelist.Count() > 0)
        {
            menuOut += "<div class='w3-bar-item w3-button w3-theme-l4 w3-hover-theme menuaccordian' actionid='" + groupref + "'><i class='w3-left " + groupicon + "' style='width:30px;'></i>" + ResourceKey("RocketCommerce." + groupref) + "&nbsp;<i class='fas fa-caret-down'></i></div>";
            menuOut += "<div id='" + groupref + "' class='w3-hide w3-theme-l4'>";
            foreach (var i in interfacelist)
            {
                var defaulttheme = i.GetXmlProperty("genxml/textbox/defaulttheme");
                var defaulttemplate = i.GetXmlProperty("genxml/textbox/defaulttemplate");
                var defaultcommand = i.GetXmlProperty("genxml/textbox/defaultcommand");
                var interfacekey = i.GetXmlProperty("genxml/textbox/interfacekey");
                var interfaceicon = i.GetXmlProperty("genxml/textbox/interfaceicon");
                menuOut += "<div class='w3-bar-item w3-button w3-theme-l5 w3-hover-theme simplisity_menulink ' s-after='sidemenuchange' s-track='true' s-cmd='" + defaultcommand + "' s-fields='{\"theme\":\"" + defaulttheme + "\",\"template\":\"" + defaulttemplate + "\",\"systemprovider\":\"" + sidemenu.SystemKey + "\",\"interfacekey\":\"" + interfacekey + "\"}' ><i class='w3-center " + interfaceicon + "' style='width:40px;'></i>" + ResourceKey("RocketCommerce." + interfacekey) + "</div>";
            }
            menuOut += "</div>";
            lp += 1;
        }
    }
}

<div class="w3-sidebar w3-bar-block w3-card w3-theme-l4" style="width:260px;">
    @HtmlOf(menuOut)

    <hr />
    @if (sidemenu.ModuleId == 0 || Model.GetSettingBool("newpage"))
    {
        <div class="w3-bar-item w3-button w3-theme-d5 w3-hover-theme simplisity_click " s-cmd="login_signout" s-return="#simplisity_startpanel">@ResourceKey("DNNrocket.cmdSignOutButton")</div>
    }
    else
    {
        <div onclick="returnclick();" class="w3-bar-item w3-button w3-theme-d5 w3-hover-theme">@ResourceKey("DNNrocket.cmdReturnButton")</div>
    }

</div>


<span id="langflagrequired" style="display:none;" class="w3-display-right w3-right-align w3-padding">

    @{

        var strOut1 = "";

        var enabledlanguages = DNNrocketUtils.GetCultureCodeList();
        foreach (var l in enabledlanguages)
        {
            var imageclass = "";
            if (DNNrocketUtils.GetEditCulture() == l)
            {
                imageclass = "w3-border-top w3-border-theme";
            }
            strOut1 += "<a href='javascript:void(0);' class='w3-margin-right " + imageclass + " selectlang' editlang='" + l + "'>";
            strOut1 += "<img class='' src='/DesktopModules/DNNrocket/API/images/flags/32/" + l + ".png' alt='" + l + "' />";
            strOut1 += "</a>";
        }
    }

    @HtmlOf(strOut1)

</span>

<!-- Overlay effect when opening the side navigation on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="Close Sidemenu" id="myOverlay"></div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#menulangflags").empty();
        $("#langflagrequired").appendTo("#menulangflags");
        $('#langflagrequired').show();


        $('.menuaccordian').unbind('click');
        $('.menuaccordian').click(function () {
            var actionid = $(this).attr("actionid")
            if ($('#' + actionid).hasClass('w3-show')) {
                $('#' + actionid).addClass('w3-hide');
                $('#' + actionid).removeClass('w3-show');
                $(this).removeClass('w3-theme-d4');
            }
            else {
                $('#' + actionid).addClass('w3-show');
                $('#' + actionid).removeClass('w3-hide');
                $(this).addClass('w3-theme-d4');
            }
        });

        $('.selectlang').unbind('click');
        $('.selectlang').click(function () {
            // change langauge by setting "nextlang" cookie and then trigger the save with "simplisity_langchange" class on the save button.
            // the ajax return with switch the editlang cookie to the nextlang cookie and delete the nextlang cookie, it will then reload the page.
            simplisity_setCookieValue('nextlang', $(this).attr('editlang'));
            // We need to save and reload or just reload on the list page.  So call a function in each template
            languageChange();
        });

        $('#dnnrocket_usernameplaceholder').text('@(username)');

        sidemenuchange();

    });

    function sidemenuchange() {
        $('.simplisity_menulink').addClass('w3-light-grey');
        $('.simplisity_menulink').removeClass('w3-theme-l2');
        var index = simplisity_getCookieValue('s-lastmenuindex');
        $('.simplisity_menulink[s-index=' + index + ']').removeClass('w3-light-grey');
        $('.simplisity_menulink[s-index=' + index + ']').addClass('w3-theme-l2');
    }

    function returnclick() {
        $('#simplisity_loader').show();
        var returnurl = simplisity_getCookieValue('rocketmod_return');
        if (typeof returnurl === 'undefined' || returnurl === '') {
            window.history.back();
        } else {
            window.location = returnurl;
        }
    }


</script>

