@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;

@using RocketMod;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketMod/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Documents/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/" + Model.SystemKey + "/" + Model.ThemeFolder + "/1.0/resx/")


@{
    //NOTE: This template is designed to have 1 imagelist on the template.
    // If more than 1 image list is required, a new template is required.
    var articleData = (ArticleLimpet)Model.List.First();
    var docLP = 1;
    var datalist = articleData.GetDocuments();
    var info = articleData.Info;
}

@DocumentUploadButton(Model)

<div class="w3-row documentlistdatasection">

    <ul id="documentlistdata" class="w3-ul">

        @foreach (var articleDoc in datalist)
        {
        <li class="documentlist w3-display-container w3-padding w3-border-0 w3-col m12 l6">
            @SortableListIndex(articleDoc.Info, docLP)
            @HiddenField(articleDoc.Info, "genxml/hidden/documentpath", "", "", false, docLP)

            <div class="w3-display-container w3-padding w3-card">
                <div class="simplisity_removelistitem w3-button w3-display-topright" s-removelist=".documentlist" s-recylebin="documentlistbin" style="cursor: pointer;">
                    <i title="@ResourceKey("DNNrocket.remove")" class=" fas fa-minus-square fa-fw fa-lg"></i>
                </div>

                <div class="w3-row w3-display-container">
                    <div class="w3-col m8">
                        <label>@EditFlag()&nbsp;@ResourceKey("RocketMod.name")</label>
                        @TextBox(articleDoc.Info, "genxml/lang/genxml/textbox/name", "class='w3-input w3-border' MaxLength='200'", "", true, docLP)
                    </div>
                    <div class="w3-col m3 w3-display-right">
                        @CheckBox(articleDoc.Info, "genxml/checkbox/hidden", "&nbsp;" + ResourceKey("RocketMod.hidelink").ToString(), " class='w3-check' ", false, false, docLP)
                    </div>
                </div>
            </div>
        </li>
            docLP += 1;
        }
    </ul>

</div>

<script>
    $(document).ready(function () {
        $("#documentlistdata").sortable();
        $("#documentlistdata").disableSelection();
    });
</script>
