@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using DNNrocketAPI.Components;
@using Rocket.AppThemes.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketAppTheme/App_LocalResources/")

@{
    var appThemeList = (AppThemeDataList)Model.List.First();
    var systemAppTheme = new AppThemeSystemLimpet("rocketapptheme");
}

@RenderTemplate("Popups.cshtml", systemAppTheme, Model, true)

<div>

    <div class="w3-bar searchdata">
        <div class="w3-bar-item w3-right " style=''>
            <div class="w3-bar">
                <input class="w3-bar-item w3-input w3-border w3-light-grey" autocomplete="off" type="text" placeholder="@ResourceKey("Appthemes.searchapptheme")..." id="searchtext" onkeyup="searchFunction()">
            </div>
        </div>
    </div>

    <div id="datalist" class="w3-container w3-margin-top">

        <table class="w3-table w3-bordered w3-hoverable">
            <thead>
                <tr>
                    <th>AppTheme</th>
                    <th>Last Updated</th>
                    <th style="width:80px;"></th>
                    <th onclick="document.getElementById('a-downloadappthemeall').style.display = 'block';" class="" style="cursor:pointer;width:80px;">@ButtonIcon(ButtonTypes.download)</th>
                </tr>
            </thead>
            @{
                var l = AppThemeUtils.GetGitHubAppThemes("ToastedTemplates");
                var githubList = new List<string>();
            }
            @foreach (var gitRepoRec in l)
            {
                var appTheme = AppThemeUtils.GetAppThemeLimpet("", gitRepoRec.GetXmlNode("genxml/name"), "", "ToastedTemplates");
                githubList.Add(appTheme.AppThemeFolder);

                <tr class="searchdiv">
                    <td><b>@gitRepoRec.GetXmlProperty("genxml/name")</b></td>
                    <td>@Convert.ToDateTime(gitRepoRec.GetXmlProperty("genxml/updated_at")).ToShortDateString() @Convert.ToDateTime(gitRepoRec.GetXmlProperty("genxml/updated_at")).ToShortTimeString()</td>
                    <td><a href="@gitRepoRec.GetXmlProperty("genxml/html_url")" target="_blank">
                            <span class="material-icons">
                                developer_mode
                            </span>
                        </a>
                    </td>
                    <td htmlurl="@(gitRepoRec.GetXmlProperty("genxml/html_url"))" appthemefolder="@(appTheme.AppThemeFolder)" class="a-installappthemebutton" style="cursor:pointer;">
                        @if (appTheme.Exists)
                        {
                            <span class="w3-text-green">@ButtonIcon(ButtonTypes.download)</span>
                        }
                        else
                        {
                            <span>@ButtonIcon(ButtonTypes.download)</span>
                        }
                    </td>

                </tr>
            }
        </table>

        <div id="a-downloadapptheme" class="w3-modal">
            <div class="w3-modal-content w3-card w3-animate-zoom">
                <header class="w3-container  w3-theme" style="height:38px;">
                    <span onclick="document.getElementById('a-downloadapptheme').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                </header>
                <div class=" w3-padding">
                    <div class="w3-padding w3-large a-downloadappthemename"></div>
                    <div class="w3-light-grey w3-margin">
                        <div class=" progressBarDownload w3-container w3-green" style="height:32px;width:1%"></div>
                    </div>
                    <div class="w3-row w3-margin w3-center">
                        <div class="w3-third">&nbsp;</div>
                        <div class="w3-third a-downloadbutton w3-button w3-teal w3-padding-8 simplisity_click" s-before="moveprogressbardownload" s-after="stopprogressbardownload" s-cmd="rocketapptheme_downloadgithub" s-fields='{"systemkey":"@(Model.GetSetting("systemkey"))"}'>@ButtonIcon(ButtonTypes.download)&nbsp;@ResourceKey("AppThemes.install")</div>
                        <div class="w3-third">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="a-downloadappthemeall" class="w3-modal">
            <div class="w3-modal-content w3-card w3-animate-zoom">

                <header class="w3-container  w3-theme" style="height:38px;">
                    <span onclick="document.getElementById('a-downloadappthemeall').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                </header>
                <div class=" w3-padding">
                    <div class="w3-padding  w3-large">@ResourceKey("AppThemes.installall")</div>
                    <div class="w3-light-grey w3-margin">
                        <div class="progressBarDownload w3-container w3-green" style="height:32px;width:1%"></div>
                    </div>
                    <div class="w3-row w3-margin w3-center">
                        <div class="w3-third">&nbsp;</div>
                        <div class="w3-third a-downloadbutton w3-button w3-teal w3-padding simplisity_click" s-before="moveprogressbardownload" s-after="stopprogressbardownload" s-cmd="rocketapptheme_downloadallgithub" s-fields='{"systemkey":"@(Model.GetSetting("systemkey"))"}'>@ButtonIcon(ButtonTypes.download)&nbsp;@ResourceKey("AppThemes.installall")</div>
                        <div class="w3-third">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {

        $('.actionentrykey').focus();

        $('.a-installappthemebutton').off("click");
        $('.a-installappthemebutton').click(function () {
            document.getElementById('a-downloadapptheme').style.display = 'block';
            simplisity_setParamField('htmlurl', $(this).attr('htmlurl'));
            simplisity_setParamField('appthemefolder', $(this).attr('appthemefolder'));
            simplisity_setParamField('org', 'ToastedTemplates');
            $('.a-downloadappthemename').html($(this).attr('appthemefolder'));
        });

    });

    function searchFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("searchtext");
        filter = input.value.toUpperCase();
        ul = document.getElementById("datalist2");
        li = $('.searchdiv');
        for (i = 0; i < li.length; i++) {
            txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function moveprogressbardownload() {
        $('.a-downloadbutton').hide();
        var width = 1;
        progressbarid = setInterval(frame, 200);
        function frame() {
            if (width >= 100) {
                width = 1;
            } else {
                width++;
                $('.progressBarDownload').width(width + '%');
            }
        }
    }

    function stopprogressbardownload() {
        clearInterval(progressbarid)
    }



</script>


