@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using Simplisity;
@using System.IO;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketAppTheme/App_LocalResources/")

@{
    var appTheme = (AppThemeLimpet)Model.List.First();
    var sessionParam = Model.SessionParamsData;
    var systemAppTheme = new AppThemeDNNrocketLimpet("rocketapptheme");
    var portalData = new PortalLimpet(PortalUtils.GetCurrentPortalId());
}

<div class="w3-container">
    <div class="w3-bar  w3-padding w3-margin-top">

        <a class="w3-button w3-black" href="." >@ButtonText(ButtonTypes.back)</a>

        <a class="w3-button simplisity_filedownload" s-cmd="rocketapptheme_export" s-fields='{"moduleref":"@sessionParam.ModuleRef","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ButtonText(ButtonTypes.export)</a>

        @if (sessionParam.ModuleRef != "")
        {
            <span class="w3-right w3-large w3-margin-right">@(sessionParam.ModuleRef)</span>
        }
        else
        {
            <span class="w3-right w3-large w3-margin-right">Portal: @(appTheme.PortalId)</span>
        }


    </div>
</div>
<div class="w3-row">
    @if (sessionParam.ModuleRef != "")
    {
        <div class="w3-pale-blue w3-row w3-center w3-padding w3-border w3-border-blue">
        <span class="w3-xlarge">Module Level&nbsp;<img src="/images/level_module.svg" /></span>
    </div>
    }
    else
    {
        <div class="w3-pale-yellow w3-row w3-center w3-padding w3-border w3-border-yellow">
            <span class="w3-xlarge">Portal Level&nbsp;<img src="/images/level_portal.svg" /></span>
        </div>
    }
</div>

@RenderTemplate("AppThemeFields.cshtml", systemAppTheme, Model, true)

