@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using Simplisity;
@using System.IO;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketAppTheme/App_LocalResources/")

@{
    var appTheme = (AppThemeLimpet)Model.List.First();
    var sessionParam = Model.SessionParamsData;
    var systemAppTheme = new AppThemeDNNrocketLimpet("rocketapptheme");
    var portalData = new PortalLimpet(PortalUtils.GetCurrentPortalId());
}

<div class="w3-container">
    <div class="w3-bar  w3-padding w3-margin-top">

        @if (sessionParam.Get("returnurl") != "")
        {
            <a href="@sessionParam.Get("returnurl")" class="w3-button w3-black" style="text-decoration: none;">@ButtonText(ButtonTypes.back)</a>
        }
        @if (sessionParam.ModuleRef == "")
        {
            <span class="w3-button w3-black  simplisity_click" s-cmd="rocketapptheme_getlist">@ButtonText(ButtonTypes.back)</span>
        }

        <!-- **** planned enhancement ****
        <span class="w3-button w3-hide simplisity_confirmclick" s-confirm="@ResourceKey("AppThemes.versionmsg")&nbsp;?" s-cmd="rocketapptheme_createversion" s-fields='{"moduleref":"@sessionParam.ModuleRef","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ButtonIcon(ButtonTypes.create) @ResourceKey("AppThemes.createversion")</span>
        <span class="w3-button w3-hide" onclick="document.getElementById('copyapptheme').style.display = 'block';">@ButtonText(ButtonTypes.copy)</span>
        <span class="w3-button w3-hide simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.uninstall")&nbsp;AppTheme?" s-cmd="rocketapptheme_deletetheme" s-fields='{"moduleref":"@sessionParam.ModuleRef","appthemesystemkey":"@appTheme.SystemKey","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ButtonIcon(ButtonTypes.remove) @ResourceKey("DNNrocket.uninstall")</span>
        <span class="w3-button w3-hide simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete")&nbsp;@ResourceKey("AppThemes.version")?" s-cmd="rocketapptheme_deleteversion" s-fields='{"moduleref":"@sessionParam.ModuleRef","appthemesystemkey":"@appTheme.SystemKey","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ButtonIcon(ButtonTypes.delete) @ResourceKey("AppThemes.deleteversion")</span>
        -->

        <a class="w3-button simplisity_filedownload" s-cmd="rocketapptheme_export" s-fields='{"moduleref":"@sessionParam.ModuleRef","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ButtonText(ButtonTypes.export)</a>

        @if (sessionParam.ModuleRef != "")
        {
        <a href="@(portalData.EngineUrlWithProtocol)/sysadmin/rocketapptheme" target="_blank" class="w3-button w3-right" style="text-decoration:none;">
            <span class="material-icons">
                movie_edit
            </span>
                @ResourceKey("AppThemes.editportalappthemes")
        </a>
        }

    </div>
</div>

@RenderTemplate("AppThemeFields.cshtml", systemAppTheme, Model, true)
