@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using DNNrocketAPI.Components;
@using Rocket.AppThemes.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketAppTheme/App_LocalResources/")

@{
    var sessionParams = Model.SessionParamsData;
    var appThemeList = (AppThemeDataList)Model.List.First();
    var systemAppTheme = new AppThemeSystemLimpet("rocketapptheme");
    var rocketAppTheme = new AppThemeDNNrocketLimpet("rocketapptheme");
    var orgData = new OrganisationLimpet();

    var selectedOrg = sessionParams.Get("selectedorg");
    if (selectedOrg == "" && orgData.ActiveList().Count > 0)
    {
        selectedOrg = orgData.DefaultOrg();
    }

    var systemDict = new Dictionary<string, string>();
    systemDict.Add("", "");
    var appThemes = new Dictionary<string, object>();
    foreach (var at in appThemeList.List)
    {
        if (!systemDict.ContainsKey(at.SystemKey))
        {
            systemDict.Add(at.SystemKey, at.SystemKey);
        }
    }


}

    <!-- Use RP_admin.js from RocketPortal project, so we can use templates in both systems -->
    <script src="/DesktopModules/DNNrocket/RocketPortal/Themes/config-w3/1.0/js/RP_Admin.js"></script>

    @RenderLanguageSelector("rocketapptheme_getlist", "", rocketAppTheme, Model)

    <div id="appthemelist" class="w3-padding">

        <div class="w3-bar searchdata">
            <div class="w3-bar-item">
                @DropDownList(new SimplisityInfo(), "genxml/selectedorg", orgData.ActiveList(), " class='w3-input w3-border'", selectedOrg)
            </div>
            <div class="w3-bar-item">
                @DropDownList(new SimplisityInfo(), "genxml/selectedsystem", systemDict, " class='w3-input w3-border' ")
            </div>
            <input class="w3-bar-item w3-right w3-input w3-border w3-light-grey" autocomplete="off" type="text" placeholder="@ResourceKey("Appthemes.searchapptheme")..." id="searchtext" onkeyup="searchFunction()">
        </div>


        <div id="datalist" class="w3-container w3-margin-top">

            <table class="w3-table w3-bordered w3-hoverable">
                @foreach (var appTheme in appThemeList.List)
                {
                    <tr class="searchdiv simplisity_click" s-cmd="rocketapptheme_getdetail" s-fields='{"selectedorg":"@(selectedOrg)","systemkey":"@(Model.GetSetting("systemkey"))","appthemefolder":"@appTheme.AppThemeFolder"}' style="cursor:pointer;">
                        <td>
                            <b>@appTheme.AppThemeFolder.Replace(appTheme.SystemKey + ".", "")</b>
                            <div class="w3-tiny">@appTheme.AppThemeFolder</div>
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>

    <script>
        $(document).ready(function () {

            $('.actionentrykey').focus();

            $('#selectedsystem').off("change");
            $('#selectedsystem').change(function () {
                hideFunction($(this).val());
                return false;
            });

            $('#selectedorg').off("change");
            $('#selectedorg').change(function () {
                simplisity_setSessionField('selectedorg', $('#selectedorg').val());
                $("#sidebarplaceholder [s-cmd='rocketapptheme_getlist']").trigger('click');
                return false;
            });

        });

        function searchFunction() {
            $('#selectedsystem').val('');
            var input = document.getElementById("searchtext").value;
            hideFunction(input);
        }

        function hideFunction(filter) {
            var li, i;
            filter = filter.toUpperCase();
            li = $('.searchdiv');
            for (i = 0; i < li.length; i++) {
                txtValue = li[i].textContent || li[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }

    </script>


