@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using Simplisity;
@using System.IO;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketAppTheme/App_LocalResources/")

@{
    var appTheme = (AppThemeLimpet)Model.List.First();
    var sessionParam = Model.SessionParamsData;
    var systemAppTheme = new AppThemeDNNrocketLimpet("rocketapptheme");
    Model.SetSetting("remoteedit", "false");
}

@RenderLanguageSelector("rocketapptheme_getdetail", "", systemAppTheme, Model)

<div class="w3-container" style="top:64px;">
    <div class="w3-bar">
        <button class="w3-button w3-bar-item  simplisity_click" s-cmd="rocketapptheme_getlist">@ButtonIcon(ButtonTypes.back)</button>
        <div class="w3-dropdown-hover">
            <div class="w3-button" style="">@ButtonIcon(ButtonTypes.bars)</div>
            <div class="w3-dropdown-content w3-bar-block w3-card" style="width:340px;">

                @if (PortalUtils.GetPortalId() == 0)
                {
                    <div class="w3-bar-item w3-button simplisity_confirmclick" s-return=".articlepopup" s-confirm="@ResourceKey("AppThemes.versionmsg")&nbsp;?" s-cmd="rocketapptheme_createversion" s-fields='{"moduleref":"@sessionParam.ModuleRef","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ResourceKey("AppThemes.createversion")</div>
                    <div class="w3-bar-item w3-button" onclick="document.getElementById('copyapptheme').style.display = 'block';">@ResourceKey("AppThemes.copyapptheme")</div>
                    <div class="w3-bar-item w3-button w3-padding-8 simplisity_confirmclick" s-track="clear" s-confirm="@ResourceKey("DNNrocket.uninstall")&nbsp;AppTheme?" s-cmd="rocketapptheme_deletetheme" s-fields='{"moduleref":"@sessionParam.ModuleRef","appthemesystemkey":"@appTheme.SystemKey","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ResourceKey("DNNrocket.uninstall")</div>
                    <div class="w3-bar-item w3-button w3-padding-8 simplisity_confirmclick" s-track="clear" s-return=".articlepopup" s-confirm="@ResourceKey("DNNrocket.delete")&nbsp;@ResourceKey("AppThemes.version")?" s-cmd="rocketapptheme_deleteversion" s-fields='{"moduleref":"@sessionParam.ModuleRef","appthemesystemkey":"@appTheme.SystemKey","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ResourceKey("AppThemes.deleteversion")</div>
                }
                <a class="w3-bar-item w3-button w3-padding-8 simplisity_filedownload" s-cmd="rocketapptheme_export" s-fields='{"moduleref":"@sessionParam.ModuleRef","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ResourceKey("DNNRocket.export")</a>

            </div>
        </div>
    </div>
</div>

@RenderTemplate("AppThemeFields.cshtml", systemAppTheme, Model, true)
