@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using DNNrocketAPI.Components;
@using Rocket.AppThemes.Components;
@using System.IO;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketAppTheme/App_LocalResources/")

@{
    var sessionParams = Model.SessionParamsData;
    var systemAppTheme = (AppThemeDNNrocketLimpet)Model.GetDataObject("appthemesystem");
    var appThemeProjectData = (AppThemeProjectLimpet)Model.GetDataObject("appthemeprojects");
    var appThemeList = (AppThemeDataList)Model.GetDataObject("appthemedatalist");

    var selectedProject = sessionParams.Get("selectedproject");
    if (selectedProject == "" && appThemeProjectData.ActiveList().Count > 0)
    {
        selectedProject = appThemeProjectData.DefaultProjectName();
    }

    var projectThemeList = appThemeProjectData.GetAppThemeList(selectedProject);

    var systemDict = new Dictionary<string, string>();
    systemDict.Add("", "");
    var appThemes = new Dictionary<string, object>();
    foreach (AppThemeLimpet appTheme in projectThemeList)
    {
        var systemKey = appTheme.SystemKey;
        if (!systemDict.ContainsKey(systemKey))
        {
            systemDict.Add(systemKey, systemKey);
        }            
    }

}

[INJECT:appthemesystem,Popups.cshtml]

<div>

    <div class="w3-bar searchdata w3-padding">
        <div class="w3-bar-item">
            @DropDownList(new SimplisityInfo(), "genxml/selectedproject", appThemeProjectData.ActiveList(), " class='w3-input w3-border'", selectedProject)
        </div>
        <div class="w3-bar-item">
            @DropDownList(new SimplisityInfo(), "genxml/selectedsystem", systemDict, " class='w3-input w3-border' ")
        </div>
        <div class="w3-bar-item">
            <div class="w3-button w3-theme-action simplisity_confirmclick" s-cmd="rocketapptheme_downloadallgithub" s-confirm="@ResourceKey("AppThemes.downloadappthemes")" s-fields='{"systemkey":"@(Model.GetSetting("systemkey"))"}'>@ButtonText(ButtonTypes.download)</div>
        </div>
        <input class="w3-bar-item w3-input w3-right w3-border w3-light-grey" autocomplete="off" type="text" placeholder="@ResourceKey("Appthemes.searchapptheme")..." id="searchtext" onkeyup="searchFunction()">
    </div>

    <div id="datalist" class="w3-container w3-margin-top">

        <table class="w3-table w3-bordered w3-hoverable">
            <thead>
                <tr>
                    <th>AppTheme</th>
                    <th>@ResourceKey("AppThemes.lastupdate")</th>
                </tr>
            </thead>
            @foreach (AppThemeLimpet appTheme in projectThemeList)
            {
                <tr class="searchdiv simplisity_click " s-cmd="rocketapptheme_getdetail" s-return="#editmodalcontainer" s-after="showeditpopup" s-fields='{"appthemefolder":"@(appTheme.AppThemeFolder)","appversionfolder":"@(appTheme.LatestVersionFolder)"}'>
                    <td>
                        <div class="w3-tiny">@appTheme.SystemKey</div>
                        <b>@appTheme.Name</b>
                    </td>
                    <td>@appTheme.LastUpdated</td>
                </tr>
            }
        </table>

    </div>
</div>

<script>
    $(document).ready(function () {

        $('.actionentrykey').focus();

        $('#selectedsystem').off("change");
        $('#selectedsystem').change(function () {
            hideFunction($(this).val());
            return false;
        });

        $('#selectedproject').off("change");
        $('#selectedproject').change(function () {            
            simplisity_setSessionField('selectedproject', $('#selectedproject').val());
            $("#sidebarplaceholder [s-cmd='rocketapptheme_getlist']").trigger('click');
            return false;
        });
        
        selectMenu('appstore');

    });

    function searchFunction() {
        $('#selectedsystem').val('');
        var input = document.getElementById("searchtext").value;
        hideFunction(input);
    }

    function hideFunction(filter) {
        var li, i;
        filter = filter.toUpperCase();
        li = $('.searchdiv');
        for (i = 0; i < li.length; i++) {
            txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

</script>


