@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using Rocket.AppThemes.Components;
@using System.IO;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")

@{
    var appTheme = (AppThemeLimpet)Model.List.First();
    var sessionParams = Model.SessionParamsData;
    var disableDelete = true;
    var appThemeSystem = new AppThemeDNNrocketLimpet("rocketapptheme");
    var portalData = new PortalLimpet(PortalUtils.GetCurrentPortalId());

    var backcmd = "rocketapptheme_getdetail";
    if (sessionParams.Get("moduleref") != "")
    {
        backcmd = "rocketapptheme_getremote";
    }

}

<!-- codemirror.js for editor ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<script src="//@(portalData.EngineUrl)/DesktopModules/DNNrocket/CodeMirror/codemirror.js"></script>
<link rel="stylesheet" href="//@(portalData.EngineUrl)/DesktopModules/DNNrocket/CodeMirror/night.css" />
<link rel="stylesheet" href="//@(portalData.EngineUrl)/DesktopModules/DNNrocket/CodeMirror/codemirror.css" />
<script src="//@(portalData.EngineUrl)/DesktopModules/DNNrocket/CodeMirror/mode/javascript/javascript.js"></script>
<script src="//@(portalData.EngineUrl)/DesktopModules/DNNrocket/CodeMirror/mode/xml/xml.js"></script>
<script src="//@(portalData.EngineUrl)/DesktopModules/DNNrocket/CodeMirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="//@(portalData.EngineUrl)/DesktopModules/DNNrocket/CodeMirror/mode/css/css.js"></script>
<!-- codemirror.js for editor ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

@RenderLanguageSelector("rocketapptheme_getlist", "", appThemeSystem, Model)

<div class="w3-row w3-padding">
    <div class="w3-bar w3-margin-bottom">
        <button class="w3-button w3-bar-item  simplisity_click" s-cmd="@(backcmd)" s-fields='{"moduleref":"@(sessionParams.ModuleRef)","filename":"@sessionParams.Get("filename")","appthemesystemkey":"@appTheme.SystemKey","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ButtonIcon(ButtonTypes.back)</button>
        <div class="w3-button w3-bar-item w3-theme-action savebutton simplisity_click" s-before="saveeditordata" s-cmd="@(Model.GetSetting("interfacekey"))_saveeditor" s-post="#editorsave" s-fields='{"moduleref":"@(sessionParams.ModuleRef)","filename":"@Model.GetSetting("filename")","appthemesystemkey":"@appTheme.SystemKey","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ButtonText(ButtonTypes.save)</div>
        @if (sessionParams.ModuleRef != "")
        {
            disableDelete = false;
            <span class=" w3-bar-item w3-margin-left w3-text-pale-blue">[M]</span>
        }
        else
        {
            if (appTheme.IsPortalLevel(Model.GetSetting("filename")) && PortalUtils.GetPortalId() > 0)
            {
                disableDelete = false;
                <span class=" w3-bar-item w3-margin-left w3-text-indigo">[P]</span>
            }
        }
        @if (!disableDelete || PortalUtils.GetPortalId() == 0)
        {
            <div class=" w3-bar-item w3-button w3-right w3-red w3-padding-8 simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete") ?" s-cmd="@(Model.GetSetting("interfacekey"))_deletefile" s-fields='{"filename":"@Model.GetSetting("filename")","appthemesystemkey":"@appTheme.SystemKey","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder","moduleref":"@sessionParams.Get("moduleref")"}'>@ButtonText(ButtonTypes.delete)</div>
        }

    </div>
    <div class="w3-row ">
        <b id="editorfilename" class="" style="">@Model.GetSetting("filename")</b>
    </div>

    <div id="editorsave" style="">
        @HiddenField(new SimplisityInfo(), "genxml/hidden/selectedsystemkey", "", appTheme.SystemKey)
        <input id="editorcodesave" type="hidden" value="" />
    </div>

    <input id="editorsavereturn" type="hidden" value="" />

    <div id="editorwrapper" class="w3-row " style="height:800px;display:none;">

        <textarea id="razoreditor">@appTheme.GetTemplate(Model.GetSetting("filename"))</textarea>

    </div>

</div>

<script>

    var myCodeMirror;

    $(document).ready(function () {

        setTimeout(() => {
            // pause to allow codemirror.js to load.
            $('#editorwrapper').show();

            myCodeMirror = CodeMirror.fromTextArea(document.getElementById("razoreditor"), {
                mode: '@Model.GetSetting("editormode")',
                theme: "night"
            });

            myCodeMirror.setSize($('#editorwrapper').width(), $('#editorwrapper').height());
            $('#razoreditor').focus();


        }, 500);


    });


    function saveeditordata() {
        $('#editorcodesave').val(simplisity_encode(myCodeMirror.getValue()));
        $('#saveicon').show();
        $("#saveicon").fadeOut();
    }

</script>