@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using Simplisity;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources")

@{
    var enabledlanguages = DNNrocketUtils.GetCultureCodeList();
    var sessionParams = Model.SessionParamsData;
}

@foreach (var l in enabledlanguages)
{
    var selectedcolor = "";
    if (sessionParams.CultureCodeEdit == l)
    {
        selectedcolor = "w3-border";
    }
    <div class="w3-button w3-padding-small w3-round @(selectedcolor) changeeditlanguage" s-post="#a-articledata" s-cmd="@Model.GetSetting("scmd")" s-fields='@(Model.GetSetting("sfields"))' language="@(l)" }><img src="//@(PortalUtils.DomainSubUrl())/DesktopModules/DNNrocket/API/images/flags/24/@(l).png" class="w3-round" /></div>
}

<script>
    $(document).ready(function () {

        $(".changeeditlanguage").click(function () {
            var l = $(this).attr('language');
            simplisity_setSessionField('culturecodeedit', l);
            simplisity_callserver(this);
        });

    });

</script>

