@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using DNNrocket.Category;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Category/App_LocalResources/")

@{
    var info = (SimplisityInfo)Model.List.First();
}

<!-- gridy for entry grids -->
<script src="/DesktopModules/DNNrocket/category/Themes/config-w3/js/jquery.matchHeight-min.js" type="text/javascript"></script>

<span class="w3-section simplisity_buttons">
    <span class="w3-button w3-green w3-padding-8 simplisity_langchange simplisity_click" s-cmd="category_save" s-post="#datasave" s-list=".categoryimg" s-fields="selecteditemid:@info.ItemID,theme:config-w3,template:CategoryDetail.cshtml,interfacekey:category">@ButtonText(ButtonTypes.save)</span>
    <span class="w3-button w3-red w3-padding-8 simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete","","confirm")" s-cmd="category_delete" s-fields="selecteditemid:@info.ItemID,theme:config-w3,template:CategoryList.cshtml,interfacekey:category">@ButtonText(ButtonTypes.delete)</span>
    <span class="w3-button w3-sand w3-padding-8 simplisity_click"  s-cmd="category_getlist" s-fields="selecteditemid:,theme:config-w3,template:CategoryList.cshtml,interfacekey:category">@ButtonText(ButtonTypes.back)</span>
</span>



<div class="w3-container">

    <div class="w3-container">
        <div class="w3-row">
            <a href="javascript:void(0)" class="sectiontab" sectionname="detailsection">
                <div class="w3-col tablink w3-bottombar w3-hover-theme w3-padding w3-border-black w3-theme " style="width:20%"><i class="fas fa-home"></i>&nbsp;@ResourceKey("category.details")</div>
            </a>
            <a href="javascript:void(0)" class="sectiontab" sectionname="imagesection">
                <div class="w3-col tablink w3-bottombar w3-hover-light-blue w3-padding " style="width:20%"><i class="fas fa-image"></i>&nbsp;@ResourceKey("category.images")</div>
            </a>

            @foreach (var i in Model.SessionParamData.GetList("interfacedata"))
            {
                if (i.GetXmlPropertyBool("genxml/checkboxlist/providertype/chk[@data='categoryentry']/@value"))
                {
                    <a href="javascript:void(0)" class="sectiontab" sectionname="@i.GetXmlProperty("genxml/textbox/interfacekey")section">
                        <div class="w3-col tablink w3-bottombar w3-hover-light-blue w3-padding " style="width:20%"><i class="fas fa-th"></i>&nbsp;@i.GetXmlProperty("genxml/textbox/interfacekey")</div>
                    </a>
                }
            }



        </div>
        <span id="datasave">

            <div id="detailsection" class="w3-container w3-margin tabsection" style="display:block;">

                <h2>@ResourceKey("category.categories")</h2>
                <b>ItemId: @info.ItemID</b>

                <div class="w3-row">
                    <div class="w3-half w3-padding">
                        <div>
                            <label>@ResourceKey("category.ref")</label>
                            @TextBox(info, "genxml/textbox/ref", "class='w3-input w3-border' maxlength='50' placeholder='" + @ResourceKey("category.ref") + "...' ", "")
                        </div>
                        <div class="">
                            @EditFlag()&nbsp;<label>@ResourceKey("category.name")</label>
                            @TextBox(info, "genxml/lang/genxml/textbox/name", "maxlength='250' class='w3-input w3-border'", "")
                        </div>
                        <div class="">
                            @EditFlag()&nbsp;<label>@ResourceKey("category.code")</label>
                            @TextBox(info, "genxml/textbox/code", "class='w3-input w3-border' maxlength='250'", "")
                        </div>
                        <div class="">
                            <label>@ResourceKey("category.parent")</label>
                            @DropDownList(info, "genxml/dropdownlist/parentid", CategoryUtils.GetCategoriesDict(info.PortalId, info.ModuleId, info.Lang, true, true), "class='w3-input w3-border'")
                        </div>
                        <div class="">
                            @EditFlag()&nbsp;<label>@ResourceKey("category.description")</label>
                            @TextArea(info, "genxml/lang/genxml/textbox/description", "class='w3-input w3-border' rows='4' maxlength='200'", "")
                        </div>
                    </div>
                    <div class="w3-half w3-padding">
                        <div class="">
                            @EditFlag()&nbsp;<label>@ResourceKey("category.seoname")</label>
                            @TextBox(info, "genxml/lang/genxml/textbox/seoname", "class='w3-input w3-border' maxlength='250'", "")
                        </div>
                        <div class="">
                            @EditFlag()&nbsp;<label>@ResourceKey("category.seotitle")</label>
                            @TextBox(info, "genxml/lang/genxml/textbox/seopagetitle", "class='w3-input w3-border' maxlength='250'", "")
                        </div>
                        <div class="">
                            @EditFlag()&nbsp;<label>@ResourceKey("category.keywords") @ResourceKey("General.Tags")</label>
                            @TextArea(info, "genxml/lang/genxml/textbox/metakeywords", "class='w3-input w3-border' maxlength='250' rows='2'", "")
                        </div>
                        <div class="">
                            @EditFlag()&nbsp;<label>@ResourceKey("category.seodescription")</label>
                            @TextArea(info, "genxml/lang/genxml/textbox/seodescription", "class='w3-input w3-border' rows='2' maxlength='250'", "")
                        </div>
                        <div class="">
                            <label>@ResourceKey("category.attrcode")</label>
                        </div>
                        <div class="">
                            @CheckBox(info, "genxml/checkbox/hidden", "")
                            <label class="control-label">@ResourceKey("category.hidden")</label>
                            @CheckBox(info, "genxml/checkbox/disable", "")
                            <label class="control-label">@ResourceKey("category.disable")</label>
                        </div>
                    </div>
                </div>

            </div>

            @foreach (var i in Model.SessionParamData.GetList("interfacedata"))
            {
                if (i.GetXmlPropertyBool("genxml/checkboxlist/providertype/chk[@data='categoryentry']/@value"))
                {
                    <div id="@i.GetXmlProperty("genxml/textbox/interfacekey")section" class="w3-container w3-margin tabsection" style="display: none;"></div>
                }
            }

        </span>

        <div id="imagesection" class="w3-container w3-margin tabsection" style="display: none;">
            @RenderTemplate("CategoryImages.cshtml", "/DesktopModules/DNNrocket/Category", "config-w3", Model)
        </div>

    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {
        // we can't place class on each input with Razor Tokens so use JQuery to add at runtime.
        $(':checkbox').attr('class', 'w3-check');
        $(':radio').attr('class', 'w3-radio');

        // Sort for the lists.
        $("#sortlistimg").sortable();
        $("#sortlistimg").disableSelection();

        var sectionname = simplisity_getCookieValue('selectedtabname');
        if (sectionname !== '') {
            $('.sectiontab[sectionname="' + sectionname + '"]').trigger('click');
        }

        // load interfaces
            @foreach (var i in Model.SessionParamData.GetList("interfacedata"))
            {
                if (i.GetXmlPropertyBool("genxml/checkboxlist/providertype/chk[@data='categoryentry']/@value"))
                {
                    var runcmd = "";
                    var settingValueInfo = Model.SessionParamData.GetListItem("settingsdata", "genxml/textbox/name", i.GetXmlProperty("genxml/textbox/interfacekey") + "_catcmd");
                    if (settingValueInfo != null)
                    {
                        runcmd = settingValueInfo.GetXmlProperty("genxml/textbox/value");
                    }
                    if (runcmd == "")
                    {
                        runcmd = i.GetXmlProperty("genxml/textbox/defaultcommand");
                    }
                   @: $('#@i.GetXmlProperty("genxml/textbox/interfacekey")section').getSimplisity('@Model.SessionParamData.GetXmlProperty("genxml/textbox/apiurl")', '@runcmd', 'theme:@i.GetXmlProperty("genxml/textbox/defaulttheme"),template:@i.GetXmlProperty("genxml/textbox/defaulttemplate").Replace(".cshtml", "_CategorySelect.cshtml"),interfacekey:@i.GetXmlProperty("genxml/textbox/interfacekey"),categorylist:@info.ItemID', '');
                }
            }

        $('.matchheight').matchHeight();

    });

    $('.sectiontab').unbind('click');
    $('.sectiontab').click(function () {
        var i, x, tablinks;
        x = document.getElementsByClassName("tabsection");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-border-black", "");
            tablinks[i].className = tablinks[i].className.replace(" w3-theme", "");
        }

        var sectionName = $(this).attr('sectionname');
        document.getElementById(sectionName).style.display = "block";

        document.cookie = "selectedtabname=" + sectionName + ";path=/";

        $(this).children().first().addClass('w3-theme').addClass('w3-border-black');

    });

</script>
