@inherits DNNrocketAPI.render.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;
@using RocketMod;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{
    var info = (SimplisityInfo)Model.List.First();
    var moduleData = new ModuleData(Model.GetSettingInt("tabid"), info.ModuleId);
}

<span class="w3-section simplisity_buttons" id="buttonsrequired" style="display:none;">
    <span class="w3-button w3-green w3-padding-8 simplisity_confirmclick" s-confirm="@ResourceKey("RocketMod.resetmsg")" s-cmd="rocketmod_reset" s-fields="tabid:@(Model.GetSetting("tabid")),moduleid:@(info.ModuleId),interfacekey:rocketmod">@ResourceKey("DNNrocket.cmdResetButton")</span>
</span>


<div id="" class="simplisity_panel">

    <div class="w3-row">
        <a href="javascript:void(0)" class="" sectionname="">
            <div class="w3-col tablink w3-bottombar w3-padding w3-border-black w3-theme " style="width:20%"><i class="fa fa-home"></i>&nbsp;@ResourceKey("RocketMod.dashboard")</div>
        </a>
    </div>



    @if (moduleData.ConfigExists)
    {
    <h1>@info.GetXmlProperty("genxml/select/apptheme")</h1>

    <h1>Config ItemID: @info.ItemID</h1>

    }
    else
    {

    <div id="configdata_@(info.ModuleId)" class="w3-modal">

        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-theme-d3">
                <h2>@ResourceKey("RocketMod.selectapptheme")</h2>
            </header>
            <div class="w3-container">

                <div class="w3-row">
                    <div class="w3-half w3-padding">
                        <div class="">
                            <label>@ResourceKey("Config.apptheme")</label>
                            @FolderSelectList(info, "genxml/select/apptheme", Model.GetSetting("mappathAppThemeFolder") + "\\Themes", " class='w3-input w3-border'", false)
                        </div>
                    </div>
                </div>

                <div class="w3-button w3-green w3-padding-8 simplisity_click w3-margin" s-post="#configdata_@(info.ModuleId)" s-before="hideconfigpopup" s-cmd="rocketmod_saveconfig" s-fields="tabid:@(Model.GetSetting("tabid")),moduleid:@(info.ModuleId),interfacekey:rocketmod">@ResourceKey("DNNrocket.cmdSaveButton")</div>

                <div class="w3-button w3-red w3-padding-8 w3-margin" onclick="returnclick();">@ResourceKey("DNNrocket.cmdCancelButton")</div>

            </div>
        </div>

    </div>
    }

</div>

<script>

    $(document).ready(function () {

        $('#configdata_@(info.ModuleId)').show();

    });

    function hideconfigpopup() {
        $('#configdata_@(info.ModuleId)').hide();
    }

</script>