@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocketModules/RocketPayForm/App_LocalResources/")

@{

    var settingsData = new SettingsData(0, 0, DNNrocketUtils.GetEditCulture(), "PAYFORMPRODUCTS");
    if (Model.List.Count > 0)
    {
        settingsData = (SettingsData)Model.List.First();
    }
}

<span class="w3-section simplisity_buttons">
    <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="rocketsettings_add" s-fields="tabid:@(Model.GetSetting("tabid")),moduleid:@(Model.GetSetting("moduleid")),selecteditemid:@settingsData.Info.ItemID,interfacekey:products">@ResourceKey("DNNrocket.cmdAddButton")</a>
    <button class="w3-button w3-green w3-padding-8 simplisity_langchange simplisity_click" s-cmd="rocketsettings_save" s-fields="tabid:@(Model.GetSetting("tabid")),moduleid:@(Model.GetSetting("moduleid")),selecteditemid:@settingsData.Info.ItemID,interfacekey:products" s-post="#productsettings" s-list=".settingsdata">@ResourceKey("DNNrocket.cmdSaveButton")</button>
    <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="productbin" s-return="#productsettings" s-removelist=".settingsdata" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
</span>



<div class="w3-container">

    <ul id="productsettings" class="w3-ul">

        @{
            var lp1 = 0;
        }
        @foreach (SimplisityInfo i in settingsData.List)
        {
            lp1 += 1;
            <li class="settingsdata w3-card w3-margin w3-display-container">
                <a href="javascript:void(0)" class="w3-display-topright"><i title="Remove" class="fa fa-arrows "></i></a>
                <a href="javascript:void(0)" class="w3-display-right simplisity_removelistitem" s-removelist=".settingsdata" s-recylebin="productbin"><i title="Remove" class="fa fa-minus-square fa-fw fa-lg"></i></a>


                <div class="w3-row">
                    <div class="w3-col" style="width: 100px">
                        <div class="w3-cell-top dnnrocket-imagechange " imageindex="@(lp1)">
                            @HiddenField(i, "genxml/hidden/imagerelpath", " class='dnnrocket-imagefield" + lp1 + "'", "", false, lp1)
                            @if (i.GetXmlProperty("genxml/hidden/imagerelpath") != "")
                            {
                                <img src="@ThumbnailImageUrl(i.GetXmlProperty("genxml/hidden/imagerelpath"),100,100,"")" class="w3-round dnnrocket-imageholder@(lp1)" alt="" />
                            }
                            else
                            {
                                <img src="@ThumbnailImageUrl("/DesktopModules/DNNrocket/api/images/noimage2.png",100,100)" class="w3-round dnnrocket-imageholder@(lp1)" alt="" />
                            }
                        </div>
                        <div class="w3-cell-bottom">
                            <br />
                        </div>
                    </div>
                    <div class="w3-padding w3-rest">
                        <div class="w3-row">
                            <div class="w3-padding w3-col m12">
                                <label class="">@ResourceKey("RocketPayForm.name")</label>&nbsp;@EditFlag()
                                @TextBox(i, "genxml/lang/genxml/textbox/name", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", true, lp1)
                            </div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-padding w3-col m2">
                                <label class="">@ResourceKey("RocketPayForm.ref")</label>
                                @TextBox(i, "genxml/textbox/ref", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false, lp1)
                            </div>
                            <div class="w3-padding w3-col m1">
                                <label class="">@ResourceKey("RocketPayForm.price")</label>
                                @TextBox(i, "genxml/textbox/price", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "0", false, lp1)
                            </div>
                            <div class="w3-padding w3-col m1">
                                <label class="">@ResourceKey("RocketPayForm.saleprice")</label>
                                @TextBox(i, "genxml/textbox/saleprice", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "0", false, lp1)
                            </div>
                            <div class="w3-padding w3-col m1">
                                <label class="">@ResourceKey("RocketPayForm.tax")</label>
                                @TextBox(i, "genxml/textbox/tax", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "0", false, lp1)
                            </div>
                            <div class="w3-padding w3-col m2">
                                <label class="">@ResourceKey("RocketPayForm.barcode")</label>
                                @TextBox(i, "genxml/textbox/barcode", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false, lp1)
                            </div>
                            <div class="w3-padding w3-col m2">
                                <br />
                                <label class="">@ResourceKey("RocketPayForm.hidden")</label>
                                @CheckBox(i, "genxml/checkbox/hidden", "", "class='w3-input w3-border '", false, false, lp1)
                            </div>
                            <div class="w3-padding w3-col m2">
                                <i>Product Ref:</i>
                                @TextBox(i, "genxml/textbox/productref", " disabled class='w3-input w3-border' autocomplete='off'", GeneralUtils.GetUniqueKey(), false, lp1)
                            </div>
                        </div>
                        <div class="w3-row">
                            <div class="w3-padding w3-col m12">
                                <label class="">@ResourceKey("RocketPayForm.summary")</label>
                                @TextArea(i, "genxml/textbox/summary", "class='w3-input w3-border' maxlength='350' row='2' autocomplete='off'", "", false, lp1)
                            </div>
                        </div>
                    </div>
                </div>

            </li>
        }
    </ul>

</div>

<div id="dnnrocket_imageselectwrapper">
    @RenderImageSelect(Model, 100, true, false, "images")
</div>

<script>
    $(document).ready(function () {
        $(':checkbox').attr('class', 'w3-check');

        $("#productsettings").sortable();
        $("#productsettings").disableSelection();

        // Used to display image list and assign the index, so we knwo what image to update.
        $('.dnnrocket-imagechange').unbind("click");
        $('.dnnrocket-imagechange').click(function () {
            simplisity_setCookieValue('dnnrocket-imageindex', $(this).attr('imageindex'));
            document.getElementById('rocketimageselect').style.display = 'block';
        });

    });

</script>

