@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using DNNrocketAPI.Components;
@using Simplisity;
@using RocketEcommerce.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketECommerce/App_LocalResources/")

@{
    var appTheme = (AppThemeLimpet)Model.List.First();
}

<div id="appthemeimageselect" class="w3-modal">
    <div class="w3-modal-content" style="width:40%;">

        <header class="w3-theme-d5 w3-center" style="height: 38px;">
            <span onclick="$('#appthemeimageselect').hide();" class="w3-button w3-display-topright">&times;</span>
            <h4></h4>
        </header>
        <div class="w3-margin-top" style="">
            <div class="w3-container">

                <img src="/DesktopModules/DNNrocket/api/images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                <h2>@ResourceKey("AppTheme.imageupload")</h2>
                <p>@ResourceKey("AppTheme.imageupload", "", "Msg")</p>

                <div id="dropimagediv" contenteditable="true" class="w3-col m12 w3-white w3-margin-bottom" style="border-style:dotted;height:200px;">
                    <input id="imagefileupload" class="simplisity_fileupload" s-maxchunksize="10000000" s-reload="false" s-before="hideAppTheme" s-return=".articlepopup" s-cmd="rocketapptheme_addimage" s-uploadcmdurl="/Desktopmodules/dnnrocket/api/fileupload/upload" s-fields='{"appthemesystemkey":"@appTheme.SystemKey","appthemefolder":"@appTheme.AppThemeFolder"}' type="file" name="files[]" multiple style="display:none;">
                    <p><i>&nbsp;@ResourceKey("DNNrocket.dropimage")...</i></p>
                </div>

                <div class="w3-row w3-margin-bottom">
                    <span class="w3-col m12 w3-button w3-teal fileuploadaction" onclick="$('#imagefileupload').trigger('click');">@ButtonText(ButtonTypes.upload)</span>
                </div>

                <div id="simplisity-file-progress-bar" class="w3-modal w3-padding" style="z-index:9999;background-color:grey">
                    <div class="w3-modal-content w3-card-4  w3-display-middle w3-padding" style="width: 60%;">
                        <div id="progessaction">Image Upload</div>
                        <div class=" w3-row w3-light-grey">
                            <div class="w3-blue simplisity-file-progress-bar" style="width:0%;height:24px;">0%</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $("#dropimagediv").off('paste');
        $("#dropimagediv").on("paste", function (e) {
            // access the clipboard using the api
            var orgEvent = e.originalEvent;
            for (var i = 0; i < orgEvent.clipboardData.items.length; i++) {
                if (orgEvent.clipboardData.items[i].kind == "file" && orgEvent.clipboardData.items[i].type == "image/png") {
                    var imageFile = orgEvent.clipboardData.items[i].getAsFile();
                    var fileReader = new FileReader();
                    fileReader.onloadend = function () {
                        $('#base64image').html(fileReader.result);
                    }
                    fileReader.readAsDataURL(imageFile); break;
                }
            }
            $('#productimageselect').hide();

            setTimeout(function () { $('#base64post').trigger('click'); }, 500); // delay so, the code is entered into the field correctly.
            
        });

        $("#dropimagediv").off('keyup');
        $("#dropimagediv").keyup(function () {
            $(this).html('<p><i>&nbsp;@ResourceKey("DNNrocket.dropimage")...</i></p>');
        });

    });

</script>