@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using Rocket.AppThemes.Componants;
@using System.IO;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")

@{
    var appTheme = (AppTheme)Model.List.First();
    var info = new SimplisityInfo(appTheme.Record);
    var record = appTheme.Record;
}
@{
    var dataDic = new Dictionary<string, string>();
    foreach (string i in appTheme.VersionList)
    {
        dataDic.Add(i, i);
    }

    var flagurl = "/DesktopModules/DNNrocket/API/images/flags/16/" + DNNrocketUtils.GetEditCulture() + ".png";
    if (!File.Exists(DNNrocketUtils.MapPath(flagurl)))
    {
        flagurl = "/DesktopModules/DNNrocket/API/images/flags/16/none.png";
    }
    var flagurl32 = "/DesktopModules/DNNrocket/API/images/flags/32/" + DNNrocketUtils.GetEditCulture() + ".png";
    if (!File.Exists(DNNrocketUtils.MapPath(flagurl32)))
    {
        flagurl32 = "/DesktopModules/DNNrocket/API/images/flags/32/none.png";
    }

    var disabled = "";

    var imgLP = 1;
    var imgdatalist = record.GetRecordList("imagelist");

    var templateLP = 1;
    var templatedatalist = record.GetRecordList("templatelist");
    var cssLP = 1;
    var cssdatalist = record.GetRecordList("csslist");
    var jsLP = 1;
    var jsdatalist = record.GetRecordList("jslist");
    var resxLP = 1;
    var resxdatalist = record.GetRecordList("resxlist");


    var savelists = ".imagelist,.templatelist,.csslist,.jslist,.resxlist,.fielddata";
}

@HiddenField(info, "genxml/hidden/fieldlocalizedlist", " s-update='ignore' ")

    <div id="copyapptheme" class="w3-modal">
        <div class="w3-modal-content w3-card w3-animate-zoom">

            <header class="w3-container  w3-theme">
                <span onclick="document.getElementById('copyapptheme').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h2>@ResourceKey("Appthemes.saveas")...</h2>
            </header>

            <div class="w3-row-padding">
                <div class="w3-col m4 w3-padding">
                    <input value="" id="appthemeprefix" s-xpath="genxml/textbox/appthemeprefix" class="w3-input w3-border" placeholder="@ResourceKey("Appthemes.prefix")..." maxlength="350" autocomplete="off" s-update="save" type="text">
                </div>
                <div class="w3-col m5 w3-padding">
                    <input value="" id="appthemename" s-xpath="genxml/textbox/appthemename" class="w3-input w3-border" placeholder="@ResourceKey("Appthemes.appthemename")..." maxlength="350" autocomplete="off" s-update="save" type="text">
                </div>
                <div class="w3-col m3 w3-padding">
                    <div class="w3-col m12 w3-button w3-teal w3-padding-8 simplisity_click" s-track="false" s-cmd="rocketapptheme_docopy" s-post="#copyapptheme" s-fields='{"appthemefolder":"@appTheme.AppThemeFolder"}'><i class="fas fa-copy fa-fw fa-lg"></i> &nbsp;@ResourceKey("AppThemes.copy")</div>
                </div>
            </div>
            <div class="w3-row w3-panel w3-red copyappthemereturn" style="display:none;">
            </div>
        </div>
    </div>



    <div id="detailsection">

        <div class="w3-row w3-padding">
            <div class="w3-col m2 w3-button w3-green w3-padding-8 langchangesave simplisity_click activatevalidation " s-before="validateform" s-track="false" s-cmd="rocketapptheme_save" s-post="#appthemedetails" s-list="@(savelists)" s-fields='{"appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ResourceKey("DNNrocket.cmdSaveButton")</div>
            @ButtonGap()
            <div class="w3-col m2 w3-button w3-khaki simplisity_click" s-cmd="rocketapptheme_getlist" s-fields='{"clearlistcache":"true"}' s-track="true">@ResourceKey("DNNrocket.cmdReturnButton")</div>
            @ButtonGap()

            <div class="w3-col m6 w3-dropdown-hover">
                <button class="w3-button">More...</button>
                <div class="w3-dropdown-content w3-bar-block w3-card">
                    <div class="w3-bar-item w3-button simplisity_confirmclick" s-track="false" s-confirm="@ResourceKey("AppThemes.versionmsg")&nbsp;?" s-cmd="rocketapptheme_createversion" s-fields='{"appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'><i class="w3-text-blue fas fa-newspaper fa-fw fa-lg"></i> &nbsp;@ResourceKey("AppThemes.createversion")</div>
                    <div class="w3-bar-item w3-button" onclick="document.getElementById('copyapptheme').style.display = 'block';"><i class="w3-text-blue fas fa-copy fa-fw fa-lg"></i> &nbsp;@ResourceKey("AppThemes.copyapptheme")</div>
                    <a class="w3-bar-item w3-button w3-padding-8 simplisity_filedownload" s-track="false" s-cmd="rocketapptheme_export" s-fields='{"appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'><i class="w3-text-teal fas fa-file-export fa-fw fa-lg"></i> &nbsp;@ResourceKey("DNNRocket.cmdExport")</a>
                    <div class="w3-bar-item w3-button w3-padding-8 simplisity_confirmclick" s-track="clear" s-confirm="@ResourceKey("DNNrocket.delete")&nbsp;AppTheme?" s-cmd="rocketapptheme_deletetheme" s-fields='{"appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'><i class="w3-text-red fas fa-minus-square fa-fw fa-lg"></i> &nbsp;@ResourceKey("DNNrocket.delete") AppTheme</div>
                    <div class="w3-bar-item w3-button w3-padding-8 simplisity_confirmclick" s-track="clear" s-confirm="@ResourceKey("DNNrocket.delete")&nbsp;@ResourceKey("AppThemes.version")?" s-cmd="rocketapptheme_deleteversion" s-fields='{"appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'><i class="w3-text-red fas fa-minus-square fa-fw fa-lg"></i> &nbsp;@ResourceKey("DNNrocket.delete")&nbsp;@ResourceKey("AppThemes.version")</div>

                    <div class="w3-bar-item w3-button w3-padding-8 refreshdisplay simplisity_click" s-track="clear" s-cmd="rocketapptheme_getlist" s-fields='' style="display:none;"></div>

                </div>
            </div>

        </div>
        <div class="w3-container">

            <div class="w3-display-container">
                <div class="w3-col m10">
                    <h2>@(appTheme.AppThemeFolder)&nbsp;v@(appTheme.AppVersionFolder)&nbsp;<span class="validationfail w3-margin-left " style="display:none;"><i class='fas fa-exclamation-triangle' style='font-size:24px;color:red;'></i></span></h2>
                </div>
                <div class="w3-right">
                    <i>ID: </i> @info.ItemID
                </div>
            </div>

            <div id="appthemedetails">


                <div id="editorsave" style="display:none;">
                    @HiddenField(info, "genxml/hidden/selectedsystemkey", "", appTheme.SystemKey)
                    <input id="editorfilenamesave" type="hidden" value="" />
                    <input id="editorcodesave" type="hidden" value="" />
                    <input id="editorlistnamesave" type="hidden" value="" />
                </div>


                <div class="w3-container">

                    <div class="w3-row ">
                        <div class="w3-col " style="width:136px;">
                            <label>Logo</label>
                            <img src="@ThumbnailImageUrl(appTheme.Logo,136,136)" alt="" style="" class="w3-circle">
                        </div>
                        <div class="w3-col m8 w3-padding">
                            <label>@ResourceKey("AppThemes.summary")</label>
                            @TextArea(info, "genxml/textbox/summary", "class='w3-input w3-border' rows='4'", "", false)
                        </div>
                        <div class="w3-col w3-padding" style="width:200px">
                            <label>@ResourceKey("AppThemes.version")</label>
                            @DropDownList(info, "genxml/select/versionfolder", dataDic, " class='w3-input w3-border changeversionclass simplisity_change' s-before='changeversionaction' s-cmd='rocketapptheme_changeversion' s-post='#appthemedetails' s-track='true' s-fields='{\"appthemefolder\":\"" + appTheme.AppThemeFolder + "\"}' ", appTheme.AppVersionFolder)
                        </div>
                    </div>

                    <div class="w3-row ">
                        <div class="w3-col m3 w3-padding">
                            @RadioButtonList(info, "genxml/radio/themetype", "1,2", ResourceKey("AppThemes.themetype").ToString(), "", "1")
                        </div>
                        <div class="w3-col m3 w3-padding ">
                            @CheckBox(info, "genxml/checkbox/regenerateview", ResourceKey("AppThemes.autoregenerateview").ToString(), "", true)
                        </div>
                        <div class="w3-col m3 w3-padding ">
                            @CheckBox(info, "genxml/checkbox/regenerateedit", ResourceKey("AppThemes.autoregenerateedit").ToString(), "", true)
                        </div>
                        <div class="w3-col m3 w3-padding regenerateeditlist" style="display:none;">
                            @CheckBox(info, "genxml/checkbox/regenerateeditlist", ResourceKey("AppThemes.autoregenerateeditlist").ToString(), "", true)
                        </div>
                    </div>

                </div>

            </div>


            <div class="w3-container">

                <div class="w3-bar w3-theme">
                    <div class="w3-bar-item w3-button tablink w3-theme-d5 tabFields" onclick="openDataTab('tabFields','Fields')">@ResourceKey("AppThemes.fields")</div>
                    <div class="w3-bar-item w3-button tablink tabTemplates" onclick="openDataTab('tabTemplates','Templates')">@ResourceKey("AppThemes.templates")</div>
                    <div class="w3-bar-item w3-button tablink tabImages" onclick="openDataTab('tabImages','Images')">@ResourceKey("DNNrocket.images")</div>
                    <div class="w3-bar-item w3-button tablink tabCSS" onclick="openDataTab('tabCSS','CSS')">@ResourceKey("AppThemes.css")</div>
                    <div class="w3-bar-item w3-button tablink tabJavascript" onclick="openDataTab('tabJavascript','Javascript')">@ResourceKey("AppThemes.javascript")</div>
                    <div class="w3-bar-item w3-button tablink tabResources" onclick="openDataTab('tabResources','Resources')">@ResourceKey("AppThemes.resources")</div>
                </div>

                <div id="Fields" class="w3-container w3-border city">

                    <div id="fieldsdatasectiontab" class="w3-row fieldslistdatasection">

                        <span class="w3-container">
                            <div class="w3-button w3-teal w3-padding-8 simplisity_click" s-track="false" s-cmd="rocketapptheme_addfield" s-post="#appthemedetails" s-list="@(savelists)" s-fields='{"appthemefolder":"@appTheme.AppThemeFolder"}'><i class='fas fa-plus-circle'></i></div>
                            <div class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="fielddatalistbin" s-return="#fielddatalist" s-removelist=".fielddata" style="display: none;"><i title="Undo" class="fas fa-undo fa-fw fa-lg"></i></div>
                        </span>

                        @{
                            var m = new SimplisityRazor();
                            var l2 = new List<object>();
                            foreach (object i in info.GetRecordList("fielddata"))
                            {
                                l2.Add(i);
                            }
                            m.List = l2;
                        }
                        @RenderTemplate("FieldEditorBody.cshtml", "/DesktopModules/DNNrocket/AppThemes", "config-w3", m, "1.0", true)
                    </div>

                </div>

                <div id="Templates" class="w3-container w3-border city" style="display:none">
                    <div id="templatedatasection" class="w3-row templatelistdatasection">

                        <div class="w3-container">
                            <div class="w3-col w3-padding" style="">
                                <div class="w3-button w3-teal w3-padding-8 simplisity_click" s-track="false" s-cmd="rocketapptheme_addtemplate" s-post="#appthemedetails" s-list="@(savelists)" s-fields='{"appthemefolder":"@appTheme.AppThemeFolder"}'><i class='fas fa-plus-circle'></i></div>
                                <div class="w3-button w3-teal w3-padding-8 w3-right" onclick="location.reload();"><i class='fas fa-sync'></i></div>
                                <div class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="templatelistbin" s-return="#templatelistdata" s-removelist=".templatelist" style="display: none;"><i title="Undo" class="fas fa-undo fa-fw fa-lg"></i></div>
                            </div>
                        </div>


                        <ul id="templatelistdata" class="w3-ul">

                            @foreach (var templateRecord in templatedatalist)
                            {
                                var templateInfo = new SimplisityInfo(templateRecord);
                                <li class="templatelist w3-col m4 w3-display-container w3-padding w3-border-0">
                                    @HiddenField(templateInfo, "genxml/hidden/editorcodehtmlmixed", "", "", false, templateLP)
                                    @HiddenField(templateInfo, "genxml/hidden/filefolder", "", "default", false, templateLP)
                                    @HiddenField(templateInfo, "genxml/hidden/filenamehtmlmixed", "s-update='ignore'", templateInfo.GetXmlProperty("genxml/hidden/filename"), false, templateLP)
                                    <div class="w3-row w3-display-container w3-padding  w3-card">

                                        <div class="">
                                            @{
                                                var disabledfilename = "";
                                                var hideicon = "display:none;";
                                            }
                                            @if (templateInfo.GetXmlProperty("genxml/hidden/filename") != "")
                                            {
                                                disabledfilename = "disabled";
                                                hideicon = "";
                                            }

                                            <div class="w3-col m8">
                                                <div>
                                                    @TextBox(templateInfo, "genxml/hidden/filename", " " + disabledfilename + " class='w3-input w3-border filenametext' index='" + templateLP + "' autocomplete='false' placeholder='" + ResourceKey("AppThemes.filename") + "...' ", "", false, templateLP)
                                                </div>
                                            </div>
                                            <div class="w3-col w3-margin-left" style="width:62px;">
                                                <div class="w3-button filenameicon@(templateLP)" onclick="edittemplate(@(templateLP));" style="@(hideicon)">
                                                    <i class="fas fa-edit " style='font-size:24px'></i>
                                                </div>
                                            </div>
                                            <div class="w3-col w3-display-topright w3-padding simplisity_removelistitem" s-removelist=".templatelist" s-recylebin="templatelistbin" style="cursor: pointer;width:42px;">
                                                <i title="@ResourceKey("DNNrocket.delete")" class="fas fa-minus-square fa-fw fa-lg"></i>
                                            </div>
                                        </div>

                                    </div>

                                </li>

                                templateLP += 1;
                            }
                        </ul>
                    </div>
                </div>

                <div id="Images" class="w3-container w3-border city" style="display:none">

                    <div id="imagedatasection" class="w3-row imagelistdatasection">

                        <div class="w3-container">
                            <div class="w3-col w3-padding" style="width:160px;">
                                <div class="w3-button w3-teal w3-padding-8 simplisity_click" s-track="false" s-cmd="rocketapptheme_addimage" s-post="#appthemedetails" s-list="@(savelists)" s-fields='{"appthemefolder":"@appTheme.AppThemeFolder"}'><i class='fas fa-plus-circle'></i></div>
                                <div class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="imagelistbin" s-return="#imagelistdata" s-removelist=".imagelist" style="display: none;"><i title="Undo" class="fas fa-undo fa-fw fa-lg"></i></div>
                            </div>
                        </div>

                        <ul id="imagelistdata" class="w3-ul">

                            @foreach (var imgRecord in imgdatalist)
                            {
                                var imgInfo = new SimplisityInfo(imgRecord);
                                <li class="imagelist w3-padding w3-col m2 ">
                                    <div class="w3-display-container" style="min-width:150px;">
                                        <div class="w3-row w3-card" style="height:150px;">
                                            <div class="w3-display-middle ">
                                                @ImageEdit(imgInfo, "img", 120, 120, " ", false, @imgLP)
                                            </div>
                                            <div class="w3-display-topright simplisity_removelistitem" s-removelist=".imagelist" s-recylebin="imagelistbin" style="cursor: pointer;">
                                                <i title="@ResourceKey("DNNrocket.delete")" class="fas fa-minus-square fa-fw fa-lg"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                imgLP += 1;
                            }
                        </ul>
                    </div>
                </div>

                <div id="CSS" class="w3-container w3-border city" style="display:none">
                    <div id="cssdatasection" class="w3-row csslistdatasection">

                        <div class="w3-container">
                            <div class="w3-col w3-padding" style="width:160px;">
                                <div class="w3-button w3-teal w3-padding-8 simplisity_click" s-track="false" s-cmd="rocketapptheme_addcss" s-post="#appthemedetails" s-list="@(savelists)" s-fields='{"appthemefolder":"@appTheme.AppThemeFolder"}'><i class='fas fa-plus-circle'></i></div>
                                <div class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="csslistbin" s-return="#csslistdata" s-removelist=".csslist" style="display: none;"><i title="Undo" class="fas fa-undo fa-fw fa-lg"></i></div>
                            </div>
                        </div>


                        <ul id="csslistdata" class="w3-ul">

                            @foreach (var cssRecord in cssdatalist)
                            {
                                var cssInfo = new SimplisityInfo(cssRecord);
                                <li class="csslist w3-col m4 w3-display-container w3-padding w3-border-0">
                                    @HiddenField(cssInfo, "genxml/hidden/editorcodecss", "", "", false, cssLP)
                                    @HiddenField(cssInfo, "genxml/hidden/filefolder", "", "css", false, cssLP)
                                    @HiddenField(cssInfo, "genxml/hidden/filenamecss", "s-update='ignore'", cssInfo.GetXmlProperty("genxml/hidden/filename"), false, cssLP)
                                    <div class="w3-row w3-display-container w3-padding  w3-card">

                                        <div class="">
                                            @{
                                                var disabledfilename = "";
                                                var hideicon = "display:none;";
                                            }
                                            @if (cssInfo.GetXmlProperty("genxml/hidden/filename") != "")
                                            {
                                                disabledfilename = "disabled";
                                                hideicon = "";
                                            }

                                            <div class="w3-col m8">
                                                <div>
                                                    @TextBox(cssInfo, "genxml/hidden/filename", " " + disabledfilename + " class='w3-input w3-border filenametext' index='" + cssLP + "' autocomplete='false' placeholder='" + ResourceKey("AppThemes.filename") + "...' ", "", false, cssLP)
                                                </div>
                                            </div>
                                            <div class="w3-col w3-margin-left" style="width:62px;">
                                                <div class="w3-button filenameicon@(cssLP)" onclick="editcss(@(cssLP));" style="@(hideicon)">
                                                    <i class="fas fa-edit " style='font-size:24px'></i>
                                                </div>
                                            </div>
                                            <div class="w3-col w3-display-topright w3-padding simplisity_removelistitem" s-removelist=".csslist" s-recylebin="csslistbin" style="cursor: pointer;width:42px;">
                                                <i title="@ResourceKey("DNNrocket.delete")" class="fas fa-minus-square fa-fw fa-lg"></i>
                                            </div>
                                        </div>

                                    </div>

                                </li>

                                cssLP += 1;
                            }
                        </ul>


                    </div>
                </div>
                <div id="Javascript" class="w3-container w3-border city" style="display:none">
                    <div id="jsdatasection" class="w3-row jslistdatasection">

                        <div class="w3-container">
                            <div class="w3-col w3-padding" style="width:160px;">
                                <div class="w3-button w3-teal w3-padding-8 simplisity_click" s-track="false" s-cmd="rocketapptheme_addjs" s-post="#appthemedetails" s-list="@(savelists)" s-fields='{"appthemefolder":"@appTheme.AppThemeFolder"}'><i class='fas fa-plus-circle'></i></div>
                                <div class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="jslistbin" s-return="#jslistdata" s-removelist=".jslist" style="display: none;"><i title="Undo" class="fas fa-undo fa-fw fa-lg"></i></div>
                            </div>
                        </div>

                        <ul id="jslistdata" class="w3-ul">

                            @foreach (var jsRecord in jsdatalist)
                            {
                                var jsInfo = new SimplisityInfo(jsRecord);
                                <li class="jslist w3-col m4 w3-display-container w3-padding w3-border-0">
                                    @HiddenField(jsInfo, "genxml/hidden/editorcodejavascript", "", "", false, jsLP)
                                    @HiddenField(jsInfo, "genxml/hidden/filefolder", "", "js", false, jsLP)
                                    @HiddenField(jsInfo, "genxml/hidden/filenamejavascript", "s-update='ignore'", jsInfo.GetXmlProperty("genxml/hidden/filename"), false, jsLP)

                                    <div class="w3-row w3-display-container w3-padding  w3-card">

                                        <div class="">
                                            @{
                                                var disabledfilename = "";
                                                var hideicon = "display:none;";
                                            }
                                            @if (jsInfo.GetXmlProperty("genxml/hidden/filename") != "")
                                            {
                                                disabledfilename = "disabled";
                                                hideicon = "";
                                            }

                                            <div class="w3-col m8">
                                                <div>
                                                    @TextBox(jsInfo, "genxml/hidden/filename", " " + disabledfilename + " class='w3-input w3-border filenametext' index='" + jsLP + "' autocomplete='false' placeholder='" + ResourceKey("AppThemes.filename") + "...' ", "", false, jsLP)
                                                </div>
                                            </div>
                                            <div class="w3-col w3-margin-left" style="width:62px;">
                                                <div class="w3-button filenameicon@(jsLP)" onclick="editjs(@(jsLP));" style="@(hideicon)">
                                                    <i class="fas fa-edit " style='font-size:24px'></i>
                                                </div>
                                            </div>
                                            <div class="w3-col w3-display-topright w3-padding simplisity_removelistitem" s-removelist=".jslist" s-recylebin="jslistbin" style="cursor: pointer;width:42px;">
                                                <i title="@ResourceKey("DNNrocket.delete")" class="fas fa-minus-square fa-fw fa-lg"></i>
                                            </div>
                                        </div>

                                    </div>

                                </li>

                                jsLP += 1;
                            }
                        </ul>
                    </div>
                </div>
                <div id="Resources" class="w3-container w3-border city" style="display:none">
                    <div id="resxdatasection" class="w3-row resxlistdatasection">

                        <input id="defaultjsonresx" type="hidden" value="@Model.GetSetting("defaultjsonresx")" />

                        <div class="w3-container">
                            <div class="w3-col w3-padding" style="width:160px;">
                                <div id="resxaddbutton" class="w3-hide w3-button w3-teal w3-padding-8 simplisity_click" s-track="false" s-cmd="rocketapptheme_addresx" s-post="#appthemedetails" s-list="@(savelists)" s-fields='{"appthemefolder":"@appTheme.AppThemeFolder"}'><i class='fas fa-plus-circle'></i></div>

                                <div class="w3-button w3-teal w3-padding-8 " onclick="selectlanguage()"><i class='fas fa-plus-circle'></i></div>
                                <div class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="resxlistbin" s-return="#resxlistdata" s-removelist=".resxlist" style="display: none;"><i title="Undo" class="fas fa-undo fa-fw fa-lg"></i></div>
                            </div>
                        </div>

                        <ul id="resxlistdata" class="w3-ul">

                            @foreach (var resxRecord in resxdatalist)
                            {
                                var resxInfo = new SimplisityInfo(resxRecord);
                                <li class="resxlist w3-col m6 w3-display-container w3-padding w3-border-0">
                                    @HiddenField(resxInfo, "genxml/hidden/jsonresx", "", "", false, resxLP)
                                    @HiddenField(resxInfo, "genxml/hidden/filefolder", "", "resx", false, resxLP)
                                    @HiddenField(resxInfo, "genxml/hidden/filenameresx", "s-update='ignore'", resxInfo.GetXmlProperty("genxml/hidden/filename"), false, resxLP)
                                    @HiddenField(resxInfo, "genxml/hidden/culturecode", "", "", false, resxLP)
                                    @HiddenField(resxInfo, "genxml/hidden/fullfilename", "", "", false, resxLP)


                                    <div class="w3-row w3-display-container w3-padding  w3-card">

                                        <div class="">
                                            <div class="w3-col m8">
                                                <div>
                                                    @{
                                                        var flag = resxInfo.GetXmlProperty("genxml/hidden/culturecode");
                                                        var displayname = "";
                                                        if (flag == "")
                                                        {
                                                            flag = "none";
                                                            displayname = ResourceKey("AppThemes.default").ToString();
                                                        }
                                                        else
                                                        {
                                                            displayname = DNNrocketUtils.GetCultureCodeName(flag);
                                                        }
                                                    }
                                                    <img class="" src="/DesktopModules/DNNrocket/API/images/flags/16/@(flag).png" alt="">
                                                    <span id="culturecodedisplayname@(resxLP)">@(displayname)&nbsp;[@(flag)]</span>
                                                </div>
                                            </div>
                                            <div class="w3-col w3-margin-left " style="width:62px;">
                                                <div class="w3-button filenameicon@(resxLP)" onclick="editresx(@(resxLP));" style="">
                                                    <i class="fas fa-edit " style='font-size:24px'></i>
                                                </div>
                                            </div>
                                            <div class="w3-col w3-display-topright w3-padding simplisity_removelistitem" s-removelist=".resxlist" s-recylebin="resxlistbin" style="cursor: pointer;width:42px;">
                                                <i title="@ResourceKey("DNNrocket.delete")" class="fas fa-minus-square fa-fw fa-lg"></i>
                                            </div>
                                        </div>

                                    </div>

                                </li>

                                resxLP += 1;
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

@RenderTemplate("EditorPopUp.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes", "config-w3", Model, "1.0", true)

<div id="dnnrocket_imageselectwrapper">
    @RenderImageSelect(200, true, false, appTheme.ImageFolderRel)
</div>

<div id="dnnrocket_resxeditwrapper" style="display:none;">
    <div class="w3-row w3-padding">
        <div class="w3-col m2 w3-button w3-pale-green w3-padding-8" onclick="saveresx()">@ResourceKey("DNNrocket.cmdOKButton")</div>
        @ButtonGap()
        <div class="w3-col m2 w3-button w3-khaki " onclick="cancelresx();">@ResourceKey("DNNrocket.cmdCancelButton")</div>
        @ButtonGap()
        <div class="w3-col m3 w3-center">
            <image id="resxflag" src="/DesktopModules/DNNrocket/API/images/flags/32/none.png"></image>
            <span id="culturecoderesx"></span>
        </div>
        @ButtonGap()
        <div class="w3-col m4 w3-center">
            <h5 id="resxfilename" class="" style=""></h5>
        </div>
    </div>
    <div id="dnnrocket_resxvaluelist">

        <div class="w3-margin">
            <div class="w3-button w3-teal w3-padding-8" onclick="addresxvalue('','')">@ResourceKey("DNNrocket.cmdAddButton")</div>
            <div class="w3-button w3-teal w3-padding-8" onclick="quickresxedit()"><i class='fas fa-bolt  fa-fw fa-lg'></i>&nbsp;@ResourceKey("AppThemes.quickedit")</div>
            <div class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="rocketapptheme_rebuildresx" s-track="false" s-fields='{"appthemefolder":"@appTheme.AppThemeFolder"}'><i class='fas fa-wrench  fa-fw fa-lg'></i>&nbsp;@ResourceKey("AppThemes.rebuild")</div>
            <div class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="resxlistvaluesbin" s-return="#resxvalues" s-removelist=".resxlistvalues" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</div>
        </div>

        <div class="w3-row w3-margin">

            <table id="resxvalues" class="w3-table-all">

                <tr class="w3-theme">
                    <th class="w3-third"></th>
                    <th class="w3-half"></th>
                    <th style="width:20px;"></th>
                </tr>

            </table>

        </div>

        <div id="quickresxedit" class="w3-modal">
            <div class="w3-modal-content" style="width:70%;">
                <input id="culturecodeselected" s-update="ignore" type="hidden" value="" />

                <header class="w3-container w3-theme">
                    <span onclick="document.getElementById('quickresxedit').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <h2><i class='fas fa-bolt  fa-fw fa-lg'></i>&nbsp;@ResourceKey("AppThemes.quickedit")</h2>
                </header>

                <div class="w3-container w3-margin">
                    <div id="resxstring" class="w3-row">
                        <div class="w3-quarter">
                            <textarea id="resxkeysstring" style="border: none;width: 100%;" class="w3-right-align" disabled></textarea>
                        </div>
                        <div class="w3-twothird">
                            <textarea id="resxvaluesstring" style="width: 100%;" class=""></textarea>
                        </div>
                    </div>
                </div>



                <footer class="w3-container w3-theme w3-padding">
                    <div class="w3-col m2 w3-button w3-pale-green w3-padding-8 saveresxquickedit" onclick="saveresxquickedit()">@ResourceKey("DNNrocket.cmdOKButton")</div>
                </footer>

            </div>
        </div>



    </div>
</div>

<!-- The Modal -->
<div id="languageselector" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container w3-theme-d3">
            <span onclick="document.getElementById('languageselector').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <div class="w3-col m4 ">
                <input class="w3-margin w3-input w3-border w3-light-grey w3-padding" autocomplete="off" type="text" placeholder="@ResourceKey("Appthemes.searchlanguage")..." id="searchtext" onkeyup="searchFunction()">
            </div>
        </header>
        <div class="w3-container">
            @{
                var enabledlanguages = DNNrocketUtils.GetAllCultureCodeList();
                foreach (var l in enabledlanguages)
                {
                    <div class="w3-col m4 w3-padding" style="cursor: pointer;" editlang='@(l.GetXmlProperty("genxml/code"))' onclick="actionlanguageselect('@(l.GetXmlProperty("genxml/code"))')"><img class='searchlanguagebutton ' src='@(l.GetXmlProperty("genxml/flagurl"))' alt='@(l.GetXmlProperty("genxml/displayname")  + " " + l.GetXmlProperty("genxml/code"))' /><span class="w3-small">&nbsp;@l.GetXmlProperty("genxml/displayname")</span></div>
                }
            }
        </div>
        <footer class="w3-container w3-theme-d3"></footer>
    </div>
</div>

<style>
    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
    }
</style>

<script>

    var myCodeMirror;
    var defaultNamedata = [];
    var defaultValuedata = [];

    $(document).ready(function () {

        $("#imagelistdata").sortable();
        $("#imagelistdata").disableSelection();

        $("#resxlistdata").sortable();
        $("#resxlistdata").disableSelection();

        //$("#templatelistdata").sortable();
        //$("#templatelistdata").disableSelection();

        //$("#csslistdata").sortable();
        //$("#csslistdata").disableSelection();

        //$("#jslistdata").sortable();
        //$("#jslistdata").disableSelection();

        $('.filenametext').unbind("keyup");
        $(".filenametext").keyup(function (event) {
            var idx = $(this).attr('index');
            if ($(this).val() == '') {
                $('.filenameicon' + idx).hide();
            }
            else {
                $('.filenameicon' + idx).show();
            }
        });

        $('input[type=radio][name=themetyperadio]').unbind("change");
        $('input[type=radio][name=themetyperadio]').change(function () {
            if (this.value === '2') {
                $('.listtemplatedata').show();
                $('.regenerateeditlist').show();
            }
            else {
                $('.listtemplatedata').hide();
                $('.regenerateeditlist').hide();
            }
        });

        if ($('input[type=radio][name=themetyperadio]:checked').val() === '2') {
            $('.listtemplatedata').show();
            $('.regenerateeditlist').show();
        }
        else {
            $('.listtemplatedata').hide();
            $('.regenerateeditlist').hide();
        }


        if (typeof myCodeMirror !== 'undefined') {
            window.onresize = function (event) {
                myCodeMirror.setSize($('#editorwrapper').width(), $('#editorwrapper').height());
            };
        }

        $('.fieldsnippet').unbind('click');
        $('.fieldsnippet').click(function () {
            if (typeof myCodeMirror !== 'undefined') {
                var snip = simplisity_decode($('#' + $(this).attr('snipname')).val());
                var position = myCodeMirror.getCursor();
                myCodeMirror.replaceRange(snip, CodeMirror.Pos(position.line));
            }
        });

        showDataTab();

    });

    function quickresxedit() {
        $('.saveresxquickedit').show();
        $('#quickresxedit').show();
        //if ($('#culturecodeselected').val() === '') {
        //    $('.saveresxquickedit').hide();
        //}
    }

    function changeversionaction() {
        var newversion = $('.changeversionclass').val();
        $('.changeversionclass').attr('s-fields', '{"appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"' + newversion + '"}');
    }

    function edittemplate(idx) {
        editeditor(idx, 'htmlmixed','templatelist');
    }
    function editcss(idx) {
        editeditor(idx, 'css','csslist');
    }
    function editjs(idx) {
        editeditor(idx, 'javascript','jslist');
    }
    function editresx(idx) {
        $('#detailsection').hide();
        $('#dnnrocket_resxeditwrapper').show();

        var culturecode = $('#culturecode_' + idx).val();

        var defaultjsonstr = $('#defaultjsonresx').val();
        defaultNamedata = [];
        defaultValuedata = [];
        defaultjsonstr = simplisity_decode(defaultjsonstr);
        if (defaultjsonstr !== '') {
            var obj = JSON.parse(defaultjsonstr);
            var len = obj.listdata.length;
            for (var i = 0; i < len; i++) {
                var itemobj = obj.listdata[i];
                if (itemobj.id.startsWith("name")) {
                    defaultNamedata.push(itemobj.value);
                }
                if (itemobj.id.startsWith("value")) {
                    defaultValuedata.push(itemobj.value);
                }
            }
        }

        $('#resxvaluesstring').empty();
        $('#resxkeysstring').empty();

        var fieldkeylist = $('#fieldlocalizedlist').val().split(',');
        var jsonstr = $('#jsonresx_' + idx).val();
        jsonstr = simplisity_decode(jsonstr);
        if (jsonstr !== '') {

            //console.log('jsonstr:', jsonstr);

            var namedata = [];
            var valuedata = [];
            var obj = JSON.parse(jsonstr);
            var len = obj.listdata.length;
            for (var i = 0; i < len; i++) {
                var itemobj = obj.listdata[i];
                if (itemobj.id.startsWith("name")) {
                    namedata.push(itemobj.value);
                }
                if (itemobj.id.startsWith("value")) {
                    valuedata.push(itemobj.value);
                }
            }
            len = namedata.length;
            for (var i = 0; i < len; i++) {
                var disabled = false;
                if (culturecode === '') {
                    if ($.inArray(namedata[i], fieldkeylist) >= 0) {
                        disabled = true;
                    }
                }
                addresxvalue(namedata[i], valuedata[i], disabled);
            }
            $('#resxvaluesstring').attr("rows", len + 1);
            $('#resxkeysstring').attr("rows", len + 1);
        }

        $('#resxfilename').text($('#fullfilename_' + idx).val());
        $('#dnnrocket_resxeditwrapper').attr("index", idx);
        if (culturecode === '') {
            culturecode = 'none';
        }
        $('#resxflag').attr("src", "/DesktopModules/DNNrocket/API/images/flags/32/" + culturecode + ".png");
        $('#culturecoderesx').text($('#culturecodedisplayname' + idx).text());
        $('#culturecode').val(culturecode);

        simplisity_setParamField('culturecoderesx', $('#culturecode_' + idx).val());  // send culture code to server when we add resx value.

    }

    function saveeditordata(action) {
        var modetype = $('#razoreditor').attr('modetype');
        if ($('#editorfilenamesave').val() === 'view') {
            $('#regenerateview').prop('checked', false);
        }
        if ($('#editorfilenamesave').val() === 'edit') {
            $('#regenerateedit').prop('checked', false);
        }
        if ($('#editorfilenamesave').val() === 'editlist') {
            $('#regenerateeditlist').prop('checked', false);
        }

        var idx = $('#editorwrapper').attr("index");
        if (action === 1) {
            $('#editorpopup').hide();
            $('#detailsection').show();
            $('#editorcode' + modetype + '_' + idx).val(simplisity_encode(myCodeMirror.getValue()));
        }
        else {
            $('#editorcode' + modetype + '_' + idx).val(simplisity_encode(myCodeMirror.getValue()));
            $('#editorcodesave').val(simplisity_encode(myCodeMirror.getValue()));
        }
    }

    function saveeditorcall() {
        saveeditordata(2);
    }

    function saveeditorreturn() {
        $('#saveicon').show();
        $('#saveicon').addClass('simplisity_fadeout');
    }

    function savetemplate() {
        saveeditordata(1);
    }

    function saveresx() {
        var jsonListData = simplisity_encode(simplisity_getlistjson('.resxlistvalues'));
        var idx = $('#dnnrocket_resxeditwrapper').attr("index");
        $('#jsonresx_' + idx).val(jsonListData);
        $('#dnnrocket_resxeditwrapper').hide();
        $('#detailsection').show();
        $("#resxvalues").find("tr:gt(0)").remove();
    }

    function editeditor(idx, modetype, listname) {

        $('#detailsection').hide();
        $('#editorpopup').show();

        $("#razoreditor").remove();
        $(".CodeMirror").remove();

        var newHeight = $(window).height() - 100;
        $('#editorwrapper').css("height", newHeight);;

        var textArea = $('<textarea id="razoreditor" class="w3-input w3-border" modetype="' + modetype + '" spellcheck="false" />');
        $('#editorwrapper').append(textArea);

        myCodeMirror = CodeMirror.fromTextArea(document.getElementById("razoreditor"), {
            lineNumbers: true,
            mode: modetype,
            theme: "night"
        });
        var editorcode = $('#editorcode' + modetype + '_' + idx).val();
        myCodeMirror.setValue(simplisity_decode(editorcode));

        myCodeMirror.setSize($('#editorwrapper').width(), $('#editorwrapper').height());

        $('#editorlistnamesave').val(listname);
        $('#editorfilenamesave').val($('#filename' + modetype + '_' + idx).val());

        $('#editorfilename').text($('#filename' + modetype + '_' + idx).val());

        if ($('#razoreditor').attr('modetype') === 'htmlmixed') {
            $('.editorviewmenu').show();
        } else {
            $('.editorviewmenu').hide();
        }
        $('#editorwrapper').attr("index", idx);

        $('#razoreditor').focus();


    myCodeMirror.on("drop", function (cm, event) {
        var coords = cm.coordsChar({
            left: event.x,
            top: event.y
        });
        alert('drop');
        cm.replaceRange("Some TextXXXXXXXXXXXXXXXX", coords);
    });


    }

    function cancelleditor() {
        $('#editorpopup').hide();
        $('#detailsection').show();
    }
    function cancelresx() {
        $('#dnnrocket_resxeditwrapper').hide();
        $('#detailsection').show();
        $("#resxvalues").find("tr:gt(0)").remove();
        simplisity_emptyrecyclebin('resxlistvaluesbin');
    }


    function languageChange() {
        $('.langchangesave').trigger("click");
    }

    function selectlanguage() {
        $('#languageselector').show();
        $('#searchtext').focus();
    }

    function searchFunction() {
        var filter = $('#searchtext').val().toUpperCase();
        $('.searchlanguagebutton ').each(function (i, obj) {
            txtValue = $(this).attr('alt');
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                $(this).parent().show();
            } else {
                $(this).parent().hide();
            }
        });
    }

    function actionlanguageselect(culturecode) {
        $('#languageselector').hide();
        simplisity_setParamField('culturecoderesx',culturecode);
        simplisity_callserver($('#resxaddbutton'))
    }

    function addresxvalue(name, value, disabled) {
        var disabledvalue = '';
        if (disabled) {
            disabledvalue = 'disabled';
        }

        var rowCount = $('#resxvalues tr').length;

        var tblrow = '<tr class="resxlistvalues">';
        tblrow += '	<td class="w3-third"> <input id="name_' + rowCount + '" ' + disabledvalue + ' s-xpath="genxml/text/name" placeholder="@ResourceKey("AppThemes.enterkey")" class="w3-input w3-border resxnameinput" type="text" value="' + name + '"/>';
        tblrow += '	</td>';
        tblrow += '	<td class="w3-half">  <input id="value_' + rowCount + '" ' + disabledvalue + ' s-xpath="genxml/text/value" placeholder="@ResourceKey("AppThemes.entervalue")" class="w3-input w3-border" type="text" value="' + value + '"/>';
        tblrow += '	</td>';
        tblrow += '	<td style="width:20px;">';
        tblrow += '		<a href="javascript:void(0)" class="simplisity_removetablerow" s-removelist=".resxlistvalues" s-recylebin="resxlistvaluesbin"><i title="Remove" class="fas fa-minus-square fa-fw fa-lg"></i></a>';
        tblrow += '	</td>';
        tblrow += '</tr>';

        $('#resxvalues tr:last').after(tblrow);
        $('#resxkeysstring').append(name + ":  &#13;&#10");
        $('#resxvaluesstring').append(value + "&#13;&#10");

        $('#simplisity_startpanel').activateSimplisityPanel()

        $('.resxnameinput').unbind("focusout");
        $('.resxnameinput').focusout(function () {
            if ($(this).val().indexOf(".") === -1) {
                $(this).val($(this).val() + '.Text');
            }
        });


    }


    function openDataTab(target, tabName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-theme-d5", "");
        }
        document.getElementById(tabName).style.display = "block";
        $('.' + target).addClass('w3-theme-d5');
        simplisity_setCookieValue('tabName', tabName);
        simplisity_setCookieValue('tabName', tabName);
    }

    function showDataTab() {
        var tabName = simplisity_getCookieValue('tabName');
        if (typeof tabName === 'undefined' || tabName === '') {
            tabName = "Fields";
        }
        openDataTab('tab' + tabName, tabName);
    }

    function saveresxquickedit() {
        document.getElementById('quickresxedit').style.display = 'none'

        var row = 1;
        var lines = $('#resxvaluesstring').val().split('\n');
        for (var i = 0; i < lines.length; i++){
            if ($('#value_' + row).length) {
                $('#value_' + row).val(lines[i]);
            }
            row += 1;
        }

    }

</script>