@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using DNNrocketAPI.Components;
@using Rocket.AppThemes.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")

@{

    var appThemeList = (AppThemeDataList)Model.List.First();

}

@RenderTemplate("Popups.cshtml", "\\DesktopModules\\DNNrocket\\AppThemes", "config-w3", Model, "1.0", true)


<div class="w3-bar w3-card searchdata w3-padding w3-margin">
    <div class="w3-bar-item w3-col m4 " style='width: 360px'>
        <input class=" w3-input w3-border w3-light-grey w3-padding" autocomplete="off" type="text" placeholder="@ResourceKey("Appthemes.searchapptheme")..." id="searchtext" onkeyup="searchFunction()">
    </div>
    <div class="w3-bar-item w3-button w3-blue w3-padding-8 simplisity_click" title="Clear All Cache" s-cmd="rocketapptheme_clearcache" s-post="" s-reload="true"><i class="fas fa-sync"></i></div>
</div>

<div class="w3-bar w3-theme-d5">
    <div class="w3-bar-item w3-button tabstuff w3-theme simplisity_click" s-cmd="rocketapptheme_getlist" s-fields=""><i class="fas fa-download w3-margin-right"></i>@ResourceKey("Appthemes.installed")</div>
    <div class="w3-bar-item w3-button tabstuff tabappstore simplisity_click" s-cmd="rocketapptheme_getappstore" s-fields="" s-return="#datalist"><i class="fas fa-globe w3-margin-right"></i>@ResourceKey("Appthemes.appstore")</div>
</div>

<div id="datalist" class="w3-row w3-margin-top w3-card">

    <table class="w3-table w3-bordered">
        <thead>
            <tr class="w3-theme-l2">
                <th style="width:64px;"></th>
                <th>AppTheme</th>
            </tr>
        </thead>
        @foreach (var appTheme in appThemeList.List)
        {
            <tr class="searchdiv">
                <td>
                    <div class=" w3-hover-text-theme w3-text-grey w3-center simplisity_click" s-cmd="rocketapptheme_getdetail" s-fields='{"systemkey":"@(Model.GetSetting("systemkey"))","appthemefolder":"@appTheme.AppThemeFolder"}' s-return=".articlepopup" style="cursor: pointer;width: 82px;">
                        <i class="fas fa-edit"></i>
                    </div>
                </td>
                <td><b>@appTheme.AppThemeFolder</b></td>
            </tr>
        }
    </table>

</div>

<script>
    $(document).ready(function () {

        $('.actionentrykey').focus();

    });

    function searchFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("searchtext");
        filter = input.value.toUpperCase();
        ul = document.getElementById("datalist2");
        li = $('.searchdiv');
        for (i = 0; i < li.length; i++) {
            txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function moveprogressbardownload() {
        $('.downloadbutton').hide();
        var elem = document.getElementById("progressBarDownload");
        var width = 1;
        progressbarid = setInterval(frame, 50);
        function frame() {
            if (width >= 100) {
                width = 1;
            } else {
                width++;
                elem.style.width = width + '%';
            }
        }
    }



</script>


