@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using DNNrocketAPI.Componants;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Country/App_LocalResources/")

<span class="w3-section simplisity_buttons">
</span>


<div class="w3-container">


    <div id="selectculturecode" class="w3-modal">

        <div class="w3-modal-content w3-card-4" style="width:60%">
            <header class="w3-container w3-theme-d3">
                <h2>@ResourceKey("country.selectculturecode")</h2>
                <span onclick="location.reload();" class="w3-button w3-display-topright closeiframe">@ButtonText(ButtonTypes.close)</span>
            </header>
            <div class="w3-row w3-padding">
                <label>Search</label>
                @TextBox(Model.SessionParamData, "genxml/textbox/searchtext", "class='w3-input w3-border' autocomplete='off'")
            </div>

            <div class="w3-container">
                @foreach (SimplisityInfo cultureInfo in Model.List)
                {
                    if (cultureInfo.GetXmlProperty("genxml/code") != "")
                    {
                        <div class="w3-col m2 culturecode-list " title="@cultureInfo.GetXmlProperty("genxml/code") @cultureInfo.GetXmlProperty("genxml/displayname")" culturecode="@cultureInfo.GetXmlProperty("genxml/code")" culturename="@cultureInfo.GetXmlProperty("genxml/displayname") @cultureInfo.GetXmlProperty("genxml/code")">
                            <div class="w3-left-align w3-button w3-block w3-theme-l2 rocket_cultureselect " culturecode="@cultureInfo.GetXmlProperty("genxml/code")">
                                <img class='' src='@cultureInfo.GetXmlProperty("genxml/flagurl")' alt='' />
                                @cultureInfo.GetXmlProperty("genxml/code")
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>



</div>

<span id="rocket_cultureselect" s-reload="true" s-cmd="rocketapptheme_culturecodeselected" s-post="" style="display:none;"></span>


<script>

    $(document).ready(function () {
        $('#selectculturecode').show();

        $('#searchtext').keyup(function () {
            var valThis = $(this).val().toLowerCase();
            $('.culturecode-list').each(function () {
                var text = $(this).attr('culturename').toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        });

        $('.rocket_cultureselect').unbind("click");
        $('.rocket_cultureselect').click(function () {
            simplisity_setCookieValue('editlang', $(this).attr('culturecode'));
            $('#rocket_cultureselect').attr("s-fields", "culturecode:" + $(this).attr('culturecode') + ",interfacekey:dashboard");
            simplisity_callserver($('#rocket_cultureselect'), '/Desktopmodules/dnnrocket/api/rocket/action', '', false);
        });


    });


</script>