@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using Rocket.AppThemes.Components;
@using System.IO;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")

@{
    var appTheme = (AppThemeLimpet)Model.List.First();
    var info = new SimplisityInfo(appTheme.Record);
}

<div id="editorpopup">
    <div class="w3-row w3-padding">
        <div class="w3-col m2 rocket-buttonbar w3-button w3-green w3-padding-8 savebutton simplisity_click" s-before="saveeditordata" s-cmd="@(Model.GetSetting("interfacekey"))_saveeditor" s-post="#editorsave" s-return="#editorsavereturn" s-fields='{"filename":"@Model.GetSetting("filename")","appthemesystemkey":"@appTheme.SystemKey","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ButtonText(ButtonTypes.save)</div>
        <div class="w3-col m2 rocket-buttonbar w3-button w3-red w3-padding-8 simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete") ?" s-after="hideEditorPopup" s-cmd="@(Model.GetSetting("interfacekey"))_deletefile" s-return=".articlepopup" s-fields='{"filename":"@Model.GetSetting("filename")","appthemesystemkey":"@appTheme.SystemKey","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ButtonText(ButtonTypes.delete)</div>
        @if (Model.GetSettingBool("moduletemplatebutton"))
        {
            <div class="w3-col m3 rocket-buttonbar w3-button w3-blue w3-padding-8 moduletemplatebutton simplisity_confirmclick" s-before="saveeditordata" s-confirm="@ResourceKey("DNNrocket.removemoduletemplate")" s-return=".articlepopup" s-cmd="@(Model.GetSetting("interfacekey"))_removemodtemplate" s-post="#editorsave" s-fields='{"filename":"@Model.GetSetting("filename")","appthemesystemkey":"@appTheme.SystemKey","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'><i class="fas fa-minus-square fa-fw fa-lg"></i>@ResourceKey("DNNrocket.removemoduletemplate")</div>
        }

        <i id="saveicon" class='fas fa-save ' style="display:none;font-size:24px"></i>

    </div>
    <div class="w3-row ">
        <b id="editorfilename" class="" style="">@Model.GetSetting("filename")</b>
    </div>

    <div id="editorsave" style="">
        @HiddenField(info, "genxml/hidden/selectedsystemkey", "", appTheme.SystemKey)
        <input id="editorcodesave" type="hidden" value="" />
    </div>

    <input id="editorsavereturn" type="hidden" value="" />
    
    <div id="editorwrapper" class="w3-row " style="height:720px;">

        <textarea id="razoreditor" >@appTheme.GetTemplate(Model.GetSetting("filename"))</textarea>

    </div>    

</div>

<script>

    var myCodeMirror;

    $(document).ready(function () {

        myCodeMirror = CodeMirror.fromTextArea(document.getElementById("razoreditor"), {
            mode: '@Model.GetSetting("editormode")',
            theme: "night"
        });


        rpadmin.moveToTop('#articleselectmodal');
        $('#articleselectmodal').show();

        myCodeMirror.setSize($('#editorwrapper').width(), $('#editorwrapper').height());
        $('#razoreditor').focus();

    });


    function saveeditordata() {
        $('#editorcodesave').val(simplisity_encode(myCodeMirror.getValue()));
        $('#saveicon').show();
        $("#saveicon").fadeOut();
    }

    function hideEditorPopup() {
        $('#articleselectmodal').hide();
    }

</script>