@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using System.Linq
@using DNNrocket.AppThemes;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{
    var appThemeData = (AppThemeData)Model.List.First();
    var appTheme = appThemeData.AppTheme;
}

<span class="w3-section simplisity_buttons">
    <span class="w3-button w3-green w3-padding-8 simplisity_langchange simplisity_click editorsavebutton" s-cmd="rocketapptheme_savecss" s-before="copyeditorcontent" s-fields="theme:@Model.GetSetting("theme"),interfacekey:editor" s-post="#editorpanel">@ResourceKey("DNNrocket.cmdSaveButton")</span>
</span>

@{
    Model.Settings.Remove("menunumber");
    Model.Settings.Remove("parentitemid");
    Model.Settings.Add("menunumber", "7");
    Model.Settings.Add("parentitemid", appThemeData.configInfo.ItemID.ToString());
}

@RenderTemplate("AppThemeMenu.cshtml", "/DesktopModules/DNNrocket/AppThemes/Admin", "config-w3", Model, "1.0")

<div id="templatereturn" style="display:none;"></div>

<div id="editorpanel">

    @HiddenField(appTheme.Info, "genxml/hidden/editorcode", "", "")
    @HiddenField(appTheme.Info, "genxml/hidden/filefolder", "", "default")

    <div class="w3-row w3-padding ">
        <div class="w3-col m3">
            <label>Template</label>
            @FileSelectList(appTheme.Info, "genxml/select/templatename", appTheme.AppThemeFolderMapPath + "/" + appTheme.AppVersionFolder + "/js", "class=' templateselect w3-input w3-border simplisity_change' s-return='#templatereturn' s-post='#editorpanel' s-cmd='rocketapptheme_getjs' s-fields='interfacekey:editor'  ")
        </div>
    </div>

    <div id="editorwrapper" class="w3-row w3-padding">

    </div>

</div>

<style>

    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
    }
</style>

<script>

    var myCodeMirror;

    $(document).ready(function () {
        $('#razoreditor').unbind("keyup");
        $("#razoreditor").keyup(function (event) {
            if (event.which == 13) {
                $('#razoreditor').height($('#razoreditor').prop('scrollHeight'));
            }
        });

        $('#templatereturn').unbind("change");
        $("#templatereturn").change(function (event) {

            $("#razoreditor").remove();
            $(".CodeMirror").remove();

            var textArea = $('<textarea id="razoreditor" style="w3-input w3-border" spellcheck="false" />');
            $('#editorwrapper').append(textArea);

            myCodeMirror = CodeMirror.fromTextArea(document.getElementById("razoreditor"), {
                lineNumbers: false,
                mode: "javascript",
            });
            myCodeMirror.setValue(simplisity_decode($(this).text()));
        });


    });

    function copyeditorcontent() {
        $('#editorcode').val(simplisity_encode(myCodeMirror.getValue()));
    }

</script>