@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using System.IO;
@using DNNrocketAPI.Componants;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")

@{
    var appTheme = (AppTheme)Model.List.First();
    var resxData = (ResxData)Model.DataObjects["resxData"];

    var flagurl = "";
    if (resxData.CultureCode != "")
    {
        flagurl = "/DesktopModules/DNNrocket/API/images/flags/16/" + resxData.CultureCode + ".png";
    }
    var listname = "resxlist";
    var lp = 1;

}


<div class="w3-row w3-padding">
    <div class="w3-col m2 w3-button rocket-buttonbar w3-khaki simplisity_click " s-cmd="rocketapptheme_getdetail" s-fields='{"appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}' style="cursor:pointer;">@ButtonText(ButtonTypes.cancel)</div>
    <div class="w3-col m2 w3-button rocket-buttonbar w3-green w3-padding-8 simplisity_click" s-cmd="rocketapptheme_saveresxdata" s-post="" s-list=".resxdictionarydata" s-fields='{"filename":"@resxData.FileName","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ButtonText(ButtonTypes.save)</div>
    <div class="w3-col m2 w3-button rocket-buttonbar w3-blue w3-padding-8 simplisity_confirmclick" s-confirm="@ResourceKey("AppThemes.rebuildfromfieldsmsg")" s-cmd="rocketapptheme_rebuildresx" s-fields='{"filename":"@resxData.FileName","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'><i class="fas fa-sync fa-fw fa-lg"></i>&nbsp;@ResourceKey("AppThemes.rebuild")</div>
    <div class="w3-col m2 w3-button rocket-buttonbar w3-teal w3-padding-8" onclick="quickresxedit()"><i class='fas fa-bolt  fa-fw fa-lg'></i>&nbsp;@ResourceKey("AppThemes.quickedit")</div>
    <div class="w3-col m2 w3-button rocket-buttonbar w3-red w3-padding-8 simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete") ?" s-cmd="rocketapptheme_deletefile" s-fields='{"filename":"@resxData.FileName","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ButtonText(ButtonTypes.delete)</div>
</div>
<div class="w3-row ">
    <h5 id="resxfilename" class="" style="">@resxData.FileName</h5>
</div>


<div id="resxdatasection" class="w3-container">

    <div id="resxdictionarydisplay" class="w3-row ">
        <div class="w3-container">
            <div class="w3-display-container ">

                <div class="w3-text-teal w3-padding-8 w3-display-left w3-margin simplisity_click" s-cmd="rocketapptheme_addresxdata" s-fields='{"filename":"@resxData.FileName","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>@ResourceKey("DNNrocket.add", "", "Icon")</div>

                <div class="w3-col m4 w3-center">
                    Key
                </div>
                <div class="w3-col m8 w3-center">
                    Value&nbsp;<img class='' src='@flagurl' alt='' />
                </div>
            </div>
        </div>
        <div class="w3-container">
            <div class="w3-margin-top ">
                <ul id="resxdatadictionarylist" class="w3-ul w3-border">
                    @foreach (var r in resxData.DataDictionary)
                    {

                        <li class="resxdictionarydata w3-display-container">
                            <div class="w3-row">
                                <div class="w3-col m3 w3-margin-right">
                                    @TextBox(new SimplisityInfo(), "genxml/key", " class='w3-input w3-border' autocomplete='off' ", r.Key, false, lp, listname)
                                </div>
                                <div class="w3-col m8 ">
                                    @{
                                        var innerboxcolor = "";
                                        if (r.Value.EndsWith("**"))
                                        {
                                            innerboxcolor = " w3-yellow ";
                                        }
                                    }
                                    @TextBox(new SimplisityInfo(), "genxml/value", " class='w3-input w3-border " + innerboxcolor + " value_" + lp + " ' autocomplete='off ' ", r.Value, false, lp, listname)
                                </div>
                                <div class="w3-col m1" style="width:64px">
                                    &nbsp;
                                    <div class="w3-transparent w3-button w3-padding-8 simplisity_click" s-cmd="rocketapptheme_removeresxdata" s-fields='{"key":"@r.Key","filename":"@resxData.FileName","appthemefolder":"@appTheme.AppThemeFolder","appversionfolder":"@appTheme.AppVersionFolder"}'>&times;</div>
                                </div>
                            </div>
                        </li>

                        lp += 1;

                    }
                </ul>
            </div>
        </div>
    </div>

    <b>keys: @lp </b>

</div>


<div id="quickresxedit" class="w3-modal">
    <div class="w3-modal-content" style="width:70%;">
        <input id="culturecodeselected" s-update="ignore" type="hidden" value="" />

        <header class="w3-container w3-theme">
            <span onclick="document.getElementById('quickresxedit').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h2><i class='fas fa-bolt  fa-fw fa-lg'></i>&nbsp;@ResourceKey("AppThemes.quickedit")</h2>
        </header>

        @{
            var quickEdit = "";
            var quickKey = "";
        }
        @foreach (var r in resxData.DataDictionary)
        {
            quickKey += r.Key + Environment.NewLine;
            quickEdit += r.Value.Replace(Environment.NewLine, " ") + Environment.NewLine;
        }

        <div id="resxstring" class="w3-row">
            <div class="w3-quarter w3-margin-right">
                <textarea id="resxkeysstring" style="border: none;width: 100%;" class="w3-right-align" disabled>@quickKey</textarea>
            </div>
            <div class="w3-twothird">
                <textarea id="resxvaluesstring" wrap="soft" style="width: 100%;white-space: nowrap;  overflow: auto;">@quickEdit</textarea>
            </div>
        </div>



        <footer class="w3-container w3-theme w3-padding">
            <div class="w3-col m2 w3-button w3-pale-green w3-padding-8 saveresxquickedit" onclick="saveresxquickedit()">@ButtonText(ButtonTypes.ok)</div>
        </footer>

    </div>
</div>


<script>

    $(document).ready(function () {

        $("#resxdatadictionarylist").sortable();
        $("#resxdatadictionarylist").disableSelection();
    });

    function setHeight(fieldId) {
        document.getElementById(fieldId).style.height = document.getElementById(fieldId).scrollHeight + 'px';
    }

    function quickresxedit() {
        $('.saveresxquickedit').show();
        $('#quickresxedit').show();
        setHeight('resxvaluesstring');
        setHeight('resxkeysstring');
    }

    function saveresxquickedit() {
        document.getElementById('quickresxedit').style.display = 'none'

        var row = 1;
        var lines = $('#resxvaluesstring').val().split('\n');
        for (var i = 0; i < lines.length; i++) {
            if ($('.value_' + row).length) {
                $('.value_' + row).val(lines[i]);
            }
            row += 1;
        }

    }


</script>