@inherits DNNrocketAPI.render.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;


@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")



@{
    var headerData = Model.HeaderData;
}



<div class="w3-container">

    <span class="w3-section simplisity_buttons" id="buttonsrequired" style="display:none;">
        <button class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="rocketmod_add" s-fields="tabid:@(Model.GetSetting("tabid")),moduleid:@(Model.ModuleId),interfacekey:rocketmod">@ResourceKey("DNNrocket.cmdAddButton")</button>
    </span>


    <div id="headerdata" class="w3-row w3-card ">

        <div class="">
            <header class="w3-container w3-theme">
            </header>

            <div class="w3-row w3-padding">
                <div class="w3-col m2 w3-padding">
                    @TextBox(headerData, "genxml/textbox/testtext", "class='w3-input w3-border simplisity_searchfield'")
                </div>
                <div class="w3-col m8 w3-padding">
                    @TextBox(headerData, "genxml/lang/genxml/textbox/testtext", "class='w3-input w3-border simplisity_searchfield'","",true)
                </div>
                <div class="w3-col m2 w3-padding w3-right-align" style="width: 100px">
                    <button class="w3-button w3-green w3-padding-8 simplisity_langchange simplisity_click" s-cmd="rocketmod_saveheader" s-post="#headerdata" s-fields="tabid:@(Model.GetSetting("tabid")),moduleid:@(Model.ModuleId),selecteditemid:,interfacekey:rocketmod">@ResourceKey("DNNrocket.cmdSaveButton")</button>
                </div>
            </div>

        </div>

    </div>
    <hr />

    <div class="w3-row w3-card plugins">

        <header class="w3-container w3-theme">
            <h5>@ResourceKey("system.systems")</h5>
        </header>

        <div class="w3-row">
            <table class="w3-table w3-table-all">
                <thead>
                    <tr>
                        <th>Column1</th>
                        <th>Column2</th>
                        <th>Column3</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (SimplisityInfo nbi in Model.List)
                    {
                    <tr>
                        <td class="text-nowrap">@nbi.GetXmlProperty("genxml/textbox/test")</td>
                        <td class="text-nowrap">@nbi.GetXmlProperty("genxml/lang/genxml/textbox/txtinputl")</td>
                        <td>
                            <a class="simplisity_click" s-track="true" s-cmd="rocketmod_edit" s-fields="tabid:@(Model.GetSetting("tabid")),moduleid:@(Model.ModuleId),selecteditemid:@nbi.ItemID,interfacekey:rocketmod" s-return="#simplisity_startpanel" href="javascript:void(0)">@ResourceKey("DNNrocket.cmdEditIcon")</a>
                        </td><!-- editlink class added to show processing -->
                    </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
    <br />
</div>








