@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{
    var info = new SimplisityInfo();
    if (Model.List.Count > 0)
    {
        info = (SimplisityInfo)Model.List.First();
    }
}

<span class="w3-section simplisity_buttons">
    <button class="w3-button w3-green w3-padding-8 simplisity_langchange simplisity_click" s-cmd="rocketmod_savedata" s-post="#datasave" s-fields="tabid:@(Model.GetSetting("tabid")),moduleid:@(Model.ModuleId),selecteditemid:@info.ItemID,interfacekey:rocketmod">@ResourceKey("DNNrocket.cmdSaveButton")</button>
    <button class="w3-button w3-red w3-padding-8 simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.cmdDelete","","confirm")" s-cmd="rocketmod_delete" s-fields="tabid:@(Model.GetSetting("tabid")),moduleid:@(Model.ModuleId),selecteditemid:@info.ItemID,interfacekey:rocketmod">@ResourceKey("DNNrocket.cmdDeleteButton")</button>
    <button class="w3-button w3-sand w3-padding-8 simplisity_click" s-track="true" s-cmd="rocketmod_edit" s-fields="tabid:@(Model.GetSetting("tabid")),moduleid:@(Model.ModuleId),selecteditemid:,theme:config-w3,interfacekey:rocketmod">@ResourceKey("DNNrocket.cmdReturnButton")</button>
</span>


<h1>Hello New World Detail Theme!!!! :-)</h1>

<div id="datasave">

    @TextBox(info, "genxml/textbox/test")

    <div class='w3-padding'>
        @CKEditor(info, "genxml/textbox/ckeditor")
    </div>


</div>

