@inherits DNNrocketAPI.render.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;


@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@RenderTemplate("editiframe.cshtml", "/DesktopModules/DNNrocket/rocketmod", "config-w3", Model)

@{

    var info = new SimplisityInfo();
    if (Model.List.Count > 0)
    {
        info = (SimplisityInfo)Model.List.First();
    }
}


<h1>Hello Display List !!!! </h1>

<h2>@Model.HeaderData.GetXmlProperty("genxml/lang/genxml/textbox/testtext")</h2>
<h2>@Model.HeaderData.GetXmlProperty("genxml/textbox/testtext")</h2>

<div class="w3-row w3-card plugins">

    <header class="w3-container w3-theme">
        <h5>@ResourceKey("system.systems")</h5>
    </header>

    <div class="w3-row">
        <table class="w3-table w3-table-all">
            <thead>
                <tr>
                    <th>Column1</th>
                </tr>
            </thead>
            <tbody>

                @foreach (SimplisityInfo nbi in Model.List)
                {
                    <tr>
                        <td class="text-nowrap">@nbi.GetXmlProperty("genxml/textbox/test")</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>
