@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RazorEngine.Text;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketTools/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@{
    var appThemeTools = (AppThemeDNNrocketLimpet)Model.GetDataObject("appthemetools");
}

<div class="w3-row w3-padding datapostsection">        
    <div class="w3-button simplisity_click" s-cmd="rocketclones_getdisplay" s-return="#toolsmodalcontainer">
        @ButtonIcon(ButtonTypes.refresh)
    </div>
</div>

<h1>Clone Modules</h1>

<div class="w3-row">

    <div class="w3-third w3-padding tabselect">
        <div class="w3-panel w3-light-grey w3-padding" style="height:52px;">
            <b class="w3-large">@ResourceKey("RocketTools.page")</b>
        </div>
        @TabSelectList(new SimplisityInfo(), "genxml/fromtabid", " class=' w3-input w3-border simplisity_change' s-cmd='rocketclones_getmodules' s-return='.moduledatasection' s-post='.tabselect' ", true, false, 0, "", true)
    </div>
    <div class="w3-twothird" id="updatesection">
        <div class="w3-half w3-padding">
            <div class="w3-panel w3-light-grey w3-padding" style="height:52px;">
                <b class="w3-large">@ResourceKey("RocketTools.modules")</b>
                <div class="w3-button w3-green w3-right nextbuttonmodule simplisity_click" style="display:none;" s-cmd="rocketclones_getdestination" s-return=".topagedatasection" s-fields='' s-post="#updatesection">
                    @ResourceKey("RocketTools.next")&nbsp;
                    <span class="material-icons">
                        navigate_next
                    </span>
                </div>
            </div>
            <div class="w3-row moduledatasection">

            </div>
        </div>
        <div class="w3-half w3-padding">
            <div class="w3-panel w3-light-grey w3-padding" style="height:52px;">
                <b class="w3-large">@ResourceKey("RocketTools.topage")</b>
                <div class="w3-button w3-green w3-right rocketclonesbutton simplisity_confirmclick" s-confirm="@ResourceKey("RocketTools.clone") ?" style="display:none;" s-return="#toolsmodalcontainer" s-cmd="rocketclones_clone" s-fields='' s-post="#updatesection">
                    <span class="material-icons">
                        save
                    </span>
                    &nbsp;@ResourceKey("RocketTools.clone")
                </div>
            </div>
            <div class="w3-row topagedatasection">

            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {

        simplisity_setSessionField('pageref', CreateGuid());

        $("#fromtabid").on("change", function () {
            $("#fromtabid").prop("disabled", true);
        } );
        
    });

    function CreateGuid() {
        function _p8(s) {
            var p = (Math.random().toString(16) + "000000000").substr(2, 8);
            return s ? "-" + p.substr(0, 4) + "-" + p.substr(4, 4) : p;
        }
        return _p8() + _p8(true) + _p8(true) + _p8();
    }


</script>

@if (Model.GetSettingBool("clonedone"))
{
    <div>
        @RenderTemplate("clonesok.cshtml", appThemeTools, Model)
    </div>
}