@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RazorEngine.Text;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketTools/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/API/App_LocalResources/")

@{
    var appThemeTools = (AppThemeDNNrocketLimpet)Model.GetDataObject("appthemetools");
}

<div class="w3-row">
    <span class="w3-button w3-left" onclick="$('.simplisity_loader').show(); window.location.reload(true);">            
        @ButtonIcon(ButtonTypes.refresh)
    </span>
    <span class="w3-small w3-right">PortalId: @PortalUtils.GetCurrentPortalId()</span>
</div>

<div class="w3-row w3-padding">
    <div class="w3-button w3-block w3-large w3-theme-action w3-padding w3-margin-bottom simplisity_click" s-cmd="rocketclones_getdisplay" s-return="#toolsmodalcontainer" s-after="showtoolspopup">
        @ResourceKey("RocketTools.clone")
    </div>
    <div class="w3-button w3-block w3-large w3-theme-action w3-padding w3-margin-bottom simplisity_click" s-cmd="rocketroles_roles" s-return="#toolsmodalcontainer" s-after="showtoolspopup">
         @ResourceKey("RocketTools.roles")
    </div>
    <div class="w3-button w3-block w3-large w3-theme-action w3-padding w3-margin-bottom simplisity_click" s-cmd="rocketpl_getdisplay" s-return="#toolsmodalcontainer" s-after="showtoolspopup">
        @ResourceKey("RocketTools.pagelocalization")
    </div>
    <div class="w3-button w3-block w3-large w3-theme-action w3-padding w3-margin-bottom simplisity_click" s-cmd="rockettools_copylanguage" s-return="#toolsmodalcontainer" s-after="showtoolspopup">
        @ResourceKey("RocketTools.copylanguage")
    </div>
    <div class="w3-button w3-block w3-large w3-theme-action w3-padding w3-margin-bottom simplisity_click" s-cmd="rocketpl_urlmenu" s-return="#toolsmodalcontainer" s-after="showtoolspopup">
        @ResourceKey("RocketTools.menuandurlsettings")
    </div>
    <div class="w3-button w3-block w3-large w3-theme-action w3-padding w3-margin-bottom simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.index") ?" s-cmd="portal_index">
        @ResourceKey("RocketTools.indexanddnn")
    </div>
    <div class="w3-button w3-block w3-large w3-theme-action w3-padding w3-margin-bottom simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.validate") ?" s-cmd="portal_validate">
        @ResourceKey("RocketTools.validate")
    </div>
</div>

@if (UserUtils.IsSuperUser())
{
    <h1>Validation Tests</h1>

    <div class="w3-row w3-padding">

        <div class="w3-third w3-padding">
            <div class="w3-button w3-block w3-large w3-theme-action w3-padding w3-margin-bottom simplisity_click" s-cmd="rockettools_testing" s-return="#toolsmodalcontainer" s-after="showtoolspopup" s-fields='{"template":"testcache.cshtml"}'>
                Cache Test
            </div>
        </div>
        <div class="w3-third w3-padding">
            <div class="w3-button w3-block w3-large w3-theme-action w3-padding w3-margin-bottom simplisity_click" s-cmd="rockettools_testing" s-return="#toolsmodalcontainer" s-after="showtoolspopup" s-fields='{"template":"testscheduler.cshtml"}'>
                Scheduler Run Test
            </div>
        </div>
    </div>    
}

<div id="toolsmodal" class="w3-modal " style="top:-30px;">
    <div class="w3-modal-content w3-animate-opacity" style="width:90%;">
        <header class="w3-container" style="height:38px;">
            <div class="w3-button w3-display-topright" onclick="$('#toolsmodal').hide();">
                @ButtonIcon(ButtonTypes.close)
            </div>
        </header>
        <div id="toolsmodalcontainer" class="w3-container toolsmodalpopup" style="min-height:480px;"></div>
    </div>
</div>

    
<script type="text/javascript">

    $(document).ready(function () {
        selectMenu('rockettools');
    });

    function showtoolspopup() {
        $('#toolsmodal').show();
    }

</script>
