@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketRazorEngine.Text;
@using RocketTools;
@using DotNetNuke.Entities.Tabs;
@using System;
@using System.Linq;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketTools/App_LocalResources/")

@{
    var systemAppTheme = (AppThemeDNNrocketLimpet)Model.GetDataObject("appthemesystem");
    var appThemeTools = (AppThemeDNNrocketLimpet)Model.GetDataObject("appthemetools");
    var info = (SimplisityInfo)Model.GetDataObject("info2");
    var pageData = (PageRecordData)Model.GetDataObject("pagedata2");
    var disableedit = "";
    if (!info.GetXmlPropertyBool("genxml/checkbox/editpageurl"))
    {
        disableedit = "disabled";
    }
}

@RenderTemplate("LanguageEdit.cshtml", appThemeTools, Model, true)

<div class="w3-row w3-padding">

    <div class="w3-row w3-padding">
        <label>@ResourceKey("RocketTools.pagename")</label>
        @TextBox(info, "genxml/textbox/pagename", " class='w3-input w3-border' ", pageData.Name)
    </div>
    <div class="w3-row w3-padding">
        <label>@ResourceKey("RocketTools.pagetitle")</label>
        @TextBox(info, "genxml/textbox/pagetitle", " class='w3-input w3-border' ", pageData.Title)
    </div>
    <div class="w3-row w3-padding">
        <label>@ResourceKey("RocketTools.pagedescription")</label>
        @TextArea(info, "genxml/textbox/pagedescription", " rows='5' class='w3-input w3-border' ", pageData.Description)
    </div>
    <div class="w3-row w3-padding">
        <label>@ResourceKey("RocketTools.pagetagwords")</label>
        @TextArea(info, "genxml/textbox/tagwords", " rows='5' class='w3-input w3-border' ", "")
    </div>
    <div class="w3-row w3-padding">
        <label>@ResourceKey("RocketTools.url")</label>
        @TextBox(info, "genxml/textbox/pageurl", " class='w3-input w3-border' " + disableedit + " ", pageData.Url)
    </div>
    <div class="w3-row ">
        <div class="w3-third w3-padding">
            @CheckBox(info, "genxml/checkbox/editpageurl", "&nbsp;" + ResourceKey("RocketTools.editpageurl").ToString(), " class='w3-check' ", false)
        </div>
        <div class="w3-third w3-padding">
            @CheckBox(info, "genxml/checkbox/disablecanonical", "&nbsp;" + ResourceKey("RocketTools.disablecanonical").ToString(), " class='w3-check' ", false)
        </div>
        <div class="w3-third w3-padding">
            @CheckBox(info, "genxml/checkbox/disablealternate", "&nbsp;" + ResourceKey("RocketTools.disablealternate").ToString(), " class='w3-check' ", false)
        </div>
    </div>

</div>

<div class="w3-row w3-margin-top">

    <table class="w3-table">
        @{
            var tList = PagesUtils.GetTabUrls(pageData.PortalId, pageData.PageId);
        }
        @foreach (TabUrlInfo t in tList.OrderBy(o => o.CultureCode).ToList())
        {
            <tr>
                <th class="simplisity_confirmclick" s-confirm="Delete ?" s-cmd="rocketpl_taburldelete" s-return="#toolsmodalcontainer" s-fields='{"tabid":"@t.TabId","seqnum":"@t.SeqNum"}' style="cursor:pointer;width:24px;">
                    <span class="material-icons">
                        delete_forever
                    </span>
                </th>
                <th style="width:80px;">@t.CultureCode</th>
                <th style="width:60px;">@t.HttpStatus</th>
                <th>@t.Url</th>
            </tr>
        }
    </table>

    @RenderXml(info)

</div>

<script>
    $(document).ready(function () {


    });
</script>

