@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RazorEngine.Text;
@using RocketTools;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketTools/App_LocalResources/")

@{
    var info = new SimplisityInfo((SimplisityRecord)Model.List.First());
    var systemAppTheme = (AppThemeDNNrocketLimpet)Model.GetDataObject("appthemesystem");
    var appThemeTools = (AppThemeDNNrocketLimpet)Model.GetDataObject("appthemetools");
    var pageData = (PageRecordData)Model.GetDataObject("pagedata");
}

@RenderTemplate("LanguageView.cshtml", appThemeTools, Model, true)

@if (pageData != null)
{

<div class="w3-row w3-padding">

    <div class="w3-row w3-padding">
        <label>@ResourceKey("RocketTools.pagename")</label>
        <div class="w3-border w3-light-grey w3-padding " style="height: 40px;">@info.GetXmlProperty("genxml/textbox/pagename")</div>
    </div>
    <div class="w3-row w3-padding">
        <label>@ResourceKey("RocketTools.pagetitle")</label>
        <div class="w3-border w3-light-grey w3-padding" style="height:40px;">@info.GetXmlProperty("genxml/textbox/pagetitle")</div>
    </div>
    <div class="w3-row w3-padding">
        <label>@ResourceKey("RocketTools.pagedescription")</label>
        <div class="w3-border w3-light-grey w3-padding" style="min-height: 130px;">@BreakOf(info.GetXmlProperty("genxml/textbox/pagedescription"))</div>
    </div>
    <div class="w3-row w3-padding">
        <label>@ResourceKey("RocketTools.pagetagwords")</label>
        <div class="w3-border w3-light-grey w3-padding" style="min-height:130px;">@BreakOf(info.GetXmlProperty("genxml/textbox/tagwords"))</div>
    </div>
    <div class="w3-row w3-padding">
        <label>@ResourceKey("RocketTools.url")</label>
        <div class="w3-border w3-light-grey w3-padding" style="height:40px;">@info.GetXmlProperty("genxml/textbox/pageurl")</div>
    </div>

</div>

}



<script>
    $(document).ready(function () {


    });
</script>

