@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RazorEngine.Text;
@using RocketTools;
@using System.Linq;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketTools/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")

@{
    var info = new SimplisityInfo((SimplisityRecord)Model.List.First());
    var systemAppTheme = (AppThemeDNNrocketLimpet)Model.GetDataObject("appthemetools");
}

<div class="w3-hide rocketplpage simplisity_click" s-cmd="rocketpl_page" s-post=".datapostsection" s-return=".pagedata" s-showloader="true"></div>

<div id="pagedatasection">

    <div class="w3-row w3-padding datapostsection">        
        <div class="w3-button simplisity_click" s-cmd="rocketpl_getdisplay" s-return="#toolsmodalcontainer">
            @ButtonIcon(ButtonTypes.refresh)
        </div>
        <div onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-right w3-margin-left">
            <span class="material-icons">
                settings
            </span>
        </div>
        <div class="w3-button w3-right w3-green simplisity_click" s-cmd="rocketpl_pagesave" s-post="#pagedatasection" s-after="reloadpagedata" s-return="#savereturn">
            @ButtonIconText(ButtonTypes.save)
        </div>
    </div>

    <div class="w3-row w3-padding datapostsection">
        <div class="w3-third w3-padding">
            <h2>@ResourceKey("RocketTools.pageadmin")</h2>
        </div>
        <div class="w3-third w3-padding">
            @TabSelectList(new SimplisityInfo(), "genxml/selectedtabid", " class='w3-input w3-border'  ", false, false, 0, "", true)
        </div>
    </div>

    <div id="savereturn" class="w3-hide"></div>

    <div class="w3-row pagedata">
        @ResourceKey("DNNrocket.processing").....
    </div>

</div>

<div id="id01" class="w3-modal" >
    <div class="w3-modal-content  a-settingspopup" style="width:60%;">
        @RenderTemplate("SettingsPopup.cshtml", systemAppTheme, Model)
    </div>
</div>

<script>

    $(document).ready(function () {

        $("#selectedtabid").on("change", function () {
            $('.rocketplpage').trigger("click");
        });
        reloadpagedata();
    });

    function reloadpagedata() {
        $('.rocketplpage').trigger("click");
    }
</script>

