@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketTools/App_LocalResources/")

<div id="sectiondata">


        <div class="w3-panel w3-pale-blue w3-border w3-border-blue w3-round">
            <h3>@ResourceKey("RocketTools.exportprebuild")</h3>
            <p>@ResourceKey("RocketTools.exportdescription")</p>
            <p class="w3-text-orange"><strong>@ResourceKey("RocketTools.exporttimewarning")</strong></p>
        </div>

        <div class="w3-row w3-margin-bottom w3-center">
            <div class="w3-green w3-button simplisity_click" s-cmd="rockettools_exportprebuildexe" s-post="#sectiondata" s-return="#toolsmodalcontainer">
                @ButtonText(ButtonTypes.export) @ResourceKey("RocketTools.exportportal")
            </div>
        </div>

</div>

<script>
    $(document).ready(function () {
    });
</script>
