@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using System
@using System.Xml
@using Simplisity;
@using RocketTools.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/RocketTools/App_LocalResources/")

<div class="w3-row">
    <div class="w3-col m6 w3-xxlarge">
        Module Roles
    </div>
    <div class="w3-col m6">
        <div class="w3-button w3-blue w3-right simplisity_confirmclick" s-confirm="@ResourceKey("View.adddefaultroles","","Confirm")" s-cmd="rocketroles_createdefaultroles">@ResourceKey("View.adddefaultroles")</div>
    </div>
</div>

<div class="w3-row">


    <div class="w3-third w3-padding tabselect">
        <div class="w3-panel w3-light-grey w3-padding" style="height:52px;">
            <b class="w3-large">@ResourceKey("View.pages")</b>
            <div class="w3-button w3-green w3-right nextbuttonpage simplisity_click" style="display:none;" s-cmd="rocketroles_getmodules" s-return=".moduledatasection" s-fields='' s-post="#treeview2_container">
                @ResourceKey("View.next")&nbsp;
                <span class="material-icons">
                    navigate_next
                </span>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-button w3-left w3-margin-left" id="checkAll">
                <span class="material-icons">
                    playlist_add_check
                </span>
            </div>
            <div class="w3-button w3-left" id="uncheckAll">
                <span class="material-icons">
                    playlist_remove
                </span>
            </div>
        </div>
        <div id="treeview2_container" class="hummingbird-treeview well h-scroll-large">
            @GetTreeTabList(PortalUtils.GetPortalId(), new List<int>(), "treeview2", "", "class='hummingbird-base'", false)
        </div>

    </div>
    <div class="w3-twothird" id="updatesection">
        <div class="w3-half w3-padding">
            <div class="w3-panel w3-light-grey w3-padding" style="height:52px;">
                <b class="w3-large">@ResourceKey("View.modules")</b>
                <div class="w3-button w3-green w3-right nextbuttonmodule simplisity_click" style="display:none;" s-after="showapplybutton" s-cmd="rocketroles_getroles" s-return=".rolesdatasection" s-fields='' s-post="#modulelistdata">
                    @ResourceKey("View.next")&nbsp;
                    <span class="material-icons">
                        navigate_next
                    </span>
                </div>
            </div>
            <div class="w3-row moduledatasection">

            </div>
        </div>
        <div class="w3-half w3-padding">
            <div class="w3-large w3-panel w3-light-grey w3-padding" style="height:52px;">
                <b>@ResourceKey("View.roles")</b>
                <div class="w3-button w3-green w3-right applyrolesbutton simplisity_confirmclick" style="display:none;" s-confirm="@ResourceKey("View.applyroles") ?" s-cmd="rocketroles_applyroles" s-return=".returnmsg" s-post="#rolelistdata">
                    <span class="material-icons">
                        save
                    </span>
                    &nbsp;
                    @ResourceKey("View.applyroles")
                </div>
            </div>
            <div class="w3-row rolesdatasection">

            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {

        simplisity_setSessionField('pageref', CreateGuid());

        $.fn.hummingbird.defaults.SymbolPrefix = "";
        $.fn.hummingbird.defaults.collapsedSymbol = "downsymbol";
        $.fn.hummingbird.defaults.expandedSymbol = "upsymbol";

        $("#treeview2").hummingbird();


        $("#checkAll").click(function () {
            $("#treeview2").hummingbird("checkAll");
        });
        $("#uncheckAll").click(function () {
            $("#treeview2").hummingbird("uncheckAll");
        });
        $("#collapseAll").click(function () {
            $("#treeview2").hummingbird("collapseAll");
        });

        $("#treeview2").on("nodeChecked", function () {
            $('.nextbuttonpage').show();
            $('.moduledatasection').text('');
            $('.rolesdatasection').text('');
            $('.applyrolesbutton').hide();
        });
        $("#treeview2").on("nodeUnchecked", function () {
            $('.nextbuttonpage').show();
            $('.moduledatasection').text('');
            $('.rolesdatasection').text('');
            $('.applyrolesbutton').hide();
        });
    });

    function CreateGuid() {
        function _p8(s) {
            var p = (Math.random().toString(16) + "000000000").substr(2, 8);
            return s ? "-" + p.substr(0, 4) + "-" + p.substr(4, 4) : p;
        }
        return _p8() + _p8(true) + _p8(true) + _p8();
    }
    function showapplybutton() {
        $('.applyrolesbutton').show();
    }

</script>

