@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RazorEngine.Text;
@using RocketTools;
@using System.Linq;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketTools/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")

@{
    var info = new SimplisityInfo((SimplisityRecord)Model.List.First());
    var systemAppTheme = (AppThemeDNNrocketLimpet)Model.GetDataObject("appthemesystem");
    var duplicateQueryKey = false;
    var pStore = new List<string>();
    var pStoreDuplicate = new List<string>();
    foreach (var mp in info.GetList("queryparams"))
    {
        var qKey = mp.GetXmlProperty("genxml/textbox/queryparam");
        if (pStore.Contains(qKey))
        {
            pStoreDuplicate.Add(qKey);
            duplicateQueryKey = true;
        }
        else
        {
            pStore.Add(qKey);
        }
    }
}


<div class="w3-container">
        <div class="w3-row w3-padding datapostsection">
            <div class="w3-button simplisity_click" s-cmd="rocketpl_urlmenu" s-return="#toolsmodalcontainer">
                @ButtonIcon(ButtonTypes.refresh)
            </div>
            <div class="w3-button w3-right w3-green simplisity_click" s-cmd="rocketpl_savesettings" s-list=".menuprovider,.queryparams,.removecss" s-post="#settingsdata" s-return="#toolsmodalcontainer">
                @ButtonText(ButtonTypes.save)
            </div>
            <div class="w3-button w3-right w3-blue w3-margin-right simplisity_confirmclick" s-confirm="@ResourceKey("RocketTools.validate") ?" s-cmd="rocketpl_validate" s-return="#toolsmodalcontainer">
                <span class="material-icons">
                    fact_check
                </span>
                @ResourceKey("RocketTools.validate")
            </div>
        </div>

        <div id="settingsdata" style="padding-top:40px;">

                <div class="w3-row">
                    <div class="w3-half w3-padding">
                        <label>@ResourceKey("DNNrocket.debugmode")</label>
                        @CheckBox(info, "genxml/checkbox/debugmode", "", " class='w3-check' ")
                    </div>
                </div>

                <div class="w3-row">
            <div class="w3-button w3-green w3-margin simplisity_click" s-cmd="rocketpl_addmenuprovider" s-return="#toolsmodalcontainer">
                        @ButtonIcon(ButtonTypes.add)
                    </div>
                    <span><b>@ResourceKey("RocketTools.providers")</b></span>
                </div>

                <ul id="menuproviderdata" class="w3-ul">
                    @{
                        var lp = 1;
                    }
                    @foreach (var mp in info.GetList("menuprovider"))
                    {
                        <li class="menuprovider w3-display-container w3-padding w3-border-0" style="list-style-type: none;">

                            <div class="w3-display-container w3-padding w3-card">
                                <div class="w3-row">
                                    <div class="w3-quarter w3-padding">
                                        <label>@ResourceKey("RocketTools.assembly")</label>
                                        @TextBox(mp, "genxml/textbox/assembly", " class='w3-input w3-border' ", "", false, lp)
                                    </div>
                                    <div class="w3-half w3-padding">
                                        <label>@ResourceKey("RocketTools.namespaceclass")</label>
                                        @TextBox(mp, "genxml/textbox/namespaceclass", " class='w3-input w3-border' ", "", false, lp)
                                    </div>
                                    <div class="w3-quarter w3-padding">
                                        <label>@ResourceKey("DNNrocket.systemkey")</label>
                                        @TextBox(mp, "genxml/textbox/systemkey", " class='w3-input w3-border' ", "", false, lp)
                                    </div>
                                    <div class="simplisity_removelistitem w3-display-topright" s-removelist=".menuprovider" s-recylebin="menuproviderbin" style="cursor: pointer;">
                                        @ButtonIcon(ButtonTypes.remove)
                                    </div>

                                </div>
                            </div>
                        </li>
                        lp += 1;
                    }
                </ul>

                <div class="w3-row">
            <div class="w3-button w3-green w3-margin simplisity_click" s-cmd="rocketpl_addqueryparams" s-return="#toolsmodalcontainer">
                        @ButtonIcon(ButtonTypes.add)
                    </div>
                    <span><b>@ResourceKey("RocketTools.queryparams")</b></span>
                </div>
        @if (duplicateQueryKey)
        {
            <div class="w3-text-red">
                @ResourceKey("RocketTools.queryparamsduplicate")
            </div>
        }

                <ul id="queryparamsdata" class="w3-ul">
                    @{
                        var lp2 = 1;
                    }
                    @foreach (var mp in info.GetList("queryparams"))
                    {
                    var warningClass = "";
                    if (pStoreDuplicate.Contains(mp.GetXmlProperty("genxml/textbox/queryparam")))
                    {
                    warningClass = "w3-pale-red";
                    }
                    <li class="queryparams w3-display-container w3-padding w3-border-0" style="list-style-type: none;">

                        <div class="w3-display-container w3-padding w3-card">
                            <div class="w3-row">
                                <div class="w3-quarter w3-padding">
                                <label>@ResourceKey("RocketTools.queryparam")</label>
                                @TextBox(mp, "genxml/textbox/queryparam", " class='w3-input w3-border " + warningClass + "' ", "", false, lp2)
                                </div>
                                <div class="w3-quarter w3-padding">
                                <label>@ResourceKey("RocketTools.datatype")</label>
                                @DropDownList(mp, "genxml/select/datatype", "article,category", "Article,Category", " class='w3-input w3-border' ", "", false, lp2)
                                </div>
                                <div class="w3-quarter w3-padding">
                                    <label>@ResourceKey("DNNrocket.systemkey")</label>
                                    @TextBox(mp, "genxml/textbox/systemkey", " class='w3-input w3-border' ", "", false, lp)
                                </div>
                                <div class="w3-quarter w3-padding">
                                    <label>@ResourceKey("DNNrocket.system")</label>
                                    @DropDownList(mp,"genxml/select/tablename","rocketdirectoryapi,rocketecommerceapi", "Directory,Ecommerce"," class='w3-input w3-border' ","",false,lp2)
                                </div>
                                <div class="simplisity_removelistitem w3-display-topright" s-removelist=".queryparams" s-recylebin="queryparamsbin" style="cursor: pointer;">
                                    @ButtonIcon(ButtonTypes.remove)
                                </div>
                            </div>
                        </div>
                    </li>
                    lp2 += 1;
                    }
                </ul>

            <div class="w3-row">
                <div class="w3-button w3-green w3-margin simplisity_click" s-cmd="rocketpl_addremovecss" s-return="#toolsmodalcontainer">
                    @ButtonIcon(ButtonTypes.add)
                </div>
                <span><b>@ResourceKey("RocketTools.removecss")</b></span>
            </div>

            <ul id="removecssdata" class="w3-ul">
                @{
                    var lp3 = 1;
                }
                @foreach (var mp in info.GetList("removecss"))
                {
                    <li class="removecss w3-display-container w3-padding w3-border-0" style="list-style-type: none;">

                        <div class="w3-display-container w3-padding w3-card">
                            <div class="w3-row">
                                <div class="w3-col m10 w3-padding">
                                    <label>@ResourceKey("RocketTools.searchpattern")</label>
                                    @TextBox(mp, "genxml/textbox/removecss", " class='w3-input w3-border' ", "", false, lp3)
                                </div>
                                <div class="simplisity_removelistitem w3-display-topright" s-removelist=".removecss" s-recylebin="removecssbin" style="cursor: pointer;">
                                    @ButtonIcon(ButtonTypes.remove)
                                </div>

                            </div>
                        </div>
                    </li>
                    lp3 += 1;
                }
            </ul>

        </div>
</div>
