@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketMod;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "[Token:appthemeresx]")

@RenderTemplate("editiframe.cshtml", "/DesktopModules/DNNrocket/rocketmod", "config-w3", Model)

@{
    var articleData = (ArticleData)Model.List.First();
    var info = articleData.Info;
}

<br />
<br />

<a class="w3-button w3-blue" href="@ListUrl(Model)">@ResourceKey("DNNrocket.return")</a>

<div class="w3-row">

    [Token:List]

</div>


