@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")

@{
    var sInfo = (SimplisityInfo)Model.List.First();
}

<div class="w3-container">
    <div class="w3-margin">
        <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="systemapi_addparam" s-fields="selecteditemid:@sInfo.ItemID,theme:config-w3,template:Admin_SystemDetailIdxFields.cshtml,ajaxprovider:systemapi" s-return="#parameters">@ResourceKey("DNNrocket.cmdAddButton")</a>
        <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="parametersbin" s-return="#pluginparameters" s-removelist=".idxfielddata" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
        <a class="w3-button w3-orange w3-padding-8 simplisity_confirmclick" s-confirm="Rebuild Index?  (This may take some time)" s-cmd="systemapi_rebuildindex" s-fields="selecteditemid:@sInfo.ItemID,theme:config-w3,template:Admin_SystemDetailInterfaces.cshtml" s-return="#pluginparameters">Rebuild Index</a>
        <a class="w3-button w3-orange w3-padding-8 simplisity_confirmclick" s-confirm="Delete and Rebuild Index?  (This may take some time)" s-cmd="systemapi_deleterebuildindex" s-fields="selecteditemid:@sInfo.ItemID,theme:config-w3,template:Admin_SystemDetailInterfaces.cshtml" s-return="#pluginparameters">Delete and Rebuild Index</a>
    </div>

    <div class="w3-row w3-margin">

        <table id="pluginparameters" class="w3-table-all">

            <tr>
                <th class="w3-col m2">@ResourceKey("system.indexref")</th>
                <th class="w3-col m4">@ResourceKey("system.fieldxpath")</th>
                <th class="w3-col m3">@ResourceKey("system.dbtypecode")</th>
                <th class="w3-col m2">@ResourceKey("system.xreftypecode")</th>
                <th style="width:20px;"></th>
            </tr>

            @{
                var lp2 = 0;
            }
            @foreach (var i in sInfo.GetList("idxfielddata"))
            {
                lp2 += 1;

                var interfacekey = "";
                var l2 = sInfo.GetList("interfacedata");
                foreach (var g in l2)
                {
                    interfacekey += "," + g.GetXmlProperty("genxml/textbox/entitytypecode");
                }
                var xreftypecodes = ",CATXREF,CASCADE,PROPXREF,ATTRXREF";


                <tr class="idxfielddata">
                    <td class="w3-col m2">
                        @TextBox(i, "genxml/textbox/indexref", "class='w3-input w3-border' maxlength='250' ", "", false, lp2)
                    </td>
                    <td class="w3-col m4">
                        @TextBox(i, "genxml/textbox/xpath", "class='w3-input w3-border' maxlength='250' ", "", false, lp2)
                    </td>
                    <td class="w3-col m3">
                        @DropDownList(i, "genxml/dropdownlist/entitytypecode", interfacekey, interfacekey, "class='w3-input w3-border'", "", false, lp2)
                    </td>

                    <td class="w3-col m2">
                        @DropDownList(i, "genxml/dropdownlist/xreftypecode", xreftypecodes, xreftypecodes, "class='w3-input w3-border'", "", false, lp2)
                    </td>

                    <td class="w3-col" style="width:20px;">
                        <a href="javascript:void(0)" class="simplisity_removetablerow" s-removelist=".idxfielddata" s-recylebin="parametersbin"><i title="Remove" class="fa fa-minus-square fa-fw fa-lg"></i></a>
                    </td>
                </tr>

            }
        </table>

    </div>
</div>
