@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")

@{
    var sInfo = (SimplisityInfo)Model.List.First();
}



<div class="w3-container">
    <div class="w3-margin">
        <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="systemapi_addinterface" s-fields="selecteditemid:@sInfo.ItemID,theme:config-w3,template:Admin_SystemDetailInterfaces.cshtml" s-return="#Interface">@ResourceKey("DNNrocket.cmdAddButton")</a>
        <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-removelist=".interfacedata" s-recylebin="interfacesbin" s-return="#plugininterfaces" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
    </div>

    <ul id="plugininterfaces" class="w3-ul">

        @{
            var lp1 = 0;
        }
        @foreach (var i in sInfo.GetList("interfacedata"))
        {
            lp1 += 1;
        <li class="interfacedata w3-card w3-margin w3-display-container">
            <a href="javascript:void(0)" class="w3-display-topright"><i title="Remove" class="fa fa-arrows "></i></a>
            <a href="javascript:void(0)" class="w3-display-right simplisity_removelistitem" s-removelist=".interfacedata" s-recylebin="interfacesbin"><i title="Remove" class="fa fa-minus-square fa-fw fa-lg"></i></a>

            <div class="w3-row">
                <div class="w3-padding w3-quarter">
                    <label class="">@ResourceKey("system.interfacekey")</label>
                    @TextBox(i, "genxml/textbox/interfacekey", "class='w3-input w3-border' maxlength='250' ", "", false, lp1)
                </div>
                <div class="w3-padding w3-quarter">
                    <label class="">@ResourceKey("system.entitytypecode")</label>
                    @TextBox(i, "genxml/textbox/entitytypecode", "class='w3-input w3-border ' maxlength='250' ", "", false, lp1)
                </div>
                <div class="w3-padding w3-quarter">
                    <label class="">@ResourceKey("system.group")</label>
                    @{
                        var grouplist = "";
                        var l = sInfo.GetList("groupsdata");
                        foreach (var g in l)
                        {
                            grouplist += "," + g.GetXmlProperty("genxml/textbox/groupref");
                        }
                    }
                    @DropDownList(i, "genxml/dropdownlist/group", grouplist, grouplist, "class='w3-input w3-border'", "", false, lp1)
                </div>
                <div class="w3-padding w3-quarter">
                    <label class="">@ResourceKey("system.interfaceicon")</label>
                    @TextBox(i, "genxml/textbox/interfaceicon", "class='w3-input w3-border' maxlength='250' ", "", false, lp1)
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-padding w3-quarter">
                    <label class="">@ResourceKey("system.defaulttheme")</label>
                    @TextBox(i, "genxml/textbox/defaulttheme", "class='w3-input w3-border' maxlength='250' ", "", false, lp1)
                </div>
                <div class="w3-padding w3-quarter">
                    <label class="">@ResourceKey("system.defaulttemplate")</label>
                    @TextBox(i, "genxml/textbox/defaulttemplate", "class='w3-input w3-border' maxlength='250' ", "", false, lp1)
                </div>
                <div class="w3-padding w3-quarter">
                    <label class="">@ResourceKey("system.defaultcommand")</label>
                    @TextBox(i, "genxml/textbox/defaultcommand", "class='w3-input w3-border' maxlength='250' ", "", false, lp1)
                </div>
                <div class="w3-padding w3-quarter">
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-padding w3-quarter">
                    <label class="">@ResourceKey("system.namespaceclass")</label>
                    @TextBox(i, "genxml/textbox/namespaceclass", "class='w3-input w3-border' maxlength='250' ", "", false, lp1)
                </div>
                <div class="w3-padding w3-quarter">
                    <label class="">@ResourceKey("system.assembly")</label>
                    @TextBox(i, "genxml/textbox/assembly", "class='w3-input w3-border' maxlength='250' ", "", false, lp1)
                </div>
                <div class="w3-padding w3-quarter">
                    <label class="">@ResourceKey("system.providertype")</label>
                    @{
                        var providertyperef = "";
                        var providertypelist = "";
                        var l2 = sInfo.GetList("provtypesdata");
                        foreach (var g in l2)
                        {
                            providertyperef += "," + g.GetXmlProperty("genxml/textbox/provtypes");
                            providertypelist += "," + g.GetXmlProperty("genxml/textbox/provname");
                        }
                    }
                    @DropDownList(i, "genxml/dropdownlist/providertype", providertyperef, providertypelist, "class='w3-input w3-border'", "", false, lp1)
                </div>
                <div class="w3-padding w3-quarter">
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-padding w3-half">
                    <label class="">@ResourceKey("system.controlrelpath")</label>
                    @TextBox(i, "genxml/textbox/relpath", "class='w3-input w3-border' maxlength='350'")
                </div>
                <div class="w3-padding w3-quarter">
                </div>
                <div class="w3-padding w3-quarter">
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-padding w3-quarter">
                    <label class="">@ResourceKey("DNNrocket.Active")</label>
                    @CheckBox(i, "genxml/checkbox/active", "", "class='w3-input w3-border'", true, false, lp1)
                </div>
                <div class="w3-padding w3-quarter">
                </div>
                <div class="w3-padding w3-half">
                    @CheckBoxList(i, "genxml/checkboxlist/securityroles", ResourceKey("system.roles").ToString(), ResourceKey("system.roles").ToString(), "", false, false, lp1)
                </div>
            </div>

        </li>
        }
    </ul>

</div>

<script>
    $(document).ready(function () {
        $(':checkbox').attr('class', 'w3-check');

        $("#plugininterfaces").sortable();
        $("#plugininterfaces").disableSelection();       

    });
</script>
