@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using Simplisity;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")


<div class="w3-container">

    <span class="w3-section" id="buttonsrequired" style="display:none;">
        <button class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="systemapi_adminaddnew" s-fields="theme:config-w3,template:Admin_SystemDetail.cshtml,systemprovider:systemapi" s-return="#contentplaceholder">@ResourceKey("DNNrocket.cmdAddButton")</button>
    </span>

    <div class="w3-row-padding plugins">

        <div class="w3-card">
            <header class="w3-container w3-blue">
                <h5>@ResourceKey("Plugins.plugins")</h5>
            </header>

            <table class="w3-table w3-table-all">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>@ResourceKey("DNNrocket.Hidden")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (SimplisityInfo nbi in Model.List)
                    {
                        <tr>

                            <td class="text-nowrap" style="width:50px;">
                            </td>

                            <td class="text-nowrap">
                                @nbi.GetXmlPropertyInt("genxml/hidden/index").ToString()
                            </td>
                            <td class="text-nowrap">@nbi.GetXmlProperty("genxml/textbox/group")</td>
                            <td class="text-nowrap">@nbi.GetXmlProperty("genxml/textbox/systemname")</td>
                            <td class="text-nowrap">@nbi.GetXmlProperty("genxml/textbox/ctrlkey")</td>


                            <td class="centered">
                                @{
                                    var checkdisplay = "";
                                }
                                @if (nbi.GetXmlPropertyBool("genxml/checkbox/hidden"))
                                {
                                    checkdisplay = "-check";
                                }
                                <i class="fa fa@(checkdisplay)-circle fa-2x selectchangehidden" itemid="@nbi.ItemID"></i>
                            </td>
                            <td>
                                <a class="simplisity_click" s-cmd="systemapi_admin_getdetail" s-fields="selecteditemid:@nbi.ItemID,theme:config-w3,template:Admin_SystemDetail.cshtml,systemprovider:systemapi" s-return="#contentplaceholder" href="javascript:void(0)">@ResourceKey("DNNrocket.cmdEditIcon")</a>
                            </td><!-- editlink class added to show processing -->
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#menubuttons").panelButtons('#buttonsrequired');
    });

</script>
