@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")

@{
    var plugin = (SystemRecord)Model.List.First();
}

<div class="w3-container">
    <div class="w3-margin">
        <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="systemapi_addparam" s-fields="selecteditemid:@plugin.Info().ItemID,theme:config-w3,template:Admin_SystemDetailIdxFields.cshtml,ajaxprovider:systemapi" s-return="#parameters">@ResourceKey("DNNrocket.cmdAddButton")</a>
        <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="parametersbin" s-return="#pluginparameters" s-undoselector=".parameterdata" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
    </div>

    <div class="w3-row w3-margin">

        <table id="pluginparameters" class="w3-table-all">

            <tr>
                <th class="w3-half">@ResourceKey("system.fieldxpath")</th>
                <th class="w3-quarter">@ResourceKey("system.fieldcol")</th>
                <th style="width:20px;"></th>
            </tr>

            @{
                var lp2 = 0;
            }
            @foreach (var nbiModel in plugin.GetIndexFields())
            {
                lp2 += 1;

                <tr class="parameterdata">
                    <td class="w3-half">
                        @TextBox(nbiModel, "genxml/textbox/xpath_" + lp2, "class='w3-input w3-border' maxlength='250' ", "")
                    </td>
                    <td class="w3-quarter">
                        @DropDownList(nbiModel, "genxml/dropdownlist/fieldcol_" + lp2, ResourceKey("system.idxcols", "", "datavalue").ToString(), ResourceKey("system.idxcols", "", "data").ToString(), "class='w3-select w3-border'")
                    </td>
                    <td style="width:20px;">
                        <a href="javascript:void(0)" class="simplisity_removetablerow" s-recylebin="parametersbin"><i title="Remove" class="fa fa-minus-square fa-fw fa-lg"></i></a>
                    </td>
                </tr>

            }
        </table>

    </div>
</div>
 