@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;


@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")

@{
    var plugin = (SystemRecord)Model.List.First();
}

<div class="w3-container">
    <div class="w3-margin">
        <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="systemapi_addprovtype" s-fields="selecteditemid:@plugin.Info().ItemID,theme:config-w3,template:Admin_SystemDetailProvType.cshtml,ajaxprovider:systemapi" s-return="#provtypes">@ResourceKey("DNNrocket.cmdAddButton")</a>
        <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="provtypesbin" s-return="#pluginprovtypes" s-undoselector=".provtypesdata" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
    </div>

    <div class="w3-row w3-margin">

        <table id="pluginprovtypes" class="w3-table-all">

            <tr>
                <th class="w3-quarter">@ResourceKey("system.provtypes")</th>
                <th class="w3-quarter">@ResourceKey("system.name")</th>
                <th class="w3-quarter"></th>
                <th style="width:20px;"></th>
            </tr>

            @{
                var lp3 = 0;
            }
            @foreach (var sRecord in plugin.GetProvTypes())
            {
                var sInfo = new SimplisityInfo(sRecord);
                lp3 += 1;

                <tr class="provtypesdata">
                    <td class="w3-quarter">
                        @TextBox(sInfo, "genxml/textbox/provtypes_" + lp3, "class='w3-input w3-border' maxlength='250' ", "")
                    </td>
                    <td class="w3-quarter">
                        @TextBox(sInfo, "genxml/textbox/provname_" + lp3, "class='w3-input w3-border' maxlength='250' ", "")
                    </td>
                    <td class="w3-quarter"></td>
                    <td style="width:20px;">
                        <a href="javascript:void(0)" class="simplisity_removetablerow" s-recylebin="provtypesbin"><i title="Remove" class="fa fa-minus-square fa-fw fa-lg"></i></a>
                    </td>
                </tr>

            }
        </table>

    </div>
</div>
