@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")

@{
    var plugin = (SystemRecord)Model.List.First();
}

<div class="w3-container">
    <div class="w3-margin">
        <a class="w3-button w3-teal w3-padding-8 simplisity_click" s-cmd="systemapi_addgroup" s-fields="selecteditemid:@plugin.Info().ItemID,theme:config-w3,template:Admin_SystemDetailGroups.cshtml,ajaxprovider:systemapi" s-return="#Groups">@ResourceKey("DNNrocket.cmdAddButton")</a>
        <a class="w3-button w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="groupsbin" s-return="#plugingroups" s-undoselector=".groupsdata" style="display: none;">@ResourceKey("DNNrocket.cmdUndoButton")</a>
    </div>

    <div class="w3-row w3-margin">

        <table id="plugingroups" class="w3-table-all">

            <tr>
                <th class="w3-quarter">@ResourceKey("system.groupref")</th>
                <th class="w3-quarter"></th>
                <th class="w3-quarter"></th>
                <th style="width:20px;"></th>
            </tr>

            @{
                var lp3 = 0;
            }
            @foreach (var nbiModel in plugin.GetGroups())
            {
                lp3 += 1;

                <tr class="groupsdata">
                    <td class="w3-quarter">
                        @TextBox(nbiModel, "genxml/textbox/groupref_" + lp3, "class='w3-input w3-border' maxlength='250' ", "")
                    </td>
                    <td class="w3-quarter">
                    </td>
                    <td class="w3-quarter"></td>
                    <td style="width:20px;">
                        <a href="javascript:void(0)" class="simplisity_removetablerow" s-recylebin="groupsbin"><i title="Remove" class="fa fa-minus-square fa-fw fa-lg"></i></a>
                    </td>
                </tr>

            }
        </table>

    </div>
</div>
