@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using Simplisity;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")

@{
    var info = (SimplisityInfo)Model.List.First();
}


<!-- Login form -->
<div id="loginform" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

        <div class="w3-center w3-padding">
            <br>
            <span onclick="reloadpage()" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="@ResourceKey("login.CloseModal")">X</span>
            <img src="img_avatar4.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
        </div>

        <div class="w3-section w3-padding logindata simplisity_panel">
            <label><b>@ResourceKey("login.Username")</b></label>
            <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="@ResourceKey("login.EnterUsername")" name="usrname" id="username" required>

            <label><b>@ResourceKey("login.Password")</b></label>
            <input class="w3-input w3-border" type="password" placeholder="@ResourceKey("login.enterpassword")" name="psw" id="password" required>

            <button class="w3-button w3-block w3-green w3-section w3-padding simplisity_click" s-post=".logindata" s-cmd="systemapi_login" s-return="#contentplaceholder">@ResourceKey("login.Login")</button>

            @if (info.GetXmlProperty("genxml/loginstatus") == "fail")
            {
                <div class="w3-panel w3-pale-red w3-padding-16">@ResourceKey("login.incorrectpass")</div>
            }

            <input class="w3-check w3-margin-top" type="checkbox" checked="checked" id="rememberme"><span>@ResourceKey("login.Rememberme")</span>
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="reloadpage()" type="button" class="w3-button w3-red">@ResourceKey("login.Cancel")</button>
            <span class="w3-right w3-padding w3-hide-small"><a href="#">@ResourceKey("login.Forgotpassword")</a></span>
        </div>

    </div>
</div>


@if (info.GetXmlProperty("genxml/loginstatus") == "ok")
{
    <script type="text/javascript">
        $(document).ready(function () {
            location.reload();
        });
    </script>
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById('loginform').style.display = 'block';
        });
    </script>
}


<script type="text/javascript">


    function reloadpage() {
        location.reload();
    }

</script>
