@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using DotNetNuke.Entities.Users;
@using DotNetNuke.Services.Localization;
@using DotNetNuke.Entities.Portals;
@using DNNrocket.BusinessDirectory;
@using Simplisity;
@using DNNrocketAPI.Componants;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")

@{ 
    var info = Model.HeaderData;
    var rowcount = info.GetXmlPropertyInt("genxml/hidden/rowcount");
    var page = info.GetXmlPropertyInt("genxml/hidden/page");
    var pagesize = info.GetXmlPropertyInt("genxml/hidden/pagesize");
    var lastpage = System.Convert.ToInt32(rowcount / pagesize);
    if (rowcount % pagesize > 0)
    {
        lastpage += 1;
    }

    var pagechapter = 5;

    var r = (page - 1) / pagechapter;
    var BeginPage = pagechapter * r + 1;
    var EndPage = Math.Min(pagechapter * (r + 1), lastpage);

}

<div class="w3-center w3-margin">
    <div class="w3-bar">
        @if (BeginPage != 1)
        {
            <a class="w3-button w3-hover-theme simplisity_pageclick" s-page="1" href="#">|❮</a>
            if (page >= 6)
            {
                <a class="w3-button w3-hover-theme simplisity_pageclick" s-page="@(BeginPage - 1)" href="#">..</a>
            }
        }

        @for (int i = BeginPage; i < (EndPage + 1); i++)
        {
            var selected = "";
            if (i == page)
            {
                selected = "w3-theme-l3";
            }
            if (i <= lastpage)
            {
                <a href='#' class='w3-button w3-hover-theme @selected simplisity_pageclick' s-page='@i' >@i</a>
            }
        }

        @if (page < lastpage)
        {
            if (EndPage != lastpage)
            {
                <a class="w3-button w3-hover-theme simplisity_pageclick" s-page="@(EndPage + 1)" href="#">..</a>
            }
            <a class="w3-button w3-hover-theme simplisity_pageclick" s-page="@lastpage" href="#">❯|</a>
        }

        </div>
</div>