@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using Simplisity;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/API/App_LocalResources/")

<div id="deeplmodal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <div style="height: 32px;">
                <span onclick="resetfields();document.getElementById('deeplmodal').style.display = 'none';" class="w3-button w3-display-topright">&times;</span>
            </div>
            <div id="deeplsourcetext">
                <div class="w3-section">
                    @TextArea(new Simplisity.SimplisityInfo(), "genxml/textbox/deeplquestion", " class='w3-input w3-border' rows='12' ")
                </div>
                <div class="w3-section">
                    <span class="w3-padding w3-button w3-theme-action simplisity_click" s-cmd="@Model.GetSetting("deeplcmd")" s-after="hidesourcetext" s-post="#deeplmodal" s-return="#deeplreturn" s-fields='{"moduleref":"@Model.SessionParamsData.ModuleRef","moduleid":"@Model.SessionParamsData.ModuleId","tabid":"@Model.SessionParamsData.TabId"}'>
                        <span>
                            @ButtonText(ButtonTypes.translate)
                        </span>
                    </span>
                </div>
            </div>
            <div id="deeplreturn" class="w3-section w3-margin-bottom"></div>
        </div>
    </div>
</div>

<script>
    function stripHTML(str) {
        const parsedHTML = new DOMParser().parseFromString(str, "text/html");
        const text = parsedHTML.body.textContent;
        if (/(<([^>]+)>)/gi.test(text)) {
            return stripHTML(text);
        }
        return text || "";
    }
    function hidesourcetext() {
        $('#deeplsourcetext').hide();
    }
    function resetfields() {
        $('#deeplreturn').html('');
        $('#deeploutput').val('');
        $('#deeploutput').hide();
        $('#deeplquestion').val('');
        $('#deeplsourcetext').show();
    }
</script>
