@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using DNNrocketAPI;
@using DNNrocketAPI.Components;
@using System.Linq


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/API/App_LocalResources/")


@{
    var systemGlobalData = new SystemGlobalData();
    var moduleParams = (ModuleParams)Model.List.First();
}

<div id="createnewlicense" class="w3-modal">
    <div class="w3-modal-content w3-card w3-animate-zoom">

        <header class="w3-container  w3-theme">
            <span onclick="document.getElementById('createnewlicense').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h2>@ResourceKey("DNNrocket.license")</h2>
        </header>

        <div class="w3-row w3-padding">
            <h2>
                @DNNrocketUtils.GetDefaultWebsiteDomainUrl()
            </h2>
        </div>


        <div class="w3-padding">
            <i><b>@ResourceKey("DNNrocket.licenseredirect", "", "Help")</b></i>
        </div>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <div class="">
                <span class="w3-button w3-red " onclick="document.getElementById('createnewlicense').style.display='none'">@ResourceKey("DNNrocket.cancel")</span>
                <div onclick="doRedirection();" class="w3-right w3-button w3-green redirectbutton">@ResourceKey("DNNrocket.getlicense")</div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
    });
</script>
