@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using Simplisity;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/API/App_LocalResources/")

@{
    var info = (SimplisityInfo)Model.List.First();
}


<!-- Login form -->
<div id="loginform" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:400px">

        <div class="w3-center w3-padding">
            <br>
            <span onclick="reloadpage()" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="@ResourceKey("login.CloseModal")">X</span>
            <img src="/DesktopModules/DNNrocket/api/images/img_avatar4.png" alt="Avatar" style="width:20%" class="w3-circle w3-margin-top">
        </div>

        <div class="w3-section w3-padding logindata simplisity_panel">
            <div class="logininput">
                <label><b>@ResourceKey("login.Username")</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="@ResourceKey("login.EnterUsername")" name="usrname" id="username" required>

                <label><b>@ResourceKey("login.Password")</b></label>
                <input class="w3-input w3-border" type="password" placeholder="@ResourceKey("login.enterpassword")" name="psw" id="password" required>
                <br/>

                <span class="w3-button w3-block w3-green w3-section w3-padding simplisity_click" s-fields="" s-track="false" s-post=".logindata" s-cmd="login_login" s-before="hidelogin" s-after="reloadpage">@ResourceKey("login.Login")</span>

                @if (info.GetXmlProperty("genxml/loginstatus") == "fail")
                {
                    <div class="w3-panel w3-pale-red w3-padding-16">@ResourceKey("login.incorrectpass")</div>
                }
                @if (info.GetXmlProperty("genxml/message") != "")
                {
                    <div class="w3-panel w3-orange w3-padding-16">@info.GetXmlProperty("genxml/message")</div>
                }
                @if (info.GetXmlProperty("genxml/securityaccess") != "")
                {
                    <div class="w3-panel w3-pale-red w3-padding-16">@info.GetXmlProperty("genxml/securityaccess")</div>
                }                

                <input class="w3-check w3-margin-top" type="checkbox" checked="checked" id="rememberme"><span>@ResourceKey("login.Rememberme")</span>

            </div>

            <div class="resetpassinput" style="display:none;">

                <label><b>@ResourceKey("login.emailaddress")</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="@ResourceKey("login.enteremailaddress")" id="emailaddress" required>

                <span class="w3-button w3-block w3-teal w3-section w3-padding simplisity_click"  s-track="false" s-post=".logindata" s-cmd="login_sendreset" s-after="reloadpage">@ResourceKey("login.sendreset")</span>

            </div>



        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <div class="logininput">
                <span onclick="reloadpage()" type="button" class="w3-button w3-red">@ResourceKey("login.Cancel")</span>

                <!--
    <span type="button" class="w3-button w3-pale-yellow w3-right w3-padding w3-hide-small resetpassword">@ResourceKey("login.Forgotpassword")</span>
    -->
            </div>

            <div class="resetpassinput" style="display:none;">
                <span type="button" class="w3-button w3-red cancelresetpassword">@ResourceKey("login.Cancel")</span>
            </div>


        </div>

    </div>
</div>


@if (info.GetXmlProperty("genxml/loginstatus") == "ok")
{
    <script type="text/javascript">
        $(document).ready(function () {
            location.reload();
        });
    </script>
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById('loginform').style.display = 'block';

            $('.resetpassword').unbind('click');
            $('.resetpassword').click(function() {
                $('.logininput').hide();
                $('.resetpassinput').show();
            });

            $('.cancelresetpassword').unbind('click');
            $('.cancelresetpassword').click(function() {
                $('.logininput').show();
                $('.resetpassinput').hide();
            });

        });
    </script>
}


<script type="text/javascript">


    function reloadpage() {
        location.reload();
    }

    function hidelogin() {
        $('loginform').hide();
    }    

</script>
