@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>

@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;



@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/" + Model.GetSetting("projectfolder") + "/App_LocalResources/")


@{
    var userStorage = new UserStorage();
    var sidemenu = (SideMenu)Model.List.First();
    var systemData = new SystemData(sidemenu.SystemKey);


    var menuOut = "";
    // get action interfaces. (no group)
    var lp = 1;
    var interfacelist = sidemenu.GetInterfaces("");
    if (interfacelist.Count() > 0)
    {
        foreach (var i in interfacelist)
        {
            if (i.GetXmlPropertyBool("genxml/checkbox/onmenu"))
            {
                var defaulttheme = i.GetXmlProperty("genxml/textbox/defaulttheme");
                var defaulttemplate = i.GetXmlProperty("genxml/textbox/defaulttemplate");
                var defaultcommand = i.GetXmlProperty("genxml/textbox/defaultcommand");
                var interfacekey = i.GetXmlProperty("genxml/textbox/interfacekey");
                var interfaceicon = i.GetXmlProperty("genxml/textbox/interfaceicon");
                var interfaceName = ResourceKey(Model.GetSetting("resxfile") + "." + interfacekey).ToString();
                if (interfaceName == "")
                {
                    interfaceName = systemData.GetSetting(interfacekey + "MenuName");
                    if (interfaceName == "")
                    {
                        interfaceName = interfacekey;
                    }
                }
                menuOut += "<div class='w3-bar-item w3-button w3-padding menubaritem menubaritem" + lp + "  simplisity_click' s-before='sidebarloader" + lp + "' s-after='sidemenuchange' s-cmd='" + defaultcommand + "' s-fields='{\"menuindex\":\"" + lp + "\",\"theme\":\"" + defaulttheme + "\",\"template\":\"" + defaulttemplate + "\",\"systemkey\":\"" + sidemenu.SystemKey + "\",\"interfacekey\":\"" + interfacekey + "\",\"track\":\"true\"}' ><i class='" + interfaceicon + "' style='width:20px;'></i>&nbsp;" + interfaceName + "</div>";
                menuOut += "<script type='text/javascript'>function sidebarloader" + lp + "() {simplisity_setCookieValue('" + @sidemenu.SystemKey + "-menuindex','" + lp + "');$('#sidebar_loader').show();}</script>";
            }
            lp += 1;
        }
    }


    // get sub group interfaces
    lp = 1;
    foreach (SimplisityRecord g in sidemenu.GetGroups())
    {
        var groupref = g.GetXmlProperty("genxml/textbox/groupref");
        var groupicon = g.GetXmlProperty("genxml/textbox/groupicon");
        interfacelist = sidemenu.GetInterfaces(groupref);
        if (interfacelist.Count() > 0)
        {
            menuOut += "<div class='w3-bar-item w3-button w3-padding menuaccordian' actionid='" + groupref + "'><i class='w3-left " + groupicon + "' style='width:30px;'></i>" + ResourceKey("RocketMod." + groupref) + "&nbsp;<i class='fas fa-caret-down'></i></div>";
            menuOut += "<div id='" + groupref + "' class='w3-hide'>";
            foreach (var i in interfacelist)
            {
                var defaulttheme = i.GetXmlProperty("genxml/textbox/defaulttheme");
                var defaulttemplate = i.GetXmlProperty("genxml/textbox/defaulttemplate");
                var defaultcommand = i.GetXmlProperty("genxml/textbox/defaultcommand");
                var interfacekey = i.GetXmlProperty("genxml/textbox/interfacekey");
                var interfaceicon = i.GetXmlProperty("genxml/textbox/interfaceicon");
                var interfaceName = ResourceKey(Model.GetSetting("resxfile") + "." + interfacekey).ToString();
                if (interfaceName == "")
                {
                    interfaceName = systemData.GetSetting(interfacekey + "MenuName");
                    if (interfaceName == "")
                    {
                        interfaceName = interfacekey;
                    }
                }
                menuOut += "<div class='w3-bar-item w3-button w3-padding menubaritem menubaritem" + lp + " simplisity_click ' s-before='sidebarloader" + lp + "' s-after='sidemenuchange'  s-cmd='" + defaultcommand + "' s-fields='{\"menuindex\":\"" + lp + "\",\"theme\":\"" + defaulttheme + "\",\"template\":\"" + defaulttemplate + "\",\"systemkey\":\"" + sidemenu.SystemKey + "\",\"interfacekey\":\"" + interfacekey + "\",\"track\":\"true\"}' ><i class='w3-center " + interfaceicon + "' style='width:40px;'></i>" + interfaceName + "</div>";
                menuOut += "<script type='text/javascript'>function sidebarloader" + lp + "() {simplisity_setCookieValue('" + @sidemenu.SystemKey + "-menuindex','" + lp + "');$('#sidebar_loader').show();}</script>";
                lp += 1;
            }
            menuOut += "</div>";
        }
    }
}

@{
    menuOut += "<div class='w3-border-bottom w3-bar-item'>&nbsp;</div>";
}

@if (DNNrocketUtils.IsSuperUser())
{
    menuOut += "<a class='w3-bar-item w3-button w3-padding w3-theme ' href='/desktopmodules/dnnrocket/adminsystem.html' target='_blank'><i title='System' class='fas fa-rocket' style='width:20px;'></i>&nbsp;System</a>";
}
@if (Model.GetSettingBool("menu-appthemes"))
{
    menuOut += "<a class='w3-bar-item w3-button w3-padding w3-theme ' href='/Desktopmodules/dnnrocket/AppThemes/admin.html' target='_blank'><i title='System' class='fas fa-file-code' style='width:20px;'></i>&nbsp;AppThemes</a>";
}
@if (Model.GetSettingBool("menu-backbutton"))
{
    menuOut += "<div s-after='returnclick' s-cmd='admin_return' s-return='.menureturn' class=' w3-bar-item w3-button w3-theme w3-hover-theme simplisity_click'>" + ButtonText(ButtonTypes.back) + "</div>";
}
@if (Model.GetSettingBool("menu-signoutbutton"))
{
    menuOut += "<div class='w3-bar-item w3-button w3-theme w3-hover-theme  simplisity_click' s-cmd='login_signout'><i class='fas fa-sign-out-alt'></i>&nbsp;" + ResourceKey("DNNrocket.signout") + "</div>";
}
@{
    menuOut += "<div class='w3-border-top w3-bar-item'>&nbsp;</div>";
}

<div class="menureturn" style="display:none;"></div>

<div class="w3-bar-block w3-theme">

    @RenderTemplate("LanguageSelect.cshtml", "\\DesktopModules\\DNNrocket\\Country", "config-w3", Model, "1.0", true)

    <div class="w3-overlay w3-white " style="display:none;" id="sidebar_loader"><i class="fa fa-spinner fa-spin w3-display-middle " style="font-size:48px"></i></div>

    <div class="w3-margin-top w3-margin-bottom">
        @HtmlOf(menuOut)
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {

        // turn off the reload flag
        simplisity_setParamField("reload", false)


        $('.menuaccordian').unbind('click');
        $('.menuaccordian').click(function () {
            var actionid = $(this).attr("actionid")
            if ($('#' + actionid).hasClass('w3-show')) {
                $('#' + actionid).addClass('w3-hide');
                $('#' + actionid).removeClass('w3-show');
                $(this).removeClass('w3-theme-d3');
            }
            else {
                $('#' + actionid).addClass('w3-show');
                $('#' + actionid).removeClass('w3-hide');
                $(this).addClass('w3-theme-d3');
            }
        });

        $(window).resize(function () {
            if ($('#simplisity_fullloader').is(':visible')) {
                $('#mySidebar').width($('#mySidebar').parent().width());
            }
        });

        sidemenuchange();

        if ($('#menulanguageselectdiv').attr('editmode') === '1') {
            $('.langaugeselectsingleflag').appendTo('#menulanguageselectdiv');
            $('.langaugeselectsingleflag').show();
        }

    });


    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
        }
        $('#mySidebar').width($('#mySidebar').parent().width());
        $('#simplisity_fullloader').show();
    }

    // Close the sidebar with the close button
    function w3_close() {
        if ($('#simplisity_fullloader').is(':visible')) {
            mySidebar.style.display = 'none';
            $('#mySidebar').width(270)
            $('#simplisity_fullloader').hide();
        }
    }

    function sidemenuchange() {
        var menuindex = simplisity_getCookieValue('@(sidemenu.SystemKey)-menuindex');
        if (menuindex !== '') {
            $('.menubaritem').removeClass('w3-theme-d5');
            $('.menubaritem' + menuindex).addClass('w3-theme-d5');
        }
        w3_close();
        $('#sidebar_loader').hide();
    }

    function returnclick() {
        simplisity_setCookieValue('@(sidemenu.SystemKey)-menuindex',''); // so we do not get wrong menu on admin entry.
        $('#simplisity_loader').show();
        $('.simplisity_panel').hide();
        var returnurl = sessionStorage.RocketModReturn;
        if (typeof returnurl === 'undefined' || returnurl === '') {
            window.history.back();
        }
        else {
            window.location = returnurl;
        }
    }

    function languageChange() {
        $('.langchangesave').trigger("click");
    }

</script>




