@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using Simplisity;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")


<div class="w3-container">

    <span class="w3-section simplisity_buttons" id="buttonsrequired" style="display:none;">
        <i style="display:none;" class="fa fa-refresh simplisity_langchange simplisity_click" s-cmd="testlist_getlist" s-fields="theme:config-w3,template:TestList.cshtml,systemprovider:businessdirectory,interfacekey:testlist"></i>
        <button class="w3-button w3-green w3-padding-8 simplisity_click" s-cmd="testlist_add" s-fields="theme:config-w3,template:TestListForm.cshtml,systemprovider:businessdirectory,interfacekey:testlist">@ResourceKey("DNNrocket.cmdAddButton")</button>
        @if (Model.List.Count() > 10)
        {
            <button class="w3-button w3-orange w3-padding-8 simplisity_confirmclick" s-confirm="Delete test rows?" s-cmd="testlist_deleterows" s-fields="selecteditemid:,theme:config-w3,template:TestList.cshtml,systemprovider:businessdirectory,interfacekey:testlist">Delete Test Rows</button>
        }
    </span>

    <div class="w3-row-padding plugins">

        <div class="w3-card">
            <header class="w3-container w3-theme">
                <h5>@ResourceKey("system.systems")</h5>
            </header>

            <table class="w3-table w3-table-all">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (SimplisityInfo nbi in Model.List)
                    {
                        <tr>
                            <td class="text-nowrap">@nbi.GetXmlProperty("genxml/textbox/txtinput")</td>
                            <td class="text-nowrap">@nbi.GetXmlProperty("genxml/lang/genxml/textbox/txtinputl")</td>
                            <td>
                                <a class="simplisity_click" s-track="true" s-cmd="testlist_getdetail" s-fields="selecteditemid:@nbi.ItemID,theme:config-w3,template:TestListForm.cshtml,systemprovider:businessdirectory,interfacekey:testlist" s-return="#simplisity_startpanel" href="javascript:void(0)">@ResourceKey("DNNrocket.cmdEditIcon")</a>
                            </td><!-- editlink class added to show processing -->
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        <div class="w3-center w3-margin">
            <div class="w3-bar">
                @SimplisityPaging(new SimplisityInfo())
            </div>

        </div>

    </div>
 </div>
