@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using RocketMod;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketMod/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/1.0/resx/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")

@{
    var i = new SimplisityInfo();
    var articleData = (ArticleData)Model.List.First();
    var headerData = Model.HeaderData;
    if (articleData.Info != null)
    {
        i = articleData.Info;
    }
    var animate = "w3-animate-right";
    if (Model.GetSettingBool("stopanimate"))
    {
        animate = "";
    }
}


<div class="w3-row w3-padding">
    <div class="w3-col m2 w3-button w3-green langchangesave simplisity_click" s-cmd="edit_savearticle" s-fields='{"selecteditemid":"@i.ItemID"}' s-post="#datasection" s-list=".imagelist">@ResourceKey("DNNrocket.cmdSaveButton")</div>
    @ButtonGap()
    <div class="w3-col m2 w3-button w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.cmdDelete","","confirm")" s-cmd="edit_deletearticle" s-fields='{"selecteditemid":"@i.ItemID"}'>@ResourceKey("DNNrocket.cmdDeleteButton")</div>
    @ButtonGap()
    <div class="w3-col m2 w3-button w3-khaki simplisity_click" s-cmd="edit_editarticlelist" s-track="true">@ResourceKey("DNNrocket.cmdReturnButton")</div>

    @if (Model.GetSettingBool("saved"))
    {
        <i class='fas fa-save w3-right simplisity_fadeout' style="font-size:24px"></i>
    }
</div>


<div id="datasection">

    <!-- The Detail-->
    <div id="detailDisplay" class="w3-container">
        <div class="" style="">

            <div class="w3-row">
                <div class="w3-col m8 w3-padding">
                    <label class="">@ResourceKey("HtmlContent.title")</label>&nbsp;@EditFlag()
                    @TextBox(i, "genxml/lang/genxml/textbox/header", " class='w3-input w3-border' class='w3-check' autocomplete='off'", "", true)
                </div>
                <div class="w3-col m2  w3-padding">
                    <label class="">@ResourceKey("HtmlContent.style")</label>
                    @DropDownList(i, "genxml/select/headerstyle", "H1,H2,H3,H4", "H1,H2,H3,H4", " class='w3-input w3-border' class='w3-check' style='width:100px;' ", "H1", false)
                </div>
                <div class="w3-col m2 w3-padding w3-right">
                    <label class="">@ResourceKey("HtmlContent.noheader")</label>
                    @CheckBox(i, "genxml/checkbox/noheader", "", "", false, false)
                    &nbsp;
                    <label class="">@ResourceKey("HtmlContent.hide")</label>
                    @CheckBox(i, "genxml/checkbox/hide", "", "", false, false)
                </div>
            </div>

            <div class="w3-container ">

                <div class="w3-row w3-margin">
                    <div class="">
                        @RadioButtonList(i, "genxml/hidden/layout", "0,1,2,3,4,5,6,7,8", "<img src='/DesktopModules/DNNrocket/AppThemes/Themes/" + Model.GetSetting("AppTheme") + "/" + Model.GetSetting("AppThemeVersion") + "/img/Newspaper0.png' style='width:24px;' />,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/" + Model.GetSetting("AppTheme") + "/" + Model.GetSetting("AppThemeVersion") + "/img/Newspaper1.png' style='width:24px;'/>,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/" + Model.GetSetting("AppTheme") + "/" + Model.GetSetting("AppThemeVersion") + "/img/Newspaper2.png' style='width:24px;'/>,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/" + Model.GetSetting("AppTheme") + "/" + Model.GetSetting("AppThemeVersion") + "/img/Newspaper3.png' style='width:24px;'/>,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/" + Model.GetSetting("AppTheme") + "/" + Model.GetSetting("AppThemeVersion") + "/img/Newspaper4.png' style='width:24px;'/>,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/" + Model.GetSetting("AppTheme") + "/" + Model.GetSetting("AppThemeVersion") + "/img/Newspaper5.png' style='width:24px;'/>,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/" + Model.GetSetting("AppTheme") + "/" + Model.GetSetting("AppThemeVersion") + "/img/Newspaper6.png' style='width:24px;'/>,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/" + Model.GetSetting("AppTheme") + "/" + Model.GetSetting("AppThemeVersion") + "/img/Newspaper7.png' style='width:24px;'/>,<img src='/DesktopModules/DNNrocket/AppThemes/Themes/" + Model.GetSetting("AppTheme") + "/" + Model.GetSetting("AppThemeVersion") + "/img/Newspaper8.png' style='width:24px;'/>", "class=''", "0", "", false)
                    </div>
                </div>

                <div class="w3-row w3-padding">
                    @CKEditor(i, "genxml/lang/genxml/textbox/richtext", "", "", true)
                </div>


                @RenderTemplate("editimages.cshtml", "/DesktopModules/DNNrocket/RocketMod/", "config-w3", Model, "1.0", true)

                <div class="w3-row">
                    <div class="w3-container ">
                        <div class="w3-col m8">
                            <label class="">@ResourceKey("HtmlContent.document")</label>&nbsp;@EditFlag()
                            @DocumentEdit(i, "document1", " class='w3-input w3-border' ", true)
                        </div>
                        <div class="w3-col m2 w3-padding">
                            <label class="">@ResourceKey("HtmlContent.justify")</label>
                            @RadioButtonList(i, "genxml/hidden/layoutdocument1", "0,1,2", "<i class='fas fa-align-left'></i>,<i class='fas fa-align-center'></i>,<i class='fas fa-align-right'></i>", "class=''", "0", "", false)
                        </div>
                    </div>
                </div>


                <div class="w3-row">
                    <div class="w3-container">
                        <div class="w3-col m8">
                            <label class="">@ResourceKey("HtmlContent.internallink")</label>
                            @TabSelectListOnTabId(i, "genxml/select/internallink1", " class='w3-input w3-border' ", true, false)
                        </div>
                        <div class="w3-col m2 w3-padding">
                            <label class="">@ResourceKey("HtmlContent.justify")</label>
                            @RadioButtonList(i, "genxml/hidden/layoutinternallink1", "0,1,2", "<i class='fas fa-align-left'></i>,<i class='fas fa-align-center'></i>,<i class='fas fa-align-right'></i>", "class=''", "0", "", false)
                        </div>
                        <div class="w3-col m2 w3-padding">
                            <label class="">@ResourceKey("HtmlContent.blank")</label><br />
                            @CheckBox(i, "genxml/checkbox/blankinternallink1", "", "", false, false)
                        </div>
                    </div>
                </div>

                <div class="w3-row">
                    <div class="w3-container">
                        <div class="w3-col m8">
                            <label class="">@ResourceKey("HtmlContent.externallink")</label>
                            @TextBox(i, "genxml/textbox/externallink1", " class='w3-input w3-border' autocomplete='off'", "", true)
                        </div>
                        <div class="w3-col m2 w3-padding">
                            <label class="">@ResourceKey("HtmlContent.justify")</label>
                            @RadioButtonList(i, "genxml/hidden/layoutexternallink1", "0,1,2", "<i class='fas fa-align-left'></i>,<i class='fas fa-align-center'></i>,<i class='fas fa-align-right'></i>", "class=''", "0", "", false)
                        </div>
                        <div class="w3-col m2 w3-padding">
                            <label class="">@ResourceKey("HtmlContent.blank")</label><br />
                            @CheckBox(i, "genxml/checkbox/blankexternallink1", "", "", false, false)
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="w3-row">
            @RenderRocketModFields(i.PortalId, Model.ModuleId, i, 1);
        </div>

    </div>

</div>

<div id="dnnrocket_imageselectwrapper">
    @RenderImageSelect(Model, 100, true, false, articleData.ImageFolder)
</div>

<div id="dnnrocket_documentselectwrapper">
    @RenderDocumentSelect(Model, true, false, articleData.DocumentFolder)
</div>


<script>
    $(document).ready(function () {

    });

    function languageChange() {
        $('.langchangesave').trigger("click");
    }

</script>


