@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketSettings;
@using RocketMod;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketMod/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/1.0/resx/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")

@{
    var i = new SimplisityInfo();
    var articleData = (ArticleData)Model.List.First();
    var headerData = Model.HeaderData;
    if (articleData.Info != null)
    {
        i = articleData.Info;
    }
    var animate = "w3-animate-right";
    if (Model.GetSettingBool("stopanimate"))
    {
        animate = "";
    }
}


<div class="w3-row w3-padding " >
    <div class="w3-col m2 w3-button w3-green langchangesave simplisity_click" s-cmd="edit_savearticle" s-fields='{"selecteditemid":"@i.ItemID"}' s-post="#datasection" s-list=".imagelist,.documentlist,.linklist">@ResourceKey("DNNrocket.cmdSaveButton")</div>
    @ButtonGap()
    <div class="w3-col m2 w3-button w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.cmdDelete","","confirm")" s-cmd="edit_deletearticle" s-fields='{"selecteditemid":"@i.ItemID"}'>@ResourceKey("DNNrocket.cmdDeleteButton")</div>
    @ButtonGap()
    <div class="w3-col m2 w3-button w3-khaki simplisity_click" s-cmd="edit_editarticlelist" s-track="true">@ResourceKey("DNNrocket.cmdReturnButton")</div>

    @if (Model.GetSettingBool("saved"))
    {
        <i class='fas fa-save w3-right simplisity_fadeout' style="font-size:24px"></i>
    }
</div>


<div id="datasection" class="">
    <!-- The Detail-->
    <div id="detailDisplay" class="w3-container" >
                @RenderRocketModFields(Model, i.PortalId, Model.ModuleId, i, 1)
    </div>
</div>
<div>
    <i>ID: </i> @i.ItemID 
</div>
<script>
    $(document).ready(function () {

    });

    function languageChange() {
        $('.langchangesave').trigger("click");
    }

</script>


