@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")

@{
    var info = (SimplisityInfo)Model.List.First();
}

<div id="configdata_@(Model.ModuleId)" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container w3-theme w3-bottombar w3-border-theme">
            <span onclick="canelconfig@(Model.ModuleId)('#configdata_@(Model.ModuleId)')" class="w3-button w3-display-topright">&times;</span>
            <h2>@ResourceKey("DNNrocket.config")</h2>
        </header>
        <div class="w3-container">

            <div id="detailsection" class="w3-container w3-margin tabsection" style="display:block;">

                <div class="w3-row">
                    <div class="w3-half w3-padding">
                        <div>
                            <label>@ResourceKey("Config.system")</label>
                            @TextBox(info, "genxml/textbox/systemprovider", "class='w3-input w3-border' maxlength='50' autocomplete='off'", "")
                        </div>
                        <div class="">
                            <label>@ResourceKey("Config.interfacekey")</label>
                            @TextBox(info, "genxml/textbox/interfacekey", "maxlength='250' autocomplete='off' class='w3-input w3-border'", "")
                        </div>
                        <div class="">
                            <label>@ResourceKey("Config.apptheme")</label>
                            @TextBox(info, "genxml/textbox/apptheme", "maxlength='250' autocomplete='off' class='w3-input w3-border'", "")
                        </div>
                    </div>
                </div>

            </div>

            <span class="w3-button w3-green w3-padding-8 simplisity_click w3-margin" s-post="#configdata_@(Model.ModuleId)" s-cmd="dnnrocketconfig_saveconfig" s-return="#dnnrocketconfig_@(Model.ModuleId)" s-fields="systemprovider:dnnrocket,moduleid:@(Model.ModuleId),theme:config-w3,template:view.cshtml,interfacekey:dnnrocketmodule">@ResourceKey("DNNrocket.cmdSaveButton")</span>


        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
            $('#configdata_@(Model.ModuleId)').show();
    });

    function canelconfig@(Model.ModuleId)(modelselector) {
        alert('cancel');
        removeiframepopup();
        $(modelselector).hide();
        //$('#dnnrocketconfig_@(Model.ModuleId)').getSimplisity('/DesktopModules/DNNrocket/api/api.ashx', 'dnnrocketconfig_getdata', 'systemprovider:dnnrocket,moduleid:@(Model.ModuleId),theme:config-w3,template:view.cshtml');
    }


</script>

