@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;
@using RocketMod;
@using RocketMod.Componants;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketRemoteMod/App_LocalResources/")

@{
    var remoteParams = (RemoteLimpet)Model.List.First();
    var info = new SimplisityInfo(remoteParams.Record);
}


<div class="w3-row w3-padding ">
    <div class="w3-col m2 rocket-buttonbar w3-button w3-green w3-padding-8 langchangesave simplisity_click rocketmodsavebutton" s-cmd="rocketremotemod_saveconfig" s-fields='{"tabid":"@(Model.GetSetting("tabid"))","moduleid":"@(Model.ModuleId)","itemid":"@info.ItemID","interfacekey":"dashboard"}' s-post="#configdata">@ButtonText(ButtonTypes.save)</div>
    <div class="w3-col m2 rocket-buttonbar w3-button w3-red w3-padding-8 simplisity_confirmclick" s-after="reloadpage" s-confirm="@ResourceKey("RocketMod.resetmsg")" s-cmd="rocketremotemod_reset" s-fields='{"tabid":"@(Model.GetSetting("tabid"))","moduleid":"@(Model.ModuleId)"}'>@ResourceKey("RocketMod.resetconfig")</div>
    @if (Model.GetSettingBool("saved"))
    {
        <i class='fas fa-save simplisity_fadeout' style="font-size:24px"></i>
    }
</div>

<h1>@ResourceKey("RocketMod.config")</h1>

<div id="configdata" class="w3-container simplisity_panel">

    <div class="w3-row w3-padding">
        <div class="w3-col m6">
            <label>@ResourceKey("RocketMod.name")</label>
            @TextBox(info, "genxml/name", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false)
        </div>
        <div class="w3-col m6">

        </div>
    </div>
    <div class="w3-row w3-padding">
        <div class="w3-col m12">
            <label>@ResourceKey("RRM.engineurl")</label>
            @TextBox(info, "genxml/engineurl", "class='w3-input w3-border' maxlength='1024' autocomplete='off'", "https://<domain>", false)
        </div>
        <div class="w3-col m12 w3-padding">
            <i>
                @ResourceKey("RRM.engineurl", "", "Help")
            </i>
        </div>
    </div>
    <div class="w3-row w3-padding">
        <div class="w3-col m6">
            <label>@ResourceKey("RRM.securitykey")</label>
            @TextBox(info, "genxml/securitykey", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false)
        </div>
        <div class="w3-col m6 w3-padding">
            <i>
                @ResourceKey("RRM.securitykey", "", "Help")
            </i>
        </div>
    </div>
    <div class="w3-row w3-padding">
        <div class="w3-col m6">
            <label>@ResourceKey("RRM.remotekey")</label>
            @TextBox(info, "genxml/remotekey", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false)
        </div>
        <div class="w3-col m6 w3-padding">
            <i>
                @ResourceKey("RRM.remotekey", "", "Help")
            </i>
        </div>
    </div>
    <div class="w3-row w3-padding">
        <div class="w3-col m6">
            <label>@ResourceKey("RRM.appthemefolder")</label>
            @TextBox(info, "genxml/appthemefolder", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false)
        </div>
        <div class="w3-col m6 w3-padding">
            <i>
                @ResourceKey("RRM.appthemefolder", "", "Help")
            </i>
        </div>
    </div>
    <div class="w3-row w3-padding">
        <div class="w3-col m6">
            <label>@ResourceKey("RRM.appthemeversion")</label>
            @TextBox(info, "genxml/appthemeversion", "class='w3-input w3-border' maxlength='5' autocomplete='off'", "", false)
        </div>
        <div class="w3-col m6 w3-padding">
            <i>
                @ResourceKey("RRM.appthemeversion", "", "Help")
            </i>
        </div>
    </div>
    <div class="w3-row w3-padding">
        <div class="w3-col m6">
            <label>@ResourceKey("RRM.remotesystemkey")</label>
            @TextBox(info, "genxml/remotesystemkey", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false)
        </div>
        <div class="w3-col m6 w3-padding">
            <i>
                @ResourceKey("RRM.remotesystemkey", "", "Help")
            </i>
        </div>
    </div>
    <div class="w3-row w3-padding">
        <div class="w3-col m6">
            <label>@ResourceKey("RRM.remotecmd")</label>
            @TextBox(info, "genxml/remotecmd", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "", false)
        </div>
        <div class="w3-col m6 w3-padding">
            <i>
                @ResourceKey("RRM.remotecmd", "", "Help")
            </i>
        </div>
    </div>
    <div class="w3-row w3-padding">
        <div class="w3-col m6">
            <label>@ResourceKey("RRM.remotetemplate")</label>
            @TextBox(info, "genxml/remotetemplate", "class='w3-input w3-border' maxlength='350' autocomplete='off'", "view.cshtml", false)
        </div>
        <div class="w3-col m6 w3-padding">
            <i>
                @ResourceKey("RRM.remotetemplate", "", "Help")
            </i>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col m6  w3-padding w3-margin-top">
            <div class="w3-col m12 w3-padding">
                <div>
                    @CheckBox(info, "genxml/disablecache", "", "class='w3-check' ", false)
                    <label>@ResourceKey("RocketMod.disablecache")</label>
                </div>
            </div>
            <div class="w3-col m12 w3-padding">
                <label>@ResourceKey("DNNrocket.sitekey")</label>
                <div class="w3-border w3-padding  w3-light-grey">@PortalUtils.SiteGuid()</div>
            </div>
        </div>
        <div class="w3-col m6 w3-padding">
        </div>
    </div>

    <div class="w3-container w3-border w3-margin-top">
        <div class="w3-col m3 w3-padding">
            ItemId:&nbsp;<b>@info.ItemID</b>
        </div>
        <div class="w3-col m3 w3-padding">
            @ResourceKey("RocketMod.apptheme"):&nbsp;<b>@remoteParams.AppThemeFolder</b>
        </div>
        <div class="w3-col m2 w3-padding">
            ModuleId:&nbsp;<b>@info.ModuleId</b>
        </div>
        <div class="w3-col m3 w3-padding">
            @ResourceKey("RocketMod.ref"):&nbsp;<b>@remoteParams.ModuleRef</b>
        </div>
    </div>


</div>

<div id="datasourcelist">
</div>

<script>

    $(document).ready(function () {

        $('.sharedataaction').unbind('change');
        $('.sharedataaction').change(function () {
            if ($('input[name=sharedataradio]:checked').val() === '0') {
                $('.sharedataicon').hide();
            }
            if ($('input[name=sharedataradio]:checked').val() === '1') {
                $('.sharedataicon').show();
                $('.sharedataicon').css('color', 'teal')
            }
            if ($('input[name=sharedataradio]:checked').val() === '2') {
                $('.sharedataicon').show();
                $('.sharedataicon').css('color', 'red')
            }
        });

        $('.detailviewcheckbox').unbind('click');
        $('.detailviewcheckbox').click(function () {
            if ($(this).prop('checked')) {
                $('.detailurlparam').show();
            }
            else {
                $('.detailurlparam').hide();
            }
        });

        if ($('.detailviewcheckbox').prop('checked')) {
            $('.detailurlparam').show();
        }

    });

    function reloadpage() {
        location.reload();
    }

</script>
